Repository apache/iceberg, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, SPECIFICATION, EXAMPLES, COMMON, API, CORE, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG, AWS, NESSIE, ALIYUN, GCP, DELL, SNOWFLAKE, OPENAPI, AZURE

Thanks for the review!
  core/src/jmh/java/org/apache/iceberg/ManifestWriteBenchmark.java
Labels: CORE

Correct delete record count for PartitionTable
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: CORE, SPARK

fixes ut
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: SPARK

Spark 3.5: Migrate tests to JUnit5 in actions directory (#9367)
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: SPARK

Cleanup
  core/src/jmh/java/org/apache/iceberg/ManifestWriteBenchmark.java
Labels: CORE

Set timeout
  core/src/jmh/java/org/apache/iceberg/ManifestWriteBenchmark.java
Labels: CORE

JMH: Improvements to `jmh.gradle`
  jmh.gradle
Labels: BUILD

Addressing review comments and Adding Junit 5 conversion and AssertJ style for TestFlinkTableSink
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
Labels: FLINK

Apply spotless.
  core/src/main/java/org/apache/iceberg/avro/GenericAvroReader.java
Labels: CORE

Remove RequiredOptionReader.
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
Labels: CORE

Core: Refactor internal Avro reader to resolve schemas directly (#9366)
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/avro/AvroIterable.java
  core/src/main/java/org/apache/iceberg/avro/AvroWithPartnerVisitor.java
  core/src/main/java/org/apache/iceberg/avro/GenericAvroReader.java
  core/src/main/java/org/apache/iceberg/avro/NameMappingDatumReader.java
  core/src/main/java/org/apache/iceberg/avro/SupportsCustomRecords.java
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroNameMapping.java
Labels: CORE

Spark 3.5: Support filtering with buckets in RewriteDataFilesProcedure
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/BatchScanAdapter.java
  api/src/main/java/org/apache/iceberg/Scan.java
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: API, CORE, SPARK

added merge schema as spark configuration
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
Labels: SPARK

Adding Junit 5 conversion and AssertJ style for TestFlinkUpsert and TestRewriteDataFilesAction
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
Labels: FLINK

Core, Spark: Correct the delete record count for PartitionTable (#9389)
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: CORE, SPARK

Spark 3.5: Fix clobbering of files across streaming epochs when query ID is reused (#9255)
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: SPARK

Bump Nessie to 0.76.0
  gradle/libs.versions.toml
Labels: none

Exclude jackson-bom as a dependency for Nessie
  build.gradle
Labels: BUILD

Core, Data, Spark 3.5: Support file and partition delete granularity
  api/src/main/java/org/apache/iceberg/util/CharSequenceUtil.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/deletes/DeleteGranularity.java
  core/src/main/java/org/apache/iceberg/deletes/FileScopedPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutPositionOnlyDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  docs/configuration.md
  docs/spark-configuration.md
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: DOCS, API, CORE, DATA, SPARK

Spark 3.3, 3.4: Backport #9255 - Fix clobbering of files across epochs
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: SPARK

Revert docs
  docs/configuration.md
  docs/spark-configuration.md
Labels: DOCS

Spark 3.3, 3.4: Fix file clobbering when Spark reuses query IDs (#9255) (#9399)
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: SPARK

Core, Data, Spark 3.5: Support file and partition delete granularity (#9384)
  api/src/main/java/org/apache/iceberg/util/CharSequenceUtil.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/deletes/DeleteGranularity.java
  core/src/main/java/org/apache/iceberg/deletes/FileScopedPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutPositionOnlyDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: API, CORE, DATA, SPARK

PR Revision 1: Ensure No Runtime Dependencies on S3 Access Grants SDK Plugin
  aws/src/main/java/org/apache/iceberg/aws/s3/S3AccessGrantsPluginConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  build.gradle
  gradle/libs.versions.toml
Labels: BUILD, AWS

Update
  docs/spark-ddl.md
Labels: DOCS

Spark 3.5: Set log level to WARN for rewrite task failure with partial progress
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
Labels: SPARK

Build: Bump Nessie to 0.76.0 (#9398)
  build.gradle
  gradle/libs.versions.toml
Labels: BUILD

Spark 3.5: Migrate tests to JUnit5 in sql directory
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/PartitionedWritesTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestNamespaceSQL.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWrites.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToWapBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWrites.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWritesToBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/UnpartitionedWritesTestBase.java
Labels: SPARK

Spark 3.5: Migrate remaining tests to JUnit5
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TaskCheckHelper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestDataFileSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestManifestFileSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCachedTableCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCompressionUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkSchemaUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkV2Filters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: SPARK

Flink: Backport #9308 to v1.17 and the relevant parts to v1.16
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: FLINK

Flink: Backport #9308 to v1.17 and the relevant parts to v1.16 (#9403)
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: FLINK

Add native subclasses for InputFile and OutputFile to simplify.
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/encryption/EncryptionUtil.java
  core/src/main/java/org/apache/iceberg/encryption/NativeEncryptionInputFile.java
  core/src/main/java/org/apache/iceberg/encryption/NativeEncryptionKeyMetadata.java
  core/src/main/java/org/apache/iceberg/encryption/NativeEncryptionOutputFile.java
  core/src/main/java/org/apache/iceberg/encryption/StandardEncryptionManager.java
  core/src/main/java/org/apache/iceberg/encryption/StandardKeyMetadata.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/main/java/org/apache/iceberg/data/GenericReader.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseRowReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/PositionDeletesRowReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
Labels: CORE, PARQUET, ORC, DATA, SPARK, FLINK, MR

API: Fix JavaDoc on UpdateSchema#updateColumnDoc
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
Labels: API

API: Fix Javadoc on UpdateSchema#updateColumnDoc (#9405)
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
Labels: API

PR Revision 2: Nit fixes
  aws/src/main/java/org/apache/iceberg/aws/s3/S3AccessGrantsPluginConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
Labels: AWS

use closeableGroup
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeCatalog.java
Labels: CORE, AWS, NESSIE, DELL, SNOWFLAKE

Core: Remove statistics files in CatalogUtil:dropTableData (#9305)
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
Labels: CORE

JMH: Improvements to `jmh.gradle` (#9390)
  jmh.gradle
Labels: BUILD

JDBC Catalog:Change SQL like escape character from '\\' to '!'
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: CORE

Update resolution to apply aliases and comments.
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: SPARK

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - baseline.gradle
  - deploy.gradle
  - jitpack.yml
  - travis.yml
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - "**/*gradle*"
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
SPECIFICATION:
  - "format/*"
EXAMPLES:
  - examples/**/*
COMMON:
  - common/**/*
API:
  - api/**/*
CORE:
  - core/**/*
PARQUET:
  - parquet/**/*
ARROW:
  - arrow/**/*
ORC:
  - orc/**/*
HIVE:
  - hive3/**/*
  - hive-metastore/**/*
  - hive-runtime/**/*
  - hive3-orc-bundle/**/*
DATA:
  - data/**/*
SPARK:
  - spark/**/*
FLINK:
  - flink/**/*
MR:
  - mr/**/*
PIG:
  - pig/**/*
AWS:
  - aws/**/*
  - aws-bundle/**/*
NESSIE:
  - nessie/**/*
ALIYUN:
  - aliyun/**/*
GCP:
  - gcp/**/*
  - gcp-bundle/**/*
DELL:
  - dell/**/*
SNOWFLAKE:
  - snowflake/**/*
OPENAPI:
  - open-api/**/*
AZURE:
  - azure/**/*
  - azure-bundle/**/*
