Repository apache/iceberg, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, SPECIFICATION, EXAMPLES, COMMON, API, CORE, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG, AWS, NESSIE, ALIYUN, GCP, DELL, SNOWFLAKE, OPENAPI, AZURE, KAFKACONNECT

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.gitignore',
      'baseline.gradle',
      'deploy.gradle',
      'jitpack.yml',
      'travis.yml',
      '.baseline/**/*',
      '.github/**/*',
      'dev/**/*'
    ]

BUILD:
  - changed-files:
    - any-glob-to-any-file: [
      '**/*gradle*'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**/*',
      'site/**/*',
      '**/*CHANGELOG.md',
      '**/*README.md',
      '**/*CONTRIBUTING.md'
    ]

SPECIFICATION:
  - changed-files:
    - any-glob-to-any-file: [
      'format/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**/*'
    ]

COMMON:
  - changed-files:
    - any-glob-to-any-file: [
      'common/**/*'
    ]

API:
  - changed-files:
    - any-glob-to-any-file: [
      'api/**/*'
    ]

CORE:
  - changed-files:
    - any-glob-to-any-file: [
      'core/**/*'
    ]

PARQUET:
  - changed-files:
    - any-glob-to-any-file: [
      'parquet/**/*'
    ]

ARROW:
  - changed-files:
    - any-glob-to-any-file: [
      'arrow/**/*'
    ]

ORC:
  - changed-files:
    - any-glob-to-any-file: [
      'orc/**/*'
    ]

HIVE:
  - changed-files:
    - any-glob-to-any-file: [
      'hive3/**/*',
      'hive-metastore/**/*',
      'hive-runtime/**/*',
      'hive3-orc-bundle/**/*'
    ]

DATA:
  - changed-files:
    - any-glob-to-any-file: [
      'data/**/*'
    ]

SPARK:
  - changed-files:
    - any-glob-to-any-file: [
      'spark/**/*'
    ]

FLINK:
  - changed-files:
    - any-glob-to-any-file: [
      'flink/**/*'
    ]

MR:
  - changed-files:
    - any-glob-to-any-file: [
      'mr/**/*'
    ]

PIG:
  - changed-files:
    - any-glob-to-any-file: [
      'pig/**/*'
    ]

AWS:
  - changed-files:
    - any-glob-to-any-file: [
      'aws/**/*',
      'aws-bundle/**/*'
    ]

NESSIE:
  - changed-files:
    - any-glob-to-any-file: [
      'nessie/**/*'
    ]

ALIYUN:
  - changed-files:
    - any-glob-to-any-file: [
      'aliyun/**/*'
    ]

GCP:
  - changed-files:
    - any-glob-to-any-file: [
      'gcp/**/*',
      'gcp-bundle/**/*'
    ]

DELL:
  - changed-files:
    - any-glob-to-any-file: [
      'dell/**/*'
    ]

SNOWFLAKE:
  - changed-files:
    - any-glob-to-any-file: [
      'snowflake/**/*'
    ]

OPENAPI:
  - changed-files:
    - any-glob-to-any-file: [
      'open-api/**/*'
    ]

AZURE:
  - changed-files:
    - any-glob-to-any-file: [
      'azure/**/*',
      'azure-bundle/**/*'
    ]

KAFKACONNECT:
  - changed-files:
    - any-glob-to-any-file: [
      'kafka-connect/**/*'
    ]

Introduce two properties for reading the connection timeout and socket timeout (#10)
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: CORE

CI: Run Markdown links checker only when `{docs,site}/**` changes (#10049)
  .github/workflows/docs-check-links.yml
Labels: INFRA

Remove optional value handling
  core/src/test/java/org/apache/iceberg/TestMetrics.java
Labels: CORE

Core, Data: Migrate tests to JUnit5 (#10039)
  core/src/test/java/org/apache/iceberg/FilterFilesTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/actions/TestCommitService.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
  core/src/test/java/org/apache/iceberg/avro/AvroTestHelpers.java
  core/src/test/java/org/apache/iceberg/avro/TestNameMappingWithAvroSchema.java
  core/src/test/java/org/apache/iceberg/encryption/TestGcmStreams.java
  core/src/test/java/org/apache/iceberg/encryption/TestStandardKeyMetadataParser.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  core/src/test/java/org/apache/iceberg/mapping/TestMappingUpdates.java
  core/src/test/java/org/apache/iceberg/mapping/TestNameMapping.java
  data/src/test/java/org/apache/iceberg/orc/TestOrcMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestParquetMetrics.java
Labels: CORE, DATA

Build: disable link-check for all medium blog posts
  site/docs/blogs.md
Labels: DOCS

Hive: Add View support for HIVE catalog
  api/src/main/java/org/apache/iceberg/exceptions/NoSuchIcebergViewException.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
Labels: API, CORE, HIVE

Addressed comments
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
Labels: HIVE

Addressed comments, removed extra changes
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
Labels: CORE, HIVE

Rebased with upstream. HiveViewOperations has own definition of commits.
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCommits.java
Labels: CORE, HIVE

Hive: Check if content exists with another type before building it.
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCommits.java
Labels: HIVE

Addressed comments, added commit status check with latest metadata location
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCommits.java
Labels: HIVE

Build: disable link-check for all medium blog posts (#10057)
  site/docs/blogs.md
Labels: DOCS

Spark: Clarify schema behavior when working with branches
  docs/docs/branching.md
  docs/docs/spark-queries.md
  docs/docs/spark-writes.md
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: DOCS, SPARK

1. fixed: TestMergingMetrics 2. fixed: RecordWrapperTest 3. fixed: DataTestHelpers 4. fixed: DeleteReadTests 5. fixed: DataTest
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  data/src/test/java/org/apache/iceberg/TestSplitScan.java
  data/src/test/java/org/apache/iceberg/data/DataTest.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericData.java
Labels: DATA

Flink: backport PR #9321 for range partitioner on map statistics
  flink/v1.16/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  flink/v1.18/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  jmh.gradle
Labels: BUILD, FLINK

Addressed comments
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
Labels: HIVE

aliyun oss: load all into memory before flink reading data
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunProperties.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputStream.java
Labels: ALIYUN

Migrate TableTestBase to JUnit5 and delete TableTestBase
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestFileScanTaskParser.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  data/src/test/java/org/apache/iceberg/data/TestGenericFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  data/src/test/java/org/apache/iceberg/io/WriterTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPartitioningWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
Labels: CORE, DATA, SPARK, FLINK

retrigger checks
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopStreams.java
Labels: CORE

[core] fix #9997 - Handle s3a file upload interrupt which results in table metadata pointing to files that doesn't exist (#9998)
  core/src/main/java/org/apache/iceberg/hadoop/HadoopStreams.java
  core/src/test/java/org/apache/hadoop/fs/s3a/S3ABlockOutputStream.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopStreams.java
Labels: CORE

Update HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: HIVE

fix spotlessJavaCheck
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: HIVE

Spark: Don't allow branch_ usage with TIMESTAMP AS OF
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: SPARK

Spark: Clarify schema behavior when working with branches (#10055)
  docs/docs/branching.md
  docs/docs/spark-queries.md
  docs/docs/spark-writes.md
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: DOCS, SPARK

Add other versions in Spark and Flink
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPartitioningWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPartitioningWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
Labels: SPARK, FLINK

Flink: backport PR #9321 for range partitioner on map statistics (#10061)
  flink/v1.16/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  flink/v1.18/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  jmh.gradle
Labels: BUILD, FLINK

Spark: Don't allow branch_ usage with TIMESTAMP AS OF (#10059)
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: SPARK

Build: add gradle wrapper validation action
  .github/workflows/java-ci.yml
Labels: INFRA

Spark-3.5: Support CTAS and RTAS to preserve schema nullability.
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
Labels: SPARK

Comments
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: CORE

address nastra and amogh comments
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

address more comments
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

fix styles check
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: HIVE

Migrate TableTestBase related classes to JUnit5
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
Labels: CORE, DATA, FLINK

Migrate other Flink versions
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
Labels: FLINK

Fix flaky tests
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
Labels: DATA, FLINK

Build: Ignore link-checking for Blogs / https://search.maven.org/
  site/docs/blogs.md
  site/link-checker-config.json
Labels: DOCS

Build: Ignore link-checking for Blogs / https://search.maven.org/ (#10081)
  site/docs/blogs.md
  site/link-checker-config.json
Labels: DOCS

Remove unused result parameter
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
Labels: DATA

add unit test
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: HIVE
