Repository apache/iceberg, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, SPECIFICATION, EXAMPLES, COMMON, API, CORE, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG, AWS, NESSIE, ALIYUN, GCP, DELL, SNOWFLAKE, OPENAPI, AZURE, KAFKACONNECT

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.gitignore',
      'baseline.gradle',
      'deploy.gradle',
      'jitpack.yml',
      'travis.yml',
      '.baseline/**/*',
      '.github/**/*',
      'dev/**/*'
    ]

BUILD:
  - changed-files:
    - any-glob-to-any-file: [
      '**/*gradle*'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**/*',
      'site/**/*',
      '**/*CHANGELOG.md',
      '**/*README.md',
      '**/*CONTRIBUTING.md'
    ]

SPECIFICATION:
  - changed-files:
    - any-glob-to-any-file: [
      'format/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**/*'
    ]

COMMON:
  - changed-files:
    - any-glob-to-any-file: [
      'common/**/*'
    ]

API:
  - changed-files:
    - any-glob-to-any-file: [
      'api/**/*'
    ]

CORE:
  - changed-files:
    - any-glob-to-any-file: [
      'core/**/*'
    ]

PARQUET:
  - changed-files:
    - any-glob-to-any-file: [
      'parquet/**/*'
    ]

ARROW:
  - changed-files:
    - any-glob-to-any-file: [
      'arrow/**/*'
    ]

ORC:
  - changed-files:
    - any-glob-to-any-file: [
      'orc/**/*'
    ]

HIVE:
  - changed-files:
    - any-glob-to-any-file: [
      'hive3/**/*',
      'hive-metastore/**/*',
      'hive-runtime/**/*',
      'hive3-orc-bundle/**/*'
    ]

DATA:
  - changed-files:
    - any-glob-to-any-file: [
      'data/**/*'
    ]

SPARK:
  - changed-files:
    - any-glob-to-any-file: [
      'spark/**/*'
    ]

FLINK:
  - changed-files:
    - any-glob-to-any-file: [
      'flink/**/*'
    ]

MR:
  - changed-files:
    - any-glob-to-any-file: [
      'mr/**/*'
    ]

PIG:
  - changed-files:
    - any-glob-to-any-file: [
      'pig/**/*'
    ]

AWS:
  - changed-files:
    - any-glob-to-any-file: [
      'aws/**/*',
      'aws-bundle/**/*'
    ]

NESSIE:
  - changed-files:
    - any-glob-to-any-file: [
      'nessie/**/*'
    ]

ALIYUN:
  - changed-files:
    - any-glob-to-any-file: [
      'aliyun/**/*'
    ]

GCP:
  - changed-files:
    - any-glob-to-any-file: [
      'gcp/**/*',
      'gcp-bundle/**/*'
    ]

DELL:
  - changed-files:
    - any-glob-to-any-file: [
      'dell/**/*'
    ]

SNOWFLAKE:
  - changed-files:
    - any-glob-to-any-file: [
      'snowflake/**/*'
    ]

OPENAPI:
  - changed-files:
    - any-glob-to-any-file: [
      'open-api/**/*'
    ]

AZURE:
  - changed-files:
    - any-glob-to-any-file: [
      'azure/**/*',
      'azure-bundle/**/*'
    ]

KAFKACONNECT:
  - changed-files:
    - any-glob-to-any-file: [
      'kafka-connect/**/*'
    ]

File size in bytes tracking with deleted files in expire snapshots action
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/FileInfo.java
Labels: SPARK

Spotless fix
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
Labels: SPARK

Base result types
  api/src/main/java/org/apache/iceberg/actions/ExpireSnapshots.java
  core/src/main/java/org/apache/iceberg/actions/BaseExpireSnapshots.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
Labels: API, CORE, SPARK

Docs: Fix link to blog post (#10028)
  site/docs/blogs.md
Labels: DOCS

Add Iceberg version to UserAgent in S3 requests
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

improve tests
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
Labels: CORE

Core: Migrate tests to JUnit5 (#10027)
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestSingleValueParser.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSortOrderParser.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
  core/src/test/java/org/apache/iceberg/V2TableTestBase.java
Labels: CORE

update test to mock upload interrupt from another thread
  core/src/test/java/org/apache/hadoop/fs/s3a/S3ABlockOutputStream.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopStreams.java
Labels: CORE

Add Iceberg version to UserAgent in S3 requests (#9963)
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

remove runtime assert for test
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopStreams.java
Labels: CORE

Core, Spark: Fix handling of null binary values when sorting with zorder
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
  core/src/test/java/org/apache/iceberg/util/TestZOrderByteUtil.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
Labels: CORE, SPARK

Core, Spark: Fix handling of null binary values when sorting with zorder (#10026)
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
  core/src/test/java/org/apache/iceberg/util/TestZOrderByteUtil.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
Labels: CORE, SPARK

core: Add data sequence number as derived column to files metadata table
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadDerivedColumns.java
Labels: CORE, SPARK, FLINK

Core: Uncached files not be materialized
  data/src/main/java/org/apache/iceberg/data/BaseDeleteLoader.java
Labels: DATA

Hive: Test to do validation hive content and iceberg table with the same name.
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: HIVE

Addressed comments: Used parameters for testHiveTableAndIcebergTableWithSameName.
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: HIVE

Migrate WAP and Metrics in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  data/src/test/java/org/apache/iceberg/orc/TestOrcMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestParquetMetrics.java
Labels: CORE, DATA

Add FilterFiles migration
  core/src/test/java/org/apache/iceberg/FilterFilesTestBase.java
Labels: CORE

Hive: Extract common code to be re-used for View support (#10001)
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreOperations.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: CORE, HIVE

Spark: Fail on recursive cycle in view
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

add cycle to the error msg
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

Hive: Add test to make sure iceberg table with same name as hive table can't be created (#9980)
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: HIVE

Redo as separate type
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/main/java/org/apache/iceberg/transforms/Bucket.java
  api/src/main/java/org/apache/iceberg/transforms/Days.java
  api/src/main/java/org/apache/iceberg/transforms/Hours.java
  api/src/main/java/org/apache/iceberg/transforms/Months.java
  api/src/main/java/org/apache/iceberg/transforms/TimeTransform.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
  api/src/main/java/org/apache/iceberg/transforms/Transform.java
  api/src/main/java/org/apache/iceberg/transforms/TransformUtil.java
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
  api/src/main/java/org/apache/iceberg/transforms/Years.java
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  api/src/test/java/org/apache/iceberg/PartitionSpecTestBase.java
  api/src/test/java/org/apache/iceberg/TestAccessors.java
  api/src/test/java/org/apache/iceberg/TestPartitionPaths.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestLiteralSerialization.java
  api/src/test/java/org/apache/iceberg/expressions/TestMiscLiteralConversions.java
  api/src/test/java/org/apache/iceberg/expressions/TestStringLiteralConversions.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  api/src/test/java/org/apache/iceberg/transforms/TestIdentity.java
  api/src/test/java/org/apache/iceberg/transforms/TestProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestamps.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestampsProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestTransformSerialization.java
  api/src/test/java/org/apache/iceberg/types/TestComparators.java
  api/src/test/java/org/apache/iceberg/types/TestConversions.java
  api/src/test/java/org/apache/iceberg/types/TestReadabilityChecks.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  api/src/test/java/org/apache/iceberg/types/TestTypes.java
Labels: API

Try to hew closer to the original satisfiesOrderOf logic.
  api/src/main/java/org/apache/iceberg/transforms/Days.java
  api/src/main/java/org/apache/iceberg/transforms/Hours.java
  api/src/main/java/org/apache/iceberg/transforms/Months.java
  api/src/main/java/org/apache/iceberg/transforms/Years.java
Labels: API

Test that Avro produces a value within 1 micro
  api/src/test/java/org/apache/iceberg/expressions/TestStringLiteralConversions.java
Labels: API

Build: Bump Spark from 3.5 to 3.5.1 (#9832)
  gradle/libs.versions.toml
Labels: none

Add the remaining classes and fix valuecount tests
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/actions/TestCommitService.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
  core/src/test/java/org/apache/iceberg/avro/AvroTestHelpers.java
  core/src/test/java/org/apache/iceberg/avro/TestNameMappingWithAvroSchema.java
  core/src/test/java/org/apache/iceberg/encryption/TestGcmStreams.java
  core/src/test/java/org/apache/iceberg/encryption/TestStandardKeyMetadataParser.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  core/src/test/java/org/apache/iceberg/mapping/TestMappingUpdates.java
  core/src/test/java/org/apache/iceberg/mapping/TestNameMapping.java
Labels: CORE

Build: disable link-check for existing medium blog posts
  site/docs/blogs.md
Labels: DOCS

Spark: Fail on recursive cycle in view (#9834)
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

Build: disable link-check for existing medium blog posts (#10042)
  site/docs/blogs.md
Labels: DOCS

More precise error message
  core/src/main/java/org/apache/iceberg/DataFiles.java
Labels: CORE

Spark 3.4: Fail on recursive cycle in view
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

Spark 3.4: Fail on recursive cycle in view (#10048)
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

CI: Run Markdown links checker only when `{docs,site}/**` changes
  .github/workflows/docs-check-links.yml
Labels: INFRA

Hive: Common namespace validation for HiveCatalog
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: HIVE

Addressed comments, added containsExactly
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: HIVE

Addressed comments, added tests as createAndDropEmptyNamespace, loadNamespaceMetadataWithEmptyNamespace
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: HIVE

Addressed comments
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: HIVE

address nastra comments
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

Flink: implement range partitioner for map data statistics (#9321)
  flink/v1.17/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  jmh.gradle
Labels: BUILD, FLINK
