Repository apache/iceberg, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, SPECIFICATION, EXAMPLES, COMMON, API, CORE, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG, AWS, NESSIE, ALIYUN, GCP, DELL, SNOWFLAKE, OPENAPI, AZURE

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler
INFRA:
  - .asf.yaml
  - .gitattributes
  - .gitignore
  - baseline.gradle
  - deploy.gradle
  - jitpack.yml
  - travis.yml
  - .baseline/**/*
  - .github/**/*
  - dev/**/*
BUILD:
  - "**/*gradle*"
DOCS:
  - docs/**/*
  - "**/*CHANGELOG.md"
  - "**/*README.md"
  - "**/*CONTRIBUTING.md"
SPECIFICATION:
  - "format/*"
EXAMPLES:
  - examples/**/*
COMMON:
  - common/**/*
API:
  - api/**/*
CORE:
  - core/**/*
PARQUET:
  - parquet/**/*
ARROW:
  - arrow/**/*
ORC:
  - orc/**/*
HIVE:
  - hive3/**/*
  - hive-metastore/**/*
  - hive-runtime/**/*
  - hive3-orc-bundle/**/*
DATA:
  - data/**/*
SPARK:
  - spark/**/*
FLINK:
  - flink/**/*
MR:
  - mr/**/*
PIG:
  - pig/**/*
AWS:
  - aws/**/*
  - aws-bundle/**/*
NESSIE:
  - nessie/**/*
ALIYUN:
  - aliyun/**/*
GCP:
  - gcp/**/*
  - gcp-bundle/**/*
DELL:
  - dell/**/*
SNOWFLAKE:
  - snowflake/**/*
OPENAPI:
  - open-api/**/*
AZURE:
  - azure/**/*
  - azure-bundle/**/*

Fix projection and aliasing, update tests.
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

Add function identifier rewriting.
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: SPARK

Docs: CREATE TABLE LIKE is not supported in Spark DDL (#9358)
  docs/spark-ddl.md
Labels: DOCS

Core: Remove partition statistics files during purge table
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
Labels: CORE

StreamingUpdate: Fixed retries not re-calculating sequence numbers
  core/src/main/java/org/apache/iceberg/BaseStreamingUpdate.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestStreamingUpdate.java
Labels: CORE
