Repository apache/iceberg, changes with the labels that .github/labeler.yml gives for each.
All labels: INFRA, BUILD, DOCS, SPECIFICATION, EXAMPLES, COMMON, API, CORE, PARQUET, ARROW, ORC, HIVE, DATA, SPARK, FLINK, MR, PIG, AWS, NESSIE, ALIYUN, GCP, DELL, SNOWFLAKE, OPENAPI, AZURE, KAFKACONNECT

simplified testCommitExceptionWithoutMessage
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: HIVE

Core, Data, Flink: Migrate TableTestBase related classes to JUnit5 (#10080)
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
Labels: CORE, DATA, FLINK

Hive, JDBC: Add null check before matching the error message
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcViewOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
Labels: CORE, HIVE

Hive: Avoid NPE on Throwables without error msg (#10069)
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: HIVE

one more blog
  site/docs/blogs.md
Labels: DOCS

one more blog
  site/docs/blogs.md
Labels: DOCS

Added Skip Link Check for All Blogs as Requested
  site/docs/blogs.md
Labels: DOCS

5 dremio blogs
  site/docs/blogs.md
Labels: DOCS

Update blogs.md
  site/docs/blogs.md
Labels: DOCS

Docs: Add 5 dremio blogs (#10067)
  site/docs/blogs.md
Labels: DOCS

Intorducing rich file info
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RichFileInfo.java
Labels: SPARK

Migrate S3 tests
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  build.gradle
Labels: BUILD, AWS

Addressed comments
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
Labels: HIVE

Add assertJ to the checkstyle
  .baseline/checkstyle/checkstyle.xml
Labels: INFRA

REST: fix spurious warning when shutting down refresh executor
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: CORE

Document support for binary in truncate transform
  format/spec.md
Labels: SPECIFICATION

API: Fix default FileIO#newInputFile ManifestFile, DataFile and DeleteFile implementations
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: API, AWS

REST: Fix spurious warning when shutting down refresh executor (#10087)
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: CORE

API: Fix default FileIO#newInputFile ManifestFile, DataFile and DeleteFile implementations (#9953)
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: API, AWS

OpenAPI: Fix additionalProperties for SnapshotSummary (#9838)
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

Added tests for JDBC changes.
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
Labels: CORE

Spark, Hive: Tests for Hive-View with Spark
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestHiveViews.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
Labels: HIVE, SPARK

Addressed comments, added test for HiveClientPool error messages
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: CORE, HIVE

Addressed comments
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: CORE, HIVE

Hive, JDBC: Avoid NPE on Throwables without error msg (#10082)
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcViewOperations.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: CORE, HIVE

Add DynamoDB, Glue and AwsClientFactory classes
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbLockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
Labels: AWS

Core: Introduce ConfigResponseParser (#9952)
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/responses/ConfigResponseParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestConfigResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestConfigResponseParser.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
Labels: CORE

Comments
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: CORE

.github/labeler.yml:

#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

INFRA:
  - changed-files:
    - any-glob-to-any-file: [
      '.asf.yaml',
      '.gitattributes',
      '.gitignore',
      'baseline.gradle',
      'deploy.gradle',
      'jitpack.yml',
      'travis.yml',
      '.baseline/**/*',
      '.github/**/*',
      'dev/**/*'
    ]

BUILD:
  - changed-files:
    - any-glob-to-any-file: [
      '**/*gradle*'
    ]

DOCS:
  - changed-files:
    - any-glob-to-any-file: [
      'docs/**/*',
      'site/**/*',
      '**/*CHANGELOG.md',
      '**/*README.md',
      '**/*CONTRIBUTING.md'
    ]

SPECIFICATION:
  - changed-files:
    - any-glob-to-any-file: [
      'format/*'
    ]

EXAMPLES:
  - changed-files:
    - any-glob-to-any-file: [
      'examples/**/*'
    ]

COMMON:
  - changed-files:
    - any-glob-to-any-file: [
      'common/**/*'
    ]

API:
  - changed-files:
    - any-glob-to-any-file: [
      'api/**/*'
    ]

CORE:
  - changed-files:
    - any-glob-to-any-file: [
      'core/**/*'
    ]

PARQUET:
  - changed-files:
    - any-glob-to-any-file: [
      'parquet/**/*'
    ]

ARROW:
  - changed-files:
    - any-glob-to-any-file: [
      'arrow/**/*'
    ]

ORC:
  - changed-files:
    - any-glob-to-any-file: [
      'orc/**/*'
    ]

HIVE:
  - changed-files:
    - any-glob-to-any-file: [
      'hive3/**/*',
      'hive-metastore/**/*',
      'hive-runtime/**/*',
      'hive3-orc-bundle/**/*'
    ]

DATA:
  - changed-files:
    - any-glob-to-any-file: [
      'data/**/*'
    ]

SPARK:
  - changed-files:
    - any-glob-to-any-file: [
      'spark/**/*'
    ]

FLINK:
  - changed-files:
    - any-glob-to-any-file: [
      'flink/**/*'
    ]

MR:
  - changed-files:
    - any-glob-to-any-file: [
      'mr/**/*'
    ]

PIG:
  - changed-files:
    - any-glob-to-any-file: [
      'pig/**/*'
    ]

AWS:
  - changed-files:
    - any-glob-to-any-file: [
      'aws/**/*',
      'aws-bundle/**/*'
    ]

NESSIE:
  - changed-files:
    - any-glob-to-any-file: [
      'nessie/**/*'
    ]

ALIYUN:
  - changed-files:
    - any-glob-to-any-file: [
      'aliyun/**/*'
    ]

GCP:
  - changed-files:
    - any-glob-to-any-file: [
      'gcp/**/*',
      'gcp-bundle/**/*'
    ]

DELL:
  - changed-files:
    - any-glob-to-any-file: [
      'dell/**/*'
    ]

SNOWFLAKE:
  - changed-files:
    - any-glob-to-any-file: [
      'snowflake/**/*'
    ]

OPENAPI:
  - changed-files:
    - any-glob-to-any-file: [
      'open-api/**/*'
    ]

AZURE:
  - changed-files:
    - any-glob-to-any-file: [
      'azure/**/*',
      'azure-bundle/**/*'
    ]

KAFKACONNECT:
  - changed-files:
    - any-glob-to-any-file: [
      'kafka-connect/**/*'
    ]
