Repository apache/iceberg, pull requests merged in 2020-09, with the labels that each got.

#1326 Hive: Filter pushdown
  core/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergFilterFactory.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
Labels: API, MR, core

#1408 Small fixes to LICENSE and NOTICE files
  NOTICE
  bundled-guava/NOTICE
  spark-runtime/LICENSE
  spark-runtime/NOTICE
  spark3-runtime/LICENSE
  spark3-runtime/NOTICE
Labels: spark

#1394 Hive: Add logging for Hive related classes
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  hive/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
Labels: MR, core, hive

#1393 Flink: Support creating table and altering table in Flink SQL
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#1336 Fix schema name conflicts
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/main/java/org/apache/iceberg/types/IndexByName.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
Labels: API

#1418 Rename hive subproject to hive-metastore
  README.md
  build.gradle
  hive-metastore/src/main/java/org/apache/iceberg/hive/ClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalogs.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTypeConverter.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/RuntimeMetaException.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableBaseTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/ScriptRunner.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveTableConcurrency.java
  hive-metastore/src/test/resources/hive-schema-3.1.0.derby.sql
  settings.gradle
  site/docs/api.md
Labels: docs

#1348 Flink: Support table sink.
  flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkTableFactory.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: core, flink

#1384 Remove a wrong check for commit operation
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#1409 API: Introduce a builder in Catalog
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: API, core, hive

#1373 API: Implement SortOrder
  .baseline/checkstyle/checkstyle.xml
  api/src/main/java/org/apache/iceberg/NullOrder.java
  api/src/main/java/org/apache/iceberg/SortDirection.java
  api/src/main/java/org/apache/iceberg/SortField.java
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/Tables.java
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSortOrderParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTablesSortOrder.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: API, INFRA, MR, core, hive, parquet

#1177 Add schema upsert API for adding new fields and updating type (where applicable) using an input schema
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/schema/SchemaWithPartnerVisitor.java
  core/src/main/java/org/apache/iceberg/schema/UnionByNameVisitor.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
Labels: API, core

#1353 Core: check that project schema and selected columns cannot be specified at the same time
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#1429 Core: Lower the log level of warning message on refresh() for NoSuchIcebergTableException
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
Labels: core

#1435 Create the default database if it does not exist when opening the catalog
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
Labels: flink

#1432 Core: CachingCatalog - create metadata table instance based on cached table operation for origin table
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
Labels: core

#1449 Update autolabeler config to match any file with gradle in it
  .github/autolabeler.yml
Labels: INFRA

#1450 Add top level flink-runtime directory to flink autolabeler config
  .github/autolabeler.yml
Labels: INFRA

#1390 DOC: Remove unnecessary appendix in SSS doc, add missing links
  site/docs/java-api-quickstart.md
  site/docs/maintenance.md
  site/docs/spark-structured-streaming.md
Labels: docs

#1443 Core: Fix table load error on corrupted version-hint.text file
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#1457 Add .gitattributes file for simplifying excludes/includes in release script
  .gitattributes
Labels: INFRA

#1430 API: Fix Metrics serialization
  api/src/main/java/org/apache/iceberg/Metrics.java
  api/src/main/java/org/apache/iceberg/util/ByteBuffers.java
  api/src/test/java/org/apache/iceberg/TestMetricsSerialization.java
Labels: API

#1446 Fix ConcurrentModificationException in DeleteFileIndex
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
Labels: core

#1460 fix TestHiveIcebergFilterFactory.testDateType failed due to timezone dependent
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
Labels: MR

#1452 Add a null precondition check to the varargs BaseCombinedTask constructor
  core/src/main/java/org/apache/iceberg/BaseCombinedScanTask.java
Labels: core

#1423 Flink: add flink-runtime module
  build.gradle
  flink-runtime/LICENSE
  flink-runtime/NOTICE
  settings.gradle
Labels: build, docs, flink

#1466 Warning about RemoveOrphanFiles
  site/docs/maintenance.md
Labels: docs

#1404 Flink: Add flink job id to state backend for handling flink job redeployment
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#1467 Fix Time Travel Examples and Docs
  site/docs/spark.md
Labels: docs

#1474 FIX: fix reader not getting closed.
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
Labels: parquet

#1465 Core: Enhance version-hint.txt recovery with file listing
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#1484 Spark: add test on fault tolerance during write (transactional write)
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
Labels: spark

#1475 Fix REPLACE TABLE by preserving existing field IDs
  api/src/main/java/org/apache/iceberg/types/AssignFreshIds.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
Labels: API, core

#1489 Suppress warning for DangerousStringInternUsage in BaseMetastoreCatalog
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
Labels: core

#1506 Upgrade Parquet to 1.11.1
  versions.props
Labels: build

#1346 Flink: Introduce Flink InputFormat
  flink/src/main/java/org/apache/iceberg/flink/FlinkFixupTypes.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcReader.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcReaders.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputSplit.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitGenerator.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  flink/src/main/java/org/apache/iceberg/flink/source/ScanOptions.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
Labels: API, core, flink, spark

#1507 Fix rendering of lists for format version changes
  site/docs/spec.md
Labels: docs

#1481 Core: Implement Catalogs.createTable and Catalogs.dropTable
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTables.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
Labels: MR, core

#1399 Spark: Follow name mapping when importing ORC tables
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestSparkTableUtil.java
Labels: ORC, spark

#1519 Suppress the last remaining invalid DangerousStringInternUsage warning
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
Labels: core

#1518 Fix javadoc encoding
  build.gradle
Labels: build

#1521 Flink: Flink SQL only supports TimeType with default precision
  flink/src/main/java/org/apache/iceberg/flink/TypeToFlinkType.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
Labels: flink

#1493 Suppress UnnecessaryAnonymousClass warnings for classes with defaultDelete as a Consumer
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
Labels: core, spark

#1526 [MINOR] Switch to FileIO for InputFormat
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
Labels: MR

#1491 [API][Core - Types/Avro][Parquet] Add a precondition null check for the constructor arg of PruneColumns
  api/src/main/java/org/apache/iceberg/types/PruneColumns.java
  core/src/main/java/org/apache/iceberg/avro/PruneColumns.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
Labels: API, core, parquet

#1509 Flink: Integrate Flink reader to SQL
  flink/src/main/java/org/apache/iceberg/flink/FlinkTableFactory.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitGenerator.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/src/main/java/org/apache/iceberg/flink/source/ScanOptions.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: flink

#1523 ISSUE-1520 Document writing against partitioned table in Spark
  site/docs/spark.md
  spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark24.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark3.java
Labels: docs, spark

#1528 Replace Literal Integer with Constant Reference
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
Labels: core

#1512 Spark: Implement equals and hashCode in SparkBatchScan
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: spark

#1536 ORC: Fix predicate pushdown for Not In and Not Equals
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java
  orc/src/test/java/org/apache/iceberg/orc/TestExpressionToSearchArgument.java
Labels: ORC, data

#1529 Add null check when calling catalog.close in SparkTestBase
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Labels: spark
