Repository apache/iceberg, pull requests merged in 2020-11, with the labels that each got.

#1697 ORC: OrcFileAppender#length should return file size on disk
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
Labels: ORC

#1696 ORC: Enable predicate pushdown and remove metrics workaround for Timestamps
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  orc/src/test/java/org/apache/iceberg/orc/TestExpressionToSearchArgument.java
Labels: ORC, core, data

#1707 Revert "Hive: Fix missing table schema in Hive 1.1 query (#1557)"
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
Labels: MR

#1706 ORC: Fix non-vectorized reader incorrectly skipping rows
  data/src/test/java/org/apache/iceberg/data/orc/TestOrcRowIterator.java
  orc/src/main/java/org/apache/iceberg/orc/OrcIterable.java
Labels: ORC, data

#1709 Handle null literals in predicates from Spark
  spark2/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark2/src/test/java/org/apache/iceberg/spark/TestSparkFilterConversion.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark3/src/test/java/org/apache/iceberg/spark/TestSparkFilterConversion.java
Labels: spark

#1714 update configuration.md link
  site/docs/api.md
  site/docs/configuration.md
  site/docs/evolution.md
  site/docs/flink.md
  site/docs/getting-started.md
  site/docs/hive.md
  site/docs/java-api-quickstart.md
  site/docs/maintenance.md
  site/docs/reliability.md
  site/docs/schemas.md
  site/docs/spark-structured-streaming.md
  site/docs/spark.md
  site/docs/spec.md
  site/docs/terms.md
Labels: docs

#1640 Allow loading custom Catalog implementation in Spark and Flink
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: API, core, flink, spark

#1721 Add workflow to run RAT checks for PRs
  .github/workflows/license_check.yml
Labels: INFRA

#1618 dynamically load custom FileIO implementation
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestCatalogTableLoader.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: API, MR, core, flink, hive, spark

#1729 Add checkout step to rat check action
  .github/workflows/license_check.yml
Labels: INFRA

#1731 Add missing licenses and remove unnecessary javadoc file
  site/docs/how-to-release.md
  site/docs/javadoc/0.9.0/element-list
  site/docs/releases.md
  site/docs/trademarks.md
Labels: docs

#1725 Core: Fix possible NPE issue in SnapshotManager.validateCurrentSnapshot
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
Labels: core

#1730 Fix NullPointerException in ManifestReader
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: core, spark

#1733 Build: Add Python tox action
  .github/workflows/python-ci.yml
  .travis.yml
  python/tox.ini
Labels: INFRA, python

#1732 Build: Add Java CI action
  .github/workflows/java-ci.yml
Labels: INFRA

#1722 API: one line fix in Expressions with tests
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
Labels: API

#1736 [Parquet] Fix vectorized reads for negative decimals
  api/src/test/java/org/apache/iceberg/util/RandomUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
Labels: API, arrow

#1728 Spark: Add Spark3 extensions module
  .github/labeler.yml
  LICENSE
  baseline.gradle
  build.gradle
  project/scalastyle_config.xml
  settings.gradle
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statements.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  versions.props
Labels: INFRA, build, spark

#1737 Docs: add documentation related to dynamic class loading
  site/docs/configuration.md
  site/docs/custom-catalog.md
  site/docs/flink.md
  site/docs/spark.md
Labels: docs

#1573 Add AWS subproject and initial S3FileIO implementation
  LICENSE
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3URI.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3InputStreamTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3OutputStreamTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3URITest.java
  build.gradle
  settings.gradle
  versions.props
Labels: build

#1716 Read all row group metadata only when position column is projected
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
Labels: parquet

#1745 Update Presto documentation link
  site/docs/presto.md
Labels: docs

#1723 Add position in manifest to DataFile and DeleteFile
  api/src/main/java/org/apache/iceberg/ContentFile.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/avro/GenericAvroReader.java
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  spark/src/main/java/org/apache/iceberg/spark/SparkDataFile.java
Labels: API, core, spark

#1740 Fix casting issues when joining two Iceberg tables together on Tez
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDateObjectInspectorHive3.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspectorHive3.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergBinaryObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDateObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDecimalObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java
Labels: MR, hive

#1749 AWS: fix bugs around using S3FileIO for table operations
  aws/src/main/java/org/apache/iceberg/aws/AwsClientUtil.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3OutputStreamTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3URITest.java
  build.gradle
  versions.props
Labels: build

#1752 Add in an AWS PR label
  .github/labeler.yml
Labels: INFRA

#1751 Set Input/Output formats for the HMS storage descriptor
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: hive

#1753 Link directly to Presto connector doc
  site/mkdocs.yml
Labels: docs

#1741 Flink: add maxParallelism method to method chain in flink RewriteDataFilesAction
  flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java
Labels: flink

#1758 Spark: Move connector classes to avoid conflicts
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveProcedures.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/Call.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CallExec.scala
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/Procedure.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureCatalog.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameter.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameterImpl.java
Labels: spark

#1760 Ignore generated-src directory in errorprone
  baseline.gradle
Labels: INFRA, build

#1705 add clean for TestFlinkCatalogTable
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#1759 Spark: Implement RollbackToSnapshotProcedure
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1771 Spark: Add CherrypickSnapshotProcedure
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/CherrypickSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1770 Spark: Add SetCurrentSnapshotProcedure
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1769 Spark: Add RollbackToTimestampProcedure
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1772 Spark: Skip DELETE if the condition is false
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
Labels: spark

#1754 AWS: support Server Side Encryption for S3FileIO
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientUtil.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  build.gradle
Labels: AWS, build

#1776 Spark: Refactor Spark writes into separate classes (V2)
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkStreamingWrite.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
Labels: spark

#1720 Publish incremental scan event during planning
  api/src/main/java/org/apache/iceberg/events/IncrementalScanEvent.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
Labels: API, core

#1715 Fix Actions to be Compatible with V2 Catalogs
  .baseline/checkstyle/checkstyle.xml
  spark/src/main/java/org/apache/iceberg/actions/BaseSparkAction.java
  spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction.java
  spark3/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction3.java
Labels: INFRA, spark

#1785 Core: Fix invalidation of metadata tables in CachingCatalog
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
Labels: core

#1765 Flink: Refactor SimpleDataUtil#assertTableRecords method
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
Labels: flink

#1633 AWS Glue catalog and table operations
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogNamespaceTest.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogTableTest.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientUtil.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueToIcebergConverter.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueCatalogTest.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueToIcebergConverterTest.java
  aws/src/test/java/org/apache/iceberg/aws/glue/IcebergToGlueConverterTest.java
  build.gradle
Labels: AWS, build

#1748 Hive read via HiveCatalog documentation
  site/docs/hive.md
Labels: docs

#1789 Add logs to the CI output
  .github/workflows/java-ci.yml
  build.gradle
Labels: INFRA, MR, build

#1796 Core: Add table property to disable garbage collection
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestExpireSnapshotsAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction.java
Labels: core, spark

#1782 Spark: Add SparkMergeScan
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#1798 Prevents reads from failing when encountering duplicate entries of data files
  flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
Labels: flink, spark

#1784 Fix Resolving of SparkSession Table's Metadata Tables
  spark/src/main/java/org/apache/iceberg/actions/BaseSparkAction.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction3.java
Labels: spark

#1787 AWS: fix errorprone warnings in S3URI
  aws/src/main/java/org/apache/iceberg/aws/s3/S3URI.java
Labels: AWS

#1767 AWS: Add progressive multipart upload to S3FileIO
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3OutputStreamTest.java
  bundled-guava/src/main/java/org/apache/iceberg/GuavaClasses.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: AWS, core

#1807 fix typo in flink.md
  site/docs/flink.md
Labels: docs

#1587 Nessie support for core
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/main/java/org/apache/iceberg/nessie/TableReference.java
  nessie/src/main/java/org/apache/iceberg/nessie/UpdateableReference.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestTableReference.java
  settings.gradle
  versions.props
Labels: build

#1607 Test out complex stuctures: MAP/LIST/STRUCT
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java
Labels: MR

#1799 Spark: Add connector APIs for DELETE/UPDATE/MERGE
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ExtendedSupportsDelete.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/SupportsMerge.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/read/SupportsFileFilter.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/write/MergeBuilder.java
Labels: spark

#1806 Fix some spelling/grammar issues in hive.md
  site/docs/hive.md
Labels: docs

#1792 Core: Improve the utility StructLikeSet.
  core/src/main/java/org/apache/iceberg/util/StructLikeSet.java
Labels: core

#1794 Reduce number of calls to fetch table schema from HMS
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
Labels: MR

#1809 Spark: Fix optional argument validation in procedures
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveProcedures.scala
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameterImpl.java
Labels: spark

#1810 Spark: Add newInternalRow to BaseProcedure
  spark3/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/CherrypickSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
Labels: spark

#1801 Spark: Add RewriteManifestsProcedure
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1786 AWS: centralize logic for setting encryption info
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3RequestUtilTest.java
Labels: AWS, build

#1788 AWS: add ACL support for S3FileIO
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/AwsPropertiesTest.java
Labels: AWS, build

#1813 Spark: Add Javadoc for stored procedure API
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statements.scala
  spark3/src/main/java/org/apache/iceberg/spark/procedures/CherrypickSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/Procedure.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureCatalog.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameter.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameterImpl.java
Labels: spark

#1803 Add NaN value count to content file
  api/src/main/java/org/apache/iceberg/ContentFile.java
  api/src/main/java/org/apache/iceberg/DataFile.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/MetricsModes.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  spark/src/main/java/org/apache/iceberg/spark/SparkDataFile.java
  spark/src/test/java/org/apache/iceberg/TestDataFileSerialization.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
Labels: API, core, spark

#1811 Spark: Make refresh of Spark cache optional in procedures
  spark3/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
Labels: spark

#1827 Fix links to java-api-quickstart
  spark2/src/test/java/org/apache/iceberg/examples/README.md
Labels: docs, spark

#1821 ORC: Allow reads of tinyint, smallint, char, varchar types
  data/src/test/java/org/apache/iceberg/data/orc/TestGenericData.java
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
Labels: ORC, data

#1828 Make the CI happy
  python/tests/api/expressions/test_inclusive_manifest_evaluator.py
Labels: python

#1612 Hive: Using Hive schema to create tables and partition specification
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveSchemaConverter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveSchemaUtil.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithHadoopTables.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveSchemaUtil.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR, build, core, hive

#1774 [iceberg-1746] Implement spark fanout writer
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/io/PartitionedFanoutWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  site/docs/configuration.md
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedFanoutWriter.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: core, docs, flink, spark

#1815 Flink : add list partitions for FlinkCatalog
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
Labels: core, flink

#1417 Hive: Add column projection
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java
Labels: MR, build

#1841 Remove deprecated BaseMetastoreCatalog.dropTableData
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
Labels: core

#1824 Hive: Flaky test testScanTable org.apache.iceberg.mr.hive.TestHiveIcebergStorageHandlerWithCustomCatalog (#1817)
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
Labels: MR

#1851 Add nessie label
  .github/labeler.yml
Labels: INFRA

#1848 Add support for converting avro schemas containing timestamps without the adjust-to-utc annotations
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: core

#1837 Hive read path documentation for HadoopCatalog tables
  site/docs/hive.md
Labels: docs
