Repository apache/iceberg, pull requests merged in 2020-08, with the labels that each got.

#1338 Add file stats range optimizations for DeleteFileIndex
  api/src/main/java/org/apache/iceberg/data/Record.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/util/FilterIterator.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: API, CORE, DATA, PARQUET

#1358 API: Fix PartitionSpec hashCode
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
Labels: API

#1340 Introduce GenericAppenderFactory and GenericAppenderHelper
  data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java
  data/src/test/java/org/apache/iceberg/TestSplitScan.java
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  data/src/test/java/org/apache/iceberg/data/TestLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/TestHelper.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: MR, data, spark

#1255 Flink: Add Orc value reader, writer implementations
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriter.java
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  flink/src/main/java/org/apache/iceberg/flink/RowDataTaskWriterFactory.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcReader.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcReaders.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriter.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkSchemaVisitor.java
  flink/src/test/java/org/apache/iceberg/flink/RowDataConverter.java
  flink/src/test/java/org/apache/iceberg/flink/TestIcebergStreamWriter.java
  flink/src/test/java/org/apache/iceberg/flink/TestTaskWriters.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
Labels: data, flink

#1344 Expire snapshots action without cache
  spark/src/main/java/org/apache/iceberg/actions/BaseAction.java
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
Labels: spark

#1362 Speed up ExpireSnapshotAction Test by Reducing Shuffle Paralleism
  spark/src/test/java/org/apache/iceberg/actions/TestExpireSnapshotsAction.java
Labels: spark

#1352 Support row-level deletes with IcebergGenerics
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/util/StructLikeSet.java
  core/src/main/java/org/apache/iceberg/util/StructLikeWrapper.java
  data/src/main/java/org/apache/iceberg/data/GenericReader.java
  data/src/main/java/org/apache/iceberg/data/IcebergGenerics.java
  data/src/main/java/org/apache/iceberg/data/InternalRecordWrapper.java
  data/src/main/java/org/apache/iceberg/data/TableScanIterable.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDeleteWriters.java
Labels: API, core, data, parquet

#1369 [Python] add python 3.7 and 3.8 to CI
  .travis.yml
  python/tox.ini
Labels: python

#1339 ORC: Use MetricsConfig
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  data/src/test/java/org/apache/iceberg/orc/TestOrcMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestParquetMetrics.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
Labels: ORC, core, data, spark

#1376 Fix NPE while estimating statistics on empty table
  spark/src/test/java/org/apache/iceberg/actions/TestExpireSnapshotsAction.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: spark

#1377 Flink: optimize the parquet writer getter method
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
Labels: flink

#1379 Spark: Estimate statistics using snapshot summary only for partitioned tables
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: spark

#1375 Add expire method to ExpireSnapshotsAction
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestExpireSnapshotsAction.java
Labels: spark

#1380 Fix new snapshot expiration with rollback tests
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  spark/src/test/java/org/apache/iceberg/actions/TestExpireSnapshotsAction.java
Labels: core, spark

#1261 Spark: [DOC] guide about structured streaming sink for Iceberg
  site/docs/maintenance.md
  site/docs/spark-structured-streaming.md
  site/mkdocs.yml
Labels: DOCS

#1387 Remove Joda test dependency
  build.gradle
  versions.props
Labels: BUILD

#1386 Bump to Apache Spark 2.4.6
  versions.props
Labels: BUILD

#1397 Actions: Speed up expire snapshots action
  api/src/main/java/org/apache/iceberg/io/ClosingIterator.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  spark/src/main/java/org/apache/iceberg/actions/BaseAction.java
  spark/src/main/java/org/apache/iceberg/actions/ManifestFileBean.java
Labels: API, core, spark

#1382 Extract FixupTypes to Iceberg from Spark
  core/src/main/java/org/apache/iceberg/types/FixupTypes.java
  spark/src/main/java/org/apache/iceberg/spark/SparkFixupTypes.java
  spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
Labels: core, spark

#1395 Changes default collect behavior of ExpireSnapshotActions
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestExpireSnapshotsAction.java
Labels: spark

#1388 [Parquet Vectorized Reads] Fix reading of files with mix of dictionary and non-dictionary encoded row groups
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: arrow, parquet, spark

#1185 Flink: Add the iceberg files committer to collect data files and commit to iceberg table.
  flink/src/main/java/org/apache/iceberg/flink/IcebergSinkUtil.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/PartitionedFanoutWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataWrapper.java
  flink/src/main/java/org/apache/iceberg/flink/sink/TaskWriterFactory.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
Labels: core, flink

#1334 Fix Error Prone ByteBuffer warnings
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
  core/src/main/java/org/apache/iceberg/avro/ValueWriters.java
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergPigInputFormat.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkValueReaders.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkValueWriters.java
Labels: core, data, pig, spark

#1401 Fix typo in reference doc
  site/docs/performance.md
Labels: docs

#1400 Gitignore - ignore all directories named spark-warehouse or tmp
  .gitignore
Labels: INFRA
