Repository apache/iceberg, pull requests merged in 2020-12, with the labels that each got.

#1853 Core: Add utility StructLikeMap.
  core/src/main/java/org/apache/iceberg/util/StructLikeMap.java
  core/src/test/java/org/apache/iceberg/util/TestStructLikeMap.java
Labels: core

#1836 Core: Add data and delete writers in FileAppenderFactory.
  build.gradle
  core/src/main/java/org/apache/iceberg/io/DataWriter.java
  core/src/main/java/org/apache/iceberg/io/DeleteSchemaUtil.java
  core/src/main/java/org/apache/iceberg/io/FileAppenderFactory.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java
  data/src/test/java/org/apache/iceberg/TestGenericAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriters.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: build, core, data, flink, parquet, spark

#1859 Docs: Fix typos in api.md
  site/docs/api.md
Labels: docs

#1852 Spark: Add plans & rules for DELETE
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeleteFromTablePredicateCheck.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/OptimizeConditionsInRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/PullupCorrelatedPredicatesInRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DynamicFileFilter.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/ReplaceData.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedBatchScanExec.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Implicits.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ReplaceDataExec.scala
Labels: spark

#1860 Spark: Fix resolution of procedures with expressions
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ProcedureArgumentCoercion.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveProcedures.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
Labels: spark

#1864 #1855 : When we fail to parse a "CALL" command provide a better error message
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
Labels: spark

#1835 only list iceberg tables for HiveCatalog listTables method
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: hive

#1863 AWS: support S3 strong consistency
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
Labels: AWS

#1868 Core: Add table properties for snapshot retention
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  site/docs/configuration.md
Labels: core, docs

#1778 Parquet - Add a spark session configuration for controlling enabling vectorized reads
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark

#1869 Spark: Add RemoveOrphanFilesProcedure
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1862 Spark: Implement copy-on-write DELETE
  .baseline/checkstyle/checkstyle.xml
  core/src/main/java/org/apache/iceberg/IsolationLevel.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/Employee.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark3/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/SupportsMerge.java
Labels: API, INFRA, core, spark

#1876 Spark: Rename output columns in RewriteManifestsProcedure
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
Labels: spark

#1847 Set gradle build heap size to avoid build failure
  gradle.properties
Labels: build

#1874 Spark: Add ExpireSnapshotsProcedure
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1840 Hive: Refactor HiveIcebergStorageHandler tests to use catalogs as parameters
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithCustomCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithHadoopCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithHadoopTables.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithHiveCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR

#1877 Rename fanout configs
  core/src/main/java/org/apache/iceberg/TableProperties.java
  site/docs/configuration.md
  spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: core, docs, spark

#1747 API: add isNaN and notNaN predicates
  api/src/main/java/org/apache/iceberg/expressions/BoundUnaryPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/StrictMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/util/NaNUtil.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionSerialization.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestPredicateBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestStrictMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java
  orc/src/test/java/org/apache/iceberg/orc/TestExpressionToSearchArgument.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetFilters.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: API, ORC, data, parquet, spark

#1879 Core: Support TableBuilder in CachingCatalog
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
Labels: core

#1867 Core: Add RollingEqDeleteWriter.
  core/src/main/java/org/apache/iceberg/deletes/EqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/PartitionedFanoutWriter.java
  core/src/main/java/org/apache/iceberg/io/PartitionedWriter.java
  core/src/main/java/org/apache/iceberg/io/TaskWriter.java
  core/src/main/java/org/apache/iceberg/io/UnpartitionedWriter.java
  core/src/main/java/org/apache/iceberg/io/WriteResult.java
  data/src/test/java/org/apache/iceberg/io/TestBaseTaskWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: core, data, flink, spark

#1858 Core: Add SortedPosDeleteWriter
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
Labels: core, data

#1842 Hive: Refactor Hive Iceberg schema conversions to a single file
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaConverter.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveSchemaUtil.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveSchemaUtil.java
Labels: MR, hive

#1882 Flink: fix projection NPE caused by timestamp type
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
Labels: flink

#1843 Support for file paths in SparkCatalogs via HadoopTables
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  spark3/src/main/java/org/apache/iceberg/spark/PathIdentifier.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestPathIdentifier.java
Labels: core, spark

#1854 Hive: Implement Deserializer for Hive writes
  mr/src/main/java/org/apache/iceberg/mr/hive/Deserializer.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergBinaryObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDateObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDecimalObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/WriteObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestDeserializer.java
Labels: MR

#1892 API: move NaN validation from Expressions to Literals
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
Labels: API

#1890 Change Procedures to use Identifiers instead of Namespace/Table Params
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/CherrypickSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToSnapshotProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
Labels: spark

#1822 Flink: add limit pushdown for IcebergTableSource
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#1899 Add Table.replaceSortOrder operation
  api/src/main/java/org/apache/iceberg/ReplaceSortOrder.java
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/SortOrderBuilder.java
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/Transaction.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseReplaceSortOrder.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/CommitCallbackTransaction.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: API, core

#1903 Spark: Speed up tests for extensions
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
Labels: spark

#1873 Hive: Make lock check retries backoff exponentially
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  site/docs/configuration.md
Labels: docs, hive

#1861 Hive: OutputCommitter implementation for Hive writes
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergRecordWriter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
Labels: API, AWS, INFRA, MR, ORC, build, core, data, docs, flink, hive, parquet, python, spark

#1525 Provide API and Implementation for Creating Iceberg Tables from Spark
  spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark/src/main/java/org/apache/iceberg/actions/SnapshotAction.java
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3CreateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
  spark3/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark3/src/test/java/org/apache/iceberg/actions/TestCreateActions.java
Labels: spark

#1902 Hive: Enhance iceberg.hive.engine.enabled documentation
  site/docs/hive.md
Labels: docs

#1857 rewrite equals filters
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergFilterFactory.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergStorage.java
  spark2/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestSelect.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark3/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: API, MR, pig, spark

#1906 Migrate Procedures
  spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#1900 AWS: add more S3FileIO tests, cleanup related codebase
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3MultipartUploadTest.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/AwsPropertiesTest.java
Labels: AWS

#1905 Remove sun's jersey
  build.gradle
Labels: build

#1907 ORC: Upgrade to 1.6.6
  versions.props
Labels: build

#1888 Core: Add BaseDeltaWriter
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/StructCopy.java
  core/src/main/java/org/apache/iceberg/io/WriteResult.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
Labels: API, core, data

#1910 AWS: fix Glue bug table type removed after update
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogTableTest.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#1930 Remove duplicate Arrow dependency
  build.gradle
Labels: build

#1929 Doc: document fanout writer for Spark streaming query
  site/docs/spark-structured-streaming.md
Labels: docs

#1896 Flink: Add PartitionedDeltaTaskWriter and UnpartitionedDeltaTaskWriter to write both insert and equality-deletes
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/PartitionedDeltaWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/src/main/java/org/apache/iceberg/flink/sink/UnpartitionedDeltaWriter.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
Labels: API, core, data, flink

#1932 Refactor Spark schema evolution tests
  spark2/src/test/java/org/apache/iceberg/examples/SchemaEvolutionTest.java
Labels: spark

#1919 Add UpdatePartitionSpec implementation
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/UpdatePartitionSpec.java
  api/src/main/java/org/apache/iceberg/transforms/PartitionSpecVisitor.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
Labels: API, core

#1942 Add UpdatePartitionSpec operation for tables.
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/Transaction.java
  api/src/main/java/org/apache/iceberg/UpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/CommitCallbackTransaction.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: API, core

#1945 Revert "AWS: support S3 strong consistency (#1863)"
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
Labels: AWS

#1937 Spark: Fix delete test with IN and NOT IN condition
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: spark

#1943 Spark: update list array copy behavior in StructInternalRow
  spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
Labels: spark

#1829 Refactor/rename metrics related classes for NaN support
  core/src/main/java/org/apache/iceberg/FieldMetrics.java
  core/src/main/java/org/apache/iceberg/FloatFieldMetrics.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  data/src/test/java/org/apache/iceberg/TestGenericMergingMetrics.java
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriters.java
  spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
Labels: API, core, data, flink, parquet, spark

#1950 Remove unused hadoop test dependencies
  build.gradle
Labels: build

#1909 Add ExceptionUtil.runSafely
  core/src/main/java/org/apache/iceberg/util/ExceptionUtil.java
  core/src/test/java/org/apache/iceberg/util/TestExceptionUtil.java
Labels: core

#1953 Docs: Fix typo in Java API Quickstart
  site/docs/java-api-quickstart.md
Labels: docs

#1939 Flink: Commit both data files and delete files to iceberg transaction.
  core/src/main/java/org/apache/iceberg/io/WriteResult.java
  flink/src/main/java/org/apache/iceberg/flink/sink/DeltaManifests.java
  flink/src/main/java/org/apache/iceberg/flink/sink/DeltaManifestsSerializer.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestSerializer.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: core, flink

#1356 Parquet: Add vectorized position reader
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/VectorizedParquetReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/VectorizedReader.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessors.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
Labels: arrow, parquet, spark

#1917 Hive: Convert the CREATE TABLE ... PARTITIONED BY to Iceberg identity partitions
  build.gradle
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandler.java
Labels: MR, build, hive

#1844 AWS: support custom client configuration
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3MultipartUploadTest.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientUtil.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientFactoriesTest.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueCatalogTest.java
Labels: API, AWS, build, core

#1957 Spark: Print file location in case of error during reads
  spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
Labels: spark

#1967 fix flink hive connector jar download address
  site/docs/flink.md
Labels: docs

#1966 fix querying data in flink batch mode
  site/docs/flink.md
Labels: docs

#1962 Parquet: fix vectorized position reader
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
Labels: arrow, spark

#1965 Update IcebergTimestampWithZoneObjectInspector to fix test failures
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampWithZoneObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampWithZoneObjectInspector.java
Labels: MR

#1961 Spark: Add WRITE ORDERED BY command to set table order
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteOrder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetWriteOrderExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteOrder.java
Labels: spark

#1970 Raw use of parameterized class 'List'
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#1969 explicit type argument Encoding can be replaced with <>
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
Labels: parquet

#1968 remove redundant local variable 'addedDataFiles'
  flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java
Labels: flink

#1955 Spark: Sort retained rows in DELETE FROM by file and position
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  core/src/main/java/org/apache/iceberg/avro/BuildAvroProjection.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DynamicFileFilter.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: arrow, core, spark

#1783 Custom catalogs from `IcebergSource`
  site/docs/spark.md
  spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark3/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark3/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction3.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestIcebergSource.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
Labels: docs, spark

#1974 Flink: Add ChangeLog DataStream end-to-end unit tests.
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/src/test/java/org/apache/iceberg/flink/source/BoundedTestSource.java
Labels: flink

#1987 Spark: Add table properties to control UPDATE mode and isolation level
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: core, spark

#1988 Spark: Add table properties to control MERGE mode and isolation level
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: core, spark

#1990 Fix some spelling issues in hive.md
  site/docs/hive.md
Labels: docs

#1998 Hive: ensure unlock is called when new metadata cannot be deleted
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: hive

#1991 Avro: Schema conversions should preserve field docs
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  core/src/main/java/org/apache/iceberg/avro/TypeToSchema.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: core

#1982 Flink: Replace FiniteTestSource with BoundedTestSource.
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
Labels: flink

#1997 AWS: cleanup AwsProperties styles
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientFactoriesTest.java
Labels: AWS

#1984 Flink: Use Namespace in the parameterized args.
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
  flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
Labels: flink

#1901 Flink : add create table like test case for flink
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  site/docs/flink.md
Labels: docs, flink

#1933 Refactor Spark DF read and Write options
  site/docs/configuration.md
  spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
  spark2/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceFlatORCDataReadBenchmark.java
  spark2/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceNestedORCDataReadBenchmark.java
  spark2/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: docs, spark

#1875 Allow Spark2 DataFrame to use a custom catalog
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark2/src/main/java/org/apache/iceberg/spark/source/CustomCatalogs.java
  spark2/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestCatalog.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestCustomCatalog.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: core, hive, spark

#2000 AWS: add aws to spark and flink runtime
  build.gradle
Labels: build

#1999 [Core] Minor test config value increase for manifest target size in testManifestMergeMinCount
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
Labels: core

#1993 Add additional partition spec update tests
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
Labels: core

#2003 Rename Presto SQL to Trino
  site/docs/trino.md
  site/mkdocs.yml
Labels: docs

#2009 Use supplied sort order in HadoopTables replace transactions
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
Labels: core, docs

#1704 Flink : Fix Repeated Rewrite for RewriteDataFilesAction
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
Labels: core, flink

#2005 Build: Add path config to control github actions
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
Labels: INFRA

#2016 Bump Nessie version to 0.3.0
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  versions.props
Labels: NESSIE, build

#2007 Fix update partition spec with only rename changes
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
Labels: API, core

#1971 Build: Add separate CI jobs for javadoc and errorprone/checkstyle
  .github/workflows/java-ci.yml
Labels: INFRA

#1895 Add nessie to spark3/spark2 runtime jar
  build.gradle
  spark-runtime/LICENSE
  spark-runtime/NOTICE
  spark3-runtime/LICENSE
  spark3-runtime/NOTICE
Labels: build, spark

#2013 Build: Remove additional logging for Travis CI
  build.gradle
Labels: build
