Repository apache/iceberg, pull requests merged in 2020-10, with the labels that each got.

#1535 Hive: fix temporary folder location and cleanup in TestCatalogs
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
Labels: MR

#1464 Flink: Add flink sink document
  site/docs/flink.md
  site/mkdocs.yml
Labels: docs

#1537 API: Add name to Table and Catalog APIs
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTables.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: API, core

#1532 MR: use encryption manager for input files
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergSplit.java
Labels: MR

#1530 Spark: Implement equals and hashCode in SparkTable
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
Labels: core, spark

#1539 Add names to parameterized tests and simplify the parameters list
  core/src/test/java/org/apache/iceberg/TableMetadataParserTest.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestFilterFiles.java
  core/src/test/java/org/apache/iceberg/TestFindFiles.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestManifestCleanup.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestScanSummary.java
  core/src/test/java/org/apache/iceberg/TestScansAndSchemaEvolution.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSelection.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestTableMetadataSerialization.java
  core/src/test/java/org/apache/iceberg/TestTimestampPartitions.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/mapping/TestMappingUpdates.java
  data/src/test/java/org/apache/iceberg/TestSplitScan.java
  data/src/test/java/org/apache/iceberg/data/TestLocalScan.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  spark/src/test/java/org/apache/iceberg/actions/TestRewriteManifestsAction.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReadMetadataColumns.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestSparkTableUtil.java
  spark3/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: core

#1497 MR: apply row-level delete files when reading
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: MR, data, spark

#1531 Allow impl for LocationProvider for to be created during runtime
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  python/iceberg/core/table_properties.py
  site/docs/configuration.md
Labels: API, core, spark

#1514 Issue-1511: Read errors out with multiple DeleteFile entries after UPSERT
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
Labels: spark

#1487 Spark: add E2E test on partition pruning for filter pushdown
  spark/src/test/java/org/apache/iceberg/spark/source/LogMessage.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning24.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning3.java
Labels: spark

#1367 Add partition summaries in SnapshotSummary builder
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  site/docs/configuration.md
Labels: core

#1440 Core: Parallelize manifest list reads in metadata tables
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
Labels: core

#1469 Add position delete validation that data files have not been deleted
  api/src/main/java/org/apache/iceberg/OverwriteFiles.java
  api/src/main/java/org/apache/iceberg/RowDelta.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
Labels: API, core, data

#1478 Enable Hive3 builds for iceberg-mr and iceberg-hive-metastore
  build.gradle
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/MetastoreUtil.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDateObjectInspectorHive3.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspectorHive3.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergDateObjectInspectorHive3.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampObjectInspectorHive3.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergFilterFactory.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergObjectInspector.java
  settings.gradle
Labels: MR, build

#1495 HiveMetaHook implementation to enable CREATE TABLE and DROP TABLE from Hive queries
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerBaseTest.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithHadoopTables.java
  mr/src/test/resources/log4j.properties
Labels: MR, core

#1522 reuse container when reading parquet records
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
Labels: flink

#1517 Flink: apply row-level delete when reading
  flink/src/main/java/org/apache/iceberg/flink/RowDataWrapper.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataIterator.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
Labels: MR, data, flink, spark

#1480 Parquet Vectorized Reads - Test case for exercising reallocation of Arrow buffers to accommodate larger values
  spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryFallbackToPlainEncodingVectorizedReads.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: spark

#1477 Flink: maintain the complete data files into manifest before checkpoint finished.
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/avro/AvroEncoderUtil.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroEncoderUtil.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestSerializer.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: core, flink

#1499 Update the Iceberg spec for row-level deletes
  site/docs/spec.md
Labels: docs

#1694 Build: Fix source-release.sh
  dev/source-release.sh
Labels: INFRA
