Repository apache/iceberg, pull requests merged in 2021-03, with the labels that each got.

#2271 Core: Add DeleteManifest position unit test.
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
Labels: core

#2267 AWS: do not list non-iceberg table in Glue
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogNamespaceTest.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueCatalogTest.java
Labels: AWS

#2291 Update python docs
  site/docs/python-api-intro.md
  site/docs/python-feature-support.md
Labels: docs

#2047 Flink: Refactor flink source tests for FLIP-27 unified source.
  flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/TestFixtures.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
Labels: flink

#2268 fix python build and pin dependencies
  .github/workflows/python-ci.yml
  python/iceberg/api/expressions/literals.py
  python/iceberg/parquet/parquet_to_iceberg.py
  python/setup.py
  python/tox.ini
Labels: INFRA, python

#2248 Spark: Fix vectorization flags
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: core, docs, spark

#2259 Flink: add a catalog() method for FlinkCatalog to exposing iceberg catalog
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
Labels: flink

#2297 Spark: Refactor BaseSparkAction
  spark/src/main/java/org/apache/iceberg/actions/BaseSnapshotUpdateSparkAction.java
  spark/src/main/java/org/apache/iceberg/actions/BaseSparkAction.java
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
Labels: spark

#2310 Core: change writers constructor to use StructLike
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
Labels: core

#2229 Flink : Refactor FlinkTableFactory to implement DynamicTableSinkFactory and DynamicTableSourceFactory
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSource.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
  flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  site/docs/javadoc/0.10.0/org/apache/iceberg/flink/FlinkTableFactory.html
  site/docs/javadoc/0.11.0/org/apache/iceberg/flink/FlinkTableFactory.html
Labels: docs, flink

#2321 Spark: Improve the test case testEqualityDeleteWithFilter
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: data, spark

#2203 HiveCatalog and HiveClientPool fixes
  flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalogs.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
Labels: core, flink, hive, spark

#2323 Deprecate and remove uses of hadoop catalog constructors
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
Labels: core, flink

#2320 Core: add delete row reader
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: core, data, spark

#2307 Bump Nessie to version 0.4.0
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/main/java/org/apache/iceberg/nessie/UpdateableReference.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  versions.props
Labels: NESSIE, build

#2287 Add iceberg specific description on Spark UI
  spark/src/main/java/org/apache/iceberg/actions/BaseSparkAction.java
  spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
  spark/src/main/java/org/apache/iceberg/spark/JobGroupInfo.java
  spark/src/main/java/org/apache/iceberg/spark/JobGroupUtils.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3CreateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
Labels: spark

#2339 JCenter is shutting down
  build.gradle
Labels: build

#2338 [Build] Remove redundant spark-hive
  build.gradle
Labels: build

#2331 [BUILD] Relocate Antlr4 in spark3 runtime module
  build.gradle
Labels: build

#2329 Core/Hive: Introduce total-files-size snapshot metric and populate HMS
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, core, hive

#2075 Avoid reset hive configuration to default value.
  hive-metastore/src/main/java/org/apache/iceberg/hive/ClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: hive

#2350 Fix broken TestHiveClientPool
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: hive

#2340 Hive: Remove unnecessary SerializationUtil.serializeToBase64 from HiveIcebergStorageHandler.overlayTableProperties
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/StaticTableOperations.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
Labels: MR, core, spark

#2355 Core: add missing tests and comments for sort order
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#2353 Spark: Refactor action for removing orphan files
  core/src/main/java/org/apache/iceberg/actions/BaseRemoveOrphanFilesActionResult.java
  spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveOrphanFilesSparkAction.java
Labels: core, spark

#2210 Adds AddFiles Procedure
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: INFRA, spark

#2214 Add sort order to writer classes
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/deletes/EqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/DataWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: core, data, flink, parquet, spark

#2328 (#2317) Stop removal of files when catalog state is uncertain - HiveCatalog
  api/src/main/java/org/apache/iceberg/exceptions/CommitStateUnknownException.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableOperations.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: API, core, hive

#2325 Hive: Use HiveClientPool cache instead of HiveCatalog global cache.
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/ClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/ClientPoolImpl.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalogs.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestCachedClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestClientPoolImpl.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: MR, core, flink, hive, spark

#2363 Spark: Remove softValues for spark2 catalog cache
  spark2/src/main/java/org/apache/iceberg/spark/source/CustomCatalogs.java
Labels: spark

#2376 Spark: Move base actions to new package
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveOrphanFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotUpdateSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
Labels: spark

#2367 Core: Don't delete data files on DROP if GC is disabled
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
Labels: core, spark

#2349 Flink: Fix the manifest kryo serialization issue.
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/TestManifestFileSerialization.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: core, flink

#2299 Core: move targetSplitSize() to TableScan interface
  api/src/main/java/org/apache/iceberg/TableScan.java
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/StaticTableScan.java
Labels: API, core

#2292 Add nessie documentation
  site/docs/nessie.md
  site/mkdocs.yml
Labels: docs

#2333 Core: fix bug that HadoopFileIO cannot be dynamically loaded
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
Labels: core

#2385 Tests: Fix the flaky testHashDistributeMode
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
Labels: flink

#2294 Core: Support rewriting delete files.
  api/src/main/java/org/apache/iceberg/RewriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
Labels: API, core

#2365 Spark: SQL extention to update partition field atomically
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/ReplacePartitionField.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ReplacePartitionFieldExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
Labels: spark

#2293 Spark: Fix RewriteDataFilesAction with output spec in writer
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  core/src/test/java/org/apache/iceberg/TestDeleteFileIndex.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
Labels: API, core, spark

#2228 Hive: Implement multi-table inserts
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergRecordWriter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2393 Docs: Show the correct default value of write.target-file-size-bytes.
  site/docs/configuration.md
Labels: docs

#2330 Spark: Add table location to reserved properties so that the table location shows in Spark SQL Properties.
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/test/java/org/apache/iceberg/actions/TestCreateActions.java
Labels: spark

#2343 Core: Fix the kryo serialization issue in BaseFile.
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/SerializableMap.java
  flink/src/test/java/org/apache/iceberg/flink/TestDataFileSerialization.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
Labels: core, flink

#2368 Core: Fix circular call in BaseMetastoreCatalog
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
Labels: API, core

#2392 Flink: Use Namespace in FlinkCatalog.
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
Labels: flink

#2394 Doc: Document non-atomicity of Hive multi-table inserts
  site/docs/hive.md
Labels: docs

#2401 Spark: Add missing override annotations to rewrite manifests action
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
Labels: spark

#2400 Spark: Remove redundant casts in actions
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveOrphanFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
Labels: spark
