Repository apache/iceberg, pull requests merged in 2021-12, with the labels that each got.

#3635 Spark: Remove old connector APIs for row-level commands
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ExtendedSupportsDelete.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/SupportsMerge.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/read/SupportsFileFilter.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/MergeBuilder.java
Labels: spark

#3600 Core: Handle metrics-based deletes
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/StrictMetricsEvaluator.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
Labels: API, spark, core, build

#3633 Spark: Add connector APIs for row-level commands
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/DeltaBatchWrite.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/DeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/DeltaWriteBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/DeltaWriter.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/DeltaWriterFactory.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/ExtendedLogicalWriteInfo.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/RowLevelOperation.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/RowLevelOperationBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/RowLevelOperationInfo.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/write/SupportsDelta.java
Labels: spark

#3622 Core: delete previous metadata locations in dropping table with purge enabled
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
Labels: core

#3257 Bump Nessie to 0.15.1 + related changes
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/main/java/org/apache/iceberg/nessie/TableReference.java
  nessie/src/main/java/org/apache/iceberg/nessie/UpdateableReference.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestTableReference.java
  site/mkdocs.yml
  versions.props
Labels: core, docs, build, NESSIE

#3655 Build: Rename Spark 3.1 and 3.2 module names
  .github/workflows/spark-ci.yml
  settings.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, INFRA, build

#3654 Add missing @Override annotations
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestBaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: API, spark, core, data, flink, MR, NESSIE

#3648 Switch from new HashMap to Maps.newHashMap
  api/src/test/java/org/apache/iceberg/TestMetricsSerialization.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
  common/src/main/java/org/apache/iceberg/common/DynConstructors.java
  core/src/main/java/org/apache/iceberg/data/avro/DecoderResolver.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  core/src/test/java/org/apache/iceberg/TestFilterFiles.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcTableConcurrency.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  mr/src/main/java/org/apache/hadoop/hive/ql/exec/vector/VectorizedSupport.java
  mr/src/main/java/org/apache/iceberg/mr/hive/Deserializer.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
  spark/v2.4/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkBaseDataReader.java
  spark/v3.0/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkBaseDataReader.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkBaseDataReader.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkBaseDataReader.java
Labels: API, spark, parquet, arrow, core, data, flink, MR, ORC, common, hive, AWS

#3638 Ensure MetricsConfig is immutable
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/MetricsModes.java
Labels: core

#3656 AWS: remove S3URI scheme restrictions
  aws/src/main/java/org/apache/iceberg/aws/s3/S3URI.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3URI.java
Labels: AWS

#3660 Core: Change variable name to metadataFile in CatalogUtil's dropTableData
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
Labels: core

#3623 [Spark] Add missing Spark 3.1 to JMH configuration
  jmh.gradle
Labels: build

#2932 delete file by mistake when rewriting iceberg table throw CommitStateUnknownException
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
Labels: spark, core

#3375 Spark: CALL procedure for rewrite_data_files
  site/docs/spark-procedures.md
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/catalyst/plans/logical/SortOrderParserUtil.scala
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark, core, docs

#3666 Core: Request Split_Offsets when Planning Scans
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: spark, core

#3667 Spark: Remove ImmutableMap from SparkPartition for Kryo SerDe
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTableUtil.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
Labels: spark

#3652 Hive: HiveCatalog should remove HMS stats for certain engines based on config
  core/src/main/java/org/apache/iceberg/hadoop/ConfigProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: core, MR, hive

#3653 Hive: initialize serde parameters when committing table in HiveCatalog
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: hive

#3664 Add table metadata builder
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/SortOrder.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: API, core, NESSIE

#3674 Spark 3.0: Make SparkCatalog#alterTable conform to TableCatalog interface
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
Labels: spark

#3673 Spark 3.1: Make SparkCatalog#alterTable conform to TableCatalog interface
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
Labels: spark

#3643 API: Fix typo in dropNamespace javadoc
  api/src/main/java/org/apache/iceberg/catalog/SupportsNamespaces.java
Labels: API

#3675 Spark-3.2: Move scala files of rewrite_data_files procedure to scala folder
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SortOrderParserUtil.scala
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#3646 Parquet: fix the `limit` setting of ParquetValueReaders#BytesReader
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
Labels: parquet, data

#3659 Aliyun: align property names with AWS module
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunClientFactories.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunProperties.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSFileIO.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/TestAliyunClientFactories.java
Labels: ALIYUN

#3627 Spark: Remove iceberg-hive-metastore compile time dependency
  spark/v2.4/build.gradle
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, build

#3640 Core: Support case sensitivity in MergingSnapshotProducer
  api/src/main/java/org/apache/iceberg/DeleteFiles.java
  api/src/main/java/org/apache/iceberg/expressions/StrictMetricsEvaluator.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: API, core

#3690 NESSIE: Bump Nessie to 0.17.0
  versions.props
Labels: build

#3039 Introduce spark3 option to read stream from a timestamp
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark, core, new feature

#3671 Spark-3.1: support CALL procedure for rewrite_data_files
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SortOrderParserUtil.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#3672 Spark-3.0: support CALL procedure for rewrite_data_files
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v3.0/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
  spark/v3.0/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SortOrderParserUtil.scala
  spark/v3.0/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#3702 Core: ensure Kryo serializability of MetricsConfig
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
Labels: spark, core

#3658 AWS: support S3FileIO alternative endpoint and credentials
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
Labels: AWS

#3477 Flink: Add tests to check whether should remove meta columns in source reader
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
Labels: flink

#3712 Docs: add spark create clause CTAS/RTAS example
  site/docs/spark-ddl.md
Labels: docs

#3721 Spark: Move WAP conf to SparkWriteConf
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#3713 [Flink] Update flink-runtime jar naming with flink version at the end (like we do with Spark)
  .github/workflows/flink-ci.yml
  flink/v1.12/build.gradle
  flink/v1.13/build.gradle
  flink/v1.14/build.gradle
  settings.gradle
Labels: flink, INFRA, build

#3692 Spark-3.1: Add test cases for alter column with complex types
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
Labels: spark

#3693 Spark-3.0: Add test cases for alter column with complex types
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
Labels: spark

#3694 Doc : Modify the attribute description
  site/docs/configuration.md
Labels: docs

#3680 Site Docs - Fix Flink batch job incorrectly labeled as streaming
  site/docs/flink.md
Labels: docs

#3717 Core: Commit state should be unknown even when new location is not in history
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: core, hive

#3720 Spark: Refactor building write distribution and ordering
  .baseline/checkstyle/checkstyle.xml
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/OrderField.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark, INFRA

#3425 Spec: Add snapshot tagging and branching
  site/docs/configuration.md
  site/docs/spec.md
Labels: docs

#3543 Add configurable cache expiry to caching catalog
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/test/java/org/apache/iceberg/TestableCachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
  core/src/test/java/org/apache/iceberg/util/FakeTicker.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogCacheExpiration.java
Labels: spark, core

#3557 Spark: Support vectorized reads with equality deletes
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetEqDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetPosDeleteBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: spark, data

#3711 Add FileIO implementation for Google Cloud Storage
  build.gradle
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/BaseGCSFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputStream.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSInputStreamTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSOutputStreamTest.java
  settings.gradle
  versions.props
Labels: build

#3727 Spark 3.1: Backport SparkReadConf.streamingSkipDeleteSnapshots and read from timestamp changes
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#3729 Spark 3.0: Backport SparkReadConf.streamingSkipDeleteSnapshots and read from timestamp changes
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#3737 [SPARK] Backport SpakTestBaseWithCatalog to Spark 3.1 to simplify run…
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
Labels: spark

#3422 Doc: Update Files metadata table
  site/docs/css/extra.css
  site/docs/spark-queries.md
Labels: docs

#3736 [SPARK] Backport SpakTestBaseWithCatalog to Spark 3.0 to simplify run…
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
Labels: spark

#3696 Core : Adding more information in CreateSnapshotEvent Summary
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestCreateSnapshotEvent.java
Labels: core

#3725 Aliyun: Add iceberg-aliyun to engines runtime
  flink/v1.12/build.gradle
  flink/v1.13/build.gradle
  flink/v1.14/build.gradle
  hive-runtime/build.gradle
  spark/v2.4/build.gradle
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, flink, build, hive

#3743 build: apply publishing config after project evaluation
  deploy.gradle
Labels: INFRA, build

#3685 Spark 2.4: Add back rewrite data files action
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#3735 [SPARK] Backport cache.expiration-interval-ms config to Spark 3.0
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogCacheExpiration.java
Labels: spark

#3734 [SPARK] Backport cache.expiration-interval-ms config to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogCacheExpiration.java
Labels: spark

#3754 Spark: Remove no longer needed SparkTestTable
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/SparkTestTable.java
Labels: spark

#3755 Core: Deprecate default distribution constant in TableProperties
  core/src/main/java/org/apache/iceberg/TableProperties.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark, core, flink

#3753 Core: Use consistent literal definition in TableProperties
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#3748 Hive: ORC vectorization fails when split offsets are considered during split generation
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  hive3/build.gradle
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/HiveVectorizedReader.java
  hive3/src/main/java/org/apache/iceberg/orc/VectorizedReadUtils.java
  mr/src/test/java/org/apache/iceberg/mr/TestHelper.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: data, MR, build, hive

#3722 Spark: Use snapshot schema when reading snapshot
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWrites.java
Labels: spark, core

#3723 Fix Iceberg's parquet reader returning nulls incorrectly for parquet files written by writers that don't use list and element as names.
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetSchemaUtil.java
  site/docs/spark-procedures.md
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark, parquet, docs, build

#3766 Update table migration doc with notes consistent with other parts of the documentation.
  site/docs/spark-procedures.md
Labels: docs

#3765 [Minor] Core: dedup call to properties.get(property) in PropertyUtil
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: core

#3751 Build: publish snapshot packages for all known versions
  .github/workflows/publish-snapshot.yml
Labels: INFRA

#3689 Checkstyle:Add checkstyle rule to prevent using raw HashMap, HashSet, ArrayList
  .baseline/checkstyle/checkstyle.xml
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/util/Tasks.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTables.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaConverter.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveSchemaUtil.java
  hive3/src/main/java/org/apache/hadoop/hive/ql/io/orc/OrcSplit.java
  mr/src/main/java/org/apache/iceberg/mr/hive/Deserializer.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithMultipleCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquet.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/ConcurrencyTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
Labels: spark, parquet, arrow, core, data, MR, INFRA, build, hive, NESSIE

#3769 Spark 3.0: Use snapshot schema for time travel queries
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWrites.java
Labels: spark

#3768 Spark 3.1: Use snapshot schema for time travel queries
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWrites.java
Labels: spark

#3767 Add spark's legacy mode write tests to spark3.0 and 3.1 versions.
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#3771 Build: Upgrade Gradle to 7.3.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#3758 Docs: add link to how to use iceberg with dremio on side nav bar
  site/docs/img/dremio-logo.png
  site/docs/theme_customization/nav-item.html
  site/mkdocs.yml
Labels: docs

#3733 Core: Don't delete files during transaction commit when commit state is unknown
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: core

#2062 [CORE] Add in a NOT_STARTS_WITH operator (including Spark 3.2)
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/StrictMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/main/java/org/apache/iceberg/transforms/Truncate.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionSerialization.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestPredicateBinding.java
  api/src/test/java/org/apache/iceberg/transforms/TestNotStartsWith.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  api/src/test/java/org/apache/iceberg/transforms/TestStartsWith.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncate.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncatesResiduals.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
  site/docs/api.md
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: API, spark, parquet, arrow, core, data, flink, MR, pig, ORC, INFRA, docs, build, hive

#3775 Core: Replace SnapshotUtil firstSnapshotAfterTimestamp
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark, core

#3781 [SPARK] Add in NOT_STARTS_WITH support to Spark 3.0
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: spark

#3782 [SPARK] Add in NOT_STARTS_WITH support to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: spark

#3779 ORC: Upgrade ORC dependency to 1.7.2
  versions.props
Labels: build

#3778 [SPARK] Fix NPE when calling toString on partition column values in getPartitions (Spark 3.2)
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark

#3773 Parquet: Simplify changes from #3723
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
Labels: parquet

#3786 [SPARK] Fix NPE for null partition cols in add_files_procedure - Backport of #3778 (Spark 3.0)
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark

#3785 [SPARK] Fix NPE for null partition cols in add_files_procedure - Backport of #3778 (Spark 3.1)
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark

#3787 [SITE] Document cache.expiration-interval-ms in Spark Configuration
  site/docs/spark-configuration.md
Labels: docs

#3757 Spark: Fix UnresolvedException for some filters in rewrite_data_files procedure
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#3740 [Flink] fix data overflow while convert Integer to Long (#3738)
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
Labels: flink

#3807 parquet：Fix miss override
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
Labels: parquet

#3811 Core: Set the worker pool size to be at least 2 threads
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
Labels: core

#3802 Remove unnecessary extra declarations of assertj in build file
  build.gradle
Labels: build

#3812 Core: Fix metadata table scans when snapshot is null
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/main/java/org/apache/iceberg/StaticTableScan.java
Labels: core

#3801 Core: fix deadlock in CachingCatalog
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
Labels: core, build

#3645 fix startsWith expression NullPointerException error caused by null v…
  api/src/main/java/org/apache/iceberg/expressions/Evaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
Labels: API

#3752 Hive: add config for disabling FileIO hadoop configuration serialization
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
Labels: core, MR

#3761 Docs: Update compatibility table
  README.md
  site/docs/flink.md
Labels: docs

#3663 Core: Add LockManager to HadoopTableOperations
  api/src/main/java/org/apache/iceberg/LockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/main/java/org/apache/iceberg/aws/glue/DynamoLockManager.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/main/java/org/apache/iceberg/util/LockManagers.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
  core/src/test/java/org/apache/iceberg/util/TestInMemoryLockManager.java
  core/src/test/java/org/apache/iceberg/util/TestLockManagers.java
Labels: API, spark, core, AWS

#3824 Build: Enable the -g option in source-release.sh
  dev/source-release.sh
Labels: INFRA

#3795 Spark-3.1: Fix UnresolvedException for some filters in rewrite_data_files
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#3794 Spark-3.0: Fix UnresolvedException for some filters in rewrite_data_files
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.0/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark
