Repository apache/iceberg, pull requests merged in 2021-06, with the labels that each got.

#2656 Docs: Make SQL multiline to avoid having a single long line
  site/docs/nessie.md
Labels: docs

#2663 Use Guava Splitter to fix StringSplitter warning
  nessie/src/main/java/org/apache/iceberg/nessie/TableReference.java
Labels: NESSIE

#2662 Nessie: Set author=iceberg when performing a commit
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#2655 [Python] add to_byte_buffer to literal classes
  python/iceberg/api/expressions/literals.py
  python/iceberg/api/types/conversions.py
  python/iceberg/core/partition_summary.py
  python/tests/api/expressions/conftest.py
  python/tests/api/test_conversions.py
Labels: python

#2665 Enable Github Wiki and Project Board features
  .asf.yaml
Labels: INFRA

#2671 Upgrade Caffeine version
  versions.props
Labels: build

#2677 Core: Support retrieving version hint location for static tables
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  core/src/test/java/org/apache/iceberg/util/TestReachableFileUtil.java
Labels: core

#2634 Docs: Improve docs and mention how to get started with Iceberg + Flink's Python API
  site/docs/flink.md
Labels: docs

#2674 Clarify preconditions in spark 2 TestCatalog initialization
  spark2/src/test/java/org/apache/iceberg/spark/source/TestCatalog.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestCustomCatalog.java
Labels: spark

#2672 [Python] Update to_byte_buff_mapping and from_byte_buff_mapping
  python/iceberg/api/types/conversions.py
  python/tests/api/test_conversions.py
Labels: python

#2613 Hive: Vectorized ORC reads for Hive
  build.gradle
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/CompatibilityHiveVectorUtils.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/HiveIcebergVectorizedRecordReader.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/HiveVectorizedReader.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/VectorizedRowBatchIterator.java
  mr/src/main/java/org/apache/hadoop/hive/ql/exec/vector/VectorizedSupport.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapred/AbstractMapredIcebergRecordReader.java
  mr/src/main/java/org/apache/iceberg/mr/mapred/MapredIcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  settings.gradle
Labels: MR, build, hive

#2415 Spark: Add an action to remove all referenced files
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  api/src/main/java/org/apache/iceberg/actions/RemoveReachableFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseRemoveFilesActionResult.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveReachableFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkActions.java
  spark/src/test/java/org/apache/iceberg/actions/TestRemoveReachableFilesAction.java
  spark2/src/test/java/org/apache/iceberg/actions/TestRemoveReachableFilesAction24.java
  spark3/src/test/java/org/apache/iceberg/actions/TestRemoveFilesAction3.java
Labels: API, core, spark

#2664 Nessie: Extract Spark AppId / User from SparkContext and not from Snapshot
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/NessieUtilTest.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: NESSIE, core, spark

#2668 Docs: Modify the Flink variable name from the doc
  site/docs/flink.md
Labels: docs

#2684 Introduce AssertJ
  api/src/test/java/org/apache/iceberg/AssertHelpers.java
  build.gradle
  nessie/src/test/java/org/apache/iceberg/nessie/NessieUtilTest.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestTableReference.java
  versions.props
Labels: API, NESSIE, build

#2675 Core: add key_metadata to ManifestFile spec
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  spark/src/main/java/org/apache/iceberg/actions/ManifestFileBean.java
Labels: API, core, flink, spark

#2648 Docs: Add cache-enabled to catalog property list
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  site/docs/flink.md
  site/docs/spark-configuration.md
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: docs, flink, spark

#2695 [Data][Minor] remove useless code
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcReaders.java
Labels: data

#2699 [AWS][Minor] Fix typo in S3OutputFile.createOrOverwrite exception message
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
Labels: AWS

#2654 Update spec for v2 changes
  site/docs/spec.md
Labels: docs

#2441 Move to Parquet 1.12.0
  versions.props
Labels: build

#2698 [python] Adding type ignores for dependencies without type support
  python/tox.ini
Labels: python

#2706 Use .as() when describing an Assertion
  api/src/test/java/org/apache/iceberg/AssertHelpers.java
Labels: API

#2703 Add more null checks to TableIdentifier
  api/src/main/java/org/apache/iceberg/catalog/TableIdentifier.java
  api/src/test/java/org/apache/iceberg/catalog/TestTableIdentifier.java
Labels: API

#2704 Add tests for Namespace / return empty Namespace when null/empty
  api/src/main/java/org/apache/iceberg/catalog/Namespace.java
  api/src/test/java/org/apache/iceberg/catalog/TestNamespace.java
Labels: API

#2707 Docs: Adobe Apache Iceberg Migration
  site/docs/blogs.md
Labels: docs

#2705 Core: do not allow optional, double and float identifier fields
  api/src/main/java/org/apache/iceberg/Schema.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: API, core

#2689 [Python] support custom target name in partition spec builder
  python/iceberg/api/partition_spec.py
  python/iceberg/api/transforms/dates.py
  python/iceberg/api/transforms/timestamps.py
  python/iceberg/api/transforms/transform.py
  python/tests/api/test_partition_spec.py
Labels: python

#2709 Docs: updating README to link to travis-ci.com instead of travis-ci.org
  README.md
Labels: docs

#2714 Use equals() instead of Ref. equality
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvro.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
Labels: parquet

#2683 Tests: Add unit tests for InternalRecordWrapper, RowDataWrapper, InternalRowWrapper
  data/src/main/java/org/apache/iceberg/data/InternalRecordWrapper.java
  data/src/test/java/org/apache/iceberg/RecordWrapperTest.java
  flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
Labels: data, flink, spark

#2667 Update context conditions
  core/src/main/java/org/apache/iceberg/MicroBatches.java
Labels: core

#2661 Docs: Add commit.status-check on doc.
  site/docs/configuration.md
Labels: docs

#2538 Core: Add delete marker metadata column
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  orc/src/main/java/org/apache/iceberg/orc/OrcValueReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReadMetadataColumns.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
Labels: ORC, arrow, core, data, flink, parquet, spark

#2697 [python] Adding Unknown and Void transforms
  python/iceberg/api/transforms/transforms.py
  python/iceberg/api/transforms/unknown_transform.py
  python/iceberg/api/transforms/void_transform.py
Labels: python

#2691 fix: add and remove partition transform on same column failed when use v1 metadata
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
Labels: API, core, spark

#2713 Replace LinkedList usage with ArrayDeque for better performance
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
Labels: core, parquet

#1870 Iceberg Jdbc Catalog Implementation
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcClientPool.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/main/java/org/apache/iceberg/jdbc/UncheckedInterruptedException.java
  core/src/main/java/org/apache/iceberg/jdbc/UncheckedSQLException.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcTableConcurrency.java
  spark3/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction3.java
  versions.props
Labels: API, AWS, INFRA, MR, build, core, data, docs, flink, hive, parquet, spark

#2617 Refine error message when performing incremental scans on metadata tables
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/main/java/org/apache/iceberg/StaticTableScan.java
  core/src/test/java/org/apache/iceberg/hadoop/TestStaticTable.java
Labels: core

#2712 Use CharSequenceSet instead of Set<CharSequence> to avoid undefined equality check behavior
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  api/src/test/java/org/apache/iceberg/util/TestCharSequenceSet.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/WriteResult.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
Labels: API, core, data

#2560 Spark: add spark extension for identifier fields
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DropIdentifierFields.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetIdentifierFields.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropIdentifierFieldsExec.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetIdentifierFieldsExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTableSchema.java
Labels: API, core, spark

#2721 [AWS] Fix MissingFail error prone warning by cleaning up GlueCatalogC…
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogCommitFailureTest.java
Labels: AWS

#2358 Core: Add predicate push down for Partitions table
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, core, spark

#2678 Core: add HadoopConfigurable interface to serialize custom FileIO
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopConfigurable.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/main/java/org/apache/iceberg/util/SerializationUtil.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergSplit.java
  spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
Labels: MR, core, spark

#2622 Docs: add catalog and metadata files to metadata structure diagram
  site/docs/img/iceberg-metadata.png
Labels: docs

#2688 AWS: add DynamoDb catalog
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalogTest.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbTableOperations.java
Labels: AWS

#2720 Use bulk decryption interface in ArrowReader
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
Labels: arrow, flink, spark

#2716 Use equals() instead of Ref. equality
  api/src/main/java/org/apache/iceberg/SortField.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  core/src/main/java/org/apache/iceberg/avro/BuildAvroProjection.java
  core/src/main/java/org/apache/iceberg/avro/PruneColumns.java
  core/src/main/java/org/apache/iceberg/avro/RemoveIds.java
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkTypeToType.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
Labels: API, core, flink, parquet, spark

#2729 make iceberg sql command recognition more whitespace tolerant
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
Labels: spark

#2660 Spark3 structured streaming micro_batch read support
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/main/java/org/apache/iceberg/spark/source/StreamingOffset.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: core, spark

#2727 Docs: Remove file spark.md since it is outdated and causes confusion.
  site/docs/spark.md
Labels: docs

#2742 Flink: Rename FlinkTableOptions to more generic FlinkConfigOptions.
  flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: flink

#2739 Arrow: Add support for TimeType / UUIDType
  arrow/src/main/java/org/apache/iceberg/arrow/ArrowSchemaUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  arrow/src/test/java/org/apache/iceberg/arrow/ArrowSchemaUtilTest.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
Labels: arrow

#2743 MicroBatchStream read impl doesn't read the spark read option - FILE_OPEN_COST correctly
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
Labels: spark

#2275 Core: add schema id to snapshot
  api/src/main/java/org/apache/iceberg/Snapshot.java
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestSchemaID.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/resources/TableMetadataV2Valid.json
Labels: API, core

#2750 Docs: fix alignment of new spec diagram on page
  site/docs/css/extra.css
  site/docs/spec.md
Labels: docs

#2748 Spec: Update for v2 schemas in remaining sections
  site/docs/spec.md
Labels: docs

#2745 Flink: Add an optional uidPrefix to FlinkSink#Builder to explicitly set operator uid.
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
Labels: flink

#2758 Update directions for joining #iceberg on Slack
  site/docs/community.md
Labels: docs

#2759 Core: Validate planTasks and splitFiles in TableScanUtil
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
Labels: core

#2770 Bin pack strategy cosmetic changes
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  api/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
Labels: API, core
