Repository apache/iceberg, pull requests merged in 2021-01, with the labels that each got.

#2018 Spark: Fix Javadoc in IcebergSource
  spark3/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
Labels: spark

#2011 Add equals and hashcode to BaseSnapshot
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
Labels: core

#2020 The this.parentId can be null
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
Labels: core

#2012 Fix small issues
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/ScanSummary.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/PartitionedWriter.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
Labels: core, spark

#2029 Fixes for remaining issues in #1917
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
Labels: MR

#2025 Set Input and OutputFormat in the hive meta hook
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandler.java
Labels: MR

#1920 Hive: Serialize metadata location so split generation does not need to load the table
  core/src/main/java/org/apache/iceberg/BaseTable.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
Labels: MR, core

#1823 AWS: Glue catalog lock interface
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3FileIOTest.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/LockManager.java
  aws/src/main/java/org/apache/iceberg/aws/glue/LockManagers.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueCatalogTest.java
  aws/src/test/java/org/apache/iceberg/aws/glue/InMemoryLockManagerTest.java
  aws/src/test/java/org/apache/iceberg/aws/glue/LockManagersTest.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
Labels: AWS, build, core

#2001 iss1980 a special close flag added to indicate that the writer is closed
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
  parquet/src/test/java/org/apache/iceberg/parquet/ParquetWritingTestUtils.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquet.java
Labels: parquet

#2002 AWS: add client factory for assume role use case
  aws/src/integration/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactoryTest.java
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  build.gradle
Labels: AWS, build

#2030 Hive: TestHiveIcebergStorageHandler should not run all of the tests in every combination (#1924)
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2035 Core: fix bug that interfaces in ExceptionUtil are not public
  core/src/main/java/org/apache/iceberg/util/ExceptionUtil.java
Labels: core

#2036 AWS: fix S3FileIO executor service creation synchronization
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
Labels: AWS

#2027 Core: fix expression projection
  api/src/main/java/org/apache/iceberg/transforms/Dates.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
  api/src/test/java/org/apache/iceberg/transforms/TestProjection.java
Labels: API

#1986 Spark: Add a rule to align updates in MERGE operations
  LICENSE
  project/scalastyle_config.xml
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlignMergeIntoTable.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AssignmentAlignmentSupport.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2034 AWS: add DynamoDB implementation of Glue lock manager
  aws/src/integration/java/org/apache/iceberg/aws/glue/DynamoLockManagerTest.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogLockTest.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/glue/DynamoLockManager.java
  aws/src/main/java/org/apache/iceberg/aws/glue/LockManager.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientFactoriesTest.java
  build.gradle
Labels: AWS, build

#1960 add missing metrics config to ORC appenders
  data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
Labels: data, flink

#2004 Docs: Add redirect from presto/ to trino/
  site/mkdocs.yml
Labels: docs

#2032 add Nessie to flink runtime
  build.gradle
  hive-runtime/LICENSE
  hive-runtime/NOTICE
Labels: build, hive

#2050 AWS: consolidate config key names before release
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
Labels: AWS, core

#1891 AWS: documentation page for AWS module
  site/docs/aws.md
  site/docs/configuration.md
  site/docs/css/extra.css
  site/mkdocs.yml
Labels: docs

#2056 Core: provide new api of table exists for HadoopTables
  api/src/main/java/org/apache/iceberg/Tables.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTables.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: API, MR, core

#2066 Spark: Override simpleString in dynamic file filter nodes
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DynamicFileFilter.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
Labels: spark

#1979 Support for role based access of HadoopCatalog table listing #1941
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
Labels: core

#2083 Fix the partition field id when appending a field to the V2 spec.
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
Labels: core

#1793 Flink: Support streaming reader.
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputSplit.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitGenerator.java
  flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/src/main/java/org/apache/iceberg/flink/source/StreamingReaderOperator.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
Labels: data, flink

#2031 Fix properties for custom catalogs in Flink
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
Labels: flink

#2052 Hive: Fix join issues when CBO is enabled
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
Labels: MR

#2078 Hive: Fix Deserializer to use source deserializer instead of the Iceberg ones
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspectorHive3.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampWithZoneObjectInspectorHive3.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampObjectInspectorHive3.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampWithZoneObjectInspectorHive3.java
  mr/src/main/java/org/apache/iceberg/mr/hive/Deserializer.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergBinaryObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDateObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDecimalObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampWithZoneObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/WriteObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestDeserializer.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampWithZoneObjectInspector.java
Labels: MR, hive

#2074 Add comments for Position2Accessor and Position3Accessor
  api/src/main/java/org/apache/iceberg/Accessors.java
Labels: API

#2095 Create a base trait for row level operations - Foundational work for MERGE INTO
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/utils/RewriteRowLevelOperationHelper.scala
Labels: spark

#2097 Spark: Refactor RewriteRowLevelOperationHelper to support MERGE operations
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
Labels: spark

#2081 Allow binary truncation length to be zero to handle evaluators that encounter empty string values
  api/src/main/java/org/apache/iceberg/util/BinaryUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  core/src/test/java/org/apache/iceberg/TestMetricsTruncation.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
Labels: API, core, data, spark

#2053 Hive: Support case insensitive in hive query
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergRecordObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
Labels: MR

#2038 Hive: Implementation for INSERT INTO Iceberg backed Hive tables using the new HiveIcebergRecordWriter
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR

#2061 Improve partition spec builder
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/transforms/Dates.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
  api/src/main/java/org/apache/iceberg/transforms/Transform.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
Labels: API

#1893 Flink: Support filter pushdown in IcebergTableSource
  flink/src/main/java/org/apache/iceberg/flink/FlinkFilters.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSource.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkFilters.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: API, flink, spark

#2111 ORC, Hive: Fix column projection when reading ORC files and `orc.force.positional.evolution` is set to `true` on the default configuration
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
Labels: MR, ORC, hive

#2106 [DOCS] Update copyright years in doc footers to include 2021
  site/mkdocs.yml
Labels: docs

#2107 [Docs] update list of modules in API docs
  site/docs/api.md
Labels: docs

#2091 Spark - Fix parquet vectorized reads when column types are promoted
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessors.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: arrow, spark

#1947 Spark MERGE INTO Support (copy-on-write implementation)
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeIntoExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeIntoTable.java
Labels: spark

#2112 Update NOTICE files to include 2021 in copyright years
  NOTICE
  bundled-guava/NOTICE
  flink-runtime/NOTICE
  hive-runtime/NOTICE
  spark-runtime/NOTICE
  spark3-runtime/NOTICE
Labels: flink, hive, spark

#2113 [MISC] Add rat library install location from dev/check-license to gitignore
  .gitignore
Labels: INFRA

#2104 [MISC] Fix missing override warnings in SortOrder
  api/src/main/java/org/apache/iceberg/SortOrder.java
Labels: API

#2054 Hive: Allow auto conversion of Hive types when the CREATE TABLE statement contains a not supported type
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaConverter.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, hive

#2116 Optimize join types for MERGE INTO
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeIntoExec.scala
Labels: spark

#2064 Flink: Support write.distribution-mode.
  api/src/main/java/org/apache/iceberg/DistributionMode.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/PartitionKeySelector.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: API, core, flink

#2069 API: handle NaN as min/max stats in evaluators
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/StrictMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestMetricsEvaluatorsNaNHandling.java
Labels: API

#2021 Add the cardinality check to detect ambiguous target row for MERGE INTO
  LICENSE
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/AccumulateFiles.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DynamicFileFilter.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/SetAccumulator.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeIntoTable.java
Labels: core, spark

#2088 Core: rename HIVE related catalog properties before release
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  site/docs/configuration.md
  spark2/src/test/java/org/apache/iceberg/spark/source/TestCatalog.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestCustomCatalog.java
Labels: core, docs, flink, hive, spark

#2048 Add validation for metrics config during parquet write
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/PropertiesUpdate.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: core, parquet, spark

#2118 Spark: Prohibit subqueries in conditions of MERGE operations
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/MergeIntoTablePredicateCheck.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2127 Spark: add extension to spark 3 runtime
  build.gradle
  site/docs/spark.md
  spark3-runtime/LICENSE
Labels: build, docs, spark

#2132 Spark: Minor refactoring for the cardinality check in MERGE
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/AccumulateFiles.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DynamicFileFilter.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeIntoTable.java
Labels: core, spark

#1981 Fix date and timestamp transforms
  api/src/main/java/org/apache/iceberg/transforms/Dates.java
  api/src/main/java/org/apache/iceberg/transforms/ProjectionUtil.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
  api/src/main/java/org/apache/iceberg/transforms/TransformUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestStringLiteralConversions.java
  api/src/test/java/org/apache/iceberg/transforms/TestDates.java
  api/src/test/java/org/apache/iceberg/transforms/TestDatesProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestamps.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestampsProjection.java
Labels: API

#2102 [Misc] Remove non-test uses of commons-lang3
  LICENSE
  build.gradle
  core/src/main/java/org/apache/iceberg/util/ArrayUtil.java
  core/src/main/java/org/apache/iceberg/util/SerializationUtil.java
  flink-runtime/LICENSE
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  hive-runtime/LICENSE
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSplit.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergSplit.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergPigInputFormat.java
  spark-runtime/LICENSE
  spark3-runtime/LICENSE
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  versions.props
Labels: MR, build, core, flink, hive, pig, spark

#2046 Core: Make Metadata tables serializable
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
Labels: MR, core

#2101 Doc: add partition spec and sort order evolution doc
  site/docs/evolution.md
  site/docs/partitioning.md
  site/docs/spark.md
Labels: docs

#1936 Flink: Support inferring parallelism for batch read.
  flink/src/main/java/org/apache/iceberg/flink/FlinkTableFactory.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkTableOptions.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSource.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: flink

#2103 [MISC] Fix NarrowingCompoundAssignment warnings
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
Labels: data, flink, spark

#2086 Hive: Schema conversion should convert field comments
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaConverter.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveSchemaUtil.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/TestHiveSchemaUtilHive3.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR, hive

#2072 AWS: fix bug in doc that HTTP client package is not included in bundle
  site/docs/aws.md
Labels: docs

#348 Avoid floating point number ordering NaN semantics
  site/docs/spec.md
Labels: docs

#2138 Spark: Fix bucketed transform expression
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
Labels: spark

#2055 Spec: add sort order to spec
  site/docs/spec.md
Labels: docs

#2135 Flink: Support SQL 'IF EXISTS' and 'IF NOT EXISTS'
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#2134 Apply iceberg extensions for MERGE INTO and DELETE only for target iceberg table.
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlignMergeIntoTable.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeleteFromTablePredicateCheck.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/MergeIntoTablePredicateCheck.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/OptimizeConditionsInRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/PullupCorrelatedPredicatesInRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/PlanUtils.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2139 Do not redistribute MERGE INTO rows unless the table is sorted
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
Labels: spark

#2140 Bump ORC to 1.6.7
  versions.props
Labels: build

#2142 API: Add a constant for none distribution mode
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#2143 Update README and documentation references for Trino
  README.md
  site/docs/index.md
Labels: docs

#2126 Hive: Fix writing of Date, Decimal, Time and UUID types.
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDateObjectInspectorHive3.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergDecimalObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimeObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergUUIDObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimeObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergUUIDObjectInspector.java
Labels: MR, hive

#2123 Hive: Push Iceberg table property values to HMS table properties
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, hive

#2067 Adds initial Documentation for Iceberg Stored Procedures
  site/docs/spark.md
Labels: docs

#2152 Make the error message in put() method more clear
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
Labels: core

#2147 Docs: Add new flink features for release 0.11.0
  site/docs/configuration.md
  site/docs/flink.md
Labels: docs

#2154 Spark: Refresh relation cache in DELETE and MERGE
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ReplaceDataExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2141 Spark: Add DistributionAndOrderingUtils
  core/src/main/java/org/apache/iceberg/util/CopySortOrderFields.java
  core/src/main/java/org/apache/iceberg/util/SortOrderUtil.java
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3/src/main/java/org/apache/iceberg/spark/CopySortOrderFields.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: core, spark

#2157 Doc: update 0.11 release notes
  site/README.md
  site/docs/how-to-release.md
  site/docs/javadoc/index.html
  site/docs/releases.md
Labels: docs

#2156 Spark: Introduce companion objects for DELETE and MERGE rewrite rules
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
Labels: spark

#2155 Hive: Fix file extensions for written files
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2151 Hive: Fix identity partitioned writes
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR

#2164 Core: Allow building unsorted orders
  api/src/main/java/org/apache/iceberg/SortOrder.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
Labels: API, core

#2166 Spark: Don't distribute records in DELETE if mode is none
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark

#2153 Add truncate transform support for MERGE INTO
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeIntoTable.java
Labels: spark

#2125 Improve HadoopCatalog performance/scalability #2124
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#2146 Improved error messages in CatalogUtil.loadCatalog
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/TestCatalogErrorConstructor.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
Labels: common, core

#2177 Doc: add blog page
  site/docs/blogs.md
  site/mkdocs.yml
Labels: docs

#2117 Refactor metadata column projection in merge plans
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Implicits.scala
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#2160 Docs: Refactor Spark pages
  site/docs/configuration.md
  site/docs/evolution.md
  site/docs/getting-started.md
  site/docs/spark-configuration.md
  site/docs/spark-ddl.md
  site/docs/spark-procedures.md
  site/docs/spark-queries.md
  site/docs/spark-writes.md
  site/docs/spark.md
  site/mkdocs.yml
Labels: docs

#2179 Spark: Add a test for MERGE modifying a null struct
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2178 Doc: fix miscellaneous comments and add more details in release note for 0.11
  site/docs/aws.md
  site/docs/flink.md
  site/docs/releases.md
  site/docs/spark.md
Labels: docs

#2180 Fix flaky delete test
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive

#2170 Keep original location in HadoopInputFile if given
  core/src/main/java/org/apache/iceberg/hadoop/HadoopInputFile.java
Labels: core, flink, spark

#2165 Spark: Extend write distribution and ordering with more options
  spark3-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetWriteDistributionAndOrderingExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteOrder.java
Labels: spark

#2185 Spark: Add more tests for action alignment in MERGE
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2087 More tests for migrate action
  spark3/src/test/java/org/apache/iceberg/actions/TestCreateActions.java
Labels: spark
