Repository apache/iceberg, pull requests merged in 2021-07, with the labels that each got.

#2766 Docs: Describe how to configure Code formatter for IntelliJ IDEA
  site/docs/community.md
Labels: docs

#2749 [Spark] Add limited support for vectorized reads for Parquet V2
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/BaseVectorizedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/BasePageIterator.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: arrow, parquet, spark

#2747 Docs: Update for mkdocs 1.2
  site/docs/flink.md
  site/docs/java-api-quickstart.md
  site/docs/maintenance.md
  site/docs/spark-procedures.md
  site/mkdocs.yml
Labels: docs

#2772 Docs: Fix typo in flink.md
  site/docs/flink.md
Labels: docs

#2763 RemoveReachable files action should throw exception when GC enabled
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveReachableFilesSparkAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestRemoveReachableFilesAction.java
Labels: spark

#2767 Docs: Describe how to run Benchmarks
  site/docs/benchmarks.md
  site/docs/community.md
Labels: docs

#2733 Properly format code in nessie project
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/TableReference.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/NessieUtilTest.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
Labels: NESSIE

#2787 Delete blank line of CachedClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java
Labels: hive

#2762 Update v2 change summary
  site/docs/spec.md
Labels: docs

#2776 Build: bump up DiffPlug Spotless version
  build.gradle
Labels: build

#2778 Core: Fix JdbcCatalog CATALOG_TABLE_NAME to lowercase
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: core

#2795 Build: Change Spark Versions to Support M1 Processors
  build.gradle
  versions.props
Labels: build

#2801 Docs: Fixes broken links to old spark doc page
  site/docs/aws.md
  site/docs/evolution.md
  site/docs/spark-structured-streaming.md
Labels: docs

#2797 Upgrade to JUnit 5
  build.gradle
  versions.props
Labels: build

#2591 Spark: RewriteDatafilesAction V2
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseFileGroupRewriteResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesFileGroupInfo.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesResult.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  core/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/util/Tasks.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java
  spark3/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark3/src/main/java/org/apache/iceberg/spark/FileScanTaskSetManager.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSpark3Action.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/Spark3BinPackStrategy.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark3/src/test/java/org/apache/iceberg/actions/TestNewRewriteDataFilesAction3.java
Labels: API, core, spark

#2790 Upgrade to Tez 0.10.1
  build.gradle
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
Labels: MR, build

#2800 Spark: Parallelize initializing readTasks when localityPreferred is true
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
Labels: spark

#2752 Spark MicroBatch read - Ignore replace snapshots and add Spark option to skip delete snapshots
  spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#2810 API: Use delete instead of remove in actions for clarity
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  api/src/main/java/org/apache/iceberg/actions/DeleteReachableFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteOrphanFilesActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteReachableFilesActionResult.java
  spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkActions.java
  spark/src/test/java/org/apache/iceberg/actions/TestDeleteReachableFilesAction.java
  spark/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java
  spark2/src/test/java/org/apache/iceberg/actions/TestDeleteReachableFilesAction24.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark3/src/test/java/org/apache/iceberg/actions/TestRemoveFilesAction3.java
Labels: API, core, spark

#2812 Spark: Use JavaSparkContext.fromSparkContext instead of constructor
  .baseline/checkstyle/checkstyle.xml
  spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: INFRA, spark

#2811 Spark: Add missing deprecation annotations for old actions
  spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/src/main/java/org/apache/iceberg/actions/SnapshotAction.java
  spark2/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark3/src/main/java/org/apache/iceberg/actions/SparkActions.java
Labels: spark

#2777 Spark : Add Files Perf improvement by push down partition filter to Spark/Hive catalog
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestSparkTableUtil.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
Labels: build, spark

#1648 Move to Apache Avro 1.10.1
  api/src/test/java/org/apache/iceberg/AssertHelpers.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvro.java
  parquet/src/test/java/org/apache/iceberg/TestHelpers.java
  parquet/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
  versions.props
Labels: API, build, core, parquet

#2819 Spark: Remove Unused FileRewriteCoordinator Functions
  spark3/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/Spark3BinPackStrategy.java
  spark3/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
Labels: spark

#2588 Bump Nessie to 0.8.2 + related changes
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/UpdateableReference.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/NessieUtilTest.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestTableReference.java
  versions.props
Labels: INFRA, NESSIE, build

#2781 [BUILD][ORC] Upgrade ORC dependency to 1.6.9
  versions.props
Labels: build

#2756 Move Assert.assertTrue(..) instance checks to AssertJ assertions
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionBinding.java
  api/src/test/java/org/apache/iceberg/transforms/TestProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestStartsWith.java
  aws/src/test/java/org/apache/iceberg/aws/glue/LockManagersTest.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  core/src/test/java/org/apache/iceberg/TestSortOrderParser.java
  core/src/test/java/org/apache/iceberg/avro/AvroTestHelpers.java
  core/src/test/java/org/apache/iceberg/util/TestExceptionUtil.java
  data/src/test/java/org/apache/iceberg/data/DataTestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/TestCatalogTableLoader.java
  flink/src/test/java/org/apache/iceberg/flink/TestDataFileSerialization.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkFilters.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/TestManifestFileSerialization.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  parquet/src/test/java/org/apache/iceberg/TestHelpers.java
  spark/src/test/java/org/apache/iceberg/TestDataFileSerialization.java
  spark/src/test/java/org/apache/iceberg/TestManifestFileSerialization.java
  spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/src/test/java/org/apache/iceberg/spark/data/GenericsHelpers.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestPathIdentifier.java
Labels: API, AWS, MR, core, data, flink, parquet, spark

#2792 [SPARK] Allow spark catalogs to have hadoop configuration overrides p…
  spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark2/src/main/java/org/apache/iceberg/spark/source/CustomCatalogs.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
Labels: spark

#2834 Nessie: Bump Nessie to 0.8.3 / Rename auth_type to auth-type
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  versions.props
Labels: NESSIE, build

#2840 Fix example hash values for binary & fixed in spec
  site/docs/spec.md
Labels: docs

#2831 Doc: add documentation for JDBC and DynamoDB catalogs
  site/docs/aws.md
  site/docs/jdbc.md
  site/mkdocs.yml
Labels: docs

#2609 Adds SortRewriteStrategy
  api/src/main/java/org/apache/iceberg/SortOrder.java
  core/src/main/java/org/apache/iceberg/actions/SortStrategy.java
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  core/src/test/java/org/apache/iceberg/actions/TestSortStrategy.java
Labels: API, core

#2849 Fix bucketing of strings with non-BMP characters
  api/src/main/java/org/apache/iceberg/transforms/Bucket.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
Labels: API

#2851 Core: Add delete table properties for Avro and Parquet
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: core, parquet

#2857 Avro, Parquet, ORC: Add DataWriter builders
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDataWriter.java
  data/src/test/java/org/apache/iceberg/data/orc/TestOrcDataWriter.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDataWriter.java
Labels: ORC, core, data, parquet

#2856 Docs: Add new blog - Apache Iceberg: An Architectural Look Under the Covers
  site/docs/blogs.md
Labels: docs

#2858 Core: Support multiple specs in OutputFileFactory
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestBaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: MR, core, data, spark

#2813 Add security page to site docs
  site/docs/security.md
  site/mkdocs.yml
Labels: docs

#2805 Spec: Add back distinct_counts in data_file metadata
  site/docs/spec.md
Labels: docs

#2864 Spec: Make contains_nan partition summary field optional in v2
  site/docs/spec.md
Labels: docs

#2872 Build: Run tests against Spark 3.0 and Spark 3.1
  build.gradle
Labels: build

#2865 Core: Add validation for row-level deletes with rewrites
  api/src/main/java/org/apache/iceberg/RewriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java
Labels: API, core, spark

#2876 Add Tencent blog
  site/docs/blogs.md
Labels: docs

#2883 Avoid insinuating other file format is supported
  site/docs/spec.md
Labels: docs

#2882 Update Slack invite link
  site/docs/community.md
Labels: docs

#2836 [Python] support BucketByteBuffer and BucketUUID
  python/iceberg/api/transforms/bucket.py
  python/tests/api/test_partition_spec.py
  python/tests/api/transforms/test_bucket.py
Labels: python

#2888 [python] Updating pyarrow dependencies
  python/setup.py
Labels: python

#2852 Core: Fix the NPE in DataFiles.Builder#copy
  core/src/main/java/org/apache/iceberg/DataFiles.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
Labels: core, spark

#2875 Core: added includeColumnStats option in FindFiles API
  core/src/main/java/org/apache/iceberg/FindFiles.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestFindFiles.java
Labels: core

#2881 API: Close the underlying iterator in ClosingIterator correctly.
  api/src/main/java/org/apache/iceberg/io/ClosingIterator.java
  api/src/test/java/org/apache/iceberg/io/TestClosingIterator.java
Labels: API

#2873 Core: Add WriterFactory
  .baseline/checkstyle/checkstyle.xml
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/io/WriterFactory.java
  data/src/main/java/org/apache/iceberg/data/BaseWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestWriterFactory.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkWriterFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterFactory.java
Labels: INFRA, ORC, core, data, parquet, spark
