Repository apache/iceberg, pull requests merged in 2021-11, with the labels that each got.

#3240 Flink: Project the RowData to remove meta-columns
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/data/TestRowDataProjection.java
Labels: API, flink

#3403 Hive: Fix RetryingMetaStoreClient for Hive 2.1
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
Labels: hive

#3421 Core: Fix Replace Table with Changing Partition Spec
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
Labels: API, spark, core

#3430 Spark: Remove reflection workarounds from v3.1 code
  spark/v3.0/build.gradle
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AssignmentAlignmentSupport.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteUpdate.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3VersionUtil.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/PlanUtils.scala
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark, build

#3420 Spark: Enforce the netty buffer version to fix jmh test failures in Spark 3.2
  build.gradle
  spark/v3.2/build.gradle
  versions.props
Labels: spark, build

#3436 Build: Make source-release script macOS compatible
  dev/source-release.sh
Labels: INFRA

#3437 Infra - Remove dev script folder from expensive CI actions
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#3304 Run Benchmarks via GH actions
  .github/workflows/jmh-bechmarks.yml
  site/docs/benchmarks.md
Labels: spark, INFRA, docs, build

#3423 Python: Add tox commands for code format and type checking #3282
  python/src/iceberg/types.py
  python/tox.ini
Labels: python

#3444 spark: Expose AncestorsOf Snapshot by procedure
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAncestorsOfProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/AncestorsOfProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#2841 API: add an action API for rewrite deletes
  api/src/main/java/org/apache/iceberg/actions/ConvertEqualityDeleteFiles.java
  api/src/main/java/org/apache/iceberg/actions/RewritePositionDeleteFiles.java
  core/src/main/java/org/apache/iceberg/actions/ConvertEqualityDeleteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeleteStrategy.java
Labels: API, core

#3449 Pull out Engines sections, add logos, break up hive section
  site/docs/css/extra.css
  site/docs/img/flink-logo.png
  site/docs/img/hive-logo.png
  site/docs/img/prestodb-logo.png
  site/docs/img/trino-logo.png
  site/docs/theme_customization/nav-item.html
  site/mkdocs.yml
Labels: docs

#3441 Build: Fix deploySite task
  site/README.md
  site/deploy.sh
  tasks.gradle
Labels: docs, build

#3458 Docs: Fix date function in spark procedures docs
  site/docs/spark-procedures.md
Labels: docs

#3404 Aliyun: Add OSSInputFile
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/BaseOSSFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSURI.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/TestLocalAliyunOSS.java
Labels: ALIYUN

#3463 Checkstyle: prevent using unshaded Guava classes in Arrow and AssertJ
  .baseline/checkstyle/checkstyle.xml
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
Labels: spark, arrow, INFRA

#3468 AWS: Fix the missing StorageDescriptor parameter after ALTER TABLE RENAME TO by iceberg.
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueCatalogTest.java
Labels: AWS

#3467 AWS: support setting location and description for Glue database
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogNamespaceTest.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/GlueToIcebergConverterTest.java
Labels: AWS

#3456 Spark: Validate table columns don't conflict with metadata columns
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark

#3454 Core: add delete option for bin-packing
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java
Labels: spark, core

#3455 Spark - Fix AddFilesProcedure throws NumberFormatException when no files are imported
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#3472 Checkstyle: remove use of Parquet Preconditions and Apache Commons IOUtils
  .baseline/checkstyle/checkstyle.xml
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalController.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalStore.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowBatchReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
Labels: spark, parquet, arrow, data, INFRA, ALIYUN

#3489 Fix typo
  api/src/main/java/org/apache/iceberg/ManageSnapshots.java
Labels: API

#3493 ORC: Upgrade ORC dependency to 1.7.1
  versions.props
Labels: build

#3452 Infra - Add .gitignore to paths to ignore for expensive CI flows
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#3442 Infra - Add Python Legacy CI to Cancel Duplicate Action
  .github/workflows/cancel-duplicate-workflow-runs.yml
Labels: INFRA

#3446 Arrow: Bump Arrow from 5.0.0 to 6.0.0
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  versions.props
Labels: arrow, build

#3451 Infra - Add Spark v3.1 JMH benchmarks to gitignore
  .gitignore
Labels: INFRA

#3497 Data: run tests for ORC too in TestPartitioningWriters deleteWriter tests
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
Labels: data

#3400 Spark: Support dynamic partition filtering in 3.2
  api/src/main/java/org/apache/iceberg/TableScan.java
  api/src/main/java/org/apache/iceberg/types/IndexByName.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/StaticTableScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
Labels: API, spark, core

#3491 Add overwrite-mode to SparkWriteOptions as a constant
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
Labels: spark

#3461 Spark: Request distribution and ordering for writes
  api/src/main/java/org/apache/iceberg/SortOrder.java
  core/src/main/java/org/apache/iceberg/util/SortOrderUtil.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/connector/expressions/TruncateTransform.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDistributionAndOrderingUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedV2Writes.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/OrderField.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/Spark3BinPackStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/Spark3SortStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkRewriteBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/ClusteredDistribution.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/Distribution.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/Distributions.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/UnspecifiedDistribution.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/impl/ClusterDistributionImpl.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/impl/OrderedDistributionImpl.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/distributions/impl/UnspecifiedDistributionImpl.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/expressions/NullOrdering.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/expressions/SortDirection.java
  spark/v3.2/spark/src/main/java/org/apache/spark/sql/connector/iceberg/expressions/SortOrder.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
Labels: API, spark, core

#3287 Support pos-delete in vectorized read.
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/BaseBatchReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  build.gradle
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/v2.4/build.gradle
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetMultiDeleteFileBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetWithUnrelatedDeleteBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnVectorWithFilter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/IcebergArrowColumnVector.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  versions.props
Labels: spark, arrow, core, data, build

#3500 Only run publish GH action for apache repo, not forked
  .github/workflows/publish-snapshot.yml
Labels: INFRA

#3506 Core: rename min-deletes-per-file in BinPackStrategy
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java
Labels: spark, core

#3511 Core: Add DELETE/UPDATE/MERGE distribution mode properties
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
Labels: spark, core

#3505 Spark: Move more read configs to SparkReadConf
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScanBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#3504 Flink: Rename upsert table property
  core/src/main/java/org/apache/iceberg/TableProperties.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
Labels: core, flink

#3351 Bump Parquet from 1.12.0 to 1.12.2
  versions.props
Labels: build

#3399 [3217] Add Operations (python)
  python/src/iceberg/expressions.py
  python/tests/test_expressions.py
Labels: python

#3512 Arrow: Update netty buffer version to 4.1.68.Final
  versions.props
Labels: build

#3388 NessieCatalog: Improve Commit Messages
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#3527 Partitions table only reads stats if needed
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#3513 Core: Use the latest RoaringBitmap version 0.9.22
  versions.props
Labels: build

#3502 Docs - Add 0.12.1 to the release notes
  site/docs/releases.md
  site/mkdocs.yml
Labels: docs

#3498 Aliyun: Add OSSOutputFile
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunProperties.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/BaseOSSFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/TestLocalAliyunOSS.java
Labels: ALIYUN

#3544 Docs: Add Iceberg indexing blog post
  site/docs/blogs.md
Labels: docs

#3540 Flink: Fix the avro reader issue when reading v2 position deletes.
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroReader.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroReader.java
Labels: data, flink

#3525 Build: Upgrade Gradle to 7.3
  README.md
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: docs, build

#3509 Build: Enable engine's checkstyle and error-prone check in Github CI
  .github/workflows/java-ci.yml
Labels: INFRA

#3514 Flink: fix flaky testTwoSinksInDisjointedDAG that may stuck
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
Labels: flink

#3529 Spark: Use quoted names in required distribution and ordering
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SortOrderToSpark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
Labels: spark, arrow

#3531 Hive : BACKPORT Hive-25377 : Creating Iceberg table where some columns has omments but the last one does not fails
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaConverter.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveSchemaUtil.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, hive

#3510 Build: Use wildcard version for Hive and Tez
  hive3/build.gradle
  versions.props
Labels: flink, MR, build, hive

#3550 Build: Enable checkstyle for all engine versions
  .github/workflows/java-ci.yml
Labels: INFRA

#3533 Arrow: Fix vectorized position reader
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/NullabilityHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark, arrow

#3530 Core: Introduce a CharSeq equals method for faster file path filtering
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
Labels: core

#3556 Spec: Document NameMapping
  site/docs/spec.md
Labels: docs

#3178 Core: BaseFile returns wrong field when accessing position via index
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
Labels: core

#3480 Core: support rewrite data files with starting sequence number
  api/src/main/java/org/apache/iceberg/RewriteFiles.java
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestNewRewriteDataFilesAction.java
Labels: API, spark, core

#3549 Spark: Split SparkCatalogTestBase and allow running tests with one catalog
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
Labels: spark

#3576 Website: PrestoDB and Trino links should open in a new tab
  site/docs/theme_customization/nav-item.html
Labels: docs

#3568 Spark 3.1: Fix ClassCastException when using bucket UDF
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Labels: spark

#3569 Spark 3.0: Fix ClassCastException when using bucket UDF
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Labels: spark

#3570 Spark 2.4: Fix ClassCastException when using bucket UDF
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Labels: spark

#3583 Build: add missing hive version variable in hive3 build file
  hive3/build.gradle
Labels: build, hive

#3469 Spark: Add test cases for SparkActions and remove deprecated Actions and its test cases
  site/docs/maintenance.md
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsActionResult.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsActionResult.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/SnapshotAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, docs

#3259 Core: Refactor SnapshotUtil using an Iterable
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/AncestorsOfProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/AncestorsOfProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/AncestorsOfProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: spark, core, flink

#3581 Core: Fix check for new deleted files in manifests
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
Labels: core

#3479 Add a How To Verify A Release page
  site/docs/how-to-verify-a-release.md
  site/mkdocs.yml
Labels: docs

#3553 Aliyun: Add OSSFileIO
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunClientFactories.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunClientFactory.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunProperties.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/BaseOSSFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSFileIO.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/TestAliyunClientFactories.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSFileIO.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputFile.java
Labels: ALIYUN

#3594 Spark-3.0: Add test cases for SparkActions and remove deprecated Actions
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsActionResult.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsActionResult.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/SnapshotAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark

#3595 Spark-3.1: Add test cases for SparkActions and remove deprecated Actions
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsActionResult.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsActionResult.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/SnapshotAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark

#3587 Spark-2.4: Add test cases for SparkActions and remove deprecated Actions
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/CreateAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/ExpireSnapshotsActionResult.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/RemoveOrphanFilesAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/RewriteManifestsActionResult.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/SnapshotAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark

#3592 Core: Add methods to parse TableMetadata from JSON strings
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#3567 Core: fix javadoc for delete-file-threshold and improve test
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, core

#3548 Conform .alterTable to the standard interface
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
Labels: spark

#3602 Docs: Add ververica blog - Using Flink CDC to synchronize data from MySQL sharding tables and build real-time data lake
  site/docs/blogs.md
Labels: docs

#3590 Make Configurable.setConf call dynamic in CatalogUtil
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/hadoop/Configurable.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
Labels: core, AWS

#3593 Initial implementation of ResolvingFileIO
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core

#3608 Core: Fix typo form metadataTableSchena to metadataTableSchema
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
Labels: core

#3613 Spark: Fix NOT IN predicates in SparkFilters
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
Labels: spark

#3624 Build: Append _2.12 (scala version) to Spark 3.1 and 3.2 module names
  .github/workflows/spark-ci.yml
  jmh.gradle
  settings.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, INFRA, build
