Repository apache/iceberg, pull requests merged in 2021-08, with the labels that each got.

#2904 Docs: Update Slack invite link
  site/docs/community.md
Labels: docs

#2906 Core: Fix partition field IDs in table replacement
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: core, hive

#2913 Annotate UUID fields in Parquet
  parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java
Labels: parquet

#2923 Flink: Switch to using SerializableTable
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
Labels: flink

#2929 Core: Support nulls in StructLike collections
  api/src/main/java/org/apache/iceberg/types/JavaHashes.java
  core/src/main/java/org/apache/iceberg/util/StructLikeMap.java
  core/src/main/java/org/apache/iceberg/util/StructLikeSet.java
  core/src/test/java/org/apache/iceberg/util/TestStructLikeMap.java
  core/src/test/java/org/apache/iceberg/util/TestStructLikeSet.java
Labels: API, core

#2887 Core: allow creating v2 tables through table property
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  spark3/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
Labels: MR, core, flink, spark

#2930 Add thenewstack.io article to list of blog posts
  site/docs/blogs.md
Labels: docs

#2924 Flink: Add FlinkWriterFactory
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkWriterFactory.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterFactory.java
Labels: flink

#2909 Add list of Github collaborators to asf.yaml
  .asf.yaml
Labels: INFRA

#2877 Spark: Fix nested struct pruning
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/main/java/org/apache/iceberg/StaticDataTask.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, build, core, spark

#2941 Core: Missed Nested Schema Projection in AllDataFiles Table
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
Labels: core

#2886 Flink: if provided, add uidPrefix to operator name so that Flink web …
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
Labels: flink

#2922 [DOCS] Document how to add per-catalog hadoop conf values with Spark
  site/docs/spark-configuration.md
Labels: docs

#2949 Doc: update README local build instructions
  README.md
Labels: docs

#2948 AWS: fix integration test after assert library refactor
  api/src/test/java/org/apache/iceberg/AssertHelpers.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogCommitFailureTest.java
Labels: API, AWS

#2954 [Spark] Support building against both Spark 3.0 and Spark 3.1: follow-up
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/PlanUtils.scala
Labels: spark

#2943 Move Identifier field validation to Schema class
  api/src/main/java/org/apache/iceberg/Schema.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
Labels: API, core, flink

#2951 Spark: Fix random test failures in TestDeleteReachableFilesAction
  spark/src/test/java/org/apache/iceberg/actions/TestDeleteReachableFilesAction.java
Labels: spark

#2926 Core: Predicate pushdown for files metadata table
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#2960 Spark: Don't create empty partition replace operations
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#2845 Core: allow default data location for ObjectStorageLocationProvider
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
Labels: core

#2779 Spark: Add duplicate file check in add_files
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: API, spark

#2975 Core: Serialize all specs in SerializableTable
  core/src/main/java/org/apache/iceberg/SerializableTable.java
Labels: core

#2936 Core: Fix querying metadata tables with multiple specs
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: API, spark, core

#2963 Docs: Clarify ObjectStoreLocationProvider
  site/docs/aws.md
Labels: docs

#2982 Remove feature gap comment about nested types.
  site/docs/python-feature-support.md
Labels: docs

#2973 Add release notes for 0.12.0
  site/docs/flink.md
  site/docs/hive.md
  site/docs/maintenance.md
  site/docs/nessie.md
  site/docs/releases.md
  site/docs/spark-procedures.md
  site/mkdocs.yml
Labels: docs

#2974 Fix broken time travel link on project front page
  site/docs/index.md
Labels: docs

#2988 MR: Use SerializableTable in IcebergSplit
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergSplit.java
Labels: MR

#2842 Doc: refactor engines pages and add link to PrestoDB
  site/docs/getting-started.md
  site/docs/index.md
  site/docs/trino-prestodb.md
  site/mkdocs.yml
Labels: docs

#2938 Miscellaneous improvements to source-release.sh
  dev/source-release.sh
Labels: INFRA, build

#2971 Add Starburst blog series
  site/docs/blogs.md
Labels: docs

#2992 Core: Validate transforms while building partition type
  core/src/main/java/org/apache/iceberg/Partitioning.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: spark, core

#2977 Orc: Correct Metrics Modes for nested fields
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
Labels: core, ORC

#2986 Add 0.12.0 release notes pt 2
  site/docs/releases.md
Labels: docs

#2997 Fix formatting of release-notes
  site/docs/releases.md
Labels: docs

#2920 Flink: shell enhancement
  site/docs/flink.md
Labels: docs

#2983 Spark: Add a method to load an Iceberg table by its name in Spark3.
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
Labels: spark

#3007 [INFRA] Reduce permissions for Github tokens generated for labeler action
  .github/workflows/labeler.yml
Labels: INFRA

#2965 Core: rename WRITE_NEW_DATA_LOCATION to WRITE_FOLDER_STORAGE_LOCATION
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
Labels: spark, core

#2950 Hive: Fix some message typos in HiveCatalog: Matastore => Metastore
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive

#3021 Hive: Fix toString NPE with recommended constructor
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive

#3052 Core : Fixing allowed null values for iceberg table properties
  core/src/main/java/org/apache/iceberg/PropertiesUpdate.java
Labels: core
