Repository apache/iceberg, pull requests merged in 2021-04, with the labels that each got.

#2398 Core: Implement HasTableOperations in metadata and txn tables
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
Labels: API, core

#2386 Tests: Get row collection from flink sql query.
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#2406 Doc: Use <code> tag rather than <tt> as <tt> is deprecated
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: flink, spark

#2266 Implement python drop_table
  python/iceberg/api/snapshot.py
  python/iceberg/core/base_metastore_table_operations.py
  python/iceberg/core/base_snapshot.py
  python/iceberg/hive/hive_tables.py
  python/tests/api/test_helpers.py
  python/tests/hive/test_hive_tables.py
Labels: python

#2403 Core: Add SerializableTable
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
  spark/src/test/java/org/apache/iceberg/KryoHelpers.java
  spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
Labels: API, core, spark

#2408 Doc: add AWS Flink usage details
  site/docs/aws.md
Labels: docs

#2402 AWS: handle uncertain catalog state for glue
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogCommitFailureTest.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: AWS, core, hive

#2419 [DOCS]: Fix typo in Flink docs
  site/docs/flink.md
Labels: docs

#2417 Spark: Handle name mapping assignment errors in snapshot action
  spark3/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
Labels: spark

#2418 Spark: Refactor backing up and restoring logic in migrate action
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
Labels: spark

#2416 Spark: Abort changes in migrate action only if staging was successful
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
Labels: spark

#2421 Spark: Add table sort-order to reserved table properties
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/test/java/org/apache/iceberg/actions/TestCreateActions.java
  spark3/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
Labels: spark

#2412 Remove literal false boolean value
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive

#2432 Remove createParquetAsIceberg as default in IcebergSource
  spark3/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
Labels: spark

#2431 Spark: Refine logging in snapshot and migrate actions
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
Labels: spark

#2420 Spark: Override provided props in snapshot and migrate actions
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3MigrateAction.java
  spark3/src/main/java/org/apache/iceberg/actions/Spark3SnapshotAction.java
Labels: spark

#2407 Hive: Synchronize equivalent HMS and Iceberg properties
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, hive

#2399 [python] Updating Expressions with the Term object used in Predicates
  python/iceberg/api/expressions/__init__.py
  python/iceberg/api/expressions/expression.py
  python/iceberg/api/expressions/expressions.py
  python/iceberg/api/expressions/inclusive_metrics_evaluator.py
  python/iceberg/api/expressions/predicate.py
  python/iceberg/api/expressions/projections.py
  python/iceberg/api/expressions/reference.py
  python/iceberg/api/expressions/strict_metrics_evaluator.py
  python/iceberg/api/expressions/term.py
  python/iceberg/api/expressions/transform.py
  python/iceberg/api/schema.py
  python/tests/api/expressions/test_evaluator.py
  python/tests/api/expressions/test_expression_binding.py
  python/tests/api/expressions/test_predicate_binding.py
Labels: python

#2451 [BUILD] Fix the java.net.BindException when testing with Github Action
  .github/workflows/java-ci.yml
Labels: INFRA

#2411 Nessie: change commit operation type
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: NESSIE

#2129 Hive: Configure catalog type on table level.
  mr/src/main/java/org/apache/iceberg/mr/CatalogLoader.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithMultipleCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: API, MR, ORC, core, data, docs, flink, hive, parquet, spark

#2042 [FLINK]add max idle time config to prevent too frequent for empty commit
  flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: core, flink

#2449 Hive: Capitalize write format value when creating writer
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR, core, spark

#2459 Hive: Fix compilation failure in TestHiveIcebergStorageHandlerNoScan and TestHiveIcebergStorageHandlerWithEngine
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2438 Spark: Prevent setting sort-order by using "ALTER TABLE ... SET TBLPROPERTIES"
  spark3/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark3/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
Labels: spark

#2467 Doc: Fix broken Flink DataStream snippets
  site/docs/flink.md
Labels: docs

#2448 Hive: Add timeout for TestHiveIcebergStorageHandlerWithEngine tests
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
Labels: MR, hive

#2480 Try reverse DNS lookup workaround for Ubunut GitHub runners
  .github/workflows/java-ci.yml
Labels: INFRA

#2428 Fix Antlr Shadowing and add Integration Tests
  .github/workflows/java-ci.yml
  build.gradle
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark3-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Labels: INFRA, build, spark

#2450 Bump Nessie version to 0.5.1
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  versions.props
Labels: NESSIE, build

#2433 Simplify Docs release by adding a version template
  site/README.md
  site/docs/aws.md
  site/docs/getting-started.md
  site/docs/nessie.md
  site/docs/releases.md
  site/docs/spark-configuration.md
  site/mkdocs.yml
  site/requirements.txt
Labels: docs

#2477 [Site][Doc] fix performance pdf url
  site/docs/performance.md
Labels: docs

#2473 Spark: Add new entry point for actions
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkActions.java
  spark2/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
Labels: spark

#2478 Docs: Mark drop in python as supported
  site/docs/python-feature-support.md
Labels: docs

#2489 Spark: Use new actions entry point in procedures
  spark3/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark3/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
Labels: spark

#2491 Moving ClientPool and ClientPoolImpl to core
  core/src/main/java/org/apache/iceberg/ClientPool.java
  core/src/main/java/org/apache/iceberg/ClientPoolImpl.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestClientPoolImpl.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: core, hive

#2479 Spark: Remove the shading of org.codehaus.jackson.
  build.gradle
Labels: build

#2362 Spark: Pass Table object to executors
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark2/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark2/src/main/java/org/apache/iceberg/spark/source/StreamingWriter.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
Labels: API, core, spark

#2497 Spark: Remove antlr workaround
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
Labels: spark

#2472 Spark: Add SparkFilesScan
  spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark3/src/main/java/org/apache/iceberg/spark/FileScanTaskSetManager.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkFilesScanBuilder.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestSparkFilesScan.java
Labels: spark

#2495 Core: Fix NPE caused by Unboxing a Null in ManifestFileUtil (#2492)
  core/src/main/java/org/apache/iceberg/util/ManifestFileUtil.java
Labels: core

#2500 Spark: Add SparkRewriteBuilder for rewriting a set of files
  spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark3/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkRewriteBuilder.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark3/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
Labels: spark

#2505 add Nessie to Hive runtime
  build.gradle
  flink-runtime/LICENSE
  flink-runtime/NOTICE
Labels: build, flink

#2514 Upgrade mockito version
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueCatalogCommitFailureTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  versions.props
Labels: AWS, build, hive

#2502 Hive: Fix multi-table insert issue with Tez
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR

#2515 Use `CommitStatusUnknownException` for Nessie
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: NESSIE

#2506 Ensure snapshot ID is positive
  core/src/main/java/org/apache/iceberg/TableOperations.java
Labels: core

#2499 Spark: Add builder pattern to SparkAppenderFactory to handle increasing number of arguments
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#2494 Core: Extract listPartition methods from SparkTableUtil into DataUtil class in core module.
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: data, spark

#2516 Hive: fix issue of inserting empty data on Tez
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2529 Hive: increase and standardize test time out
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2521 Core: fix NPE in manifests table for contains_nan column, update spec
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  site/docs/spark-queries.md
  site/docs/spec.md
Labels: core, docs

#2539 AWS: Remove S3URI usage from public constructors
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
Labels: AWS
