Repository apache/iceberg, pull requests merged in 2021-05, with the labels that each got.

#2465 Core: add row identifier to schema
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/resources/TableMetadataV2Valid.json
Labels: API, core

#2543 Spark: Handle Instant and LocalDate in filter expressions (#2530)
  spark3/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark3/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
Labels: spark

#2523 Build: Remove bintray from repositories.
  build.gradle
Labels: build

#2549 Hive: add iceberg-aws to Hive runtime
  build.gradle
  site/docs/aws.md
Labels: build, docs

#2548 Core: use Collection for input of UpdateSchema.setIdentifierFields
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
Labels: API, core

#2427 Docs: Add release notes for 0.11.1 and update references
  site/docs/javadoc/index.html
  site/docs/releases.md
Labels: docs

#2547 Hive: add table level JVM lock on HiveCatalog commit operation
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
Labels: hive

#2503 Add Spark UI description to Iceberg jobs
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveOrphanFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/BaseMigrateTableSparkAction.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
Labels: spark

#2550 Hive: Use default values of client pool configuration
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive

#2568 Fix the typo in the list method of DescribeSchemaVisitor in Spark3Util
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
Labels: spark

#2501 API: API For CompactDataFiles and DataCompactionStrategy
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  api/src/main/java/org/apache/iceberg/actions/rewrite/RewriteStrategy.java
Labels: API

#2544 Doc: refactor Hive documentation with catalog loading examples
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  site/docs/hive.md
Labels: MR, docs

#2585 Adds abstract BinPackStrategyClass
  api/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
Labels: API, core

#2584 Spark: Fix MergeInto when Source and Target are SinglePartition Distr…
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2564 ICEBERG-2559: Add utility methods
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  core/src/main/java/org/apache/iceberg/actions/BaseAction.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
  core/src/test/java/org/apache/iceberg/util/TestReachableFileUtil.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRemoveOrphanFilesSparkAction.java
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
Labels: core, spark

#2600 Refactor of RewriteDataFiles and BinPackStrategy
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
Labels: API, core

#2410 Flink: Support SQL primary key
  api/src/main/java/org/apache/iceberg/Schema.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/src/test/java/org/apache/iceberg/flink/source/BoundedTestSource.java
  flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestBoundedTableFactory.java
  flink/src/test/resources/META-INF/services/org.apache.flink.table.factories.Factory
Labels: API, MR, core, flink, hive

#2565 Hive: unify catalog experience across engines
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithMultipleCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
  site/docs/aws.md
  site/docs/hive.md
Labels: MR, core, docs

#2583 Hive: enable dropping HMS tables despite metadata problems
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, hive

#2257 Handle metrics during schema transformation
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
Labels: core

#2616 Docs: Fix the broken links in the Table Maintenance page.
  site/docs/maintenance.md
Labels: docs

#2592 [INFRA] Add .out folders to gitignore
  .gitignore
Labels: INFRA

#2581 API: Fix typo in ProjectionUtil
  api/src/main/java/org/apache/iceberg/transforms/ProjectionUtil.java
Labels: API

#2574 Build: Support overwrite maven repo by gradle properties
  deploy.gradle
Labels: INFRA, build

#2454 Fix describing v1 table with void transform partitions.
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: API, spark

#2552 Core: Fix the NPE while updating event in the context of eventual consistency.
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#2615 Make a Copy of StreamingOffset implementation from Spark2 into Spark3's version of Offset implementation
  spark2/src/main/java/org/apache/iceberg/spark/source/StreamingOffset.java
  spark2/src/test/java/org/apache/iceberg/spark/source/TestStreamingOffset.java
  spark3/src/main/java/org/apache/iceberg/spark/source/StreamingOffset.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestStreamingOffset.java
Labels: spark

#2551 Filtering dictionary encoded FIX_LEN_BYTE_ARRAY
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
Labels: parquet

#2596 Core: Add check-status config to TableProperties.
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#2624 Upgrade ORC to 1.6.8
  versions.props
Labels: build

#2623 Fix typo in delete read test
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: data, spark

#2625 Spark: fix typo for row position vector
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/RowPositionColumnVector.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
Labels: spark

#2630 [CORE] Enforce tableName is implemented in BaseMetastoreTableOperations for logging
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: NESSIE, core

#2519 Let NessieCatalog handle HttpClientException and clean up retry-handling
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: NESSIE

#2620 minor refactoring in MicroBatches class to prep for Spark3 streaming change
  core/src/main/java/org/apache/iceberg/MicroBatches.java
Labels: core

#2606 Clean-up base action
  core/src/main/java/org/apache/iceberg/actions/BaseAction.java
Labels: core

#2637 Docs: Improve Nessie docs
  site/docs/nessie.md
Labels: docs

#2646 Nessie: Explicitly log warning, when mandatory `warehouse` option is missing
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: NESSIE

#2641 Hive: Improve code style
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
Labels: MR, hive
