Repository apache/iceberg, pull requests merged in 2021-10, with the labels that each got.

#3199 Core: Validate concurrently added delete files in OvewriteFiles
  api/src/main/java/org/apache/iceberg/OverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: API, spark, core

#3209 Disable ErrorProne ConsistentLoggerName as we use alternative name
  baseline.gradle
Labels: INFRA, build

#3148 [ARROW] Vectorized Parquet Reads - Make ArrowReader's iterator idempotent
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
Labels: arrow

#2953 API: Change GetProjectedIds to Return all Ids
  api/src/main/java/org/apache/iceberg/types/GetProjectedIds.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/avro/PruneColumns.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  core/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, spark, parquet, core

#3215 Fix vararg warnings / Remove unneeded 'unchecked' suppressions
  core/src/main/java/org/apache/iceberg/util/Tasks.java
Labels: core

#3203 Spark: Leverage SPARK-32056 in Spark 3.1
  spark3/src/main/scala/org/apache/spark/sql/catalyst/utils/PlanUtils.scala
Labels: spark

#3332 ORC: Fix importing ORC files with float and double columns and test
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  spark/v3.0/build.gradle
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
Labels: spark, ORC, build

#3418 Typo in the docs - or at least I think it is
  site/docs/maintenance.md
Labels: docs

#3317 spark: CALL ancestors_of get all the snapshot ancestors
  site/docs/spark-procedures.md
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAncestorsOfProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/AncestorsOfProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark, docs

#3397 Build: ./gradlew printVersion should print correct Iceberg version
  tasks.gradle
Labels: build

#3391 filter idea test outputs from the source code
  .gitignore
Labels: INFRA

#3386 Hotfix - Remove additional parens to satisfy checkstyle for 1.12.1 cherry-picking
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
Labels: spark

#3383 Add black and isort as well as tox -e format command
  python/setup.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/bin_packing.py
  python/tests/test_types.py
  python/tests/utils/test_bin_packing.py
  python/tox.ini
Labels: python

#3427 Build: Only build one Spark, Flink, and Hive version by default
  gradle.properties
Labels: build

#3373 Spark: Support metadata columns in 3.2
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMetadataColumn.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark
