Repository apache/iceberg, pull requests merged in 2021-09, with the labels that each got.

#2666 Flink: Support create iceberg table with 'connector'='iceberg'
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
Labels: flink

#2952 Core: Add TypeUtil.project() for Explicit Projection
  api/src/main/java/org/apache/iceberg/types/PruneColumns.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
Labels: API

#2989 Flink: Fix flaky test TestFlinkTableSink
  flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
Labels: flink

#3076 Doc:Add escape in the SQL statement in the flink engine document
  site/docs/flink.md
Labels: docs

#2905 Flink: refactor DataIterator to use composition (instead of inheritance)
  core/src/main/java/org/apache/iceberg/encryption/InputFilesDecryptor.java
  flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/src/main/java/org/apache/iceberg/flink/source/FileScanTaskReader.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
Labels: core, flink

#2820 Spark: Moves Distribution and Ordering Utils to Spark3 Module
  build.gradle
  spark3/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark3/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark3/src/main/scala/org/apache/spark/sql/catalyst/utils/PlanUtils.scala
Labels: spark, build

#3090 [SPARK] Add in config value needed in tests once Spark 3.2 is supported
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
Labels: spark

#3061 Flink: Fix the warning in FlinkSink
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
Labels: flink

#2878 API: allow closing resources in aws catalogs and S3FileIO
  api/src/main/java/org/apache/iceberg/io/CloseableGroup.java
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  api/src/main/java/org/apache/iceberg/util/ExceptionUtil.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableGroup.java
  api/src/test/java/org/apache/iceberg/util/TestExceptionUtil.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
Labels: API, core, AWS

#3066 Fix spelling mistakes in releases.md
  site/docs/releases.md
Labels: docs

#3058 Build: Exclude zstd-jni from iceberg-spark3-runtime
  build.gradle
Labels: build

#3089 Spark: Create metadata tables directly to preserve custom FileIO
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark, core

#3037 Spec: Update spec to show that version 2 is adopted
  site/docs/spec.md
Labels: docs

#3100 [BUILD] Add gradle info level logs to JVM CI suite to debug irregular timeouts during CI
  .github/workflows/java-ci.yml
Labels: INFRA

#3038 Spark: Better SparkBatchScan statistics estimation
  spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: spark

#2863 Flink: Add streaming upsert write option.
  core/src/main/java/org/apache/iceberg/TableProperties.java
  flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/sink/PartitionedDeltaWriter.java
  flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/src/main/java/org/apache/iceberg/flink/sink/UnpartitionedDeltaWriter.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
Labels: core, flink

#3035 AWS: update DynamoDbCatalog.dropNamespace attr check
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalogTest.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
Labels: AWS

#3083 iceberg-data, Row level Java API do not have any examples or descript…
  site/docs/api.md
Labels: docs

#3097 Hadoop drop table to return false if table does not exist
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#3107 Core: Fix comment in TestHadoopCatalog
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#3071 Core: Optimize check for referenced data files in BaseRowDelta
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: core

#3110 Flink - Ignore test that leads to infinite checkpoint loop and CI timeouts
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
Labels: flink

#2897 Docs: Add UPDATE describtion for spark3.
  site/docs/spark-writes.md
Labels: docs

#2911 Spark3: Add validation for merge into/update/delete on different distribution-mode
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#2240 Core: Auto promote sorted column metrics to truncate(16)
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/util/SortOrderUtil.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  data/src/main/java/org/apache/iceberg/data/BaseWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  data/src/test/java/org/apache/iceberg/orc/TestOrcMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestParquetMetrics.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterMetrics.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
Labels: spark, parquet, core, data, flink, MR, ORC

#3111 INFRA - Remove additional logs added to Java CI for debugging timeouts
  .github/workflows/java-ci.yml
Labels: INFRA

#2933 [ARROW] Vectorized Parquet Reads - Assertions + Correctness Checks for Deletion Files
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnVector.java
Labels: arrow, core

#3134 Spark: Better statistics estimation for spark2 Reader.
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
Labels: spark

#3140 Doc: Fix Nessie Spark broken link
  site/docs/nessie.md
Labels: docs

#3133 Core: Add table property for ORC batch size
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: spark, core

#2826 Build: Upgrade to Gradle 7.x
  .baseline/checkstyle/checkstyle.xml
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  baseline.gradle
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/FindFiles.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  deploy.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/CompatibilityHiveVectorUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
  spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark3-runtime/LICENSE
  versions.props
Labels: API, spark, parquet, arrow, core, MR, ORC, INFRA, build, hive, AWS

#3145 Build: Enable zip64 to allow > 65535 files for JMH
  jmh.gradle
Labels: build

#3072 Spark: Implement InvalidateTable for SparkSessionCatalog
  spark3/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark3/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark

#3149 Core: Add FileWriter interface
  core/src/main/java/org/apache/iceberg/deletes/EqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/DataWriteResult.java
  core/src/main/java/org/apache/iceberg/io/DataWriter.java
  core/src/main/java/org/apache/iceberg/io/DeleteWriteResult.java
  core/src/main/java/org/apache/iceberg/io/FileWriter.java
  core/src/main/java/org/apache/iceberg/io/FileWriterFactory.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
  data/src/main/java/org/apache/iceberg/data/BaseFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkFileWriterFactory.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterMetrics.java
  spark/src/main/java/org/apache/iceberg/spark/source/SparkFileWriterFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
Labels: spark, core, data, flink

#3153 Fix ORC exception typo in IcebergInputFormat
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
Labels: MR

#3073 Core: Enhance weightFunc of bin-packing to adapt to V2Format
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
Labels: API, spark, core

#3123 Arrow: Add BaseBatchReader and reduce code duplication
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowBatchReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/BaseBatchReader.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
Labels: spark, arrow

#3152 API: Test for identity in comparators
  api/src/main/java/org/apache/iceberg/types/Comparators.java
Labels: API

#3158 Core: Add new rolling file writers
  core/src/main/java/org/apache/iceberg/io/DeleteWriteResult.java
  core/src/main/java/org/apache/iceberg/io/RollingDataWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingEqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingFileWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingPositionDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
Labels: spark, core, data, flink

#3160 Upgrade ORC dependency to 1.7.0
  versions.props
Labels: build

#2985 Core: Support committing delete files with multiple specs
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: core

#3085 Docs: Add flink iceberg connector
  site/docs/flink-connector.md
  site/mkdocs.yml
Labels: flink, docs

#3165 Fix release url error
  site/docs/releases.md
Labels: docs

#3163 Docs: Add Roadmap section
  site/docs/roadmap.md
  site/mkdocs.yml
Labels: docs

#3161 Update README in python_legacy module to have renamed folder name
  python_legacy/README.md
Labels: python, docs

#3094 Core: Consolidate write.folder-storage.path and write.object-storage.path to write.data.path
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  site/docs/aws.md
  spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/src/test/java/org/apache/iceberg/actions/TestRemoveOrphanFilesAction.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark3/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
Labels: spark, core, docs

#3170 Core: Avoid throwing IOException in new write methods
  core/src/main/java/org/apache/iceberg/deletes/EqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutWriter.java
  core/src/main/java/org/apache/iceberg/io/FileWriter.java
  core/src/main/java/org/apache/iceberg/io/PartitioningWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingFileWriter.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
Labels: core, data

#3171 Spark: Migrate to new data writers in SparkWrite
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#2942 Core: Use correct metrics config for delete files
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  data/src/main/java/org/apache/iceberg/data/BaseFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
Labels: spark, parquet, core, data, flink

#3116 Flink: Upgrade to flink 1.13.2
  api/src/test/java/org/apache/iceberg/AssertHelpers.java
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/src/main/resources/META-INF/services/org.apache.flink.table.factories.Factory
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  versions.props
Labels: API, flink, build

#3078 fix: JdbcCatalog jdbc.user is overwrite by user property
  core/src/main/java/org/apache/iceberg/jdbc/JdbcClientPool.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
Labels: core

#3176 Core: Add position and equality delta writer interfaces
  core/src/main/java/org/apache/iceberg/io/BasePositionDeltaWriter.java
  core/src/main/java/org/apache/iceberg/io/EqualityDeltaWriter.java
  core/src/main/java/org/apache/iceberg/io/PositionDeltaWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
Labels: spark, core, data, flink

#3067 Aliyun: Mock aliyun OSS(Object Storage Service)
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/AliyunOSSTestRule.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockApp.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalController.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalStore.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockRule.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/ObjectMetadata.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/Range.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/TestLocalAliyunOSS.java
  build.gradle
  settings.gradle
  versions.props
Labels: build

#2984 Spark: Support spec ID and partition metadata columns
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkBaseDataReader.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark3/src/test/java/org/apache/iceberg/spark/source/SparkTestTable.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
  spark3/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: API, spark, core, data, flink, MR

#3190 Spec: Add _deleted, _spec_id, _partition metadata columns
  site/docs/spec.md
Labels: docs

#3191 Spark: Use FileWriter for unpartitioned writes
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#3173 Spark: Rewrite adjust check group count before to group stream
  spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
Labels: spark

#3182 java-ci: disable -x testSpark31 -x spark31IntegrationTest for extra-c…
  .github/workflows/java-ci.yml
Labels: INFRA

#3194 Infra: update slack address
  README.md
Labels: docs

#3185 Flink: Replace "build" with "append" in internal function call
  flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#3196 Doc: Update ReadMe and Spec
  README.md
  site/docs/spec.md
Labels: docs

#3193 Build: Opt in to hacktoberfest
  .asf.yaml
Labels: INFRA

#3135 Data: Fix equality delete set save DATE/TIMESTAMP type of data throw IllegalStateException
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
Labels: spark, data, flink, MR

#3198 API: Clarify set and remove methods for namespace properties
  api/src/main/java/org/apache/iceberg/catalog/SupportsNamespaces.java
Labels: API

#3195 Core: Validate concurrently added delete files in RowDelta
  api/src/main/java/org/apache/iceberg/RowDelta.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: API, core

#3175 AWS: Add check to create staging directory if not exists for S3OutputStream
  api/src/main/java/org/apache/iceberg/io/OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/S3OutputStreamTest.java
Labels: API, AWS
