Repository apache/iceberg, pull requests merged in 2021-02, with the labels that each got.

#2084 Bump Jackson to 2.11.4
  build.gradle
  versions.props
Labels: build

#2110 Move to Hive 2.3.8
  build.gradle
  versions.props
Labels: build

#2188 Rename last-assigned-partition-id to last-partition-id in table metadata
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/resources/TableMetadataV2MissingLastPartitionId.json
  core/src/test/resources/TableMetadataV2MissingSortOrder.json
  core/src/test/resources/TableMetadataV2Valid.json
Labels: core

#1956 Flink: Upgrade version from 1.11.0 to 1.12.1
  flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/src/main/java/org/apache/iceberg/flink/actions/Actions.java
  flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/src/main/java/org/apache/iceberg/flink/util/FlinkCompatibilityUtil.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/src/test/java/org/apache/iceberg/flink/MiniClusterResource.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
  flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
  flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  versions.props
Labels: build, flink

#2189 Spark: Optimize insert only case in MERGE
  project/scalastyle_config.xml
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2187 [MINOR] Negate sourceRow and targetRow presence conditions for readability
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeIntoExec.scala
Labels: spark

#2121 Hive: New test case for writing to the table with projection and column specification
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
Labels: MR

#2150 Hive: Avoid closing null writer in output committer abortTask
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergRecordWriter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
Labels: MR

#2200 Doc: add spec doc for metadata-log
  site/docs/spec.md
Labels: docs

#1820 Core: update record_count behavior, include in manifest reader
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
Labels: core

#1790 Core: Implement NaN counts in ORC
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriter.java
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestGenericMergingMetrics.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriter.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkSchemaVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  orc/src/main/java/org/apache/iceberg/orc/OrcRowWriter.java
  orc/src/main/java/org/apache/iceberg/orc/OrcValueWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriter.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriter.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
Labels: API, ORC, core, data, flink, parquet, spark

#1975 Core: add sort order id to content file
  api/src/main/java/org/apache/iceberg/ContentFile.java
  api/src/main/java/org/apache/iceberg/DataFile.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  spark/src/main/java/org/apache/iceberg/spark/SparkDataFile.java
  spark/src/test/java/org/apache/iceberg/TestDataFileSerialization.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
Labels: API, core, spark

#2193 Spark: Support UPDATE statements without subqueries
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlignRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/OptimizeConditionsInRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteUpdate.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/utils/RewriteRowLevelOperationHelper.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#2207 Spark: Remove irrelevant TODO items for row-level ops
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
Labels: spark

#2205 Spark: Add more tests with multiple subqueries in DELETE
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: spark

#2196 Core: Data loss after compaction #2195
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  spark/src/test/java/org/apache/iceberg/actions/TestRewriteDataFilesAction.java
Labels: core, spark

#2206 Spark: Support UPDATE statements with subqueries
  spark3-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/DeleteFromTablePredicateCheck.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RowLevelOperationsPredicateCheck.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/PullupCorrelatedPredicatesInRowLevelOperations.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteUpdate.scala
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
Labels: spark

#2197 Flink : update rewrite data file job name
  flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java
  flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
Labels: flink

#2163 Hive: Preparation to enable Hive writes with Tez engine
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/TezUtil.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2215 Spark: Fix _pos metadata column in SparkAvroReader
  spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroReader.java
Labels: spark

#2191 Hive: Avoid drop table related exceptions in MetaHook
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR

#1872 Core: add contains_nan to field_summary
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/GenericPartitionFieldSummary.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/PartitionSummary.java
  core/src/main/java/org/apache/iceberg/util/ManifestFileUtil.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  spark/src/test/java/org/apache/iceberg/TestManifestFileSerialization.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, core, spark

#2218 ORC: Grow list and map child vectors with a growth factor of 3
  data/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
  spark2/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceNestedListDataBenchmark.java
  spark2/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceNestedListORCDataWriteBenchmark.java
  spark2/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedListParquetDataWriteBenchmark.java
Labels: data, flink, spark

#2213 Spark: Add more tests for MERGE
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#2222 Spark: Consolidate MERGE tests
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeIntoTable.java
Labels: spark

#2119 Hive: Fix connection pool fails to reconnect to the Hive Metastore #1994
  hive-metastore/src/main/java/org/apache/iceberg/hive/ClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestClientPool.java
Labels: hive

#2204 Allow adding of deleted columns
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: core

#2224 add the descriptions for last-partition-id in docs
  site/docs/spec.md
  spark2/src/test/java/org/apache/iceberg/examples/README.md
Labels: docs, spark

#2220 Change default write.target-file-size-bytes to 512 MB.
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#2234 Change Datasource Option Test to not Rely on Hardcoded File Size
  spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: spark

#2232 Parquet: Fix row group filters with promoted types
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
Labels: data, parquet

#2241 ORC: Fix vectorized reads with metadata columns
  spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#2246 Hive: skip projection pushdown for output tables
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergSerDe.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR, hive

#2250 Doc: add Adobe blog on read optimizations
  site/docs/blogs.md
Labels: docs

#2251 Hive: enable inserting data from joins
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#2252 Hive: removed Iceberg props should be removed from HMS table props too
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR, hive

#2243 Spark: Make ignored UPDATE tests deterministic
  spark3-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#2238 Spark: Use nullSafeEval in transform expressions
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
Labels: spark

#2242 Spark: Don't use resolveOperators in optimizer rules
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteDelete.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteMergeInto.scala
  spark3-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RewriteUpdate.scala
Labels: spark

#2092 StreamingOffset Of Structured streaming read for Iceberg
  spark/src/main/java/org/apache/iceberg/spark/source/StreamingOffset.java
  spark/src/test/java/org/apache/iceberg/spark/source/TestStreamingOffset.java
Labels: spark

#2237 Use aws sdk v2 single object delete (not bulk delete) for S3FileIO
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
Labels: AWS

#2263 Hive: make sure unlock is called when HiveTableOperations can not acq…
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: hive

#2239 Core: Support unpartitioned specs in SortOrderUtil
  core/src/main/java/org/apache/iceberg/util/SortOrderUtil.java
  core/src/test/java/org/apache/iceberg/util/TestSortOrderUtil.java
Labels: core

#2254 Hive: Fix predicate pushdown for Date
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergFilterFactory.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerTimezone.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR, core

#2283 Hive: Quick fix for broken TestHiveIcebergFilterFactory.testTimestampType test
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
Labels: MR
