Repository apache/iceberg, pull requests merged in 2022-10, with the labels that each got.

#5859 INFRA: Avoid running engine tests on ISSUE_TEMPLATE update
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#5364 Core, API: Support scanning from refs
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/TableScan.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
Labels: API, core

#5647 [0.14][Docs] Update drop table behavior in spark-ddl docs
  docs/spark-ddl.md
Labels: docs

#5907 Spark: Set the version explicitly
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
Labels: spark

#5895 [1.0.x] Spark: Bump Spark version for vulnerability (#5292)
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, build

#5912 API: Make COUNT default unit when creating a Counter
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputStream.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputStream.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsAppendOutputStream.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsSeekableInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputStream.java
Labels: API, AWS, ALIYUN, GCP, DELL

#5896 Core: Reuse PositionDelete
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDeleteWriters.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDeleteWriters.java
Labels: parquet, core, data, flink

#5898 Python: Fix the link in the README
  python/README.md
Labels: python, docs

#5880 Spark 3.3: Fix nullability in merge-on-read projections
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteRowLevelIcebergCommand.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#5917 Spark 3.2: Fix nullability in merge-on-read projections
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteRowLevelCommand.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#5906 Python: Bump version to 0.2.0
  python/pyproject.toml
Labels: python

#5854 Python: Pin the version in the codebase
  python/pyiceberg/__init__.py
  python/pyproject.toml
  python/tests/test_version.py
Labels: python

#5921 Replace & Ban ExpectedException usage
  .baseline/checkstyle/checkstyle.xml
  core/src/test/java/org/apache/iceberg/TableMetadataParserCodecTest.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  orc/src/test/java/org/apache/iceberg/orc/TestBuildOrcProjection.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
Labels: spark, core, data, ORC, INFRA

#5925 Python: Add rewriteNot visitor
  python/pyiceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5923 Python: Add expression tests
  python/pyiceberg/expressions/base.py
  python/pyiceberg/schema.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5919 Python: Remove the __init__ from the tests
  python/pyproject.toml
  python/tests/__init__.py
  python/tests/avro/__init__.py
  python/tests/catalog/__init__.py
  python/tests/cli/__init__.py
  python/tests/expressions/__init__.py
  python/tests/io/__init__.py
  python/tests/io/test_io.py
  python/tests/table/__init__.py
  python/tests/utils/__init__.py
Labels: python

#5928 API: Handle negative/zero during num-digits calculation
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
Labels: API

#5910 Core: Provide better error message on invalid enums
  api/src/main/java/org/apache/iceberg/DistributionMode.java
  api/src/main/java/org/apache/iceberg/RewriteJobOrder.java
  api/src/main/java/org/apache/iceberg/SnapshotRefType.java
  api/src/main/java/org/apache/iceberg/SortDirection.java
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  core/src/main/java/org/apache/iceberg/IsolationLevel.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/SnapshotRefParser.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/expressions/ExpressionParser.java
  core/src/main/java/org/apache/iceberg/metrics/TimerResultParser.java
  core/src/main/java/org/apache/iceberg/rest/requests/ReportMetricsRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/ReportMetricsRequestParser.java
  core/src/test/java/org/apache/iceberg/TableMetadataParserCodecTest.java
  core/src/test/java/org/apache/iceberg/TestSnapshotRefParser.java
  core/src/test/java/org/apache/iceberg/TestSortOrderParser.java
  core/src/test/java/org/apache/iceberg/expressions/TestExpressionParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestCounterResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestTimerResultParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestReportMetricsRequestParser.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeBuilder.java
Labels: API, spark, core, flink

#5856 Python: Update release instructions
  python/dev/RELEASE.md
Labels: python

#5908 Reduce 'Scanning table' log verbosity for long IN list
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
Labels: API

#5773 Core: Deprecate write.manifest-lists.enabled flag
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: spark, core

#5933 [1.0.x] Core: Increase inferred column metrics limit to 100.
  core/src/main/java/org/apache/iceberg/TableProperties.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
Labels: core, data

#5929 Python: Add partition_type to partition_spec
  python/pyiceberg/table/partitioning.py
  python/tests/table/test_partitioning.py
Labels: python

#5913 Core: Add dataSequenceNumber to ManifestEntry
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/InheritableMetadataFactory.java
  core/src/main/java/org/apache/iceberg/ManifestEntry.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
  format/spec.md
Labels: API, core

#5900 AWS: Add socket connection timeout for UrlConnectionHttpClient
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
Labels: AWS

#5931 Python: Ability to Prune Columns
  python/pyiceberg/schema.py
  python/pyiceberg/types.py
  python/tests/test_schema.py
Labels: python

#5899 AWS: Add additional configurations for ApacheHttpClientBuilder
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: core, AWS

#5902 Docs: Add doc for HTTP client configurations
  docs/aws.md
Labels: docs

#5897 Python: Catch ValidationError on invalid REST response
  python/pyiceberg/catalog/rest.py
  python/tests/catalog/test_rest.py
Labels: python

#5862 Core: Deflake TestManifestCaching.testWeakFileIOReferenceCleanUp
  .baseline/checkstyle/checkstyle-suppressions.xml
  .baseline/checkstyle/checkstyle.xml
  build.gradle
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/test/java/org/apache/iceberg/TestManifestCaching.java
  versions.props
Labels: core, INFRA, build

#5939 AWS: Fix NotSerializableException when using AssumeRoleAwsClientFactory in Spark
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
Labels: AWS

#5733 Api: Optimize the code
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
Labels: API

#5962 Docs: the table name should be the same as sql create table name
  docs/flink-connector.md
Labels: docs

#5755 API: Fix estimated row count in ContentScanTask
  api/src/main/java/org/apache/iceberg/ContentScanTask.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: API, spark

#5887 Core: Clear queue and future task when close ParallelIterable
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#5845 Python: Manifest evaluator
  python/pyiceberg/expressions/base.py
  python/pyiceberg/manifest.py
  python/tests/expressions/test_expressions_base.py
  python/tests/table/test_snapshots.py
  python/tests/utils/test_manifest.py
Labels: python

#5669 Core: Expire Snapshots reachability analysis
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
  core/src/main/java/org/apache/iceberg/ReachableFileCleanup.java
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core, docs

#5950 Python: Fix annotation StringType ➜ BinaryType
  python/pyiceberg/avro/reader.py
Labels: python

#5934 Spark 3.3: Split SparkScan and SparkBatch
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#5975 Core/Spark: Fix kryo deserialization of `SerializableTable`
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
Labels: core

#5486 Flink: revise unit test of FlinkUpsert so the table is partitioned by date
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
Labels: flink

#3457 Spark: Improve performance of expire snapshot by not double-scanning retained Snapshots
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark, core

#5973 Docs: Fix incorrect glue catalog class name for Hive
  docs/hive.md
Labels: docs

#5478 Core: Fix confusing log from RemoveSnapshots
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
Labels: core

#5922 API: Add BatchScan to Table
  api/src/main/java/org/apache/iceberg/BatchScan.java
  api/src/main/java/org/apache/iceberg/BatchScanAdapter.java
  api/src/main/java/org/apache/iceberg/Scan.java
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/TableScan.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
Labels: API, core

#5978 Docs: Typo in loading table from DataFrameReader
  docs/spark-queries.md
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
Labels: spark, docs

#5980 Api: Fix transforms.day() returns a format document and javadoc
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
  format/spec.md
Labels: API

#5957 Python: Cleanup inconsistency in OAuth responses
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/exceptions.py
  python/tests/catalog/test_rest.py
Labels: python

#5995 AwsProperties prints format specifier in IllegalArgumentException message
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#5991 Spark: Fix DATE_ADD expression in IcebergSourceFlatParquetDataWriteBenchmark
  spark/v2.4/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
  spark/v3.0/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
Labels: spark

#5618 Support performing merge appends and delete files on branches
  core/src/main/java/org/apache/iceberg/MergeAppend.java
  core/src/main/java/org/apache/iceberg/StreamingDelete.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#6008 Bump Nessie from 0.43.0 to 0.44.0
  versions.props
Labels: build

#5992 Doc: Fix typos related to date transforms
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
Labels: API

#5622 Spark: Remove backup table after a successful migrate action.
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/actions/MigrateTable.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseMigrateTableSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseMigrateTableSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
Labels: API, spark

#6005 Core: Fix NPE for parent snapshot does not exist
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/util/TestSnapshotUtil.java
Labels: core

#6001 Flink: Fix NoClassDefFound with Flink runtime jar / Add integration test
  flink/v1.14/build.gradle
  flink/v1.14/flink-runtime/src/integration/java/org/apache/iceberg/flink/IcebergConnectorSmokeTest.java
  flink/v1.15/build.gradle
  flink/v1.15/flink-runtime/src/integration/java/org/apache/iceberg/flink/IcebergConnectorSmokeTest.java
Labels: flink, build

#6011 Spark 3.2: Use ScanTaskGroup methods when computing stats
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#6015 Core: Fix TestSnapshotUtil time random disorder
  core/src/test/java/org/apache/iceberg/util/TestSnapshotUtil.java
Labels: spark, core

#6014 Spark 3.2: Split SparkScan and SparkBatch
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#5981 Core: Parallelize the determining of reachable manifests during file cleanup
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
  core/src/main/java/org/apache/iceberg/ReachableFileCleanup.java
Labels: core

#5313 Orc: Support row group bloom filters
  build.gradle
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/configuration.md
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  orc/src/test/java/org/apache/iceberg/orc/TestBloomFilter.java
Labels: core, ORC, docs, build

#6006 Core,Spark: Refactor to move "copy-on-write" and "merge-on-read" literals to constants
  core/src/main/java/org/apache/iceberg/RowLevelOperationMode.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
Labels: spark, core

#5930 [python_legacy] BOTO_STS_CLIENT lazy initialization
  python_legacy/iceberg/core/filesystem/s3_filesystem.py
Labels: python

#6023 Core: Don't fail scan planning if REST metric reporting fails
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#5999 Nessie: no longer push whole metadata JSON to Nessie
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieUtil.java
Labels: NESSIE

#5998 Core: Deprecate HTTPClientFactory / Allow configuring ObjectMapper for HTTPClient
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClientFactory.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#5989 Closes #5988 - Allow configuration of Hive MetastoreClient using Catalog properties
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#5987 Python: Split expressions base
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/visitors.py
  python/tests/expressions/test_expressions.py
  python/tests/expressions/test_visitors.py
  python/tests/test_schema.py
Labels: python

#6020 docs:Add an example of CTAS with PARTITIONED BY (rebased, fix #3854)
  docs/spark-ddl.md
Labels: docs

#5763 Core, Hive-metastore: Table owner can be incorrect in HMS
  core/src/main/java/org/apache/iceberg/TableProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: core, hive

#6030 Replace and ban hamcrest usage
  .baseline/checkstyle/checkstyle.xml
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
Labels: spark, parquet, core, data, flink, INFRA

#5944 API: Update expression sanitization for relative dates and times
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
Labels: API

#6022 Core: Rename TableTestBase.Assertions to not conflict with AssertJ Assertions
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestSortOrderParser.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: core

#5949 Python: Visitor to convert Iceberg to PyArrow schema
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
Labels: python

#5966 Python: Implement select
  python/pyiceberg/schema.py
  python/tests/test_schema.py
Labels: python

#5969 Python: Implement S3V4RestSigner
  python/pyiceberg/exceptions.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyproject.toml
  python/tests/io/test_fsspec.py
Labels: python

#6032 Add section on semantic versioning and deprecations
  CONTRIBUTING.md
Labels: docs

#5916 Core: Increase inferred column metrics limit to 100
  core/src/main/java/org/apache/iceberg/TableProperties.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
Labels: core, data

#6026 Spark 3.3: Ensure rowStartPosInBatch in ColumnarBatchReader is set correctly
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark, build

#6041 Spark 3.2: Ensure rowStartPosInBatch in ColumnarBatchReader is set correctly
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#6049 Flink: Add Sink options to override the compression properties of the Table
  docs/flink-getting-started.md
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
Labels: flink, docs

#6002 Core: Add file seq number to ManifestEntry
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/InheritableMetadataFactory.java
  core/src/main/java/org/apache/iceberg/ManifestEntry.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
  format/spec.md
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#6046 Spark 3.1: Ensure rowStartPosInBatch in ColumnarBatchReader is set correctly
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#6047 Core: Replace projected Schema with schemaId/fieldIds/fieldNames in ScanReport
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReport.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestReportMetricsRequestParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#6063 Spark 3.2: #6041 follow-up/cleanup
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#5783 Build: Update Spark to 3.3.1
  spark/v3.3/build.gradle
Labels: python, spark, parquet, core, data, flink, docs, build

#6070 PyArrow should convert timestamps to microseconds.
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
Labels: python
