Repository apache/iceberg, pull requests merged in 2022-09, with the labels that each got.

#5682 Spark 3.2: Add row-based changelog reader
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestChangelogReader.java
Labels: spark

#5332 [Python] FsspecFileIO, a FileIO that wraps any fsspec compliant filesystem
  python/Makefile
  python/poetry.lock
  python/pyiceberg/io/fsspec.py
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/io/test_fsspec.py
Labels: python

#5683 Core: Fix exception handling in BaseTaskWriter
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
Labels: core, AWS

#5510 Support delete corrupted Iceberg table
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: core, hive, AWS

#5437 [Core | Spark | Integrations] : Fix kryo serialization failure for FileIO
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  build.gradle
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
  core/src/test/java/org/apache/iceberg/io/TestResolvingIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  versions.props
Labels: API, spark, core, build, AWS, GCP

#5681 Parquet: close zstd input stream early to avoid memory pressure
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetCodecFactory.java
Labels: parquet

#5691 Spark: Fix stats in rewrite metadata action
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDataFile.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkDataFile.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
Labels: spark

#5661 Docs: Update docs to reflect AWS SDK version presently being used
  docs/aws.md
Labels: docs

#5687 Python: Fix issues with optional dependencies
  python/poetry.lock
  python/pyiceberg/cli/console.py
  python/pyiceberg/io/__init__.py
  python/pyproject.toml
  python/tests/io/test_io.py
Labels: python

#5662 Doc: Update doc to display the results of the table partitions query
  docs/spark-queries.md
Labels: docs

#4588 Spark: Add custom metric for number of deletes applied by a SparkScan
  core/src/main/java/org/apache/iceberg/deletes/DeleteCounter.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumDeletes.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumSplits.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskNumDeletes.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskNumSplits.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumDeletes.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumSplits.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskNumDeletes.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskNumSplits.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark, core, data

#5697 Flink: fix missing generic types for some IcebergSource$Builder methods
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
Labels: flink

#5705 API/Core: Include Expression filter in ScanReport
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/test/java/org/apache/iceberg/metrics/TestScanReport.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/expressions/ExpressionParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
Labels: API, core

#5483 Bump avro from 1.9.2/1.10.2 to 1.11.1
  hive3/build.gradle
  mr/build.gradle
  versions.props
Labels: MR, build, hive

#5696 Core: Avoid useless metadata retries.
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/StaticClientFactory.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
Labels: core, build, AWS

#5699 Update ORC to 1.8.0
  versions.props
Labels: build

#5528 Build: Enforce logging conventions with errorprone
  baseline.gradle
Labels: INFRA, build

#5278 Build: Upgrade to Gradle 7.5.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#5709 Python: Pass through the location for the FileIO
  python/pyiceberg/catalog/hive.py
Labels: python

#5642 Flink: Fixed an issue where Flink batch entry was not accurate
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: flink

#4993 Dell: Add document.
  docs/dell.md
Labels: spark, flink, docs, build

#5717 Python: fix FileIO fallback to pyarrow when s3fs not present.
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
Labels: python

#5718 Nessie: Prevent accidental deletion of files which are still referenced by other branches/tags
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#5716 Flink: Fixed an issue where Flink1.14 batch entry was not accurate
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: flink

#5725 Docs: Add snapshot references metadata table
  docs/spark-queries.md
Labels: docs

#5731 Flink: Fixed an issue where Flink1.13 batch entry was not accurate
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: flink

#5724 Docs: fix Hyperlink jump error in docs/flink-getting-started.md
  docs/flink-getting-started.md
Labels: docs

#5751 API: Use hashCode instead of hash
  api/src/main/java/org/apache/iceberg/transforms/UnknownTransform.java
  baseline.gradle
Labels: API, INFRA, build

#5736 Python: Make Get Properties CLI options consistent with Set and Remove CLI options.
  python/pyiceberg/cli/console.py
  python/tests/cli/test_console.py
Labels: python

#5756 AWS: Preload S3 client in GlueCatalog For LakeFormation enabled tables
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#5758 Build - Remove unused global flink dependency from versions.props
  versions.props
Labels: build

#5759 Build - Move global Spark 2.4 dependency in version.props to Spark 2.4 subproject
  spark/v2.4/build.gradle
  versions.props
Labels: spark, build

#5749 CI: Fix names and jobs
  .github/workflows/open-api.yml
  .github/workflows/python-ci.yml
Labels: INFRA

#5737 JdbcCatalog don't override namespace location if set
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#5754 Spark: Fix runtime jars packaging scala library files
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
Labels: spark, build

#5690 Python: Add CLI command to list files
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/manifest.py
  python/pyiceberg/table/snapshots.py
  python/tests/avro/test_reader.py
  python/tests/conftest.py
  python/tests/table/test_snapshots.py
  python/tests/utils/test_manifest.py
Labels: python

#5761 Build: relocate httpclient5 dependency for runtime jars
  flink/v1.13/build.gradle
  flink/v1.14/build.gradle
  flink/v1.15/build.gradle
  hive-runtime/build.gradle
  spark/v2.4/build.gradle
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
Labels: spark, flink, build, hive

#5757 Python: Bump fsspec and s3fs to 2022.8.2
  python/poetry.lock
  python/pyproject.toml
Labels: python

#5684 AWS: Refactor util methods for applying AWS clients configurations
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
Labels: AWS

#5766 Python: Set the Iceberg Spec version
  python/pyiceberg/catalog/rest.py
Labels: python

#5686 Python: Remove the pre-validators
  python/pyiceberg/table/metadata.py
Labels: python

#5747 PyArrow support for S3/S3A with properties
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_io.py
  python/tests/io/test_pyarrow.py
Labels: python

#5765 AWS: Allow users to set the assume role session name
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: python, spark, core, flink, build, hive, AWS

#5672 Python: Fine-tune the API
  python/pyiceberg/schema.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/partitioning.py
  python/pyiceberg/table/sorting.py
  python/pyproject.toml
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
  python/tests/table/test_init.py
  python/tests/table/test_metadata.py
  python/tests/table/test_partitioning.py
  python/tests/table/test_sorting.py
  python/tests/test_schema.py
Labels: python, docs

#5796 Python: Handle optional fields in Avro conversion
  python/pyiceberg/manifest.py
  python/tests/avro/test_reader.py
Labels: python

#5810 Revert "REST: implement handling of OAuth error responses (#5698)"
  core/src/main/java/org/apache/iceberg/rest/ErrorHandler.java
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTErrorResponse.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/OAuthErrorResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/OAuthErrorResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestErrorResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestOAuthErrorResponseParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#5775 Flink 1.14&1.15 backport: Set custom Hadoop configuration
  docs/flink-getting-started.md
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
Labels: flink, docs

#5780 API/Core: Make ScanReport and its related classes Immutable
  .baseline/checkstyle/checkstyle.xml
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/test/java/org/apache/iceberg/metrics/TestScanReport.java
  baseline.gradle
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/metrics/CounterResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/main/java/org/apache/iceberg/metrics/TimerResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestCounterResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestTimerResultParser.java
  versions.props
Labels: API, core, INFRA, build

#5808 Python: Remove duplicate dispatch types
  python/pyiceberg/expressions/base.py
Labels: python

#5805 API: Remove unneeded class variable
  api/src/main/java/org/apache/iceberg/expressions/ManifestEvaluator.java
Labels: API

#5804 Python: Fix docstring
  python/pyiceberg/expressions/base.py
Labels: python

#5799 Core: Serialize statistics files in TableMetadata
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#5802 Core: Reduce duplicated code in JSON Parsers
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/PartitionSpecParser.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SingleValueParser.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/SnapshotRefParser.java
  core/src/main/java/org/apache/iceberg/StatisticsFileParser.java
  core/src/main/java/org/apache/iceberg/catalog/TableIdentifierParser.java
  core/src/main/java/org/apache/iceberg/mapping/NameMappingParser.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateRequirementParser.java
Labels: core

#5788 API,Core: Add scan planning metrics for skipped data/delete files
  api/src/main/java/org/apache/iceberg/metrics/DefaultCounter.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/main/java/org/apache/iceberg/metrics/Timer.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
Labels: API, core

#5818 Github: Update issue template with latest release
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#5816 Core: Use JsonUtil.generate in ErrorResponseParser
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
Labels: core

#5821 Build: Fix CI paths
  .github/workflows/python-ci-docs.yml
Labels: INFRA

#5828 Build: Add the path to the Action yaml
  .github/workflows/python-ci-docs.yml
Labels: INFRA

#5829 Python: Include the tests in source distribution
  python/pyproject.toml
Labels: python

#5827 Build: Apply spotless on integration modules as well
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbLockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationDataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationMetadataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/S3TestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  baseline.gradle
  spark/v3.0/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.1/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Labels: spark, INFRA, build, AWS

#5815 Don't check row filter when deciding whether to copy data file with stats
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
Labels: core

#5303 Add a BoundBooleanExpressionVisitor for visiting bound expressions
  python/pyiceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5834 Python: Test if version is PEP440 compliant
  python/pyproject.toml
  python/tests/test_version.py
Labels: python

#5820 REST: implement handling of OAuth error responses followup
  core/src/main/java/org/apache/iceberg/rest/ErrorHandler.java
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/rest/responses/OAuthErrorResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestCatalogErrorResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestOAuthErrorResponseParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#5781 Add REST Servlet/Server Implementations
  build.gradle
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogServlet.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
  versions.props
Labels: core, build

#5838 Python: Add the Makefile to the source distribution
  python/pyproject.toml
Labels: python

#5843 Python: Add NOTICE to source dist and wheel
  python/pyproject.toml
Labels: python

#5840 Python: Add license checker to the source distribution
  python/Makefile
  python/dev/check-license
  python/pyproject.toml
Labels: python

#5734 API/Core: Remove deprecated methods from Snapshot API
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Snapshot.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponse.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/SnapshotFunctionalityTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetDeleteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetMultiDeleteFileBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetWithUnrelatedDeleteBenchmark.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, spark, core, NESSIE

#5839 Build: Bump Rat to 0.15
  dev/check-license
Labels: INFRA

#5835 Python: Remove version modifier
  python/pyproject.toml
Labels: python

#5787 AWS: Add socket connection timeout for Apache Http Builder
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: core, AWS

#5830 Core: Add strict-mode property to JDBC Catalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#4518 core: Provide mechanism to cache manifest file content
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/SystemProperties.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/main/java/org/apache/iceberg/io/ContentCache.java
  core/src/test/java/org/apache/iceberg/TestManifestCaching.java
Labels: core, data, hive

#5794 Support setting table statistics
  api/src/main/java/org/apache/iceberg/UpdateStatistics.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SetStatistics.java
  core/src/test/java/org/apache/iceberg/TestSetStatistics.java
Labels: API, core

#5865 Core: Ignore TestManifestCaching#testWeakFileIOReferenceCleanUp untl it's fixed
  core/src/test/java/org/apache/iceberg/TestManifestCaching.java
Labels: core

#5679 Spark: Fix MERGE INTO Query failure on tables with non-nullable columns
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
Labels: spark

#5866 Doc: Update output of expire_snapshots procedure
  docs/spark-procedures.md
Labels: docs

#5844 Ensure the default value of hive.in.test to avoid overwriting
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
Labels: hive

#5726 API: Extended some deprecation comments in API folder
  api/src/main/java/org/apache/iceberg/metrics/DefaultMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/transforms/Truncate.java
Labels: API

#5771 Core: Deprecate functions in DeleteWriters
  core/src/main/java/org/apache/iceberg/deletes/EqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/SortedPosDeleteWriter.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDeleteWriters.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  orc/src/test/java/org/apache/iceberg/orc/TestOrcDeleteWriters.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDeleteWriters.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, parquet, core, data, flink, ORC

#4402 AWS: Add table and namespace S3 tags
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#5864 Core: Avoid extra getFileStatus call in HadoopInputFile
  core/src/main/java/org/apache/iceberg/hadoop/HadoopInputFile.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
Labels: core

#5778 Orc: Closes #5777 - Obtain ORC stripe offsets from writer
  build.gradle
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
  orc/src/test/java/org/apache/iceberg/orc/TestOrcDataWriter.java
Labels: spark, ORC, build

#5873 Flink: add defensive check in IcebergFilesCommitter for restoring state
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
Labels: flink

#5806 Spark 3.x: Backport snapshot references metadata table test
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark

#5874 [1.0.x] Remove deprecations for Rollback and Overwrite Files (#5639)
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/OverwriteFiles.java
  api/src/main/java/org/apache/iceberg/Rollback.java
  api/src/main/java/org/apache/iceberg/RowDelta.java
  api/src/main/java/org/apache/iceberg/Table.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/RollbackToSnapshot.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/SnapshotFunctionalityTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, spark, parquet, arrow, core, data, flink, pig, common, docs, build, hive

#5884 [1.0.x] Spark: Exclude Scala library files from JAR (#5754)
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
Labels: spark, parquet, arrow, core, data, flink, pig, common, docs, build, hive

#5819 Build: Fix & Run spark integration tests on CI
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
Labels: spark, build

#5875 [1.0.x] API, Core: Remove deprecated methods from Snapshot API (#5734)
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Snapshot.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/PartitionSpecParser.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestSnapshotRefParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/catalog/TestTableIdentifierParser.java
  core/src/test/java/org/apache/iceberg/puffin/TestFileMetadataParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestRenameTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestOAuthTokenResponse.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/SnapshotFunctionalityTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, spark, parquet, arrow, core, data, flink, pig, common, docs, build, hive, NESSIE

#5792 API,Core: Add scan planning metrics for scanned/skipped delete manifests
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
Labels: API, core

#5776 Doc: Update the default value of table property `read.parquet.vectorization.enabled`
  docs/configuration.md
Labels: docs

#5807 Bump Nessie to 0.43.0
  versions.props
Labels: build

#5708 Doc: Update default values of Lock catalog properties to avoid wrong way of filling.
  docs/configuration.md
Labels: docs

#5292 Spark: Bump Spark version for vulnerability
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, build

#4741 Expose table statistics in Table API
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Table.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
Labels: API, spark, core, build

#5869 Python: Update readme
  python/README.md
Labels: python, docs

#5868 [Python][Docs] Very small formatting fix
  python/mkdocs/docs/index.md
Labels: python

#4165 Build: workflows cache gradle wrapper
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/jmh-bechmarks.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#5879 Python: Add code conventions for Python
  python/CONTRIBUTING.md
  python/pyiceberg/utils/deprecated.py
Labels: python, docs

#5809 API,Core: Add scan planning metrics for indexed/eq/pos delete files
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
Labels: API, core, build

#5894 Docs: Add table and namespace S3 tags doc
  docs/aws.md
Labels: docs

#5795 Retain table statistics during orphan files removal
  core/src/main/java/org/apache/iceberg/GenericBlobMetadata.java
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark, core

#5645 [Docs] Update drop table behavior in spark-ddl docs
  docs/spark-ddl.md
Labels: docs

#5635 Spark 3.3: Fix failing jmh benchmarks under org.apache.iceberg.spark.data.parquet package
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersFlatDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersNestedDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
Labels: spark

#5707 Core: Only validate the current partition specs
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
Labels: API, spark, core

#5407 Core: Add RESTScanReporter to send scan report to REST endpoint
  api/src/main/java/org/apache/iceberg/metrics/LoggingMetricsReporter.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsReport.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsReporter.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/main/java/org/apache/iceberg/rest/requests/ReportMetricsRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/ReportMetricsRequestParser.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestReportMetricsRequestParser.java
  open-api/rest-catalog-open-api.yaml
Labels: API, core, data
