Repository apache/iceberg, pull requests merged in 2022-08, with the labels that each got.

#5050 Flink: Support write options in the in-line insert SQL comments
  docs/flink-getting-started.md
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
Labels: flink, docs

#5366 AWS: Call abortUpload only once when any of the completable future fails
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#5377 Spark - Add Spark FunctionCatalog
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/IcebergVersionFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
Labels: spark

#5389 Python: Refactor expression hierarchy
  python/pyiceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5395 API: Assign the right field ids when merging schema, #5394
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
Labels: API

#5411 [Spark] - Backport FunctionCatalog to Spark 3.2
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/IcebergVersionFunction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
Labels: spark

#5406 Nessie: Bump to 0.40.3
  versions.props
Labels: build

#5402 Python: Follow up on REST comments
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/exceptions.py
  python/tests/catalog/test_rest.py
Labels: python

#5367 [Core | Docs]: [FOLLOWUP] Add metadata_log_entries metadata table
  core/src/main/java/org/apache/iceberg/MetadataLogEntriesTable.java
  core/src/main/java/org/apache/iceberg/MetadataTableType.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  docs/spark-queries.md
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core, docs

#5413 AWS: S3FileIo Integration test include UUID prefix in Prefix integration tests
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
Labels: AWS

#5421 Python: Cleanup catalog docstring
  python/pyiceberg/catalog/base.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/exceptions.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_rest.py
Labels: python

#4871 Core: Implement default value parsing and unparsing
  core/src/main/java/org/apache/iceberg/DefaultValueParser.java
  core/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  core/src/test/java/org/apache/iceberg/TestDefaultValueParser.java
  format/spec.md
Labels: spark, core

#5416 Python: Handle OAuthErrorResponse properly
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/exceptions.py
  python/tests/catalog/test_rest.py
Labels: python

#5422 Python: Add and cleanup tests
  python/pyiceberg/catalog/rest.py
  python/tests/avro/test_resolver.py
Labels: python

#5420 Infra - Upgrade Stale GH Action to Latest 5.1.1
  .github/workflows/stale.yml
Labels: INFRA

#5268 API/Core: Initial Table Scan Reporting support
  api/src/main/java/org/apache/iceberg/io/CloseableIterable.java
  api/src/main/java/org/apache/iceberg/io/CloseableIterator.java
  api/src/main/java/org/apache/iceberg/metrics/IntCounter.java
  api/src/main/java/org/apache/iceberg/metrics/LoggingScanReporter.java
  api/src/main/java/org/apache/iceberg/metrics/LongCounter.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReporter.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  api/src/test/java/org/apache/iceberg/metrics/TestScanReport.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  data/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
Labels: API, core, data

#5036 Hive: Fix concurrent transactions overwriting commits by adding hive lock heartbeats.
  api/src/main/java/org/apache/iceberg/exceptions/CommitStateUnknownException.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
Labels: API, hive

#5405 Hive: Hadoop Path fails on s3 endpoint
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#5440 API: changes to honour schema filed name's case
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
  api/src/main/java/org/apache/iceberg/types/ReassignIds.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/schema/UnionByNameVisitor.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: API, core

#5441 Spark: Spark changes to honour schema filed name's case
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
Labels: spark, core

#5382 Core: Implement IncrementalChangelogScan without deletes
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Scan.java
  api/src/main/java/org/apache/iceberg/TableScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalChangelogScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalScan.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalAppendScan.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalChangelogScan.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
Labels: API, core

#4428 Core, API: Add getting refs and snapshot by ref to the Table API
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Table.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
Labels: API, core

#5401 Flink: missed IcebergSourceReader group in PR #5393 for FLIP-27 source reader metrics
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
Labels: flink

#5449 Python: Add http status code to RESTError
  python/pyiceberg/catalog/rest.py
Labels: python

#5446 API: Avoid unnecessary wrapping of CloseableIterable.iterator()
  api/src/main/java/org/apache/iceberg/io/CloseableIterable.java
Labels: API

#5423 Doc: update Flink doc for using the new experimental FLIP-27 source
  docs/flink-getting-started.md
Labels: docs

#5451 Spark 3.3: Delete file counts while deleting reachable files
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/actions/DeleteReachableFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteReachableFilesActionResult.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
Labels: API, spark, core

#5436 Python: Require `__enter__` and `__exit__` on `{Input,Output}Stream`
  python/pyiceberg/io/base.py
  python/pyiceberg/io/memory.py
  python/pyiceberg/serializers.py
  python/tests/avro/test_decoder.py
Labels: python

#5456 Python: Move base.py classes to __init__.py for io package
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/base.py
  python/pyiceberg/io/memory.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/manifest.py
  python/pyiceberg/serializers.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
  python/tests/conftest.py
  python/tests/io/test_io.py
  python/tests/io/test_pyarrow.py
  python/tests/utils/test_manifest.py
Labels: python

#5457 Move base.py for catalog to __init__
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/base.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/table/base.py
  python/pyiceberg/typedef.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
Labels: python

#5458 Move base.py for table to __init__
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/base.py
  python/tests/catalog/test_base.py
Labels: python

#5429 CI: Enable dependabot for Github Actions
  .github/dependabot.yml
Labels: INFRA

#5433 API: Improve/align error messaging in CloseableIterable/CloseableIterator
  api/src/main/java/org/apache/iceberg/io/CloseableIterable.java
  api/src/main/java/org/apache/iceberg/io/CloseableIterator.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  api/src/test/java/org/apache/iceberg/io/TestClosingIterator.java
Labels: API

#5464 CI: Enable dependabot for gradle
  .github/dependabot.yml
Labels: INFRA

#5476 AWS: Cleanup warning about Lambda should be method reference
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationMetadataOperations.java
Labels: AWS

#5443 Core: Partition filter pushdown for entries table
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
Labels: core

#5368 AWS: Fix/Suppress ErrorProne warnings
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
Labels: AWS

#5484 Doc: Update web page of Flink unit test (apache#5480)
  docs/flink-getting-started.md
Labels: docs

#5485 Python: Checks on REST catalog table/namespace identifiers
  python/pyiceberg/catalog/rest.py
  python/tests/catalog/test_rest.py
Labels: python

#5469 Spark 3.3: Use typed beans in BaseSparkAction
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/FileInfo.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#5489 Python: Fix docstring
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
Labels: python

#5438 Core: Prevent potential NPEs when retrieving JSON fields
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/PartitionSpecParser.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/puffin/TestFileMetadataParser.java
Labels: core

#5491 Spark 3.2: Count delete files in DeleteReachableFiles
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
Labels: spark

#5494 Spark 3.2: Use typed beans in BaseSparkAction
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/FileInfo.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#5379 AWS: Use executor service by default when performing batch deletion of files
  api/src/main/java/org/apache/iceberg/io/SupportsBulkOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: API, AWS

#4926 Core, API: Performing operations on a snapshot branch ref
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/SnapshotUpdate.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/CherryPickOperation.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: API, core

#5431 Spark: Support truncate in FunctionCatalog
  api/src/main/java/org/apache/iceberg/transforms/Truncate.java
  api/src/main/java/org/apache/iceberg/util/BinaryUtil.java
  api/src/main/java/org/apache/iceberg/util/TruncateUtil.java
  core/src/test/java/org/apache/iceberg/util/TestTruncateUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
Labels: API, spark, core

#5490 Python: Add __str__ implementation to SortOrder and SortField
  python/pyiceberg/table/sorting.py
  python/tests/table/test_sorting.py
Labels: python

#5497 Spark 3.1:Port #3721 to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#5498 Spark 3.1:Port #3287 #4381 #3535 #4419 to Spark 3.1
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceDeleteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetDeleteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetMultiDeleteFileBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetWithUnrelatedDeleteBenchmark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnVectorWithFilter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/IcebergArrowColumnVector.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#5499 Spark 3.1:Port #4198 to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
Labels: spark

#5500 Spark 3.1:Port #3373 to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMetadataColumn.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark

#5502 Spark 3.1:Port #3491 to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
Labels: spark

#5501 Spark 3.1:Port #3456 to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark

#5514 Spark 3.2: Support truncate in FunctionCatalog
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
Labels: spark

#5536 SetSnapshotOperation should commit empty operations too
  core/src/main/java/org/apache/iceberg/SetSnapshotOperation.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
Labels: core

#5508 AWS: Support preload S3 client mode for S3FileIO
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
Labels: AWS

#5447 Python: Implement Hive create and load table
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/schema.py
  python/pyiceberg/table/metadata.py
  python/tests/catalog/test_hive.py
  python/tests/conftest.py
  python/tests/table/test_metadata.py
  python/tests/table/test_sorting.py
Labels: python

#5467 Python: Add support for hierarchical namespaces
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
Labels: python

#5417 Python: Add a CLI to go through the catalog
  python/poetry.lock
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/__init__.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/exceptions.py
  python/pyiceberg/table/metadata.py
  python/pyproject.toml
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
  python/tests/cli/__init__.py
  python/tests/cli/test_console.py
  python/tests/cli/test_output.py
  python/tests/conftest.py
Labels: python

#5448 Python: Fix typo metadataLocation → metadata-location
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/table/__init__.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_rest.py
Labels: python

#5541 Build: Resolve unchecked Map type cast in TestAvroNameMapping
  core/src/test/java/org/apache/iceberg/avro/TestAvroNameMapping.java
Labels: core

#5542 Fix linter and test failures
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
  python/tests/cli/test_console.py
Labels: python

#5531 Flink 1.13&1.14: Port #5050 to Flink 1.13&1.14
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
Labels: flink

#5534 Python: Remove unused `# type: ignore`
  python/pyiceberg/serializers.py
  python/pyiceberg/typedef.py
  python/pyproject.toml
Labels: python

#5505 API: Deprecate generic Counter<T extends Number> and replace with simpler Counter API
  api/src/main/java/org/apache/iceberg/metrics/Counter.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultCounter.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/IntCounter.java
  api/src/main/java/org/apache/iceberg/metrics/LongCounter.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultCounter.java
Labels: API

#5427 API/Core: Scan reporting result wrappers and parsers
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/test/java/org/apache/iceberg/metrics/TestScanReport.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/metrics/CounterResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/main/java/org/apache/iceberg/metrics/TimerResultParser.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
  core/src/test/java/org/apache/iceberg/metrics/TestCounterResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestTimerResultParser.java
Labels: API, core, data

#5532 Build: Bump gradle-git-version from 0.12.3 to 0.15.0
  build.gradle
Labels: build

#5434 Core: Put property names at the end in JsonUtil error messages
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotRefParser.java
  core/src/test/java/org/apache/iceberg/catalog/TestTableIdentifierParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestRenameTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestOAuthTokenResponse.java
Labels: core

#5506 Replace deprecated Counter with new Counter API
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputStream.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputStream.java
  api/src/main/java/org/apache/iceberg/io/CloseableIterable.java
  api/src/main/java/org/apache/iceberg/io/CloseableIterator.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopMetricsContext.java
  core/src/test/java/org/apache/iceberg/metrics/TestCounterResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestTimerResultParser.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsAppendOutputStream.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsSeekableInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputStream.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
Labels: API, spark, core, AWS, ALIYUN, GCP, DELL

#5503 Spark 3.1:Port #3505 to Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScanBuilder.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#5547 Python: Write the column docs as well
  python/pyiceberg/cli/output.py
  python/tests/cli/test_console.py
Labels: python

#5552 Flink - Suppress Nanosecond Warning for TimestampTz ORC writer
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
Labels: flink

#5526 Core: Add some tests for JsonUtil & reduce duplicated code
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
Labels: core

#5555 Add s3.acceleration-enbled flag to AwsProperties
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  docs/aws.md
Labels: docs, AWS

#5495 Spark 3.3: Reduce serialization in DeleteOrphanFilesSparkAction
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark

#5563 Python: Implement proper `__repr__` for Summary and Operation
  python/pyiceberg/table/snapshots.py
  python/tests/table/test_snapshots.py
Labels: python

#5559 API: Remove counter name
  api/src/main/java/org/apache/iceberg/metrics/Counter.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultCounter.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultTimer.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  api/src/main/java/org/apache/iceberg/metrics/Timer.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultCounter.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultMetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultTimer.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopMetricsContext.java
  core/src/main/java/org/apache/iceberg/metrics/CounterResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/TimerResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestCounterResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestTimerResultParser.java
Labels: API, core

#5513 Spark 3.3 - Support bucket in FunctionCatalog
  api/src/main/java/org/apache/iceberg/transforms/Bucket.java
  api/src/main/java/org/apache/iceberg/util/BucketUtil.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
Labels: API, spark

#5571 Spark 3.2: Support bucket in FunctionCatalog
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
Labels: spark

#5554 Flink: fix the bug where metrics are registered in split reader. Also updated reader metric group to be more consistent with Flink metrics style.
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReaderMetrics.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestingMetricGroup.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReaderMetrics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestingMetricGroup.java
Labels: flink

#5573 Spark 3.3: Align formatting in bucket and truncate functions
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
Labels: spark

#5572 Spark 3.2: Reduce serialization in DeleteOrphanFilesSparkAction
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark

#5580 ORC: Upgrade to 1.7.6
  versions.props
Labels: build

#5583 Python: Remove copy_on_shallow
  python/pyiceberg/utils/iceberg_base_model.py
Labels: python

#5575 Spark 3.2: Delete deprecated action classes
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseMigrateTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#5574 Spark 3.2: Align formatting in bucket and truncate functions
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
Labels: spark

#5570 Core: Make a shorthand for the rest catalog
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
Labels: core

#5410 Flink: add monitor metrics for Flink sink
  flink/v1.15/build.gradle
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/CommitSummary.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitterMetrics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriterMetrics.java
Labels: flink, build

#5562 Python: First version of the Table API
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/table/sorting.py
  python/tests/catalog/test_hive.py
  python/tests/cli/test_console.py
  python/tests/conftest.py
  python/tests/table/test_init.py
  python/tests/table/test_metadata.py
Labels: python

#5348 API: add Histogram metric type
  api/src/main/java/org/apache/iceberg/metrics/DefaultMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/FixedReservoirHistogram.java
  api/src/main/java/org/apache/iceberg/metrics/Histogram.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultMetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestFixedReservoirHistogram.java
Labels: API

#5589 Flink: port PR #5410 to 1.14 for sink monitoring metrics
  flink/v1.14/build.gradle
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/CommitSummary.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitterMetrics.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriterMetrics.java
Labels: flink, build

#5546 Python: Add wrapper to throw the exit code
  python/pyiceberg/cli/console.py
  python/tests/cli/test_console.py
Labels: python

#5488 Python: Add configuration
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/exceptions.py
  python/pyiceberg/typedef.py
  python/pyiceberg/utils/config.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
  python/tests/cli/test_console.py
  python/tests/conftest.py
  python/tests/utils/test_config.py
Labels: python

#5600 Add Fokko as a collaborator
  .asf.yaml
Labels: INFRA

#5594 Python: Fix CLI after properties refactor
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
Labels: python

#5529 Build: enforce LambdaMethodReference check at compile-time
  baseline.gradle
Labels: INFRA, build

#5576 API: Extend FileIO in optional interfaces
  api/src/main/java/org/apache/iceberg/io/SupportsBulkOperations.java
  api/src/main/java/org/apache/iceberg/io/SupportsPrefixOperations.java
Labels: API

#5551 Flink - Fix Malformed Inline Tag in ContinuousSplitPlannerImpl JavaDoc
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
Labels: flink

#5602 Core: Add expression JSON parser
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/expressions/BoundReference.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionVisitors.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/NamedReference.java
  api/src/main/java/org/apache/iceberg/expressions/Reference.java
  core/src/main/java/org/apache/iceberg/SingleValueParser.java
  core/src/main/java/org/apache/iceberg/expressions/ExpressionParser.java
  core/src/test/java/org/apache/iceberg/TestSingleValueParser.java
  core/src/test/java/org/apache/iceberg/expressions/TestExpressionParser.java
Labels: API, core

#5612 Deps: Bump AWS SDK
  versions.props
Labels: build

#5380 Docs: Flink `Streaming upsert write`
  docs/flink-getting-started.md
Labels: docs

#5621 Fix message pattern in checkArgument invocation
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
Labels: core

#4807 Core: Add snapshot references metadata table
  core/src/main/java/org/apache/iceberg/MetadataTableType.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  core/src/main/java/org/apache/iceberg/RefsTable.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core

#5609 Python: Add additional information to the describe command
  python/pyiceberg/cli/output.py
  python/pyiceberg/manifest.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/snapshots.py
  python/tests/cli/test_console.py
Labels: python

#5450 Add table metadata changes for statistics information in table metadata
  api/src/main/java/org/apache/iceberg/BlobMetadata.java
  api/src/main/java/org/apache/iceberg/StatisticsFile.java
  core/src/main/java/org/apache/iceberg/GenericBlobMetadata.java
  core/src/main/java/org/apache/iceberg/GenericStatisticsFile.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/StatisticsFileParser.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/resources/TableMetadataStatisticsFiles.json
Labels: API, core, build

#5624 Docs: Added missing doc for REPLACE PARTITION FIELD
  docs/spark-ddl.md
Labels: docs

#5617 Python: Add types to bin packing
  python/pyiceberg/utils/bin_packing.py
  python/tests/utils/test_bin_packing.py
Labels: python

#5426 Core: Transform parquet bloom filter props when updating schema.
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
Labels: core

#5592 AWS: Deprecate AwsClientFactories.s3Configuration()
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
Labels: AWS

#5302 Add SparkV2Filters
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkV2Filters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestSparkV2Filters.java
Labels: spark

#5577 API: Deprecate old incremental append scans
  api/src/main/java/org/apache/iceberg/TableScan.java
Labels: API

#5639 Remove deprecations for Rollback and Overwrite Files
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/OverwriteFiles.java
  api/src/main/java/org/apache/iceberg/Rollback.java
  api/src/main/java/org/apache/iceberg/RowDelta.java
  api/src/main/java/org/apache/iceberg/Table.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/RollbackToSnapshot.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/SnapshotFunctionalityTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, spark, core

#5459 Core: Use Bulk Delete when dropping table data and metadata
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
Labels: core, AWS

#5628 Python: Add annotations typedef
  python/pyiceberg/typedef.py
  python/tests/test_typedef.py
Labels: python

#5657 Deprecations for 1.0 release: MR properties
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
Labels: MR

#5654 Deprecations for 1.0 release: Aliyun OSS
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputStream.java
Labels: ALIYUN

#5633 Docs: Switch post- and pre- around
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
Labels: API

#5644 AWS: Add s3.dualstack-enabled flag to AwsProperties
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  docs/aws.md
Labels: docs, AWS

#5667 Python: Fix date/time transforms
  python/pyiceberg/utils/datetime.py
Labels: python

#5021 Add API changes for statistics information in table metadata
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/Transaction.java
  api/src/main/java/org/apache/iceberg/UpdateStatistics.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/CommitCallbackTransaction.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
Labels: API, core, build

#5674 Python: Install PyYaml
  python/poetry.lock
  python/pyproject.toml
Labels: python

#5627 Python: Reassign schema/partition-spec/sort-order ids
  python/poetry.lock
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/schema.py
  python/pyiceberg/serializers.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/partitioning.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/iceberg_base_model.py
  python/tests/catalog/test_hive.py
  python/tests/cli/test_console.py
  python/tests/table/test_init.py
  python/tests/table/test_metadata.py
  python/tests/table/test_sorting.py
Labels: python

#5680 AWS: fix the wrong flag used for s3UseArnRegionEnabled
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
Labels: AWS

#5578 Spark: Add Changelog reader for copy-on-write
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestChangelogReader.java
Labels: spark
