Repository apache/iceberg, pull requests merged in 2022-03, with the labels that each got.

#4152 enable stream-results option to avoid spark driver oom
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#4216 Docs: Add Glue optimistic locking
  docs/versioned/integrations/aws.md
Labels: docs

#4211 Add test for Table::expireSnapshot API removing delete files
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#2925 Core: Support serializable and snapshot isolation for ReplacePartitions
  api/src/main/java/org/apache/iceberg/ReplacePartitions.java
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/util/PartitionSet.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestConflictValidation.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: API, spark, core

#3056 Support purge for Spark 3.2
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
Labels: spark, hive

#3810 ORC: Add configurable write properties
  build.gradle
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/versioned/tables/configuration.md
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  orc/src/test/java/org/apache/iceberg/orc/TestTableProperties.java
Labels: API, core, flink, ORC, docs, build

#4252 backport stream-results option for expire snapshot procedure
  docs/versioned/spark/spark-procedures.md
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark, docs

#4218 Core: Improve GenericReader performance
  .gitignore
  data/src/jmh/java/org/apache/iceberg/GenericOrcReaderBenchmark.java
  data/src/jmh/java/org/apache/iceberg/GenericParquetReaderBenchmark.java
  data/src/jmh/java/org/apache/iceberg/ReaderBenchmark.java
  jmh.gradle
  mr/src/main/java/org/apache/iceberg/mr/hive/Deserializer.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  spark/v2.4/spark/benchmark/.gitkeep
  spark/v3.0/spark/benchmark/.gitkeep
  spark/v3.1/spark/benchmark/.gitkeep
  spark/v3.2/spark/benchmark/.gitkeep
Labels: parquet, data, MR, ORC, INFRA, build

#4256 Docs: Fix typo in Java API Quickstart
  docs/versioned/api/java-api-quickstart.md
Labels: docs

#4234 Flink: add FLIP-27 reader function that reads IcebergSourceSplit to a…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/DataIteratorReaderFunction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ReaderFunction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayPoolDataIteratorBatcherRowData.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
Labels: flink

#4276 Common: Add dynamic loading exceptions as suppressed exceptions
  common/src/main/java/org/apache/iceberg/common/DynConstructors.java
Labels: common

#4275 Flink 1.12: Add EqualityFieldKeySelector.
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/EqualityFieldKeySelector.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#4261 Hive: Known exception should not become CommitStateUnknownException
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: hive

#4244 Core - Add in RESTUtil class for encoding namespace as URL variable
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
Labels: core, build

#4207 Cancel duplicate workflow runs
  .github/workflows/cancel-duplicate-workflow-runs.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-legacy-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#4210 Infra - Trigger CI using on pull_request, saving push for master branch and tags (releases)
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-legacy-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#4286 Infra - Disable CI for anything in open-api or format folder
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#4158 Build: Align the module name among spark2.4, spark3.0, spark3.1 and spark3.2
  .github/workflows/spark-ci.yml
  jmh.gradle
  settings.gradle
  spark/v2.4/build.gradle
  spark/v3.0/build.gradle
Labels: spark, INFRA, build

#4287 Infra - Trigger CI when pushing to a release branch or tag
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-legacy-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#4290 Nessie: Bump Nessie to 0.21.2
  versions.props
Labels: build

#4260 Core: Implement table refs in TableMetadataParser
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#4279 Spark: Allow Bin-Pack Rewrite between Partition Specs
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/Spark3BinPackStrategy.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, build

#4303 Core: Fix deleted data files validation in OverwriteFiles
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
Labels: core

#4248 AWS : use additionalLocations in glue table to store location info
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
Labels: AWS

#4177 Use particular worker pool for flink jobs
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
Labels: API, core, flink

#4297 ORC：fix typo orcColumType
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
Labels: pig, ORC

#4314 Bump Nessie from 0.21.2 to 0.22.0
  versions.props
Labels: build

#4315 Flink - Remove deprecated calls to blink planner that has been removed
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#4309 Core : Fix NPE post HadoopMetricContext Deserialization
  core/src/main/java/org/apache/iceberg/hadoop/HadoopMetricsContext.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
Labels: spark, core

#4306 Build: Upgrade to Gradle 7.4.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#4133 Spark : use withNullability rather than creating new AttributeRef and losing ExprId, Qualifiers
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
Labels: spark

#4270 Flink: FLIP-27 split assigner
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/GetSplitResult.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssigner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssignerFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SplitAssigner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SplitAssignerFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitState.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitStatus.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestSimpleSplitAssigner.java
Labels: flink

#4110 Spark: Exclude netty from spark runtime modules
  spark/v2.4/build.gradle
  spark/v2.4/spark-runtime/LICENSE
  spark/v2.4/spark-runtime/NOTICE
  spark/v3.0/build.gradle
  spark/v3.0/spark-runtime/LICENSE
  spark/v3.0/spark-runtime/NOTICE
  spark/v3.1/build.gradle
  spark/v3.1/spark-runtime/LICENSE
  spark/v3.1/spark-runtime/NOTICE
  spark/v3.2/build.gradle
  spark/v3.2/spark-runtime/LICENSE
  spark/v3.2/spark-runtime/NOTICE
Labels: spark, build, release notes

#4277 Spark 3.1: Support PURGE flag in DROP TABLE
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
Labels: spark

#4324 Spark: Simplify validation in BaseRewriteDataFilesSparkAction
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
Labels: spark

#4259 AWS: Add S3 Tagging
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: core, AWS

#4323 Docs: Add S3 Tagging docs
  docs/integrations/aws.md
Labels: docs

#4258 API:Add the usage in javadoc of ValidationException(#3895)
  api/src/main/java/org/apache/iceberg/exceptions/ValidationException.java
Labels: API

#4310 Spark 3.2: Cleanup DataFrame overwritePartitions isolation level handling
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestConflictValidation.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#4321 Core: Add REST catalog table error handler
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
Labels: core

#4320 Core: Add MetadataUpdate.applyTo to re-apply changes
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#4319 Core: Add transaction catalog tests
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
Labels: API, core, hive

#4179 Build: Test flink modules for both scala 2.11 and 2.12
  .github/workflows/flink-ci.yml
Labels: INFRA

#4278 Spark: Fix Rewrite Overlap Test Function
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, build

#4331 Spark 3.1: Simplify validation in BaseRewriteDataFilesSparkAction
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
Labels: spark

#4327 Spark: Fix overlap backport #4278
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#4304 Core: ValidationException on metadata-only delete of certain delete files
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark, core

#4052 AWS: Add SupportBulkOperation interface. S3FileIO implementation will perform a batch deletion using RemoveObjects API
  api/src/main/java/org/apache/iceberg/io/BulkDeletionFailureException.java
  api/src/main/java/org/apache/iceberg/io/SupportsBulkOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: API, AWS

#3676 Core : Dont consider groups for compaction if they have a single file…
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
Labels: core

#4294 Core: Use existing SnapshotRefParser when serializing ref information in TableMetadata Parser
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
Labels: core

#4322 Core: Add REST catalog table requests and responses
  core/src/main/java/org/apache/iceberg/rest/requests/CreateTableRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequest.java
  core/src/main/java/org/apache/iceberg/rest/responses/DropTableResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponse.java
Labels: core

#4339 Doc：fix doc of @link keyword start with #
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
Labels: core

#4341 Flink: fix missing copy in ScanContext
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
Labels: flink

#4338 Parquet: parquet_writer.java should close the writeStore when flushRowGroup's finished is false
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
Labels: parquet

#4349 Core: Skip context for object storage in table prefixes
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
Labels: core

#4255 Docs: Update section on inspecting tables
  docs/spark/spark-queries.md
Labels: docs

#4293 Spark: Add isolation level support to DataFrame.overwrite(filter) API
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestConflictValidation.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#4350 AWS: Move S3 writeTags to AwsProperties
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#4355 AWS: Fix TestGlueCatalogTable failure
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
Labels: AWS

#4357 AWS: Remove get from getter method.
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#4358 AWS: Add TagSession support in AssumeRoleAwsClientFactory
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#4344 Revert "Spark: Exclude Netty from Spark runtime modules (#4110)"
  spark/v2.4/build.gradle
  spark/v2.4/spark-runtime/LICENSE
  spark/v2.4/spark-runtime/NOTICE
  spark/v3.0/build.gradle
  spark/v3.0/spark-runtime/LICENSE
  spark/v3.0/spark-runtime/NOTICE
  spark/v3.1/build.gradle
  spark/v3.1/spark-runtime/LICENSE
  spark/v3.1/spark-runtime/NOTICE
  spark/v3.2/build.gradle
  spark/v3.2/spark-runtime/LICENSE
  spark/v3.2/spark-runtime/NOTICE
Labels: spark, build

#4360 API: Add UnboundSortOrder that has no schema
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/UnboundSortOrder.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
Labels: API, core

#4361 API: Add UnboundPartitionSpec that has no schema
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/UnboundPartitionSpec.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/PartitionSpecParser.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
Labels: API, core

#4351 AWS : make passing s3WriteTags javaDoc example engine agnostic
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#4291 ORC:Optimize table properties usage for ORC
  core/src/main/java/org/apache/iceberg/TableProperties.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
Labels: spark, core, ORC

#4375 Flink: remove redundant code
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
Labels: flink

#4369 Docs: update Spark Write confs for isolation-level
  docs/spark/spark-configuration.md
Labels: docs

#4236 Core - Add ErrorResponse jackson serde to RESTSerializers
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
Labels: core

#4285 Python: Add doctest to tox
  python/setup.cfg
  python/setup.py
  python/src/iceberg/expressions.py
  python/src/iceberg/io/pyarrow.py
  python/src/iceberg/types.py
  python/tox.ini
Labels: python

#4348 Core: Add RESTCatalog and RESTTableOperations
  api/src/main/java/org/apache/iceberg/exceptions/UnprocessableEntityException.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateNamespacePropertiesRequest.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: API, core

#4267 GCP: Add metrics tracking for GCSFileIO
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/BaseGCSFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputStream.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSInputStreamTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSOutputStreamTest.java
Labels: GCP

#4370 Core: Make removal of delete files optional in manifest filtering
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
Labels: core

#4378 Docs: Fix wrong ordering of arguments in Nessie catalog example
  docs/integrations/nessie.md
Labels: docs

#4371 AWS: Add support for using specified HTTP client
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  build.gradle
Labels: build, AWS

#4379 Docs: Clarify timestamp in stored procedures
  docs/spark/spark-procedures.md
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
Labels: spark, docs

#4280 AWS: Add LakeFormation credential support for GlueCatalog
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  build.gradle
Labels: API, core, build, AWS

#4334 AWS: Add support for s3 access points
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3URI.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3URI.java
  build.gradle
Labels: build, AWS

#4384 ORC : Avoid modifying existing conf of HadoopOutputFile rather create new one
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
Labels: ORC

#4381 Core: Make DeleteFilter's constructor parameters more specific
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/main/java/org/apache/iceberg/data/GenericDeleteFilter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
Labels: spark, data, flink

#4394 Core: Update constructor parameters for older DeleteFilter implementations
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
Labels: spark, flink

#4400 Data : fix typo in TableMigrationUtil
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
Labels: data

#4390 Docs: Fix broken javadoc link for RewriteManifests
  docs/spark/spark-procedures.md
Labels: docs

#4414 Core - Mark the object mapper in HTTPClient#Builder as visible for testing
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
Labels: core

#4409 Spark: Update Spark 3.2 JMH Benchmark javadoc instructions
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersFlatDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersNestedDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/avro/AvroWritersBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/avro/IcebergSourceFlatAvroDataReadBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/avro/IcebergSourceNestedAvroDataReadBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceFlatORCDataReadBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceNestedListORCDataWriteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceNestedORCDataReadBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataFilterBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataReadBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedListParquetDataWriteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedParquetDataFilterBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedParquetDataReadBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedParquetDataWriteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetEqDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetMultiDeleteFileBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetPosDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetWithUnrelatedDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/ParquetWritersBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadDictionaryEncodedFlatParquetDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadFlatParquetDataBenchmark.java
Labels: spark

#4408 Spark - Update commands for running Spark 3.1 JMH Benchmarks
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersFlatDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersNestedDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/avro/AvroWritersBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/avro/IcebergSourceFlatAvroDataReadBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/avro/IcebergSourceNestedAvroDataReadBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceFlatORCDataReadBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceNestedListORCDataWriteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/orc/IcebergSourceNestedORCDataReadBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataFilterBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataReadBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceFlatParquetDataWriteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedListParquetDataWriteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedParquetDataFilterBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedParquetDataReadBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceNestedParquetDataWriteBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/ParquetWritersBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadDictionaryEncodedFlatParquetDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadFlatParquetDataBenchmark.java
Labels: spark

#4272 Docs: Clarify contract for file uniqueness
  format/spec.md
Labels: docs

#4388 Core: InvalidateTable in CachingCatalog should invoke InvalidateTable on the wrapped catalog too.
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
Labels: core

#3784 ORC:ORC supports rolling writers.
  build.gradle
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredDataWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredEqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutDataWriter.java
  data/src/test/java/org/apache/iceberg/io/TestBaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  orc/src/main/java/org/apache/iceberg/orc/EstimateOrcAvgWidthVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
  orc/src/test/java/org/apache/iceberg/orc/TestEstimateOrcAvgWidthVisitor.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: spark, core, data, flink, ORC, build

#3411 Fixes read metadata failed after dropped partition for V1 format
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#4333 Core: Make CatalogTests run with JUnit5
  build.gradle
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core, build

#4407 Hive: Avoid recursive listing in HiveCatalog#renameTable
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/MetastoreUtil.java
Labels: hive

#4412 Core: Update REST catalog to use 204/404 for DELETE
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/responses/DropNamespaceResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/DropTableResponse.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestDropNamespaceResponse.java
Labels: core

#4413 Core: Add stack trace to ErrorResponse
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestErrorResponseParser.java
Labels: core

#4419 Spark/Flink: ORC support estimated length for unclosed file.
  core/src/main/java/org/apache/iceberg/io/ClusteredDataWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredEqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutDataWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  spark/v2.4/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.0/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark, core, data, flink

#4425 Doc：Fix remove redundant words
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
Labels: core

#4273 ORC: Add compression properties
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/tables/configuration.md
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  orc/src/test/java/org/apache/iceberg/orc/TestTableProperties.java
Labels: core, ORC, docs

#4342 AWS: Add S3 delete tagging
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#4393 Aliyun: Add metrics tracking for OSSFileIO
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/BaseOSSFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSFileIO.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputStream.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputFile.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputStream.java
Labels: ALIYUN

#4262 Python support on Literals
  python/setup.cfg
  python/src/iceberg/expression/__init__.py
  python/src/iceberg/expression/literals.py
  python/src/iceberg/types.py
  python/tests/expression/__init__.py
  python/tests/expression/test_literals.py
  python/tox.ini
Labels: python

#4429 Core：Removing an initialization that sets a variable to null
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/avro/BuildAvroProjection.java
Labels: core

#4430 Core：Removing a fully defined type that is already imported
  core/src/main/java/org/apache/iceberg/avro/BuildAvroProjection.java
Labels: core

#4263 Python: Serialization/Deserialization for types and partition values (port of conversions.py from python_legacy)
  python/src/iceberg/conversions.py
  python/tests/test_conversions.py
Labels: python

#4441 Flink: add test case for ReusableMapData
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
Labels: flink
