Repository apache/iceberg, pull requests merged in 2022-12, with the labels that each got.

#6338 Core: Use lower lengths for iceberg_namespace_properties / iceberg_tables in JdbcCatalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: core

#6317 Core: MetadataUpdateParser should write updates/removals fields rather than updated/removed
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
Labels: core

#6289 Spark 2.4: Preserve file seq numbers while rewriting manifests
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6328 Python: Set version to 0.2.0
  python/dev/RELEASE.md
  python/pyiceberg/__init__.py
  python/pyproject.toml
Labels: python

#6334 Python: Add warning on projection by name
  python/pyiceberg/table/__init__.py
Labels: python

#6339 Spark 3.3: Add hours transform function
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
Labels: spark

#6309 Spark 3.3: Consume arbitrary scans in SparkBatchQueryScan
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#6343 Spark 3.3: Remove unused RowDataRewriter
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/RowDataRewriter.java
Labels: spark

#6336 Doc: Replace build with append in the Flink doc
  docs/flink-getting-started.md
Labels: docs

#6333 Port #4627 to Flink 1.14/1.15
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
Labels: flink

#6331 Port #4627 to Spark 2.4/3.1/3.2
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/ComplexRecord.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/NestedRecord.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/ComplexRecord.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/NestedRecord.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/ComplexRecord.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/NestedRecord.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
Labels: spark, flink

#6311 Gradle build: keep Scala compiler alive
  build.gradle
Labels: build

#6345 Spark 3.3: Choose readers based on task types
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkColumnarReaderFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkInputPartition.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkRowReaderFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#6346 Python: Fix PyArrow Type conversion
  python/pyiceberg/io/pyarrow.py
Labels: python

#6305 API: Override `equals` and `hashCode` methods for primitive types
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
Labels: API

#6221 Change SingleBufferInputStream .read signature to match super-method.
  core/src/main/java/org/apache/iceberg/io/SingleBufferInputStream.java
Labels: core

#4925 API: Add view interfaces
  api/src/main/java/org/apache/iceberg/catalog/ViewCatalog.java
  api/src/main/java/org/apache/iceberg/exceptions/NoSuchViewException.java
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
  api/src/main/java/org/apache/iceberg/view/UpdateViewProperties.java
  api/src/main/java/org/apache/iceberg/view/View.java
  api/src/main/java/org/apache/iceberg/view/ViewBuilder.java
  api/src/main/java/org/apache/iceberg/view/ViewHistoryEntry.java
  api/src/main/java/org/apache/iceberg/view/ViewRepresentation.java
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
Labels: API

#6299 Flink: support split discovery throttling for streaming read
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssigner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SplitAssigner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/EnumerationHistory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorState.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/StaticIcebergEnumerator.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestEnumerationHistory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
Labels: flink

#6337 Docs: Update Iceberg Hive documentation
  docs/hive.md
Labels: docs

#6349 Update ORC to 1.8.1
  versions.props
Labels: build

#6363 Flink: backport split discovery throttling for FLIP-27 source to 1.14…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssigner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SplitAssigner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/EnumerationHistory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorState.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/StaticIcebergEnumerator.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestEnumerationHistory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssigner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SplitAssigner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/EnumerationHistory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorState.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/StaticIcebergEnumerator.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestEnumerationHistory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
Labels: flink

#6360 Docs: Update Zorder spark support versions.
  docs/spark-procedures.md
Labels: docs

#6374 Docs: Remove backticks from Spark procedure headings
  docs/spark-procedures.md
Labels: docs

#6372 [Python] Fix incorrect description when set a property
  python/pyiceberg/cli/console.py
Labels: python

#6268 Allow dropping a column used by an old but not currrent partition spec
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
Labels: core

#6385 Fix Spark JMH Benchmarks
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersFlatDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetReadersNestedDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
Labels: spark

#6391 Core: Throw CommitStateUnknownException for 502 responses
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#5967 Flink: Support read options in flink source
  docs/flink-getting-started.md
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
Labels: flink, docs

#6390 Build: Fix ./gradlew refreshJavadoc
  tasks.gradle
Labels: build

#6384 Python: Improve `readme.md` "Getting started" by mentioning required pip version
  python/README.md
Labels: python, docs

#6389 Python: Improve docs
  python/.pre-commit-config.yaml
  python/mkdocs/docs/api.md
  python/mkdocs/docs/cli.md
  python/mkdocs/docs/configuration.md
  python/mkdocs/docs/contributing.md
  python/mkdocs/docs/feature-support.md
  python/mkdocs/docs/how-to-release.md
  python/mkdocs/docs/index.md
  python/mkdocs/docs/verify-release.md
  python/mkdocs/mkdocs.yml
Labels: python

#6395 Flink: Fix minor compiler warning
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
Labels: flink

#6341 Docs: Update PyIceberg release guide
  python/mkdocs/docs/how-to-release.md
Labels: python

#6329 Python: Add support for 3.11
  .github/workflows/python-ci.yml
  python/pyproject.toml
Labels: python, INFRA

#3059 Returns isUnpartitioned=true for VoidTransform on all fields
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/transforms/Transform.java
  api/src/main/java/org/apache/iceberg/transforms/VoidTransform.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
Labels: API, core

#6254 Python: implement `to_pandas`
  python/poetry.lock
  python/pyiceberg/table/__init__.py
  python/pyproject.toml
Labels: python

#6342 Python: Introduce SchemaVisitorPerPrimitiveType
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/schema.py
Labels: python

#6409 Python: Add missing types
  python/pyiceberg/io/pyarrow.py
Labels: python

#6394 Flink: Port Support read options in flink source to 1.14 & 1.16
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
Labels: flink

#6413 Python: Remove outdated docs + some suggestions for textual improvements
  python/CONTRIBUTING.md
  python/README.md
  python/mkdocs/docs/contributing.md
Labels: python, docs

#6376 Docs: Add register table Spark procedure documentation
  docs/spark-procedures.md
Labels: docs

#6377 Flink: add util class to generate test data with extensive coverage d…
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/DataGenerator.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
Labels: flink

#6284 Spark 3.2: Fix a separate table cache being created for each rewriteFiles
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
Labels: spark

#6285 Spark 3.1: Fix a separate table cache being created for each rewriteFiles
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/Spark3BinPackStrategy.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/Spark3SortStrategy.java
Labels: spark

#6408 Spark: Cleanup commented out code in SparkValueReaders
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkValueReaders.java
Labels: spark

#6313 Flink: use correct metric config for position deletes
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
Labels: core, flink, build

#6350 Spark 3.3: Time range query of changelog tables
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark, core

#6412 Doc: Modify some options refer to Read-options in flink streaming rea…
  docs/flink-getting-started.md
Labels: docs

#6427 Spark 3.2: Time range query of changelog tables
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#6425 Core: Unify fromJson(String) parsing
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/PartitionSpecParser.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SingleValueParser.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/SnapshotRefParser.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/catalog/TableIdentifierParser.java
  core/src/main/java/org/apache/iceberg/mapping/NameMappingParser.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateRequirementParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/OAuthErrorResponseParser.java
Labels: core

#6152 Docs: Update table snapshot retention property descriptions
  docs/configuration.md
Labels: docs

#6439 Python: Add pyparsing
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6444 Docs: add example of spark extension for identifier fields
  docs/spark-ddl.md
Labels: docs

#6441 Run weekly JMH Benchmarks & visualize results
  .github/workflows/recurring-jmh-benchmarks.yml
  build.gradle
  gradle.properties
  jmh.gradle
Labels: INFRA, build

#6445 Python: Mock home and root folder when running `test_missing_uri`
  python/tests/cli/test_console.py
  python/tests/conftest.py
  python/tests/utils/test_config.py
Labels: python

#6446 Python: Support for UUID
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/schema.py
  python/pyiceberg/utils/schema_conversion.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
Labels: python

#6438 Python: Reduce the use of mock objects
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/manifest.py
  python/pyiceberg/typedef.py
  python/tests/avro/test_reader.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/conftest.py
  python/tests/expressions/test_evaluator.py
  python/tests/expressions/test_expressions.py
  python/tests/expressions/test_visitors.py
  python/tests/io/test_fsspec.py
  python/tests/io/test_io.py
  python/tests/table/test_metadata.py
  python/tests/utils/test_manifest.py
Labels: python

#6404 Core: Allow configuring metrics reporter impl via Catalog property
  api/src/main/java/org/apache/iceberg/metrics/LoggingMetricsReporter.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: API, core

#6419 Doc:Example of correcting the document add/drop partition truncate
  docs/spark-ddl.md
Labels: docs

#6274 Core|ORC|Spark: Remove deprecated functionality
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/InheritableMetadataFactory.java
  core/src/main/java/org/apache/iceberg/ManifestEntry.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClientFactory.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
Labels: spark, core, data, ORC

#6293 Added FileIO Support for ORC Reader and Writers
  core/src/main/java/org/apache/iceberg/hadoop/HadoopStreams.java
  orc/src/main/java/org/apache/iceberg/orc/FileIOFSUtil.java
  orc/src/main/java/org/apache/iceberg/orc/ORC.java
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
  orc/src/test/java/org/apache/iceberg/orc/TestORCFileIOProxies.java
  orc/src/test/java/org/apache/iceberg/orc/TestOrcDataWriter.java
Labels: core, ORC

#6190 Spark[3.1 | 3.2]: Support Java 8 time API in SparkValueConverter
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
Labels: spark

#6267 Docs: Update spec about statistics file snapshot id
  format/spec.md
Labels: core

#6239 Docs: Select the right Spark catalog
  docs/aws.md
Labels: docs

#6296 Spark-3.3: Use table sort order with sort strategy when user has not specified
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: spark

#6436 Core: Add flag to control sending metric reports via REST
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#6454 Spark-3.2: Use table sort order with sort strategy when user has not specified
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: spark

#6411 Core: Don't produce partition summaries on unpartitioned table
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: spark, core

#6223 AWS: Use provided glue catalog id in defaultWarehouseLocation
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#6460 Core: Refactor ManifestListReadTask to avoid extra S3 calls
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
Labels: core

#6462 Python: Check for nans when creating literal
  python/pyiceberg/expressions/literals.py
  python/tests/expressions/test_literals.py
Labels: python

#6452 Flink: Improve IcebergFilesCommitter logging
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
Labels: flink

#6471 Dynamo/Jdbc/Ecs/Nessie: Expose catalog properties
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: core, AWS, NESSIE, DELL

#6468 Python: Parse UUID as binary in PyArrow
  python/pyiceberg/io/pyarrow.py
Labels: python

#6478 Python: Read a date as an int
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/typedef.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
  python/tests/conftest.py
  python/tests/utils/test_manifest.py
Labels: python

#6483 Python: Bump version to 0.2.1
  python/pyiceberg/__init__.py
  python/pyproject.toml
Labels: python

#6477 Hive-metastore: Merge identical catch branch
  hive-metastore/src/test/java/org/apache/iceberg/hive/ScriptRunner.java
Labels: hive

#6472 Have single 'working' constructor in BaseTable
  core/src/main/java/org/apache/iceberg/BaseTable.java
Labels: core

#6479 Core: Java doc fix on method SnapshotUtil::oldestAncestorAfter
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
Labels: core

#6487 Python: Read date as an int
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/reader.py
  python/tests/avro/test_decoder.py
Labels: python

#6486 Python: Fix reading UUIDs
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/utils/schema_conversion.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
Labels: python

#6484 Python: Fix PyArrow import
  python/pyiceberg/table/__init__.py
Labels: python

#6371 Spark 3.3: Support storage-partitioned joins
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestStoragePartitionedJoinsInRowLevelOperations.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkInputPartition.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
Labels: spark, core

#6497 Python: Move `adlfs` import inline
  python/pyiceberg/io/fsspec.py
Labels: python

#6495 Python-legacy: Fix CI
  .github/workflows/python-legacy-ci.yml
  python_legacy/setup.py
Labels: python, INFRA

#6437 Python: Projection by Field ID
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/exceptions.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/schema.py
  python/pyiceberg/table/__init__.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_resolver.py
  python/tests/io/test_pyarrow.py
Labels: python
