Repository apache/iceberg, pull requests merged in 2022-07, with the labels that each got.

#5170 Python: Move Transforms to Pydantic
  python/pyiceberg/transforms.py
  python/tests/test_transforms.py
Labels: python

#5168 Arrow: Pad decimal bytes before passing to decimal vector
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowVectorAccessors.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/DecimalVectorUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/parquet/DecimalVectorUtilTest.java
Labels: arrow

#5178 API: Add generic FileIO JSON serialization
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/main/java/org/apache/iceberg/io/FileIOParser.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
Labels: API, spark, core, build, AWS, GCP

#5184 Python: Pin bugbear in Python legacy
  python_legacy/tox.ini
Labels: python

#3998 Flink: Support write options in FlinkSink builder
  docs/flink-getting-started.md
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: flink, docs

#5179 Spark 3.3: Re-Enable TwoLevel Parquet List UT
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#5154 API: Add java type to composite TypeID enums
  api/src/main/java/org/apache/iceberg/Accessors.java
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/test/java/org/apache/iceberg/types/TestComparators.java
Labels: API

#4865 Docs: add flink and iceberg type compatibility
  docs/flink-getting-started.md
Labels: docs

#5200 Core: Fix ErrorProne Warnings
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/MetricsModes.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/encryption/InputFilesDecryptor.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/util/Tasks.java
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
  data/src/test/java/org/apache/iceberg/data/TestReadProjection.java
Labels: core, data

#5198 Arrow: Fix for dictionary encoded fixed length binary decimals
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/DecimalVectorUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadDictionaryEncodedFlatParquetDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadFlatParquetDataBenchmark.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: spark, arrow

#5206 Core: Defer reading Avro metadata until ManifestFile is read
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
Labels: core

#5208 Spark: Update Antlr in Spark 3.2 extensions to 4.8
  spark/v3.2/build.gradle
Labels: spark, build

#4283 Hive: Fix NPE when reading a struct field with null value
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergRecordObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergRecordObjectInspector.java
Labels: MR

#5204 Not push down complex filter
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#5212 Arrow/AWS/Core/Hive: Fix ErrorProne warnings
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: arrow, core, hive, AWS

#5187 Core: Use table partitioning with manual sort order
  core/src/main/java/org/apache/iceberg/actions/SortStrategy.java
Labels: core

#5226 Core: Fix REST catalog when reverting DDL changes.
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#4902 Spark-3.2: Support Zorder option for rewrite_data_files stored procedure
  core/src/main/java/org/apache/iceberg/expressions/Zorder.java
  docs/spark-procedures.md
  spark/v3.2/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/ExtendedParser.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: spark, core, docs

#5225 Spark: Provide size estimate for table broadcast
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
Labels: spark, core

#5215 Core: Update MetricsConfig to use a default for first 32 columns
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
Labels: core, data

#5227 backport #5204 to Spark3.2
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#5220 Flink: construct reader function in FLIP-27 source builder if not set
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/ArrayPoolDataIteratorBatcher.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
Labels: flink

#5191 Flink: port #5109, FLIP-27 Iceberg source and builder to 1.14 module
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssigner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFixtures.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/data/RowDataToRowMapper.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
Labels: flink

#5233 Rest-catalog: Add flexibility to paths in rest catalog
  .github/workflows/open-api.yml
  open-api/rest-catalog-open-api.yaml
Labels: INFRA

#5228 Build - Add Git Build Properties File via Plugin
  build.gradle
Labels: build

#5236 Build: Add iceberg-build.properties to Jars and release process
  build.gradle
  deploy.gradle
  dev/source-release.sh
  tasks.gradle
Labels: INFRA, build

#5171 Python: Reenable mypy
  python/.pre-commit-config.yaml
  python/pyiceberg/io/base.py
  python/pyiceberg/io/memory.py
  python/pyproject.toml
  python/tests/avro/test_decoder.py
  python/tests/conftest.py
  python/tests/io/test_io_base.py
  python/tests/test_schema.py
Labels: python

#5232 Core: Improve in and not_in predicate eval for all_manifests.reference_snapshot_id
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
Labels: core

#4816 remove operations from base expressions; add in expression
  python/pyiceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5235 REST: Create commit catalog handler fix
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponse.java
Labels: core

#5229 Spark-3.3: Support Zorder option for rewrite_data_files stored procedure
  spark/v3.3/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ExtendedParser.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: spark

#5237 API: Add IcebergBuild info
  api/src/main/java/org/apache/iceberg/IcebergBuild.java
  api/src/test/java/org/apache/iceberg/TestIcebergBuild.java
  build.gradle
  tasks.gradle
Labels: API, core, build

#5238 Core - Add build information to all requests sent by HTTPClient as headers
  core/src/main/java/org/apache/iceberg/rest/HTTPClientFactory.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core, build

#5180 Docs: Add time travel examples via SPARK-SQL
  docs/spark-queries.md
Labels: docs

#5241 Flink: port PR #5220 to 1.14
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ArrayPoolDataIteratorBatcher.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
Labels: flink

#5249 Core: Fix wrapper performance for delete filters
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  core/src/main/java/org/apache/iceberg/util/StructLikeMap.java
  core/src/main/java/org/apache/iceberg/util/StructLikeSet.java
  core/src/main/java/org/apache/iceberg/util/StructLikeWrapper.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/main/java/org/apache/iceberg/data/InternalRecordWrapper.java
Labels: core, data

#5124 Python: Add sort order fields
  python/pyiceberg/schema.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/parsing.py
  python/tests/table/test_metadata.py
  python/tests/table/test_partitioning.py
  python/tests/table/test_sorting.py
  python/tests/test_transforms.py
Labels: python

#5239 [Python] BindVisitor for binding a BooleanExpression to a Schema
  python/pyiceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
  python/tests/test_types.py
Labels: python

#5247 Spark 3.3: Add Spark catalog for loading tables from cache
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCachedTableCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableCache.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkCachedTableCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCachedTableCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableCache.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestSparkCachedTableCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark

#5253 Spark 3.3: Rename output columns in register_table procedure
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RegisterTableProcedure.java
Labels: spark

#5195 Make predicates of delete only initialize once
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
Labels: data

#5255 Core: Fix REST catalog metadata table loading.
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#5201 Python: Move Snapshot to Pydantic
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/snapshots.py
  python/tests/table/test_metadata.py
  python/tests/table/test_snapshots.py
Labels: python

#5222 Don't throw from finally block
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: hive, AWS

#5260 Spark 3.2: Rename output columns in register_table procedure
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RegisterTableProcedure.java
Labels: spark

#5259 [API] Fix throwing null exception and add error prone suppression to runSafely functions
  api/src/main/java/org/apache/iceberg/util/ExceptionUtil.java
Labels: API

#5257 Spark 3.3: Expose action classes in SparkActions
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotUpdateSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseTableCreationSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SnapshotTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#5261 Spark 3.2: Expose action classes in SparkActions
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseMigrateTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotUpdateSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseTableCreationSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SnapshotTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#5254 log warning when filter conversion/bind expression fail
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#5210 Build: Upgrade test dependencies to latest version
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  versions.props
Labels: spark, core, build, hive, AWS

#5192 Python: Move PartitionSpec to Pydantic
  python/pyiceberg/catalog/base.py
  python/pyiceberg/table/base.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/partitioning.py
  python/pyiceberg/transforms.py
  python/tests/catalog/test_base.py
  python/tests/table/test_metadata.py
  python/tests/table/test_partitioning.py
Labels: python

#5211 Build: unify github action versions
  .github/workflows/api-binary-compatibility.yml
Labels: INFRA

#5277 Build: Exclude unnecessary git properties from iceberg-build.properties
  build.gradle
Labels: build

#5274 only log error message(not the stack trace) if filter conversion/bind expression fail
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#5059 Dell: Fix bugs during documenting
  dell/src/main/java/org/apache/iceberg/dell/DellClientFactory.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/PropertiesSerDesUtil.java
Labels: DELL

#5285 typos depracated to deprecated
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
Labels: MR

#5270 Build: Fix Scala 2.13 builds in stage-binaries.sh
  dev/stage-binaries.sh
Labels: INFRA

#5299 AWS: Dynamo Catalog: Pass CommitFailedException up the stack without wrapping
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbTableOperations.java
Labels: AWS

#5266 Build: Use Google Java Format for spotless
  .baseline/copyright/copyright-header-java.txt
  baseline.gradle
  build.gradle
Labels: INFRA, build

#5289 AWS: Reduce TestS3FileIO prefix test scale factors. Replace with S3FileIO integration tests.
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: AWS

#5221 Prevent usage of @Test(expected = ...) and change existing tests
  .baseline/checkstyle/checkstyle.xml
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestStringLiteralConversions.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/parquet/DecimalVectorUtilTest.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopMetricsContext.java
  data/src/test/java/org/apache/iceberg/data/avro/TestSingleMessageEncoding.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  pig/src/test/java/org/apache/iceberg/pig/SchemaUtilTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/SchemaEvolutionTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
Labels: API, spark, arrow, core, data, pig, INFRA, hive

#5306 API: CloseableIterable.concat evaluates first item twice
  api/src/main/java/org/apache/iceberg/io/CloseableIterable.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
Labels: API

#5286 API: Introduce DefaultMetricsContext and Timer interface
  api/src/main/java/org/apache/iceberg/metrics/DefaultMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultTimer.java
  api/src/main/java/org/apache/iceberg/metrics/IntCounter.java
  api/src/main/java/org/apache/iceberg/metrics/LongCounter.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/Timer.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultMetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultTimer.java
  bundled-guava/src/main/java/org/apache/iceberg/GuavaClasses.java
Labels: API

#5045 Docs: Fix Flink Connector docs with custom catalog
  docs/flink-connector.md
  docs/flink-getting-started.md
Labels: docs

#5288 Spark: Correct SparkCatalog javadoc for supplying custom catalog
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#5320 Build: Upgrade slf4j to 1.7.36
  versions.props
Labels: build

#5291 Java: Catch NPE if the type isn't set
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponse.java
  core/src/test/resources/TableMetadataV1MissingSchemaType.json
Labels: core

#5322 Build: Upgrade Guava to 31.1-jre
  versions.props
Labels: build

#5063 Core: Add MetadataLog metadata table
  core/src/main/java/org/apache/iceberg/MetadataLogsTable.java
  core/src/main/java/org/apache/iceberg/MetadataTableType.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core

#5037 Core: Implement BaseMetastoreCatalog.registerTable()
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: core, hive, AWS, NESSIE, DELL

#5325 Python: Bump dependencies to the latest version
  python/poetry.lock
Labels: python

#5296 Python: Remove unused function
  python/pyiceberg/schema.py
Labels: python

#5341 Build: Use 'apache-iceberg-' tag prefix to figure out SNAPSHOT version
  build.gradle
Labels: build

#5340 Python: Add dependabot for keeping the dependencies up to date
  .github/dependabot.yml
Labels: INFRA

#5335 Ignore case for partition transform
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
Labels: spark

#5298 Python: Map Manifest onto Pydantic class
  python/pyiceberg/manifest.py
  python/tests/utils/test_manifest.py
Labels: python

#5282 AWS: Fix #2796 - avoid S3 error of "Resetting to invalid mark" by re-creating input stream on retries
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
Labels: AWS

#5337 Core: Print DateTime strings always with +00:00 Zone offset
  core/src/main/java/org/apache/iceberg/FindFiles.java
  core/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  core/src/test/java/org/apache/iceberg/util/TestDateTimeUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: core, flink

#5328 API: Deprecate Counter#count() / Add Counter#value()
  api/src/main/java/org/apache/iceberg/metrics/IntCounter.java
  api/src/main/java/org/apache/iceberg/metrics/LongCounter.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultMetricsContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ReaderMetricsContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/ReaderMetricsContext.java
Labels: API, spark, core, flink

#4423 AWS: Add LakeFormation Integration tests
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationDataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationMetadataOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#5258 More Python Expressions
  python/pyiceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5330 Make glue endpoint configurable #5095
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#5354 typo mulitple -> multiple
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#4945 Add table spec changes for statistics information in table snapshot
  format/spec.md
Labels: core

#5347 Substitute the hard code string for a constants
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#5329 Improve bloom filter test
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
Labels: parquet

#5248 Spark: Adopt the new Scan Task APIs in Spark Readers
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestBaseReader.java
Labels: spark, core

#5317 unit test should always verify mock invocation
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#5359 AWS - Fix ErrorProne warning of malformed Javadoc
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#4652 ICEBERG-4346: Better handling of Orphan files
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SetAccumulator.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: API, spark

#5363 Spark 3.2: Support different task types in readers
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseRowReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestBaseReader.java
Labels: spark

#5193 Nessie: Do not delete default branch in tests
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
Labels: NESSIE

#5300 Core: Add base implementations for changelog tasks
  api/src/main/java/org/apache/iceberg/AddedRowsScanTask.java
  api/src/main/java/org/apache/iceberg/DeletedDataFileScanTask.java
  api/src/main/java/org/apache/iceberg/DeletedRowsScanTask.java
  core/src/main/java/org/apache/iceberg/BaseAddedRowsScanTask.java
  core/src/main/java/org/apache/iceberg/BaseChangelogContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseDeletedDataFileScanTask.java
  core/src/main/java/org/apache/iceberg/BaseDeletedRowsScanTask.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/FixedSizeSplitScanTaskIterator.java
  core/src/main/java/org/apache/iceberg/OffsetsAwareSplitScanTaskIterator.java
  core/src/main/java/org/apache/iceberg/SplitScanTaskIterator.java
  core/src/test/java/org/apache/iceberg/TestFixedSizeSplitScanTaskIterator.java
  core/src/test/java/org/apache/iceberg/TestOffsetsBasedSplitScanTaskIterator.java
Labels: API, core

#5345 Parquet: Add option to set page row count limit
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/configuration.md
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: parquet, core, docs

#5383 AWS: Fix S3FileIO#prefixList integration test
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
Labels: AWS

#5385 Spark 3.3: Add prefix mismatch mode for deleting orphan files
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SetAccumulator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark

#5362 Python: Refactor unary and set expressions
  python/pyiceberg/expressions/base.py
  python/pyiceberg/expressions/literals.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5353 Core: Remove TestEnvironmentUtil#testEnvironmentSubstitution() as it is bui…
  core/src/test/java/org/apache/iceberg/util/TestEnvironmentUtil.java
Labels: core

#5386 API: Track name/unit in Counters/Timers
  api/src/main/java/org/apache/iceberg/metrics/DefaultMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/DefaultTimer.java
  api/src/main/java/org/apache/iceberg/metrics/IntCounter.java
  api/src/main/java/org/apache/iceberg/metrics/LongCounter.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/Timer.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultMetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultTimer.java
Labels: API

#5287 Python: First version of the rest catalog
  .github/workflows/open-api.yml
  python/.pre-commit-config.yaml
  python/poetry.lock
  python/pyiceberg/catalog/base.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/exceptions.py
  python/pyiceberg/schema.py
  python/pyiceberg/table/base.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/partitioning.py
  python/pyiceberg/utils/iceberg_base_model.py
  python/pyproject.toml
  python/tests/catalog/test_base.py
  python/tests/catalog/test_rest.py
  python/tests/conftest.py
  python/tests/table/test_metadata.py
  python/tests/test_schema.py
  python/tests/utils/test_bin_packing.py
Labels: python, core, INFRA

#5393 Flink: avoid converting Iceberg MetricContext to Flink metrics in FLI…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ReaderMetricsContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/ReaderMetricsContext.java
Labels: flink

#4867 Github: Add issue form
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  .github/ISSUE_TEMPLATE/iceberg_improvement.yml
  .github/ISSUE_TEMPLATE/iceberg_question.yml
Labels: INFRA

#4949 Infra - Add a GH Action to Mark and Close Stale Issues
  .github/workflows/stale.yml
Labels: INFRA
