Repository apache/iceberg, pull requests merged in 2022-01, with the labels that each got.

#3809 Docs: update about format version table properties
  site/docs/configuration.md
Labels: docs

#3749 Spark: We should probably say why we cannot process the snapshot in SparkMicroBatchStream
  site/docs/spark-structured-streaming.md
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
Labels: spark, docs

#3732 Docs: Add stream-from-timestamp in spark-configuration.md
  site/docs/spark-configuration.md
Labels: docs

#3796 Docs: update spark doc about incremental scan
  site/docs/spark-queries.md
Labels: docs

#3840 Spark 3.0: Fix delete from snapshot of table
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
Labels: spark

#3842 [Core][Rewrite] Fix merge manifests lost sequence number for added files when rewriting using staring sequence number
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: core

#3632 Core: Allow deleting and adding the same column
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
Labels: API, core

#3856 Docs: Fix broken link of Dremio with Iceberg
  site/mkdocs.yml
Labels: docs

#3845 Partition Metadata table breaks with a partition column named 'partition'
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: API, spark, core

#3793 Build: upgrade gradle to 7.3.3
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#3501 Flink: FLIP-27 Iceberg source split
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: API, flink

#3857 Flink 1.13: Add SerializableTable test cases.
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestTableSerialization.java
Labels: core, flink

#3855 Build: Update NOTICE to include copyright for 2022
  NOTICE
  bundled-guava/NOTICE
  flink/v1.12/flink-runtime/NOTICE
  flink/v1.13/flink-runtime/NOTICE
  flink/v1.14/flink-runtime/NOTICE
  hive-runtime/NOTICE
  python/NOTICE
  spark/v2.4/spark-runtime/NOTICE
  spark/v3.0/spark-runtime/NOTICE
  spark/v3.1/spark-runtime/NOTICE
  spark/v3.2/spark-runtime/NOTICE
Labels: python, spark, flink, hive

#3535 Core: Replace Set with Bitmap to make delete filtering simpler and faster
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
Labels: spark, core, data

#3837 Spark: Fix `Table UUID does not match` problem when enable CachingCatalog
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
Labels: API, spark, core

#3873 Site - Update copyright year in mkdocs file to 2022
  site/mkdocs.yml
Labels: docs

#3871 Revert "Flink: Add FLIP-27 Iceberg source split (#3501)"
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitGenerator.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: flink

#3870 Flink: port PR 3501 (FLIP-27 source split) to 1.14 module
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: flink

#3869 Only apply scalastyle plugin for projects using the scala plugin
  baseline.gradle
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, INFRA, build

#3868 Build: Add annotation to skip build warnings.
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
Labels: flink

#3877 Allow using a custom NessieClientBuilder implementation
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestCustomNessieClient.java
Labels: build, NESSIE

#3863 Spark 3.0: Add Spark UI metrics for merge into DynamicFileFilterExec
  spark/v3.0/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.0/spark/src/main/java/org/apache/spark/sql/connector/iceberg/read/SupportsFileFilter.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Labels: spark

#3728 Spark: Generate Spark's SQL literal format for binary and update the toString representation of binary/fixed literals.
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: API, spark

#3882 Spark 3.1: Add Spark UI metrics for merge into DynamicFileFilterExec
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DynamicFileFilterExec.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMergeScan.java
  spark/v3.1/spark/src/main/java/org/apache/spark/sql/connector/iceberg/read/SupportsFileFilter.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Labels: spark

#3745 Push down partition filter to Spark when Importing File Based Tables
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#3861 Spark: Reduce unnecessary remote service requests in `SparkSessionCatalog.invalidateTable`
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
Labels: API, spark, core

#3790 Test: Make sure to delete temp folders
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestCatalogTableLoader.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerTimezone.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithMultipleCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveShell.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark, flink, MR, hive

#3890 Bump Nessie from 0.17.0 to 0.18.0
  site/mkdocs.yml
  versions.props
Labels: docs, build

#3851 API: Register existing tables in Iceberg HiveCatalog
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: API, hive

#3780 Lazily initialize the underlying writer in ParquetWriter
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingFileWriter.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
Labels: parquet, core, flink

#3872 Spark : Support parallelism in RemoveOrphanFiles
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: API, spark

#3292 Spark: Compact Medium Size Files (#460)
  core/src/main/java/org/apache/iceberg/BaseCombinedScanTask.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/test/java/org/apache/iceberg/TestOffsetsBasedSplitScanTaskIterator.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core

#3763 Spark: Implement merge-on-read DELETE
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/ProjectingInternalRow.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteDeleteFromTable.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteRowLevelCommand.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/planning/RewrittenRowLevelCommand.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/WriteDelta.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/util/RowDeltaUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/util/WriteDeltaProjections.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedV2Writes.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteDeltaExec.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaOperation.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkRowLevelOperationBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: API, spark, core

#3820 Docs: Add `WRITE LOCALLY ORDERED BY` and `WRITE DISTRIBUTED BY` in spark-ddl.md
  site/docs/spark-ddl.md
Labels: docs

#3917 Spark 3.2: Add tests for multiple NOT MATCHED clauses
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#3915 Build: Fix source-release script to run anywhere automated and add validation that remote git repo exists
  dev/source-release.sh
Labels: INFRA

#3839 Expanding primitive types to individual classes
  python/src/iceberg/types.py
  python/tests/test_types.py
Labels: python

#3906 Fix context classloader usage for avro reader
  core/src/main/java/org/apache/iceberg/ManifestReader.java
Labels: core

#3724 [Spark][Core]: Support RewriteDataFiles when Files are Completely Eliminated by Deletes
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, core

#3925 Flink 1.14: Fix SerializableTable with Kryo
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestTableSerialization.java
Labels: flink

#3875 [python legacy] Stripping quotes in convert_string_to_expr() when predicate value is a string type
  python_legacy/iceberg/api/expressions/expression_parser.py
  python_legacy/tests/api/expressions/test_str_to_expr.py
Labels: python

#3927 Python: fix wrong encoding for lower/upper bounds boolean value (#3924)
  python_legacy/iceberg/api/types/conversions.py
  python_legacy/tests/api/test_conversions.py
Labels: python

#3892 Doc: Add values supported by parquet\avro compression codec
  site/docs/configuration.md
Labels: docs

#3708 Spark: Add register Truncate UDF
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/IcebergSpark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesAsSelect.java
Labels: spark

#3926 Flink 1.12: Fix SerializableTable with Kryo
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/TestTableSerialization.java
Labels: flink

#3893 Flink: Port TestProjectMetaColumn to Flink 1.14 to check whether should remove meta columns in source reader
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
Labels: flink

#3935 [Spark] Backport rewrite data files are eliminated by deletes to Spark v3.0 and Spark v3.1
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#3911 Hive: Do not skip IO config serialization for metadata queries
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
Labels: MR

#3946 Parameterize spark project version for JHM Benchmarks
  .github/workflows/jmh-bechmarks.yml
Labels: INFRA

#3930 Spark 3.2: Revise distribution and ordering in copy-on-write DELETE
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark

#3948 Spark: Backport Streaming Test Refactors
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#3949 Spark 3.2: Revise distribution and ordering in copy-on-write UPDATE
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteOperation.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark

#3942 Spark: Fix SparkCatalog time travel check
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#3953 Core: Deprecate the MERGE cardinality check property
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#3919 Core: Fix the incorrectly log description in BinPackStrategy
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
Labels: core

#3691 Add FileIO, InputFile, and OutputFile abstract base classes
  python/src/iceberg/io/base.py
  python/tests/io/test_base.py
Labels: python

#3923 Core: Add no-arg constructor in ResolvingFileIO
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core

#3876 ⚡ Speed up TableMigration By collect the DafaFile In parallel
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
Labels: data

#3940 Python: Fix type for partition_type struct fields (#3939)
  python_legacy/iceberg/api/transforms/truncate.py
Labels: python

#3760 NPE in Parquet Writer Metrics when data value max bound will overflow
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDataWriter.java
Labels: parquet

#3908 Hive: HiveCatalog listTables takes minutes if there are thousands tab…
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: core, hive

#3954 rewriting the operation when removing and adding the same partition col with the same transformation
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
Labels: core

#3943 Core: Fix missing manifest that only has existing files
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestDeleteFileIndex.java
Labels: core

#3887 AWS: fix Iceberg to Glue schema conversion
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
Labels: AWS

#3914 Hive: Add table UUID to HMS table properties.
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: core, flink, MR, hive

#3888 AWS: show old fields in Glue table
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
Labels: AWS

#3964 Spark 3.2: Add tests for copy-on-write MERGE distribution and ordering
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark

#3967 AWS: fix Glue catalog for unknown commit status
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#3976 Docs: Add Amazon EMR announcement
  site/docs/aws.md
Labels: docs

#3970 Spark 3.2: Revise distribution and ordering for merge-on-read DELETE
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark

#3813 AWS: Support checksum validation with S3 eTags
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#3982 Doc: update release instructions
  dev/source-release.sh
  dev/stage-binaries.sh
  site/docs/how-to-release.md
Labels: INFRA, docs

#3993 Doc: Fix MapType doc in api.md
  site/docs/api.md
Labels: docs

#3996 [AWS] Update documentation to inform users of s3 checksum capability.
  site/docs/aws.md
Labels: docs

#3992 Spark 3.2: Fix cardinality check for alternative join implementations
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/NoStatsUnaryNode.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeRowsExec.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#3517 Skip processing snapshots of type Overwrite during readStream
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#3999 Infra: fix release script signing and checksum commands
  dev/source-release.sh
Labels: INFRA

#3979 Spark: Handle CaseSenstivity in runtimeFiltering of Spark
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
Labels: spark

#3989 Python: MapType missing required methods and visit() not supporting MapType
  python_legacy/iceberg/api/types/type.py
  python_legacy/iceberg/api/types/type_util.py
  python_legacy/iceberg/api/types/types.py
Labels: python

#4013 Spark 3.1: Add option to skip overwrites in streaming
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#4014 Spark 3.0: Add option to skip overwrites in streaming
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#3980 Hive: Parquet vectorization support for Hive 3
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/HiveVectorizedReader.java
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/ParquetSchemaFieldNameVisitor.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandler.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR, hive

#4008 [Site] - Document max_concurrent_deletes parameter in spark stored procedures.
  site/docs/spark-procedures.md
Labels: docs
