Repository apache/iceberg, pull requests merged in 2022-04, with the labels that each got.

#4432 Flink: fix parquet readers for array data
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
Labels: flink

#4450 Aliyun: Deprecate OSSInputStream public constructor
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSInputStream.java
Labels: ALIYUN

#4462 [BUILD] : Add DELL in PR labeler
  .github/labeler.yml
Labels: INFRA

#4077 Build: Update spotless version and add spotless tasks
  baseline.gradle
  build.gradle
Labels: INFRA, build

#4387 Nessie: Use config constants from public Nessie API
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestCustomNessieClient.java
Labels: NESSIE

#4385 Nessie: Bump Nessie and add Namespace support
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  versions.props
Labels: build, NESSIE

#4392 Nessie: Add Catalog tests for NessieCatalog
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: core, build, NESSIE

#4411 Parquet: Avoid modifying existing conf of HadoopOutputFile rather create new one
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
Labels: spark, parquet

#4458 Docs: fix format-version doc returns 404 not found
  docs/tables/configuration.md
Labels: docs

#4442 Static Analysis: Lambda should be a method reference
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
Labels: flink

#4461 Aliyun / GCP / DELL : make client initialization thread safe in all FileIOs
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSFileIO.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
Labels: ALIYUN, GCP

#4416 Python: Add bucket transform
  python/setup.cfg
  python/src/iceberg/transforms.py
  python/tests/test_transforms.py
Labels: python

#4440 Static Analysis: Changing the access modifiers on all the JDBC Static Values
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: core

#4475 Spark: DESCRIBE TABLE EXTENDED shows identifier fields
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#4477 Doc: Fix typo implemention in configuration.md
  docs/tables/configuration.md
Labels: docs

#4446 Spark [3.2] : Improve stats estimation for spark scan
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#4455 Build: Upgrade to Gradle 7.4.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#3603 Core: Update ResolvingFileIO
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core

#3188 Add common view format spec
  docs/format/view-spec.md
  format/view-spec.md
Labels: docs

#4488 Spark 2.x: Improve stats estimation for spark scan (backport #4446)
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/source/Reader.java
Labels: spark

#4481 Static Analysis: Missing private constructor
  common/src/main/java/org/apache/iceberg/common/DynClasses.java
  common/src/main/java/org/apache/iceberg/common/DynFields.java
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
Labels: core, common

#4482 Static Analysis: method need return single mutable
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
Labels: core, flink

#4485 Static Analysis: Convert wrapper type to primitive
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
Labels: parquet

#4467 Core: Add ResourcePaths helper for REST
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestResourcePaths.java
Labels: core

#4469 Spark 3.2: Refactor certain actions
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark

#4380 Docs: update Spark Write confs for isolation-level followup
  docs/spark/spark-configuration.md
Labels: docs

#4480 Python: Refactor to use common decimal and datetime util
  python/src/iceberg/conversions.py
  python/src/iceberg/expression/literals.py
  python/src/iceberg/transforms.py
  python/src/iceberg/utils/datetime.py
  python/src/iceberg/utils/decimal.py
  python/tests/test_conversions.py
  python/tests/test_transforms.py
Labels: python

#4396 Spark - Ignore SQL comments when testing if SQL command is an Iceberg specific command
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
Labels: spark

#4493 Bump Nessie from 0.23.1 to 0.24.0
  versions.props
Labels: build

#4483 Static Analysis: Removing unnecessary grouping parentheses and variable
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
Labels: core

#4492 Core: Add stage-create flag to REST create route
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/main/java/org/apache/iceberg/rest/requests/CreateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestResourcePaths.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#4318 Python: Add Schema class
  python/src/iceberg/schema.py
  python/tests/conftest.py
  python/tests/test_schema.py
Labels: python

#4494 Spark 3.2: Simplify action class hierarchy
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSpark3Action.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkActions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
Labels: spark

#4502 Spark: Remove redundant table refresh calls in TestStructuredStreamingRead3
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#4499 Core - Fix JsonUtils collection or null functions when an explicit null value is used
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestErrorResponseParser.java
Labels: core

#4484 Static Analysis: Missing standard charsets UTF_8
  hive3/src/main/java/org/apache/iceberg/mr/hive/vector/CompatibilityHiveVectorUtils.java
Labels: hive

#4504 Add Schema.find_column_name method
  python/src/iceberg/io/pyarrow.py
  python/src/iceberg/schema.py
  python/tests/test_schema.py
Labels: python

#4203 chore: commenting invalid typo `commited` in base_transaction.py and fix invalid typos in test_cases
  python_legacy/iceberg/core/base_transaction.py
  python_legacy/tests/api/expressions/test_predicate_binding.py
  python_legacy/tests/api/test_conversions.py
Labels: python

#4382 Core: Predicate pushdown for all_data_files table
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/DeleteFilesTable.java
  core/src/main/java/org/apache/iceberg/FilesTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core

#4489 Dell: Add metrics tracking for EcsFileIO
  dell/src/main/java/org/apache/iceberg/dell/ecs/BaseEcsFile.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsAppendOutputStream.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsFileIO.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsInputFile.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsOutputFile.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsSeekableInputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsAppendOutputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsSeekableInputStream.java
Labels: build, DELL

#2638 Core: Encryption basics
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  core/src/main/java/org/apache/iceberg/encryption/Ciphers.java
  core/src/main/java/org/apache/iceberg/encryption/EncryptionAlgorithm.java
  core/src/main/java/org/apache/iceberg/encryption/NativeFileCryptoParameters.java
  core/src/main/java/org/apache/iceberg/encryption/NativelyEncryptedFile.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopInputFile.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopOutputFile.java
  core/src/test/java/org/apache/iceberg/encryption/TestCiphers.java
Labels: API, core, AWS

#4521 Flink 1.13: Fix parquet readers for array data
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
Labels: flink

#4524 Flink: Clear the deprecated FlinkSink#build.
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
Labels: flink

#4526 Core: fix API doc
  core/src/main/java/org/apache/iceberg/io/FileAppenderFactory.java
Labels: core

#4456 Hive: Expose Snapshot Stats in HMS.
  core/src/main/java/org/apache/iceberg/TableProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: core, MR, hive

#3482 spark: supplement spark-queries.md doc
  docs/spark/spark-queries.md
Labels: docs

#4468 Python: reorganize expressions module structure
  python/src/iceberg/expressions/__init__.py
  python/src/iceberg/expressions/base.py
  python/src/iceberg/expressions/literals.py
  python/tests/expressions/__init__.py
  python/tests/expressions/test_expressions_base.py
  python/tests/expressions/test_literals.py
  python/tests/io/test_io_base.py
Labels: python

#4531 Flink: inferred parallelism should respect global settings
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: flink

#4532 Flink: fix out of order appends in upsert UT
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
Labels: flink

#4495 Core - REST Catalog call /v1/config route
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClientFactory.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalogProperties.java
  core/src/main/java/org/apache/iceberg/rest/RESTObjectMapper.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#4516 Adding specId for partitions metadata table
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#4543 Remove allow static imports for unrelocated Preconditions
  .baseline/checkstyle/checkstyle.xml
Labels: INFRA

#4540 Spark: `DESC TABLE EXTENDED` shows table format-version
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#4520 Core: Files table predicate filtering wrong for tables with evolved partition specs
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: spark, core

#3470 API: KMS client interface
  api/src/main/java/org/apache/iceberg/encryption/KmsClient.java
  core/src/test/java/org/apache/iceberg/encryption/kms/KeyStoreKmsClient.java
  core/src/test/java/org/apache/iceberg/encryption/kms/MemoryMockKMS.java
Labels: API, core

#4071 API: Add snapshot reference create, replace, rename, and rename operations to ManageSnapshots API
  api/src/main/java/org/apache/iceberg/ManageSnapshots.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/UpdateSnapshotReferencesOperation.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
Labels: API, core

#4558 Core: Fix `Preconditions.checkArgument` error message format
  api/src/main/java/org/apache/iceberg/util/UUIDUtil.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
Labels: API, spark, core, flink

#4556 Spark: fix api doc
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/SparkFixupTimestampType.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkFixupTimestampType.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkFixupTimestampType.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkFixupTimestampType.java
Labels: spark

#4559 fix typo in docs/tables/evolution.md
  docs/tables/evolution.md
Labels: docs

#4386 Remove magic number usage for last assigned partition id
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
Labels: API, core

#4533 Flink 1.13: Inferred parallelism should respect global settings
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: flink

#4570 Delete Blank line in HiveIcebergFilterFactory
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergFilterFactory.java
Labels: MR

#4554 Core - Rename REST Catalog server configuration class to ConfigResponse
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/responses/ConfigResponse.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestRESTCatalogConfigResponse.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#4377 Spark: Add option to introduce ordering of RewriteFileGroup
  api/src/main/java/org/apache/iceberg/RewriteJobOrder.java
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core

#4579 Spark 3.x: Add option to introduce ordering of RewriteFileGroup
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark

#4574 Flink: Convert lambda to reference for error prone
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
Labels: flink

#4568 Docs : Update EMR docs links
  docs/emr/_index.md
  docs/integrations/aws.md
Labels: docs

#4572 [0.13] Core: Fixes read metadata failed after dropped partition transform for V1 format
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#4548 Removed un-used function converterFor from class ParquetMetricsRowGroupFilter
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
Labels: parquet

#4561 Flink: support modify table properties with primary key.
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#4491 Nessie: Extract Catalog client code to NessieClient for Trino Consumption
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#4593 Nessie: Use memoized Supplier to avoid unnecessary API calls
  bundled-guava/src/main/java/org/apache/iceberg/GuavaClasses.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#4585 Core : Strip trailing slash from tableLocation in LocationProvider
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/util/LocationUtil.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/util/TestLocationUtil.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestTables.java
Labels: spark, core, hive, AWS, DELL

#4598 Adding file related enums and StructProtocol
  python/src/iceberg/files.py
Labels: python

#4514 Core: row delta delete files were dropped in sequential commits af…
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
Labels: core

#4496 Spark - Allow procedures to have leading comments - Backport to Spark 3.1
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
Labels: spark

#4497 Spark: Ignore SQL comments when testing if command is Iceberg DDL - Backport to Spark 3.0
  spark/v3.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
Labels: spark

#3983 Spark: Spark3 ZOrder Rewrite Strategy
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  api/src/main/java/org/apache/iceberg/util/ByteBuffers.java
  core/src/jmh/java/org/apache/iceberg/util/ZOrderByteUtilsBenchmark.java
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
  core/src/test/java/org/apache/iceberg/util/TestZOrderByteUtil.java
  jmh.gradle
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/action/RandomGeneratingUDF.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderUDF.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core, build

#4591 Nessie: Allow catalog initialization using pre-configured client/fileio instances
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestCustomNessieClient.java
Labels: NESSIE

#4584 System Printing: Removing System.out and System.err
  .baseline/checkstyle/checkstyle.xml
  api/src/test/java/org/apache/iceberg/types/TestReadabilityChecks.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroReader.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkDateTimes.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroReader.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkDateTimes.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroReader.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkDateTimes.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroReader.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkDateTimes.java
Labels: API, spark, core, INFRA

#4534 Use memory-backed streams in tests
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestScansAndSchemaEvolution.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDeleteWriters.java
  core/src/test/java/org/apache/iceberg/avro/TestGenericAvro.java
  core/src/test/java/org/apache/iceberg/io/InMemoryInputFile.java
  core/src/test/java/org/apache/iceberg/io/InMemoryOutputFile.java
Labels: core

#4601 [CORE] - Add MetadataUpdateParser and Jackson SerDe with implementation covering UpgradeFormatVersion
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
Labels: core

#4566 Core: Refactor metadata tables and scans
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/DeleteFilesTable.java
  core/src/main/java/org/apache/iceberg/FilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/main/java/org/apache/iceberg/StaticDataTask.java
  core/src/main/java/org/apache/iceberg/StaticTableScan.java
Labels: core

#4609 Add a generic Accessor class
  python/src/iceberg/expressions/base.py
  python/tests/conftest.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#4611 Fix Objects.requireNonNull usages
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/UpdateableReference.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark, NESSIE

#4466 Expression base operations
  python/src/iceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#4503 Spark 3.2: Add `compareWithFileList` param to DeleteOrphanFiles action
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/FilePathLastModifiedRecord.java
Labels: API, spark

#4617 Style: Add checkstyle rule to prevent using Objects.requireNonNull
  .baseline/checkstyle/checkstyle.xml
Labels: INFRA

#4619 Add BoundReference class
  python/src/iceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#4608 Add RangeReadable interface for range base FileIO reads
  LICENSE
  api/src/main/java/org/apache/iceberg/io/RangeReadable.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
  core/src/main/java/org/apache/iceberg/io/IOUtil.java
  core/src/test/java/org/apache/iceberg/io/MockInputStream.java
  core/src/test/java/org/apache/iceberg/io/TestIOUtil.java
Labels: API, core, AWS

#4535 Core: do not allow setting fields nested in optional struct as identi…
  api/src/main/java/org/apache/iceberg/Schema.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: API, core

#4560 Core: Fix Partitions table for evolved partition specs
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: spark, core

#4546 Hive: Expose default partition spec and sort order in HMS.
  core/src/main/java/org/apache/iceberg/TableProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: core, MR, hive

#4636 Core - Use singleton RESTObjectMapper in REST RequestResponseTestBase class
  core/src/test/java/org/apache/iceberg/rest/RequestResponseTestBase.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateNamespaceRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestCreateNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestGetNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListNamespacesResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListTablesResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestRESTCatalogConfigResponse.java
Labels: core

#4642 Core - Fix field name bug in LoadTableResponse object to match REST spec and properly deserialize
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponse.java
Labels: core

#4641 Core - Add serde for TableMetadata for REST catalog
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
Labels: core

#4632 Core - Implement MetadataUpdateParser for AddSchema, SetCurrentSchema, and SetDefaultPartitionSpec
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
Labels: core

#4650 Solution for InterpreterNotFound errors from tox
  python/README.md
Labels: python, docs

#4655 Spark 3.2: Fix orphan file path filter when partitions use underscores
  core/src/main/java/org/apache/iceberg/hadoop/HiddenPathFilter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark, core

#4653 Core - Rename test class for ConfigResponse to match updated name.
  core/src/test/java/org/apache/iceberg/rest/responses/TestConfigResponse.java
Labels: core

#4643 Infra - Remove Szehon from collaborators list in asf.yaml as they are now a committer
  .asf.yaml
Labels: INFRA

#4667 Spark: Add explicit deps to parquet-column and parquet-hadoop deps in spark …
  spark/v3.0/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
Labels: spark, build

#4635 Flink - Fix flakey, order-dependent FlinkTableSource tests for Flink 1.14
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#4663 Spark: Fix NPEs in spark value converter
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
Labels: spark

#4630 Only delete will throw ValidationException instead of IllegalArgumentException
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: spark
