Repository apache/iceberg, pull requests merged in 2022-05, with the labels that each got.

#4676 Specify pip>=21.1 in tox dependencies
  python/tox.ini
Labels: python

#4677 Core: add the file count of specific deletes in the snapshot summary
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
Labels: core

#4673 Core: Fix table corruption from OOM during commit cleanup in Spark
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
Labels: core

#4669 Core: Fix ConvertEqualityDeleteStrategy::options return type
  core/src/main/java/org/apache/iceberg/actions/ConvertEqualityDeleteStrategy.java
Labels: core

#4678 Add a skeleton for the BuildPositionAccessors visitor
  python/src/iceberg/schema.py
Labels: python

#4682 Flink 1.13: Backport fix for order dependent flink table source tests
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#4555 Support nested parquet lists for files added through addFiles api
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/ParquetWithFlinkSchemaVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetTypeVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetSchemaUtil.java
Labels: parquet, flink

#4668 Core - Add MetadataUpdateParser implementation for AddPartitionSpec and AddSortOrder
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
Labels: core

#4691 Static Analysis: Mixed Mutability Return Type
  core/src/main/java/org/apache/iceberg/io/MultiBufferInputStream.java
Labels: core

#4684 add UnknownTransform
  python/src/iceberg/transforms.py
  python/tests/test_transforms.py
Labels: python

#4594 Bump Nessie to 0.28.0, improve commit conflict detection
  build.gradle
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/NessieUtilTest.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieUtil.java
  versions.props
Labels: core, build, NESSIE

#4679 Add UnboundReference class
  python/src/iceberg/expressions/base.py
Labels: python

#4688 Add Apache HTTPComponents Client copyright to runtime LICENSE files
  flink/v1.13/flink-runtime/LICENSE
  flink/v1.14/flink-runtime/LICENSE
  flink/v1.15/flink-runtime/LICENSE
  hive-runtime/LICENSE
  spark/v2.4/spark-runtime/LICENSE
  spark/v3.0/spark-runtime/LICENSE
  spark/v3.1/spark-runtime/LICENSE
  spark/v3.2/spark-runtime/LICENSE
Labels: spark, flink, hive

#4610 Nessie: Support Namespace properties
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
Labels: build, NESSIE

#4637 Core: Fix Partitions table filtering for evolved partition specs
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: spark, core

#4696 Core: Fix invalid null handling in JsonUtils::getIntOrNull ::getLongOrNull
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
Labels: core

#4694 Core: Add all_delete_files and all_files tables
  core/src/main/java/org/apache/iceberg/AllDeleteFilesTable.java
  core/src/main/java/org/apache/iceberg/AllFilesTable.java
  core/src/main/java/org/apache/iceberg/MetadataTableType.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark, core

#4697 Flink 1.15 - Fix flaky test that has implicit order dependency in TestFlinkTableSource
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#4687 Spark commit unknown handling
  api/src/main/java/org/apache/iceberg/PendingUpdate.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: API, spark

#4700 Nessie: Bump Nessie to 0.29.0 / Use ref.hash parameter to read data at given hash
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieIcebergClient.java
  versions.props
Labels: build, NESSIE

#4720 Core: Fix query failure when using projection on top of partitions metadata table
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core

#4693 Core - Add Parser for UpdateRequirement
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateRequirementParser.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestUpdateRequirementParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#4719 Spark 3.X: Backport Fix CommitStateUnknown Handling (#4687)
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: spark

#4448 Core: Add in RenameTableRequest for the RESTCatalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/requests/RenameTableRequest.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestRenameTableRequest.java
Labels: core

#4731 Python: Skip missing tox interpreters
  python/tox.ini
Labels: python

#4728 Python: Remove mypy error
  python/src/iceberg/transforms.py
  python/tox.ini
Labels: python

#4724 Flink: Backport flaky, order-dependent test for limit 1 query in TestFlinkTableSource
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSource.java
Labels: flink

#4712 Flink 1.15: Migrate back to use ReusableArrayData
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
Labels: flink

#4711 Spark 3.2: Refactor TestRemoveOrphanFilesAction - remove Thread.sleep()
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark

#4729 Python: test_schema_find_column_name was defined twice
  python/tests/test_schema.py
Labels: python

#4704 Spark: Support parallel delete files when abort
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#4722 Spark: Fix unable to disable use-caching in RewriteManifestsProcedure
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
Labels: spark

#4672 API: Add expression sanitizer, sanitize scan log messages
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
Labels: API, core

#4752 Flink: Get the CatalogTable directly instead of reflecting
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
Labels: flink

#4651 Core: Optimize to delete the oldest metadata file after commit
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
Labels: core

#4580 API: Introduce a new IncrementalAppendScan interface
  api/src/main/java/org/apache/iceberg/IncrementalAppendScan.java
  api/src/main/java/org/apache/iceberg/Scan.java
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/TableScan.java
Labels: API

#4758 Spark 3.2: Avoid reflection to load metadata tables in SparkTableUtil
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#4727 add VoidTransform
  python/src/iceberg/transforms.py
  python/tests/test_transforms.py
Labels: python

#4730 Python: Add spellcheck to the CI
  dev/.rat-excludes
  python/spellcheck-dictionary.txt
  python/src/iceberg/conversions.py
  python/src/iceberg/io/pyarrow.py
  python/src/iceberg/schema.py
  python/src/iceberg/table/partitioning.py
  python/src/iceberg/types.py
  python/tests/test_schema.py
  python/tox.ini
Labels: python

#4685 Python: First version of the Accessor
  python/src/iceberg/expressions/base.py
  python/src/iceberg/files.py
  python/src/iceberg/schema.py
  python/tests/conftest.py
  python/tests/test_schema.py
Labels: python

#4765 Spark 3.2: Clean static vars in SparkTableUtil
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#4766 Core: Align snapshot summary property names for delete files
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
Labels: core

#4638 API / binary compatibility checking tool via revapi gradle plugin
  .palantir/revapi.yml
  build.gradle
  dev/.rat-excludes
Labels: build

#4756 Docs: Updated version description for Flink
  docs/flink/flink-getting-started.md
Labels: docs

#4755 Remove redundant assignment
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
Labels: core

#4764 Core: Add content and delete file counts to manifest tables
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#4773 API: Add SessionCatalog interface and base class
  api/src/main/java/org/apache/iceberg/catalog/SessionCatalog.java
  core/src/main/java/org/apache/iceberg/catalog/BaseSessionCatalog.java
Labels: API, core

#4790 Docs: Update compression codec enum supported by Avro in configuration.md
  docs/tables/configuration.md
Labels: docs

#4788 Flink: fix comment error in BaseDeltaTaskWriter.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
Labels: flink

#4782 [0.13] Core: Fix delete file handling in upgraded tables with rewritten manifests (#4514)
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
Labels: core

#4783 [0.13] Core: Fix transaction retry logic (#4464)
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: core

#4787 [0.13] Spark commit unknown handling backports
  api/src/main/java/org/apache/iceberg/PendingUpdate.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/source/Writer.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/ManualSource.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: API, spark

#4791 Python: Test for warning of PyLint
  python/pylintrc
  python/src/iceberg/conversions.py
  python/src/iceberg/expressions/base.py
  python/src/iceberg/expressions/literals.py
  python/src/iceberg/io/pyarrow.py
  python/src/iceberg/schema.py
  python/src/iceberg/transforms.py
  python/src/iceberg/types.py
  python/tests/expressions/test_expressions_base.py
  python/tests/expressions/test_literals.py
  python/tests/test_conversions.py
  python/tests/test_schema.py
  python/tests/test_transforms.py
  python/tests/test_types.py
  python/tox.ini
Labels: python

#4767 Change types into dataclasses
  python/setup.cfg
  python/spellcheck-dictionary.txt
  python/src/iceberg/schema.py
  python/src/iceberg/types.py
  python/tests/test_schema.py
  python/tests/test_types.py
Labels: python

#4011 Allow table defaults to be configured and/ or enforced at catalog level using catalog properties.
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopTableTestBase.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: API, spark, core, hive, AWS, NESSIE

#4772 Core: Add request headers to REST client
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#4797 Python - Fix tox errors for not calling super __init__ on a dataclass
  python/src/iceberg/types.py
Labels: python

#4803 Catalog: Use ImmutableMap for catalog properties
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: core, hive, AWS

#4784 Python: Set Python 3.8 as minimal version
  .github/workflows/python-ci.yml
  python/.python-version
  python/setup.cfg
  python/src/iceberg/expressions/literals.py
  python/src/iceberg/schema.py
  python/src/iceberg/types.py
  python/tox.ini
Labels: python, INFRA

#4745 [python legacy] use process pool instead of thread pool for files planning
  python_legacy/iceberg/core/data_table_scan.py
Labels: python

#4167 Update release scripts to support publishing Spark 3.2 with Scala 2.13 support to Maven
  dev/stage-binaries.sh
Labels: INFRA

#4786 [0.13] Flink upsert delete file metadata backports
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  flink/v1.12/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTestSource.java
Labels: core, data, flink, build

#4814 Python: Fix the type_string of the NestedField
  python/src/iceberg/types.py
Labels: python

#4821 AWS: handle certain glue exceptions as iceberg errors
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#4823 AWS: support Path-Style Access
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#4819 Add project method to IcebergGenerics to enable projections by Schema
  data/src/main/java/org/apache/iceberg/data/IcebergGenerics.java
  data/src/test/java/org/apache/iceberg/data/TestLocalScan.java
  orc/src/main/java/org/apache/iceberg/orc/OrcValueReaders.java
Labels: data, ORC

#4836 Spark: Extend CommitStateUnknown exception handling in Spark Actions
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#4833 Core: Add OAuth2 helpers for REST catalog
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/rest/responses/OAuthTokenResponse.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/RequestResponseTestBase.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestOAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestOAuthTokenResponse.java
Labels: core

#4716 [CORE] - Add remaining parsers for MetadataUpdate implementations
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#4832 Core: Remove Authorization header handling from HTTPClient
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClientFactory.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#4845 API: Update SessionCatalog context to use a credentials map
  api/src/main/java/org/apache/iceberg/catalog/SessionCatalog.java
Labels: API

#4846 Core: Refactor REST catalog to RESTSessionCatalog
  core/src/main/java/org/apache/iceberg/rest/HTTPClientFactory.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#4840 [0.13] Nessie: Fix NPE while accessing refreshed table in nessie catalog (#4509)
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
Labels: core, NESSIE

#4852 [0.13] Spark: Handle CommitStateUnknown exception in RewriteManifestSparkAction (#4836)
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#4569 [0.13] Core: Fix filter pushdown for metadata tables with evolved specs (#4520)
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: spark, core

#4391 Docs : add s3 access-point documentation
  docs/integrations/aws.md
Labels: docs

#4854 [0.13] Spark: Backport CommitStateUnknownException handling for RewriteManifestSparkAction (#4850)
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#4861 ORC: Suppress JavaLocalDateTimeGetNano warning in GenericOrcWriters
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
Labels: ORC

#4857 AWS: Fix tests failure in TestGlueCatalogCommitFailure
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
Labels: AWS

#4763 AWS : Use strongly consistent read while acquiring lock via DDBLockManager
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbLockManager.java
Labels: AWS

#4799 Core, Spark: Use MultiThreading in abort and clean-up
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergRecordWriter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark, core, MR

#4830 Core: Add session catalog implementation for REST
  baseline.gradle
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalogProperties.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: API, core, INFRA, build

#4848 Spark: Fix Alignment of Merge Commands with Mixed Case
  spark/v3.2/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlignedRowLevelIcebergCommandCheck.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/AssignmentUtils.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#4874 Spark: Fix Alignment of Merge Commands with Mixed Case (#4848)
  spark/v3.2/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AlignedRowLevelIcebergCommandCheck.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/AssignmentUtils.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#4644 Docs:Set execution mode either 'batch' or 'streaming'
  docs/flink/flink-getting-started.md
Labels: docs

#4645 Docs: To set table comment using `SET TBLPROPERTIES`
  docs/spark/spark-ddl.md
Labels: docs

#4880 Core - Use unbound variants of SortOrder / PartitionSpec for REST Catalog's CreateTableRequest
  api/src/main/java/org/apache/iceberg/SortOrder.java
  core/src/main/java/org/apache/iceberg/rest/requests/CreateTableRequest.java
Labels: API, core

#4866 Core / OpenAPI: Add RemoveSnapshotRef to MetadataUpdateParser and OpenAPI spec
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#4877 API: Pass FileIO into Snapshot methods that read metadata - Backport
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark, flink, build

#4774 Docs: Add StarRocks to Documentation
  docs/starrocks/_index.md
Labels: docs

#4878 API: Cleanup SnapshotRef to avoid unnecessary boxing in equality check by comparing snapshotID via ==
  api/src/main/java/org/apache/iceberg/SnapshotRef.java
Labels: API

#4853 Flink: Modify Table Location Strings in Tests to Fix Local Test Failures
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#4815 BooleanExpressionVisitor and visit method
  python/spellcheck-dictionary.txt
  python/src/iceberg/expressions/base.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#4706 Python: Support iceberg base catalog in python library (#3245)
  python/spellcheck-dictionary.txt
  python/src/iceberg/catalog/base.py
  python/src/iceberg/exceptions.py
  python/src/iceberg/table/base.py
  python/tests/catalog/__init__.py
  python/tests/catalog/test_base.py
  python/tests/conftest.py
Labels: python, API, spark, core, data, flink, INFRA, docs, build, hive, AWS, NESSIE

#4744 Core: Incremental append scan impl
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Scan.java
  api/src/main/java/org/apache/iceberg/TableScan.java
  api/src/main/java/org/apache/iceberg/events/IncrementalScanEvent.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalAppendScan.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
Labels: API, core

#4683 Read deleted rows with metadata column IS_DELETED
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/IcebergSourceDeleteBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: API, spark, arrow, core, data, flink

#4798 Infra - Add an explicit workflow for API binary compatibility checks
  .github/workflows/api-binary-compatibility.yml
Labels: INFRA

#4894 Core: Add REST catalog session timeout
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
Labels: core

#4890 [0.13] Core: Fix query failure when using projection on top of partitions metadata table (#4720)
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core

#4800 Spark: Extend commit unknown exception handling to SparkPositionDeltaWrite
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
Labels: spark

#4851 Build: upgrade github actions
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/jmh-bechmarks.yml
  .github/workflows/labeler.yml
  .github/workflows/license_check.yml
  .github/workflows/publish-snapshot.yml
  .github/workflows/python-ci.yml
  .github/workflows/python-legacy-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#4841 Parquet: Fix Iceberg's parquet reader returning binary data instead of string data
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
Labels: parquet

#4742 Python: Convert Avro to Iceberg schema
  python/spellcheck-dictionary.txt
  python/src/iceberg/schema.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/schema_conversion.py
  python/tests/conftest.py
  python/tests/utils/test_schema_conversion.py
Labels: python

#4885 Docs: Fix a typo. Add using for writeTo when creating a table.
  docs/spark/spark-ddl.md
  docs/spark/spark-writes.md
Labels: docs

#4897 Minor adjustments to catalog tests for flexibility
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#4907 Core: Implement namespace listing with a parent in REST catalog
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#4906 Add additional options for catalog test implementations
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#4734 ORC: Upgrade orc version to use the built-in estimate memory method
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
Labels: data, ORC, build

#4895 API: Add CredentialSupplier to get credentials from FileIO
  api/src/main/java/org/apache/iceberg/io/CredentialSupplier.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
Labels: API, AWS

#4919 Dev: Release Script Fix
  dev/source-release.sh
Labels: INFRA
