Repository apache/iceberg, pull requests merged in 2022-02, with the labels that each got.

#3774 [Parquet] Add support to read Parquet files written with old 2-level list structures.
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ApplyNameMapping.java
  parquet/src/main/java/org/apache/iceberg/parquet/MessageTypeToType.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvroValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetTypeVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquet.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetSchemaUtil.java
  pig/src/main/java/org/apache/iceberg/pig/PigParquetReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark, parquet, data, flink, pig, build

#4023 Spark 3.2: Fix predicate pushdown in row-level operations
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RowLevelCommandScanRelationPushDown.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#4029 Spark 3.1: Reports bytesWritten and recordsWritten to metrics
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#4030 Spark 3.2: Reports bytesWritten and recordsWritten to metrics
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#4020 Spark 3.0: Reports bytesWritten and recordsWritten to metrics
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#4028 Docs: Add --check to verify checksum doc
  site/docs/how-to-verify-a-release.md
Labels: docs

#4024 Spark: Allow create table in hadoop catalog root namespace
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
Labels: spark

#4025 Set black line-length to 130 in tox settings
  python/src/iceberg/types.py
  python/src/iceberg/utils/bin_packing.py
  python/tests/io/test_base.py
  python/tests/utils/test_bin_packing.py
  python/tox.ini
Labels: python

#3815 API: Upgrade Guava to use murmur3_32_fixed
  api/src/main/java/org/apache/iceberg/transforms/Bucket.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  versions.props
Labels: API, build

#4019 Core: Add SnapshotRef entity to API
  api/src/main/java/org/apache/iceberg/SnapshotRef.java
  api/src/main/java/org/apache/iceberg/SnapshotRefType.java
  api/src/test/java/org/apache/iceberg/TestSnapshotRef.java
Labels: API, core

#4034 Add --diff to show the line diff when black fails
  python/tox.ini
Labels: python

#4032 Autoformat test_types.py with new line-length
  python/tests/test_types.py
Labels: python

#3986 Flink: Fix flink manifest location collision when there are multiple committers for multiple sink tables
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#3984 Spark 3.2: Implement merge-on-read UPDATE
  core/src/main/java/org/apache/iceberg/io/BasePositionDeltaWriter.java
  core/src/main/java/org/apache/iceberg/io/PositionDeltaWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteUpdateTable.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark, core, data

#3865 Flink: ArrayBatchRecords for a batch of records for a single file; RecordAndPosi…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ArrayBatchRecords.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordAndPosition.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayBatchRecords.java
Labels: flink

#4045 Remove the publish directive from .asf.yaml
  .asf.yaml
Labels: INFRA

#4044 Spark 3.2: Rename variables referring to RowLevelOperationTable
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteDeleteFromTable.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteUpdateTable.scala
Labels: spark

#4043 Spark 3.2: Remove unused methods and variables in SparkScanBuilder
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#4041 [python legacy] Support passing customized protocol for hms client
  python_legacy/iceberg/hive/hive_tables.py
Labels: python

#4048 Core: BaseRollingWriter to use DataWriter::write instead of DataWriter::add
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/DataWriter.java
Labels: core

#3866 Flink: RecordFactory interface that can create record batch and clone…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
Labels: flink

#4036 Core: SnapshotRef parser and serialization logic
  api/src/main/java/org/apache/iceberg/SnapshotRef.java
  core/src/main/java/org/apache/iceberg/SnapshotRefParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestSnapshotRefParser.java
Labels: API, core

#4064 hive-metastore: modify the comment
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
Labels: hive

#4009 Add Scala 2.13 builds for Spark/v3.2
  .github/workflows/publish-snapshot.yml
  .github/workflows/spark-ci.yml
  gradle.properties
  jmh.gradle
  settings.gradle
  spark/v3.2/build.gradle
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/AssignmentAlignmentSupport.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveProcedures.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteRowLevelCommand.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/expressions/ExtendedV2ExpressionUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/Call.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/WriteDelta.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CallExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDistributionAndOrderingUtils.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetIdentifierFieldsExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/WriteDeltaExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/RowLevelCommandDynamicPruning.scala
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/utils/DistributionAndOrderingUtils.scala
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  versions.props
Labels: spark, INFRA, build

#4053 Tests: Replace DataWriter::add with DataWriter::write in tests
  core/src/test/java/org/apache/iceberg/avro/TestAvroDataWriter.java
  data/src/test/java/org/apache/iceberg/data/orc/TestOrcDataWriter.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDataWriter.java
Labels: parquet, core, data

#4033 Fix random failure of TestCopyOnWriteUpdate::testUpdateWithoutCondition
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#4057 SPEC - Move REST catalog OpenAPI spec to new docs/rest folder
  docs/rest/rest-catalog-open-api.yaml
Labels: INFRA, docs

#3988 Python: Add Decimal type conversion
  api/src/test/java/org/apache/iceberg/types/TestConversions.java
  python_legacy/iceberg/api/types/conversions.py
  python_legacy/iceberg/api/types/type_util.py
  python_legacy/tests/api/test_conversions.py
Labels: python, API

#4021 Adding InputStream and OutputStream protocols for open and create return types
  python/src/iceberg/io/base.py
  python/tests/io/test_base.py
Labels: python, INFRA

#4082 Core: Add reference structures to TableMetadata to unblock TableMetadata API changes
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#4083 Core: Add support for writing and reading ZSTD Avro Data
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
Labels: core

#4078 Docs: Update Release Artifacts in Quickstart Commands for Spark
  docs/common/releases/how-to-verify-a-release.md
  docs/versioned/api/java-api.md
  docs/versioned/integrations/aws.md
  docs/versioned/integrations/jdbc.md
  docs/versioned/integrations/nessie.md
  docs/versioned/spark/spark-getting-started.md
Labels: docs

#4103 AWS: fix inconsistency of S3 checksum feature names
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#4107 Infra: exclude readme, contributing and gitattributes from CI
  .github/labeler.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#3817 Flink: FlinkInputSplit extends LocatableInputSplit instread of InputSplit
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputSplit.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: spark, flink

#3959 Disable metrics for very wide tables to reduce metadata size
  core/src/main/java/org/apache/iceberg/MetricsConfig.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterMetrics.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterMetrics.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkWriterMetrics.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkWriterMetrics.java
Labels: spark, core, data, flink

#4109 Docs: add engine support start version and Flink 1.11 information
  docs/common/project/multi-engine-support.md
Labels: docs

#3834 change delete logic
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
Labels: core, data, flink

#4124 Fix spark runtime jar link
  docs/versioned/spark/spark-getting-started.md
Labels: docs

#4105 Docs: add website release instruction
  docs/common/project/how-to-release.md
Labels: docs

#4125 Data: Close Migration ExecutorService if Started
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
Labels: data

#4122 Docs: Add 0.13.1 release notes
  docs/common/releases/release-notes.md
  docs/versioned/releases/0.13.1/_index.md
Labels: docs

#4089 Core: Replace setCurrentSnapshot with setBranchSnapshot in metadata builder
  api/src/main/java/org/apache/iceberg/SnapshotRef.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: API, spark, core, NESSIE

#4047 Spark 3.2: Implement merge-on-read MERGE
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeRows.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark

#4128 Core: Update SnapshotManager to use a transaction
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/CherryPickOperation.java
  core/src/main/java/org/apache/iceberg/SetSnapshotOperation.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
Labels: spark, core

#4112 Arrow: Bump Apache Arrow 7.0.0
  versions.props
Labels: build

#4138 Core: use setBranchSnapshot to commit SetSnapshotOperation
  core/src/main/java/org/apache/iceberg/SetSnapshotOperation.java
Labels: core

#4055 Bump Nessie from 0.18.0 to 0.19.0
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  versions.props
Labels: docs, build, NESSIE

#4136 Docs: Broken JavaDoc Links on Spark Procedures Page (#4134)
  docs/versioned/spark/spark-procedures.md
Labels: docs

#4126 Spark: Close executor services after action completes in Procedures
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: spark

#4143 Bump Nessie from 0.19.0 to 0.20.0
  versions.props
Labels: build

#4050 Add MetricsContext to enable metrics tracking with initial S3FileIO implementation
  api/src/main/java/org/apache/iceberg/io/FileIOMetricsContext.java
  api/src/main/java/org/apache/iceberg/metrics/MetricsContext.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopMetricsContext.java
Labels: API, core, AWS

#4153 AWS: Upgrade AWS SDK to 2.17.131
  versions.props
Labels: build

#4135 Core: Call the replaceCurrentSnapshot with snapshotId for rollback operations
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#3376 Dell: Add Dell EMC EcsFileIO.
  build.gradle
  dell/src/main/java/org/apache/iceberg/dell/DellClientFactories.java
  dell/src/main/java/org/apache/iceberg/dell/DellClientFactory.java
  dell/src/main/java/org/apache/iceberg/dell/DellProperties.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/BaseEcsFile.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsAppendOutputStream.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsFileIO.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsInputFile.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsOutputFile.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsSeekableInputStream.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsURI.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsAppendOutputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsInputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsOutputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsSeekableInputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsURI.java
  dell/src/test/java/org/apache/iceberg/dell/mock/MockDellClientFactory.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/EcsS3MockRule.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/MockS3Client.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/ObjectData.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/TestExceptionCode.java
  settings.gradle
  versions.props
Labels: build

#4123 Fix random test failure of testDeleteWithSerializableIsolation
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: spark

#4111 Flink 1.13: Support HDFS locality with LocatableInputSplit
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputSplit.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitGenerator.java
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
Labels: flink

#3181 Parquet: make row group check (min and max record count) configurable.
  core/src/main/java/org/apache/iceberg/TableProperties.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquet.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
Labels: spark, parquet, core

#4163 Build: Bump Spark 3.2.1
  spark/v3.2/build.gradle
Labels: spark, build

#4155 Core: Remove unused method accidentally added to TableMetadata
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#4172 Spark: Enable test which was blocked by SPARK-33267
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#4171 Test: Use murmur3_32_fixed in unit test
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
Labels: API

#4141 Add unit test for ExpireSnapshot with DeleteFile
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
Labels: spark

#4146 Support planning with particular executor for table scan
  api/src/main/java/org/apache/iceberg/TableScan.java
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: API, core

#4170 Add Snowflake and Dremio blogs and link recent talks
  docs/common/community/blogs.md
  docs/common/community/talks.md
Labels: docs

#4160 Bump Nessie to 0.20.1
  versions.props
Labels: build

#4157 Flink: Support configurable Scala version.
  flink/v1.12/build.gradle
  flink/v1.13/build.gradle
  flink/v1.14/build.gradle
  settings.gradle
Labels: flink, build

#4156 Doc: Delete duplicate contents in spec
  docs/common/format/spec.md
Labels: docs

#4121 add Spark structured streaming option skip-overwrites to docs
  docs/versioned/spark/spark-structured-streaming.md
Labels: docs

#4118 Spark: Align Antlr version with Spark and exclude Antlr from Spark runtime jars
  spark/v3.0/build.gradle
  spark/v3.0/spark-runtime/LICENSE
  spark/v3.1/build.gradle
  spark/v3.1/spark-runtime/LICENSE
  spark/v3.2/build.gradle
  spark/v3.2/spark-runtime/LICENSE
Labels: spark, build

#4119 Docs: modify the configuration.md
  docs/versioned/tables/configuration.md
Labels: docs

#4070 [python legacy] skipping required hms host and port when iprot field is presented in conf
  python_legacy/iceberg/hive/hive_tables.py
  python_legacy/tests/hive/test_hive_tables.py
Labels: python

#4180 Docs: Update AWS SDK version in site doc
  docs/versioned/integrations/aws.md
Labels: docs

#4169 Add logging when optimizing delete to metadata-only-delete
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/OptimizeMetadataOnlyDeleteFromTable.scala
Labels: spark

#4147 Support planning with particular executor for snapshots update
  api/src/main/java/org/apache/iceberg/SnapshotUpdate.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/ManifestMergeManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
Labels: API, core

#4151 Docs: update python-api-intro.md
  docs/versioned/api/python-api-intro.md
Labels: docs

#4149 [Spark] Delete dataFile on iteration level in SparkParquetWritersFlatDataBenchmark
  spark/v2.4/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.0/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersFlatDataBenchmark.java
Labels: spark

#4037 REST Catalog - Initial request / response objects and Jackson-based SerDe module for some components
  api/src/main/java/org/apache/iceberg/catalog/Namespace.java
  core/src/main/java/org/apache/iceberg/catalog/TableIdentifierParser.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/requests/CreateNamespaceRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateNamespacePropertiesRequest.java
  core/src/main/java/org/apache/iceberg/rest/responses/CreateNamespaceResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/DropNamespaceResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/GetNamespaceResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ListNamespacesResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ListTablesResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/UpdateNamespacePropertiesResponse.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/catalog/TestTableIdentifierParser.java
  core/src/test/java/org/apache/iceberg/rest/RequestResponseTestBase.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateNamespaceRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestUpdateNamespacePropertiesRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestCreateNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestDropNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestGetNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListNamespacesResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListTablesResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestUpdateNamespacePropertiesResponse.java
Labels: API, core

#4182 Test: Add test for remove orphan files with delete files
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark

#4187 Flink: Fix the testing utility SimpleDataUtil#snapshotToDataFiles
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
Labels: flink

#3910 Spark: Fix jmh Spark parquet benchmark
  .github/workflows/jmh-bechmarks.yml
  spark/v2.4/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
  spark/v3.0/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/data/parquet/SparkParquetWritersNestedDataBenchmark.java
Labels: spark, INFRA

#4016 types use new for generics. no metaprogramming
  python/src/iceberg/types.py
  python/tests/test_types.py
Labels: python

#4199 Core: Use consistent constant definition for Parquet page sizes
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#4198 Spark 3.2: Fix names of methods that read all content files in actions
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  api/src/main/java/org/apache/iceberg/actions/ExpireSnapshots.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
Labels: API, spark

#4197 Core: Remove deprecated table properties
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: API, spark, core

#4178 Core : The identifying message for the AssertionError is wrong!!
  core/src/test/java/org/apache/iceberg/TestDeleteFileIndex.java
Labels: core

#3275 Support for Namespace properties in JDBC Catalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core, INFRA

#4196 Parquet: Enable vectorized reads by default
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTableUtilWithInMemoryCatalog.java
Labels: spark, core

#4195 Docs: fix numeration in Metastore Tables section
  docs/common/format/spec.md
Labels: docs

#4154 Spark 3.2: Support mergeSchema option on write
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/main/java/org/apache/iceberg/types/ReassignIds.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/types/FixupTypes.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
Labels: API, spark, core

#4166 AWS: Use Glue optimistic locking while updating table
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: core, AWS

#4102 AWS: make DynamoDbLockManager public
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbLockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbLockManager.java
  aws/src/main/java/org/apache/iceberg/aws/glue/DynamoLockManager.java
Labels: AWS

#4185 Core: Update GenericManifestFile toString
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
Labels: core

#4202 CORE - Add main error handlers for use with REST catalog's HTTP client
  api/src/main/java/org/apache/iceberg/exceptions/BadRequestException.java
  api/src/main/java/org/apache/iceberg/exceptions/ForbiddenException.java
  api/src/main/java/org/apache/iceberg/exceptions/NotAuthorizedException.java
  api/src/main/java/org/apache/iceberg/exceptions/RESTException.java
  api/src/main/java/org/apache/iceberg/exceptions/ServiceFailureException.java
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
Labels: API, core

#4175 AWS: Use independent http client for AWS clients
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: python, API, spark, core, flink, INFRA, docs, build, AWS

#4081 PyArrowFileIO Implementation
  python/src/iceberg/io/base.py
  python/src/iceberg/io/pyarrow.py
  python/tests/io/test_base.py
  python/tests/io/test_pyarrow.py
  python/tox.ini
Labels: python

#4189 Flink 1.14: Fix the flaky testHashDistributeMode by ingesting all rows in one checkpoint cycle.
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTestSource.java
Labels: flink

#4214 Flink 1.12: Fix flaky testHashDistributeMode by ingesting all rows in one checkpoint cycle.
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/v1.12/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTestSource.java
Labels: flink

#4213 Flink 1.13: Fix flaky testHashDistributeMode by ingesting all rows in one checkpoint cycle
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/v1.13/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTestSource.java
Labels: flink

#4205 Docs: fix doc for flink streaming reading
  docs/versioned/flink/flink-getting-started.md
Labels: docs

#4060 Flink: DataIteratorBatcher that converts iterator of T to iterator of…
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ArrayPoolDataIteratorBatcher.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/DataIteratorBatcher.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayPoolDataIteratorBatcherRowData.java
Labels: core, flink

#4206 Build: verify integrity of gradle distribution
  gradle/wrapper/gradle-wrapper.properties
Labels: build

#4220 Core: Update JDBC catalog namespaces
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#4184 CORE: REST Catalog - Response class for server provided configuration
  core/src/main/java/org/apache/iceberg/rest/responses/RESTCatalogConfigResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestRESTCatalogConfigResponse.java
Labels: core, docs

#4232 Core: Make REST response builders public
  core/src/main/java/org/apache/iceberg/rest/responses/CreateNamespaceResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/GetNamespaceResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ListNamespacesResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ListTablesResponse.java
Labels: core

#4233 Core: Avoid possible NPE in RESTCatalogConfigResponse#merge
  core/src/main/java/org/apache/iceberg/rest/responses/RESTCatalogConfigResponse.java
Labels: core

#4231 Core: Clean up JDBC implementation, add catalog namespace tests
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#4193 Flink: Remove the scala version suffix from artifact names.
  flink/v1.12/build.gradle
  flink/v1.13/build.gradle
  flink/v1.14/build.gradle
  settings.gradle
Labels: flink, build

#2898 Flink 1.14: Add EqualityFieldKeySelector.
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/EqualityFieldKeySelector.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: API, spark, parquet, core, data, flink, MR, ORC, INFRA, docs, hive, AWS
