Repository apache/iceberg, pull requests merged in 2022-11, with the labels that each got.

#6077 Spark 3.3: Use separate scan during file filtering in copy-on-write operations
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/RowLevelCommandDynamicPruning.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
Labels: spark, build

#6083 Spark: Remove redundant check for max_concurrent_deletes in spark actions
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: spark

#6054 Infra: Publish nightly build for Spark-3.3_2.13
  .github/workflows/publish-snapshot.yml
Labels: INFRA

#6052 Infra: Update slack invite link
  .github/ISSUE_TEMPLATE/iceberg_question.yml
Labels: INFRA

#6057 Infra: Add 1.0.0 in issue template dropdown
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#6095 Spark 3.2: Use separate scan during file filtering in copy-on-write ops
  spark/v3.2/build.gradle
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/RowLevelCommandDynamicPruning.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
Labels: spark, build

#6107 Spark 3.3: Relocate all Netty dependencies
  spark/v3.3/build.gradle
Labels: spark, build

#6109 Spark 3.2: Relocate all Netty classes
  spark/v3.2/build.gradle
Labels: spark, build

#6096 Spark: Optimize Preconditions.checkArgument in procedures
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: spark

#6101 Docs: Update spotless apply command for non-default versions
  README.md
Labels: docs

#6051 Core: Improve collection handling in JsonUtil
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
  core/src/test/java/org/apache/iceberg/puffin/TestFileMetadataParser.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
Labels: core

#6036 Build: Add gaborkaszab as a collaborator
  .asf.yaml
Labels: INFRA

#6114 Python: Use Types from Typing
  python/.pre-commit-config.yaml
  python/CONTRIBUTING.md
  python/pyiceberg/avro/codecs/__init__.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/utils/schema_conversion.py
Labels: python, docs

#6086 Python: Add the REST token to the properties
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/io/fsspec.py
Labels: python

#6078 Python: Pin versions explicitly
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6038 Python: Fix Github pages
  .github/workflows/python-ci-docs.yml
Labels: INFRA

#5632 Core: Avoid reading ManifestFile when create ManifestReader
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#6115 Struct fields should be provided to Schema constructor
  python/pyiceberg/expressions/visitors.py
Labels: python

#6119 Remove Fokko from the list of collaborators
  .asf.yaml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#5812 Use Java collections in AwsProperties to fix Kryo serialization.
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: core, AWS

#6025 [Docs] Update migrate behaviour with respect to drop_table in spark-procedures docs.
  docs/spark-procedures.md
Labels: docs

#6121 [Core | Spark] Strip trailing slash from custom metadatalocation
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseTableCreationSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark, core

#6110 API: Hash floats -0.0 and 0.0 to the same bucket
  api/src/main/java/org/apache/iceberg/util/BucketUtil.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  format/spec.md
Labels: API

#6093 Spark-3.0: Remove/update spark-3.0 mention from Docs and Builds
  .github/labeler.yml
  .github/workflows/java-ci.yml
  .github/workflows/publish-snapshot.yml
  .github/workflows/spark-ci.yml
  .gitignore
  README.md
  dev/stage-binaries.sh
  docs/aws.md
  docs/java-api.md
  docs/nessie.md
  docs/spark-configuration.md
  docs/spark-ddl.md
  docs/spark-procedures.md
  docs/spark-queries.md
  docs/spark-structured-streaming.md
  docs/spark-writes.md
  gradle.properties
  jmh.gradle
  settings.gradle
  spark/build.gradle
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/Actions.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/RewriteDataFilesAction.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/actions/SparkActions.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/examples/README.md
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: spark, INFRA, docs, build

#6076 Python: Replace mmh3 with mmhash3
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6064 Support 2-level list and maps type in RemoveIds.
  parquet/src/main/java/org/apache/iceberg/parquet/RemoveIds.java
Labels: parquet

#6065 Fix TestAggregateBinding
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateBinding.java
Labels: API

#6108 SparkBatchQueryScan logs too much - #6106
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
Labels: spark

#6123 Python: Support creating a DateLiteral from a date (#6120)
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/utils/datetime.py
  python/tests/expressions/test_literals.py
  python/tests/test_transforms.py
Labels: python

#6117 Fix typo in `_ManifestEvalVisitor.visit_equal`
  python/pyiceberg/expressions/visitors.py
Labels: python

#6135 Python: Use pythonic `len()` built-in instead of `length` property
  python/pyiceberg/avro/reader.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/types.py
  python/tests/test_types.py
Labels: python

#6143 Flink: Optimize test code of TestSourceUtil
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestSourceUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestSourceUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestSourceUtil.java
Labels: flink

#4577 Fixes read metadata table failed due to illegal character
  core/src/main/java/org/apache/iceberg/avro/BuildAvroProjection.java
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
Labels: core

#6073 Core: Pass purgeRequested flag to REST server
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#6147 Python: Pin mypy in Python Legacy
  python_legacy/tox.ini
Labels: python

#6053 Build: Let revapi compare API compatibility against apache-iceberg-1.0.0
  .github/workflows/api-binary-compatibility.yml
  .palantir/revapi.yml
  build.gradle
Labels: INFRA, build

#6154 Core: Rename HMS_TABLE_OWNER to follow naming convention
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#6157 Docs: Update spotless apply command
  README.md
Labels: docs

#6158 Python: CI poetry cache
  .github/workflows/python-ci.yml
Labels: INFRA

#4826 Nessie: Use unique path for different table with same name
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: spark, core, NESSIE

#5150 Spark Integration to read from Snapshot ref
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
Labels: spark, core

#5836 Cache dropStats result for ManifestReader iterator
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
Labels: core

#6113 Core: Reduce code duplication around writing JSON collections
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/StatisticsFileParser.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/io/FileIOParser.java
  core/src/main/java/org/apache/iceberg/mapping/NameMappingParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/ErrorResponseParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
Labels: core

#6140 Python: Fix Evaluator tests
  python/tests/expressions/test_visitors.py
Labels: python

#6150 Core: Sync client/server properties in REST catalog
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#6161 Python: Load the S3 Session token
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/table/__init__.py
  python/tests/cli/test_console.py
Labels: python

#6166 Flink: Port #6049 to Flink 1.14 to add Sink options of compression properties
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
Labels: flink

#6145 Python: Add initial TableScan implementation
  python/pyiceberg/table/__init__.py
  python/tests/table/test_init.py
Labels: python

#6167 Build: Add -DallVersions property that exposes all component versions
  .github/workflows/java-ci.yml
  .github/workflows/publish-snapshot.yml
  README.md
  settings.gradle
Labels: INFRA, docs, build

#6170 Python: Move FileIO initialization to the catalog
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/table/__init__.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_rest.py
  python/tests/cli/test_console.py
  python/tests/table/test_init.py
Labels: python

#6058 Core,Spark: Add metadata to Scan Report
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/EnvironmentContext.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReport.java
  core/src/main/java/org/apache/iceberg/metrics/ScanReportParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark, core

#6173 Fix typo in unused python iceberg paramter
  python/pyiceberg/catalog/hive.py
Labels: python

#5767 AWS: Fix catalog names in LakeFormationTestBase
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
Labels: AWS

#6184 Flink: Add engine name/version to EnvironmentContext
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
Labels: flink

#6141 Python: Make invalid Literal conversions explicit
  python/pyiceberg/expressions/literals.py
  python/tests/expressions/test_literals.py
Labels: python

#2276 Core: Add a util method to combine tasks by partition
  api/src/main/java/org/apache/iceberg/ContentScanTask.java
  api/src/main/java/org/apache/iceberg/PartitionScanTask.java
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
Labels: API, spark, core

#5860 Spark: Fix QueryFailure when running RewriteManifestProcedure on Date partitioned table
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
Labels: spark

#6146 Build: Enable revapi on core/parquet/orc/common/data modules & fix API breaks
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/TableScan.java
  api/src/main/java/org/apache/iceberg/actions/MigrateTable.java
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
Labels: API, core, build

#6176 Spark 3.3: Preserve file seq numbers while rewriting manifests
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6191 Docs: fix link of `Write options` in Flink
  docs/flink-getting-started.md
Labels: docs

#6189 Core: Remove unused toTaskGroupStream from TableScanUtil
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
Labels: core

#6192 Spark 3.2: Preserve file seq numbers while rewriting manifests
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6193 Spark 3.1: Preserve file seq numbers while rewriting manifests
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6111 Flink: Add 'cache.expiration-interval-ms' option to FlinkCatalog
  docs/flink-getting-started.md
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
Labels: flink, docs

#6163 Core: Method for building grouping key type
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
Labels: spark, core

#6187 Revert "Hive: Forward catalog-specific Hive configuration properties …
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#6197 Python: Fix rough edges around literals
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/utils/datetime.py
  python/tests/expressions/test_literals.py
Labels: python

#6199 API, Core: Move micros and days conversions to DateTimeUtil
  api/src/main/java/org/apache/iceberg/transforms/Dates.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
  api/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  api/src/test/java/org/apache/iceberg/util/TestDateTimeUtil.java
Labels: API

#6178 Core: Remove redundant initialization
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/PartitionData.java
  core/src/main/java/org/apache/iceberg/avro/AvroFileAppender.java
  core/src/main/java/org/apache/iceberg/schema/UnionByNameVisitor.java
Labels: core

#6206 Extract Flink package version programmatically for EnvironmentContext…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
Labels: flink, build

#6213 Flink: Add unit test for FlinkPackage util class
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
Labels: flink

#4627 Parquet: Fixes get null values for the nested field partition column
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  pig/src/main/java/org/apache/iceberg/pig/PigParquetReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/ComplexRecord.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/NestedRecord.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
Labels: spark, parquet, flink, pig

#6159 Python: Update mypy version
  python/.pre-commit-config.yaml
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/typedef.py
  python/pyiceberg/utils/config.py
  python/pyproject.toml
  python/tests/avro/test_decoder.py
Labels: python

#6139 Python: Remove dataclasses
  python/poetry.lock
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/typedef.py
  python/pyproject.toml
  python/tests/expressions/test_expressions.py
  python/tests/expressions/test_literals.py
  python/tests/expressions/test_visitors.py
  python/tests/table/test_init.py
Labels: python, spark, core, flink, docs, build

#6225 Python: Follow up on types
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/typedef.py
  python/tests/expressions/test_expressions.py
Labels: python

#6127 Python: Add expression evaluator
  python/pyiceberg/avro/reader.py
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/files.py
  python/pyiceberg/schema.py
  python/pyiceberg/typedef.py
  python/tests/expressions/test_evaluator.py
  python/tests/test_schema.py
Labels: python

#6220 API: Make the PartitionSpec less lazy
  api/src/main/java/org/apache/iceberg/PartitionField.java
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/SortField.java
  api/src/main/java/org/apache/iceberg/UnboundPartitionSpec.java
  api/src/main/java/org/apache/iceberg/transforms/ProjectionUtil.java
  core/src/main/java/org/apache/iceberg/util/SortOrderUtil.java
Labels: API, core

#6227 Spark: Add missing override
  spark/v3.1/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
Labels: spark

#6226 API: Ignore case when comparing truncate
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
Labels: API

#6195 Release: Fix the version template
  dev/source-release.sh
Labels: INFRA

#6212 Replace ImmutableMap.Builder.build() with buildOrThrow()
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestMetricsEvaluatorsNaNHandling.java
  api/src/test/java/org/apache/iceberg/expressions/TestStrictMetricsEvaluator.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateRequirementParser.java
  core/src/test/java/org/apache/iceberg/TestManifestCaching.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopTableTestBase.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkFilters.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkFilters.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkFilters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriteSupport.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkAggregates.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkV2Filters.java
Labels: API, spark, parquet, core, flink, hive, AWS, NESSIE

#6228 Python: Minor fixes to expression types
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/visitors.py
  python/tests/expressions/test_expressions.py
Labels: python

#6232 Python: Disallow Any generics
  python/pyiceberg/avro/reader.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/manifest.py
  python/pyiceberg/schema.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/partitioning.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/utils/bin_packing.py
  python/pyiceberg/utils/deprecated.py
  python/pyiceberg/utils/parsing.py
  python/pyiceberg/utils/schema_conversion.py
  python/pyiceberg/utils/singleton.py
  python/pyproject.toml
  python/tests/expressions/test_expressions.py
  python/tests/expressions/test_visitors.py
  python/tests/test_transforms.py
Labels: python

#6233 Python: Implement DataScan.plan_files
  python/mkdocs/docs/index.md
  python/poetry.lock
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/manifest.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/typedef.py
  python/pyproject.toml
  python/tests/catalog/test_base.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
  python/tests/cli/test_console.py
  python/tests/table/test_init.py
  python/tests/table/test_metadata.py
  python/tests/table/test_partitioning.py
  python/tests/table/test_snapshots.py
  python/tests/utils/test_manifest.py
Labels: python

#6128 Python: Projection
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/transforms.py
  python/tests/expressions/test_literals.py
  python/tests/test_transforms.py
Labels: python

#6211 Allow dropping a column used by old SortOrders but not current SortOrder
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
Labels: core

#6240 Nessie: Refactor NessieTableOperations#doCommit
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: NESSIE

#6242 API: Restore the type of the identity transform
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/UnboundSortOrder.java
  api/src/main/java/org/apache/iceberg/transforms/Identity.java
  api/src/main/java/org/apache/iceberg/transforms/Transforms.java
  api/src/test/java/org/apache/iceberg/transforms/TestIdentity.java
Labels: API

#6260 Python: Pass warehouse location to config
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/rest.py
  python/tests/catalog/test_rest.py
Labels: python

#6207 Spark 3.3: Add years transform function
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/UnaryUnboundFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/YearsFunction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
Labels: spark

#6248 Flink: Fix tests creating catalog after FLINK-29677
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
Labels: flink

#6264 API: Fix ErrorProne warning around Immutable Enums
  api/src/main/java/org/apache/iceberg/transforms/Dates.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
Labels: API

#6278 Infra: Update slack invite link
  .github/ISSUE_TEMPLATE/iceberg_question.yml
Labels: INFRA

#6261 Spark 3.3: Add months transform function
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/MonthsFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
Labels: spark

#6270 Python-legacy: Pin flake8
  python_legacy/tox.ini
Labels: python

#6277 Python: Update HiveCatalog to share common variables with GlueCatalog
  python/pyiceberg/catalog/hive.py
Labels: python

#5392 Spark: Fix a separate table cache being created for each rewriteFiles
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
Labels: spark

#6283 Python: Fix Avro scan performance in PyArrow
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/file.py
Labels: python

#6286 Docs: Fix typo of reliability.md
  docs/reliability.md
Labels: docs

#6287 Infra: Add 1.1.0 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#6045 [iceberg-hive-metastore] Support setting individual and group ownership for Namespace
  core/src/main/java/org/apache/iceberg/TableProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: core, hive

#6271 Flink: Add metricsConfig to EqDeleteWriter & PosDeleteWriter
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkAppenderFactory.java
Labels: flink

#6258 Python: Implement PyArrow row level filtering
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/table/__init__.py
  python/tests/expressions/test_evaluator.py
  python/tests/expressions/test_visitors.py
  python/tests/io/test_pyarrow.py
Labels: python

#6298 Python: Update feature matrix
  python/mkdocs/docs/index.md
Labels: python

#6294 Python: Bump FastAvro to 1.7.0
  python/poetry.lock
  python/pyproject.toml
  python/tests/avro/test_reader.py
  python/tests/conftest.py
Labels: python

#6259 Python: Add boolean expression parser
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/parser.py
  python/pyproject.toml
  python/tests/expressions/test_literals.py
  python/tests/expressions/test_parser.py
Labels: python

#6256 Python: Skip in the case of AboveMax and BelowMin
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/tests/expressions/test_expressions.py
  python/tests/expressions/test_literals.py
Labels: python

#6300 Spark 3.3: Add days transform function
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
Labels: spark

#6276 Bump Gradle from 7.5.1 to 7.6
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#6304 API, Core: Add groupingKey to ScanTaskGroup
  api/src/main/java/org/apache/iceberg/BaseScanTaskGroup.java
  api/src/main/java/org/apache/iceberg/EmptyStructLike.java
  api/src/main/java/org/apache/iceberg/ScanTaskGroup.java
  core/src/main/java/org/apache/iceberg/PartitionData.java
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
Labels: API, core

#6275 Build: Let revapi compare against 1.1.0
  build.gradle
Labels: build

#6217 Core: Add test + clarify behavior of write.metadata.delete-after-commit.enabled flag
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  docs/configuration.md
  docs/maintenance.md
Labels: core, docs

#6310 Bump Nessie from 0.44.0 to 0.45.0
  versions.props
Labels: build

#6314 Core: Re-add and deprecate HMS_TABLE_OWNER to TableProperties
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#6295 Python: Bump PyArrow to 10.0.1
  python/poetry.lock
  python/pyproject.toml
Labels: python
