Repository apache/iceberg, pull requests merged in 2022-06, with the labels that each got.

#4886 Core: Address Anton's comments from the PR 4744 (incremental append scan impl)
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
Labels: core

#4917 Python: Remove typing extension imports
  python/src/iceberg/files.py
  python/src/iceberg/io/base.py
Labels: python

#4810 Spark: Provide Procedure for Catalog Register Procedure
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RegisterTableProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/HasIcebergCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
  version.txt
Labels: spark, core

#4950 Core: Support metadata table loading in the REST catalog
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#4934 Python: Bump pre-commit hooks
  python/.pre-commit-config.yaml
  python/CONTRIBUTING.md
Labels: python, docs

#4957 Use CatalogUtil classloader instead of context classloader for FileIO
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
Labels: core, AWS

#4947 API: Add expression equivalence testing
  api/src/main/java/org/apache/iceberg/expressions/And.java
  api/src/main/java/org/apache/iceberg/expressions/BoundLiteralPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/BoundReference.java
  api/src/main/java/org/apache/iceberg/expressions/BoundSetPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/BoundTerm.java
  api/src/main/java/org/apache/iceberg/expressions/BoundTransform.java
  api/src/main/java/org/apache/iceberg/expressions/BoundUnaryPredicate.java
  api/src/main/java/org/apache/iceberg/expressions/Expression.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/False.java
  api/src/main/java/org/apache/iceberg/expressions/Or.java
  api/src/main/java/org/apache/iceberg/expressions/True.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
Labels: API

#4958 Shutdown refresh token executor service during REST catalog client close
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#4939 Docs: Fix broken link for `expiration properties`
  docs/spark/spark-procedures.md
Labels: docs

#4929 Improve binary pack/unpack performance using cached struct
  python/src/iceberg/conversions.py
Labels: python

#4935 Python: Add pyupgrade as a pre-commit hook
  python/.pre-commit-config.yaml
  python/src/iceberg/catalog/base.py
  python/src/iceberg/schema.py
  python/src/iceberg/table/base.py
  python/src/iceberg/transforms.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/schema_conversion.py
Labels: python

#4903 Spark: Use options as a CaseSensitiveMap
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#4844 Add Poetry build and release instructions
  .github/workflows/python-ci.yml
  python/.pre-commit-config.yaml
  python/CONTRIBUTING.md
  python/Makefile
  python/README.md
  python/dev/RELEASE.md
  python/poetry.lock
  python/pyproject.toml
  python/setup.cfg
Labels: python, INFRA, docs

#4967 Python: Decimal is actually DecimalType
  python/src/iceberg/conversions.py
Labels: python

#4956 support adding extra commit metadata with SQL in Spark
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/CommitMetadata.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/CommitMetadata.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/CommitMetadata.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: spark

#4329 Flink: FLIP-27 source enumerator help classes
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/StreamingStartingStrategy.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousEnumerationResult.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlanner.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorPosition.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: spark, core, data, flink, build

#4979 Flink: port PR 4329 (FLIP-27 enumerator) to Flink 1.15
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/StreamingStartingStrategy.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousEnumerationResult.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlanner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorPosition.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink

#4517 Spark 3.2: Use SnapshotSummary to deduce latestOffset in Spark SS
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
Labels: spark

#4990 Checkstyle: fix reference of non canonical subclass
  parquet/src/main/java/org/apache/iceberg/parquet/BasePageIterator.java
Labels: parquet

#4975 Update REST namespace separator to use unit separator char
  core/src/main/java/org/apache/iceberg/catalog/TableIdentifierParser.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestResourcePaths.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateNamespaceRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestCreateNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestGetNamespaceResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListTablesResponse.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#4953 Core, API: Replace unnecessary hash uses with hashCode
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  core/src/main/java/org/apache/iceberg/mapping/MappedFields.java
  core/src/main/java/org/apache/iceberg/util/StructLikeSet.java
Labels: API, core, build

#4989 Infra - Fix API compatibility Github Action
  .github/workflows/api-binary-compatibility.yml
Labels: INFRA

#4980 Python: Add Poetry IDEA instructions
  python/CONTRIBUTING.md
Labels: python, docs

#4992 Python: Change Python API naming closer to the spec
  python/src/iceberg/schema.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/schema_conversion.py
  python/tests/conftest.py
  python/tests/expressions/test_expressions_base.py
  python/tests/test_schema.py
  python/tests/test_types.py
  python/tests/utils/test_schema_conversion.py
Labels: python

#4911 Flink: reduce the scope and duration of holding checkpoint lock.
  flink/v1.13/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
Labels: flink

#5018 Core: Resolve environment variables in REST catalog config
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/util/EnvironmentUtil.java
  core/src/test/java/org/apache/iceberg/util/TestEnvironmentUtil.java
Labels: core

#4825 Test: Fix flaky testOlderThanTimestamp in TestRemoveOrphanFilesAction3
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark

#5008 Python: Extend the use of the singleton
  python/src/iceberg/expressions/base.py
  python/src/iceberg/expressions/literals.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/singleton.py
  python/tests/expressions/test_expressions_base.py
  python/tests/test_types.py
Labels: python

#4717 Python: Add PartitionSpec
  python/spellcheck-dictionary.txt
  python/src/iceberg/table/partitioning.py
  python/tests/table/test_partitioning.py
Labels: python

#5017 edit NAMESPACE_PROPERTY_KEY to not be a reserved SQL keyword
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: core

#5016 Restore iceberg logo from previous commit
  README.md
Labels: docs

#4999 Parquet: Fixes NPE when pruning columns
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestPruneColumns.java
Labels: parquet

#4991 Improved shutdown of token refresh executor during REST catalog close
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
Labels: core

#4938 Support reading Parquet row group bloom filter
  api/src/main/java/org/apache/iceberg/expressions/Binder.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
Labels: API, parquet, core

#4908 [Python] add identity transform
  python/src/iceberg/transforms.py
  python/src/iceberg/utils/datetime.py
  python/tests/test_transforms.py
Labels: python

#5019 Verify no stream use after close in in-memory tests
  core/src/test/java/org/apache/iceberg/io/InMemoryInputFile.java
  core/src/test/java/org/apache/iceberg/io/InMemoryOutputFile.java
  core/src/test/java/org/apache/iceberg/io/TestInMemoryInputFile.java
  core/src/test/java/org/apache/iceberg/io/TestInMemoryOutputFile.java
Labels: core

#5022 INFRA: Avoid running engine tests on LICENSE and NOTICE update
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#4578 Core: Update Remove Snapshots procedure for branching and tagging
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#5047 Nessie: Properly close all resources in NessieCatalog
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
Labels: NESSIE

#4537 Add reader and writer for Puffin, indexes and stats file format
  build.gradle
  bundled-guava/src/main/java/org/apache/iceberg/GuavaClasses.java
  core/src/main/java/org/apache/iceberg/io/IOUtil.java
  core/src/main/java/org/apache/iceberg/puffin/Blob.java
  core/src/main/java/org/apache/iceberg/puffin/BlobMetadata.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadata.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/puffin/Puffin.java
  core/src/main/java/org/apache/iceberg/puffin/PuffinCompressionCodec.java
  core/src/main/java/org/apache/iceberg/puffin/PuffinFormat.java
  core/src/main/java/org/apache/iceberg/puffin/PuffinReader.java
  core/src/main/java/org/apache/iceberg/puffin/PuffinWriter.java
  core/src/main/java/org/apache/iceberg/puffin/StandardBlobTypes.java
  core/src/main/java/org/apache/iceberg/puffin/StandardPuffinProperties.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/io/TestIOUtil.java
  core/src/test/java/org/apache/iceberg/puffin/PuffinFormatTestUtil.java
  core/src/test/java/org/apache/iceberg/puffin/TestFileMetadataParser.java
  core/src/test/java/org/apache/iceberg/puffin/TestPuffinFormat.java
  core/src/test/java/org/apache/iceberg/puffin/TestPuffinReader.java
  core/src/test/java/org/apache/iceberg/puffin/TestPuffinWriter.java
  core/src/test/resources/org/apache/iceberg/puffin/v1/empty-puffin-uncompressed.bin
  core/src/test/resources/org/apache/iceberg/puffin/v1/sample-metric-data-compressed-zstd.bin
  core/src/test/resources/org/apache/iceberg/puffin/v1/sample-metric-data-uncompressed.bin
  dev/.rat-excludes
  versions.props
Labels: core, build

#5041 AWS: add skip name validation config for glue namespace
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
  docs/integrations/aws.md
Labels: docs, AWS

#5055 Python: Don't use a metaclass for the Singleton
  python/src/iceberg/expressions/base.py
  python/src/iceberg/expressions/literals.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/singleton.py
  python/tests/expressions/test_expressions_base.py
Labels: python

#5062 Core: In HadoopTableOperations, replace Util.getFs call with getFileSystem
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
Labels: core

#5088 Inline PuffinWriter.writeFully
  core/src/main/java/org/apache/iceberg/puffin/PuffinWriter.java
Labels: core

#5091 Python: Add py.typed file for annotations
  python/py.typed
Labels: python

#5089 Include actual class name in class mismatch exception
  core/src/main/java/org/apache/iceberg/PartitionData.java
Labels: core

#5053 [CORE] Add Java Doc for LoadTableResponse and fix error prone warnings
  core/src/main/java/org/apache/iceberg/rest/requests/RenameTableRequest.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/OAuthTokenResponse.java
Labels: core

#5052 [CORE] Add SerDe tests for CreateTableRequest
  core/src/main/java/org/apache/iceberg/rest/requests/CreateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateTableRequest.java
Labels: core

#5081 AWS: add skip name validation to isValidIdentifier
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#5068 Python: Replace vars with cached_property decorator
  python/src/iceberg/expressions/base.py
  python/src/iceberg/schema.py
Labels: python

#5084 REST: Set table format version for create table transactions
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#5066 Python: Renable pylint
  python/.pre-commit-config.yaml
  python/poetry.lock
  python/pylintrc
  python/pyproject.toml
  python/spellcheck-dictionary.txt
  python/src/iceberg/avro/decoder.py
  python/src/iceberg/avro/reader.py
  python/src/iceberg/transforms.py
  python/tests/avro/test_reader.py
  python/tests/conftest.py
  python/tests/io/test_io_base.py
  python/tests/io/test_pyarrow.py
  python/tests/utils/test_schema_conversion.py
Labels: python

#5107 Core: Check for valid identifiers in REST catalog
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#5039 Hive: Print db and table name while acquiring hive meta-store lock
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: hive

#4662 Core: Metadata table queries fail if a partition column was reused in V2
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
Labels: spark, core

#5079 Make VectorizedParquetDefinitionLevelReader work with off heap byte buffer
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
Labels: arrow

#5125 Reuse rest client for catalog and table operations
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#5112 Spark 3.2: RewriteDataFiles - Escape special characters in table identifiers
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark

#5070 ORC: Upgrade to 1.7.5
  versions.props
Labels: build

#5130 Python: Add flake8-comprehensions
  python/.pre-commit-config.yaml
  python/src/iceberg/table/partitioning.py
  python/src/iceberg/utils/bin_packing.py
  python/tests/table/test_partitioning.py
  python/tests/utils/test_bin_packing.py
Labels: python

#5128 Docs: Fix link error of hidden partition
  docs/spark-writes.md
Labels: docs

#5109 Flink: FLIP-27 Iceberg source and builder that puts everything together
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SimpleSplitAssigner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFixtures.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/data/RowDataToRowMapper.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
Labels: flink

#5126 Parquet: Release the compressor when calling close in ParquetWriter
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
Labels: parquet

#5057 Checkstyle: Add checkstyle rule for %d in Preconditions.checkArgument
  .baseline/checkstyle/checkstyle.xml
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark, core, INFRA

#5137 Arrow: Avoid extra dictionary buffer copy
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowVectorAccessors.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
Labels: spark, arrow

#5142 Python: Bump dependencies
  python/poetry.lock
Labels: python

#5011 Python: Use Pydantic for (de)serialization
  python/poetry.lock
  python/pyproject.toml
  python/src/iceberg/exceptions.py
  python/src/iceberg/schema.py
  python/src/iceberg/serializers.py
  python/src/iceberg/table/metadata.py
  python/src/iceberg/table/refs.py
  python/src/iceberg/types.py
  python/src/iceberg/utils/iceberg_base_model.py
  python/src/iceberg/utils/singleton.py
  python/tests/avro/test_reader.py
  python/tests/conftest.py
  python/tests/table/test_metadata.py
  python/tests/test_schema.py
  python/tests/test_types.py
  python/tests/utils/test_bin_packing.py
Labels: python, docs

#5131 Core: Fix partition clustering to produce table sort order
  core/src/main/java/org/apache/iceberg/util/SortOrderUtil.java
  core/src/test/java/org/apache/iceberg/util/TestSortOrderUtil.java
Labels: core

#5034 Core: Fix tag ancestor snapshot handling
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#5138 Build: Print used JDK version
  build.gradle
Labels: build

#5134 Spark: Validate HMS uri in SparkSessionCatalog
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
Labels: spark

#5075 Spark: Add `__metadata_col` metadata in metadata columns when doing Schema Conversion
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkSchemaUtil.java
Labels: spark, core

#4984 Encapsulate public mutable field in IcebergSplit
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergSplit.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
Labels: MR

#5129 Add source snapshot info to Puffin Blob metadata
  core/src/main/java/org/apache/iceberg/puffin/Blob.java
  core/src/main/java/org/apache/iceberg/puffin/BlobMetadata.java
  core/src/main/java/org/apache/iceberg/puffin/FileMetadataParser.java
  core/src/main/java/org/apache/iceberg/puffin/PuffinWriter.java
  core/src/test/java/org/apache/iceberg/puffin/PuffinFormatTestUtil.java
  core/src/test/java/org/apache/iceberg/puffin/TestFileMetadataParser.java
  core/src/test/java/org/apache/iceberg/puffin/TestPuffinWriter.java
  core/src/test/resources/org/apache/iceberg/puffin/v1/sample-metric-data-compressed-zstd.bin
  core/src/test/resources/org/apache/iceberg/puffin/v1/sample-metric-data-uncompressed.bin
  format/puffin-spec.md
Labels: core

#5067 API: Support composite types in Accessors
  api/src/main/java/org/apache/iceberg/Accessors.java
  api/src/test/java/org/apache/iceberg/TestAccessors.java
Labels: API

#5146 Docs: Add reference to Apache Impala documentation
  docs/_index.md
Labels: docs

#5144 Core - Update JavaDoc for CreateTableRequest
  core/src/main/java/org/apache/iceberg/rest/requests/CreateTableRequest.java
Labels: core

#5147 Docs: Update README.md project description
  README.md
Labels: docs

#5149 Python: Make the VoidTransform a singleton
  python/src/iceberg/transforms.py
  python/tests/utils/test_singleton.py
Labels: python

#5143 Spark: fix regression from scan refactor
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#5118 CORE - Load Table Response Test
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponse.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#5156 Spark 3.3: [FOLLOW UP] Support AS OF SPARK SQL syntax for TimeTravel E2E
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#5148 StreamingDelete becomes public class
  core/src/main/java/org/apache/iceberg/StreamingDelete.java
Labels: core

#5155 Spark: Port performance fix for Spark 3.2 to 3.3
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#5003 Since the `sql-client-defaults.yaml` file was removed in flink 1.14, …
  docs/flink-getting-started.md
Labels: docs

#4780 Bump Nessie to 0.30.0
  versions.props
Labels: build

#4737 delete unnecessary switch case judgement
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/RowDataConverter.java
Labels: flink

#4726 AWS: support overriding endpoint in DynamoDB
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#4946 API: Support registering filesystem tables to metastore based catalogs
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: core, hive

#4847 Core: Add reference_snapshot_id column and filter to AllManifest table
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#5161 Docs: Update Hive doc page with the 4.0.0-alpha-1 features
  docs/hive.md
Labels: docs

#5105 API: Access deleted and added delete files in Snapshot
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Snapshot.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/CherryPickOperation.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSelection.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetMultiDeleteFileBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetPosDeleteBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetWithUnrelatedDeleteBenchmark.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetMultiDeleteFileBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetPosDeleteBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/IcebergSourceParquetWithUnrelatedDeleteBenchmark.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: API, spark, core

#5035 Add Parquet Row Group Bloom Filter Support for write path
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/configuration.md
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderWithBloomFilter.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderWithBloomFilter.java
Labels: spark, parquet, core, docs

#5172 Check getBloomFilterOffset() <= 0 for non bloom filter
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
Labels: parquet
