Repository apache/iceberg, pull requests merged in 2023-05, with the labels that each got.

#7453 Spark 3.4: Switch to built-in DELETE implementation
  spark/v3.4/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteDeleteFromIcebergTable.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ExtendedReplaceNullWithFalseInPredicate.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ExtendedSimplifyConditionalsInPredicate.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DeleteFromIcebergTable.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/OptimizeMetadataOnlyDeleteFromIcebergTable.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/dynamicpruning/RowLevelCommandDynamicPruning.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: spark

#7484 Python: Fix code highlighting in docs
  python/mkdocs/mkdocs.yml
Labels: python

#7486 Spark: Remove Usage of deprecated AssertHelpers in spark-sql
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestNamespaceSQL.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/UnpartitionedWritesTestBase.java
Labels: spark

#7489 Spark 3.3: Remove deprecated FileScanTaskSetManager
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/FileScanTaskSetManager.java
Labels: spark

#7436 Python: Update pre-commit to the latest version
  python/.pre-commit-config.yaml
  python/pyiceberg/conversions.py
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/schema.py
  python/pyiceberg/typedef.py
  python/pyiceberg/utils/decimal.py
  python/tests/test_transforms.py
  python/tests/utils/test_bin_packing.py
Labels: python

#7441 Hive: Support connecting to multiple Hive-Catalog
  hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestCachedClientPool.java
Labels: hive

#7399 Spark: Add read/write support for UUIDs
  api/src/main/java/org/apache/iceberg/util/UUIDUtil.java
  api/src/test/java/org/apache/iceberg/util/RandomUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroWriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueReaders.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/RandomData.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
Labels: API, spark, arrow

#6997 Python: Infer Iceberg schema from the Parquet file
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
  python/tests/io/test_pyarrow_visitor.py
  python/tests/test_integration.py
Labels: python

#7482 Hive: Remove deprecated AssertHelpers
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveSchemaUtil.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
  orc/src/test/java/org/apache/iceberg/orc/TestORCSchemaUtil.java
Labels: MR, ORC, hive

#7481 Flink: Remove deprecated AssertHelpers
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestRowDataProjection.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink

#7483 Spark: Remove deprecated AssertHelpers
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: spark

#7488 Core: Remove compile-time dependency to ResolvingFileIO
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7433 Update documentation to reflect new catalog features
  docs/spark-configuration.md
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark, docs

#7496 Spark 3.3: Add read and write support for UUIDs
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroWriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/RandomData.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
Labels: spark

#7497 Spark 3.2: Add read and write support for UUIDs
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroWriter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/RandomData.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
Labels: spark

#7508 Spark 3.1: Add read and write support for UUIDs
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroWriter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/RandomData.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
Labels: spark

#7468 API: Remove deprecated AssertHelpers usage
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/TestSnapshotRef.java
  api/src/test/java/org/apache/iceberg/catalog/TestNamespace.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestPredicateBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestStrictMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  api/src/test/java/org/apache/iceberg/transforms/TestProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncate.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
Labels: API

#7336 API: Update java doc for listTables and listViews
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  api/src/main/java/org/apache/iceberg/catalog/ViewCatalog.java
Labels: API

#7503 Core: Simplify Partitions table partition-coercion code
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
Labels: core

#7523 Python: Support Inferring Iceberg UUIDType from parquet files
  python/pyiceberg/schema.py
Labels: python

#7469 Core, Spark: Add configuration to control case sensitivity of CachingCatalog
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark, core

#7513 AWS: Add finalizer to S3FileIO
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: AWS

#7505 Move all S3FileIO related properties into a separate class S3FileIOProperties
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
  build.gradle
Labels: build, AWS

#7520 Spark 3.4: Handle skew in writes
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#7532 Spark 3.4: Tests for coalescing small writing tasks
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#6661 Core: Support delete file stats in partitions metadata table
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#7535 Make SparkCatalog use a case sensitive CachingCatalog by default.
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark, core

#7538 Core: Remove duplicate check for ManifestEntry.dataSequenceNumber()
  core/src/test/java/org/apache/iceberg/TableTestBase.java
Labels: core

#7534 Remove usages of S3 fields from AwsProperties within s3 package
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  aws/src/main/java/org/apache/iceberg/aws/s3/BaseS3File.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3RequestUtil.java
Labels: AWS

#7519 Python: Add REST support for SigV4 signed requests
  python/mkdocs/docs/configuration.md
  python/pyiceberg/catalog/rest.py
  python/tests/catalog/test_rest.py
Labels: python

#7527 Flink: Fix Typo in Namespace
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#7498 Arrow: Fix errorprone warnings
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnVector.java
  baseline.gradle
  hive3/src/main/java/org/apache/hadoop/hive/ql/io/orc/OrcSplit.java
Labels: arrow, INFRA, build, hive

#7525 Spark: Use UUIDUtil.convertToByteBuffer to avoid rewinding buffer
  core/src/main/java/org/apache/iceberg/avro/ValueWriters.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkValueWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkValueWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkValueWriters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkValueWriters.java
Labels: spark, core

#7559 AWS: Add missing line - assign param S3FileIOProperties inside constructor
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
Labels: AWS

#7563 Build: Update RoaringBitmap to 0.9.44
  versions.props
Labels: build

#7529 Python: Move to strictyaml
  python/poetry.lock
  python/pyiceberg/utils/config.py
  python/pyproject.toml
  python/tests/utils/test_config.py
Labels: python

#7388 Spark 3.3: Uniquess validation when computing updates of changelogs
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ComputeUpdateIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/RemoveCarryoverIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: spark, core

#7536 Core: Add finalizer to ResolvingFileIO
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core

#7552 Core, AWS: Add flag to control whether initialization stack trace should be created in S3FileIO
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AWS

#7573 Spark 3.2/3.4: Uniqueness validation when computing updates of changelogs
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/ComputeUpdateIterator.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/RemoveCarryoverIterator.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/ComputeUpdateIterator.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/RemoveCarryoverIterator.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: spark

#7562 AWS: create HttpClientProperties, move s3 related methods into S3FileIOProperties
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/HttpClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
  aws/src/test/java/org/apache/iceberg/aws/HttpClientPropertiesTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

#7499 Doc: Updates Writing to Partitioned Table Spark Docs
  docs/spark-writes.md
Labels: docs

#7583 Infra: Update slack invite link
  .github/ISSUE_TEMPLATE/iceberg_question.yml
Labels: INFRA

#7579 Nessie: Bump Nessie dependencies from 0.57.0 to 0.58.1
  versions.props
Labels: build

#7588 Python: Bump PyArrow to 12.0.0
  python/poetry.lock
  python/pyproject.toml
Labels: python

#7551 Core: Check for all specs in partitionsTable
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
Labels: core

#7517 API, Flink: StructProjection returns null projection object for null nested struct value
  api/src/main/java/org/apache/iceberg/util/StructProjection.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
Labels: API, flink

#7610 Build: Upgrade Gradle to 8.1.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#7596 Core: Remove deprecated AssertHelpers usage in catalog
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/catalog/TestTableIdentifierParser.java
Labels: core

#7595 Build: Bump Arrow from 11.0.0 to 12.0.0
  versions.props
Labels: build

#7592 Docs: Improve readability on page Branching and Tagging
  docs/branching-and-tagging.md
Labels: docs

#7494 Flink: change sink shuffle to use RowData as data type and statistics key type
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsFactory.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecordSerializer.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsFactory.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsSerializer.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
Labels: flink

#7493 Flink: add toString, equals, hashCode overrides for RowDataProjection.
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/DataGenerator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestRowDataProjection.java
Labels: flink

#7539 Implement ReadableMetrics for Entries table
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
Labels: spark, core

#7580 Add unique JDBC application identifier and user agent header
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeCatalog.java
  versions.props
Labels: build, SNOWFLAKE

#7591 Spark: Remove deprecated VectorizedSparkParquetReaders#buildReader API for 1.3.0 release
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: spark

#7398 Core: Allow deleting old partition spec columns in V1
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
Labels: core

#7361 API, Core, Spark:Add file groups failure in rewrite result
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core

#7590 AWS: Add S3FileIOAwsClientFactory with s3.client-factory-impl catalog property for S3FileIO
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/HttpClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/S3FileIOAwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOAwsClientFactories.java
Labels: AWS

#7487 Core: Add FileIO tracker/closer to REST catalog
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7555 API, Core: Expose file and data sequence numbers through ContentFile
  api/src/main/java/org/apache/iceberg/ContentFile.java
  api/src/main/java/org/apache/iceberg/Snapshot.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/InheritableMetadataFactory.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
Labels: API, core

#7558 Spark 3.4: Avoid local sort for MERGE cardinality check
  .gitignore
  jmh.gradle
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/jmh/java/org/apache/iceberg/spark/MergeCardinalityCheckBenchmark.java
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeRows.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeRowsExec.scala
Labels: spark, INFRA, build

#7565 Spark 3.4: Fixup for RewritePositionDeleteFilesSparkAction
  core/src/main/java/org/apache/iceberg/util/StructLikeMap.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
Labels: spark, core

#7571 Flink: Add retry limit for IcebergSource continuous split planning errors
  docs/flink-configuration.md
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
Labels: flink, docs

#7626 Disable Agg push down for incremental scan
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: spark

#7572 Spark 3.4: Add RewritePositionDeleteFilesProcedure
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewritePositionDeleteFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#7634 Remove Kyle and add bitsondatadev to collaborators .asf.yaml
  .asf.yaml
Labels: INFRA

#6952 Improve Error Handling to map Snowflake Exceptions into Iceberg Exceptions
  snowflake/src/main/java/org/apache/iceberg/snowflake/JdbcSnowflakeClient.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeCatalog.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/JdbcSnowflakeClientTest.java
Labels: SNOWFLAKE

#7629 Flink: backport Add config for max allowed consecutive planning failures in IcebergSource before failing the job (#7571) to 1.16 and 1.15
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/ManualContinuousSplitPlanner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
Labels: flink

#7632 Flink: backport PR #7494. change sink shuffle to use RowData as data type and statistics key type
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecordSerializer.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsSerializer.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecordSerializer.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsSerializer.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
Labels: flink

#7171 Flink: Fixes flink sink failed due to updating partition spec
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#7648 Core: Allow one data writer in BasePositionDeltaWriter
  core/src/main/java/org/apache/iceberg/io/BasePositionDeltaWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
Labels: core, data

#7650 Spark 3.4: Cosmetic updates for SparkPositionDeltaWrite
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
Labels: spark

#7654 Spark-3.4: Fix errorprone warning
  baseline.gradle
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/jmh/java/org/apache/iceberg/spark/MergeCardinalityCheckBenchmark.java
Labels: spark, INFRA, build

#7647 GCP, Pig: Switch tests to JUnit5
  build.gradle
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSInputStreamTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSOutputStreamTest.java
  pig/src/test/java/org/apache/iceberg/pig/SchemaUtilTest.java
Labels: pig, build, GCP

#7652 Spark 3.4: Fix NPE when create branch and tag on table without snapshot
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceTagExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#7301 Parquet: Update parquet to 1.13.1
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/configuration.md
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
  versions.props
Labels: parquet, core, docs, build

#7630 Spark-3.4: Harmonize RewriteDataFilesSparkAction
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, core

#6760 Spark 3.3, 3.4: use a deterministic where condition to make rewrite_data_files…
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#7662 Spark 3.2: backport Spark SQL extension on create/update/drop tags
  spark/v3.2/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateOrReplaceTag.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DropTag.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/TagOptions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceTagExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropTagExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#7659 Spark: Backport fix NPE when create branch and tag on table without snapshot
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceTagExec.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#7651 Core: Compacted position delete files should use the max data sequence number of source files
  api/src/main/java/org/apache/iceberg/RewriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesCommitManager.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: API, spark, core

#7589 Docs: RewritePositionDeleteFiles procedure
  docs/spark-procedures.md
Labels: docs

#7665 Core, Parquet: Remove Parquet dictionary encoding table property
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/configuration.md
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
Labels: parquet, core, docs

#7681 Infra: Use the standard shadow plugin
  build.gradle
Labels: build

#7553 Spark 3.4: Add TimestampNTZ
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkFilters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkFixupTimestampType.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/MonthsFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/YearsFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewriteBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/GenericsHelpers.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
Labels: spark

#7637 Spark 3.4: Distribution and ordering enhancements
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkDistributionAndOrderingUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteRequirements.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark, core

#7680 Flink: Port #7171 to flink 1.17
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#7679 Flink: Port #7171 to flink 1.15
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#7686 Spark 3.3: Avoid local sort for MERGE cardinality check
  .gitignore
  jmh.gradle
  spark/v3.3/build.gradle
  spark/v3.3/spark-extensions/src/jmh/java/org/apache/iceberg/spark/MergeCardinalityCheckBenchmark.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/MergeRows.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/MergeRowsExec.scala
Labels: spark, INFRA, build

#7687 Spark 3.3: Backport RewritePositionDeleteFilesProcedure (#7572)
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewritePositionDeleteFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#7676 Spark 3.3: Harmonize RewriteDataFilesSparkAction
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#7613 Core: Minor metadata table code harmonization for readable_metrics
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
Labels: core

#7641 Nessie: Disable table metadata files cleanup during commits
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#5659 Core: Support set system level properties with environmental variables
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/SystemConfigs.java
  core/src/main/java/org/apache/iceberg/SystemProperties.java
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
  core/src/test/java/org/apache/iceberg/TestManifestCaching.java
Labels: core

#7697 Core: Fix docstring
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
Labels: core

#7692 Core: Add writer for unordered position deletes
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutPositionOnlyDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
Labels: spark, core, data

#7698 Python: Refactor integration tests
  python/Makefile
  python/dev/Dockerfile
  python/dev/entrypoint.sh
  python/dev/provision.py
  python/mkdocs/docs/contributing.md
Labels: python

#2639 Parquet: Support parquet modular encryption
  data/src/test/java/org/apache/iceberg/data/parquet/TestParquetEncryptionWithWriteSupport.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetEncryption.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryFallbackToPlainEncodingVectorizedReads.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: spark, parquet, core, data

#7643 Core: Make all of the BaseFile stat maps immutable
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/SerializableByteBufferMap.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
Labels: core

#7649 Enable extra commit properties with metadata delete
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
Labels: spark, docs

#7703 Spark 3.4: Support fanout writers in SparkPositionDeltaWrite
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteRequirements.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
Labels: spark

#7693 Spark 3.3: Fixes bucket on binary column
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
Labels: spark

#7711 Core: Remove deprecated AssertHelpers
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateNamespaceRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestRenameTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestUpdateNamespacePropertiesRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestUpdateRequirementParser.java
Labels: core

#7701 Bump Nessie to 0.60.1
  versions.props
Labels: build

#7712 Build: Add openapi label
  .github/labeler.yml
Labels: INFRA

#7617 Parquet: skip writing bloom filter for deletes
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: parquet

#7742 AWS: Fix Tests3RestSigner on OSX
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
Labels: AWS

#7196 Clarify javadoc of listNamespaces()
  api/src/main/java/org/apache/iceberg/catalog/SessionCatalog.java
  api/src/main/java/org/apache/iceberg/catalog/SupportsNamespaces.java
  open-api/rest-catalog-open-api.yaml
Labels: API
