Repository apache/iceberg, pull requests merged in 2023-01, with the labels that each got.

#6506 Python: Refactor Avro read path to use a partner visitor
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/schema.py
  python/pyiceberg/typedef.py
  python/pyiceberg/types.py
  python/tests/avro/test_reader.py
  python/tests/avro/test_resolver.py
Labels: python

#6348 Python: Update license-checker
  python/dev/.rat-excludes
  python/dev/check-license
Labels: python

#6431 Parquet: Fix ParquetDictionaryRowGroupFilter evaluating NaN.
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
Labels: parquet

#6511 Core: Fix drop table without purge for REST session catalog
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#6501 Python: Use PyArrow buffer
  python/pyiceberg/avro/file.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/tests/avro/test_reader.py
  python/tests/io/test_pyarrow.py
Labels: python

#6344 Spark 3.3: Introduce the changelog iterator
  api/src/main/java/org/apache/iceberg/ChangelogOperation.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: API, spark

#6524 Spark 3.3: Discard filters that can be pushed down completely
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
Labels: spark

#6500 Aws: Cosmetic change in GlueTableOperations
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#6426 Flink: add fixed field type for DataGenerators test util
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
Labels: flink

#6528 Flink: Enable multiple flink sinks for the same table in the same job
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#6530 Spark 3.2: Introduce a changelog iterator
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: spark

#6534 Spark 3.3: Use regular planning for applicable row-level operations
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RowLevelCommandScanRelationPushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteOperation.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
Labels: spark

#6378 Spark: Extend Timeout During Partial Progress Rewrites
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
Labels: core

#6521 Python: Add Docker suggestion for testing
  python/mkdocs/docs/verify-release.md
  python/tests/io/test_pyarrow.py
Labels: python

#6529 Python: Re-enable mdformat
  python/.pre-commit-config.yaml
  python/README.md
Labels: python, docs

#6526 Python: Bump version to 0.3.0
  python/pyiceberg/__init__.py
  python/pyproject.toml
Labels: python

#6533 Python: fix cast in console CLI
  python/pyiceberg/catalog/__init__.py
Labels: python

#6540 Python: Fix the mdformat issue
  python/mkdocs/docs/verify-release.md
Labels: python

#6535 Python: Add announcement template
  python/mkdocs/docs/how-to-release.md
Labels: python

#6537 Flink: make two test util methods public from SimpleDataUtil
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
Labels: flink

#6532 Python: Fix reading 0-bytes binary
  python/pyiceberg/avro/decoder.py
  python/tests/avro/test_decoder.py
Labels: python

#6547 Nessie: Bump Nessie to 0.46.3
  versions.props
Labels: build

#6538 Add InMemoryFileIO as a test helper class
  core/src/test/java/org/apache/iceberg/io/InMemoryFileIO.java
  core/src/test/java/org/apache/iceberg/io/InMemoryOutputFile.java
  core/src/test/java/org/apache/iceberg/io/TestInMemoryFileIO.java
Labels: core

#6496 Core: Minor renaming to avoid engine specific naming in core
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
Labels: core

#5952 Spark: Perform nullability check on metastore and spark instances before invoking stop
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Labels: spark

#6556 API: Fix comments in SQLViewRepresentation
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
Labels: API

#6550 Spark 3.3: Automatically set Arrow properties for read performance
  spark/v3.3/build.gradle
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadDictionaryEncodedFlatParquetDataBenchmark.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadFlatParquetDataBenchmark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
Labels: spark, build

#6451 Hive: Lock hardening
  docs/configuration.md
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveSchemaUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveVersion.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/MetastoreUtil.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergInputFormat.java
  mr/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergObjectInspector.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestDeserializer.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergObjectInspector.java
Labels: MR, docs, hive

#6352 AWS: Fix inconsistent behavior of naming S3 location between read and write operations by allowing only s3 bucket name
  aws/src/main/java/org/apache/iceberg/aws/s3/S3URI.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3URI.java
Labels: AWS

#5629 Spark: Add "Iceberg" prefix to SparkTable name string for better observability of Iceberg tables on SparkUI
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
Labels: spark

#6476 API, Core, Flink, Parquet, Spark: Use enhanced for loop
  api/src/main/java/org/apache/iceberg/metrics/FixedReservoirHistogram.java
  api/src/main/java/org/apache/iceberg/types/JavaHashes.java
  core/src/jmh/java/org/apache/iceberg/util/ZOrderByteUtilsBenchmark.java
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/DeltaManifestsSerializer.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/DeltaManifestsSerializer.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/DeltaManifestsSerializer.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumDeletes.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumSplits.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumDeletes.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumSplits.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
Labels: API, spark, parquet, core, flink, hive

#6539 Core: Create commit groups in commit service offer in RewriteDataFilesCommitManager
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
Labels: core

#6572 Flink: backport PR #6337, PR #6426, PR #6557 to Flink 1.14 and 1.15 f…
  flink/v1.14/build.gradle
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/AvroGenericRecordToRowDataMapper.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/AvroGenericRecordConverterBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/DataGenerator.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestAvroGenericRecordToRowDataMapper.java
  flink/v1.15/build.gradle
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/AvroGenericRecordToRowDataMapper.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/AvroGenericRecordConverterBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/DataGenerator.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestAvroGenericRecordToRowDataMapper.java
Labels: flink, build

#6401 Flink: Change to oldestAncestorAfter
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink

#6517 Parquet: Fixes Incorrect Skipping of RowGroups with NaNs
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestCDHParquetStatistics.java
Labels: parquet, data

#6565 Core: View history entry core implementation
  api/src/main/java/org/apache/iceberg/view/ViewHistoryEntry.java
  core/src/main/java/org/apache/iceberg/view/ViewHistoryEntryParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewHistoryEntryParser.java
Labels: API, core

#6573 Docs: Add information on how to read from branches and tags in Spark docs
  docs/spark-queries.md
Labels: docs

#6428 Add new SnowflakeCatalog implementation to enable directly using Snowflake-managed Iceberg tables
  .github/labeler.yml
  build.gradle
  core/src/main/java/org/apache/iceberg/jdbc/JdbcClientPool.java
  settings.gradle
  snowflake/src/main/java/org/apache/iceberg/snowflake/JdbcSnowflakeClient.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/NamespaceHelpers.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeCatalog.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeClient.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeIdentifier.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeTableMetadata.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeTableOperations.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/FakeSnowflakeClient.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/JdbcSnowflakeClientTest.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/NamespaceHelpersTest.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/SnowflakeCatalogTest.java
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
  versions.props
Labels: spark, core, INFRA, build

#6525 Python: Refactor loading manifests
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/manifest.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/schema.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/refs.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/typedef.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/iceberg_base_model.py
  python/tests/avro/test_file.py
  python/tests/avro/test_reader.py
  python/tests/avro/test_resolver.py
  python/tests/expressions/test_evaluator.py
  python/tests/expressions/test_expressions.py
  python/tests/expressions/test_visitors.py
  python/tests/table/test_snapshots.py
  python/tests/test_schema.py
  python/tests/test_transforms.py
  python/tests/test_typedef.py
  python/tests/test_types.py
  python/tests/utils/test_manifest.py
Labels: python

#6585 Update ORC to 1.8.2
  versions.props
Labels: build

#6574 Python: Raise exception on deletes
  python/pyiceberg/table/__init__.py
  python/tests/table/test_init.py
Labels: python

#6583 Flink: Refactor sink tests to use HadoopCatalogResource
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogResource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#6601 Docs: Fix minor typo in time travel dataframe section
  docs/spark-queries.md
Labels: docs

#6603 Flink: Backport: Improve unit tests for sink
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
Labels: flink

#6357 Core: Remove TableOperations from metadata tables.
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/AllDataFilesTable.java
  core/src/main/java/org/apache/iceberg/AllDeleteFilesTable.java
  core/src/main/java/org/apache/iceberg/AllEntriesTable.java
  core/src/main/java/org/apache/iceberg/AllFilesTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalChangelogScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalScan.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseReadOnlyTable.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/DataFilesTable.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/DeleteFilesTable.java
  core/src/main/java/org/apache/iceberg/FilesTable.java
  core/src/main/java/org/apache/iceberg/HistoryTable.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTable.java
  core/src/main/java/org/apache/iceberg/ManifestsTable.java
  core/src/main/java/org/apache/iceberg/MetadataLogEntriesTable.java
  core/src/main/java/org/apache/iceberg/MetadataTableUtils.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/main/java/org/apache/iceberg/RefsTable.java
  core/src/main/java/org/apache/iceberg/SnapshotsTable.java
  core/src/main/java/org/apache/iceberg/StaticTableScan.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
Labels: core

#6602 Flink: Backport: Flink: Refactor sink tests to use HadoopCatalogResource
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogResource.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogResource.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#6489 Core: Improve token exchange handling when token expires
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestOAuth2Util.java
Labels: core

#6569 Spark: Add the query ID to file names
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark, core

#6610 Flink: Port Support inspecting metadata table to Flink 1.14 & 1.15
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/data/StructRowData.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/DataTaskReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/MetaDataReaderFunction.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/data/TestStructRowData.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/data/StructRowData.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/DataTaskReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/MetaDataReaderFunction.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/data/TestStructRowData.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
Labels: flink

#6578 Core: Support access to response headers from POST requests
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#6324 Make UGI current user the default owner of Hive db&tbl
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveHadoopUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#6618 API: Rename query to sql on SQLViewRepresentation API
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
Labels: API

#6575 Spark 3.3: support version travel by reference name
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#6474 Make it explicit that metrics reporter is required
  core/src/main/java/org/apache/iceberg/BaseTable.java
Labels: core

#6609 Core: Add test for token expiration during refresh
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/auth/AuthSessionUtil.java
Labels: core

#6628 Nessie: Bump to 0.47.0
  versions.props
Labels: build

#6584 Flink: support reading as Avro GenericRecord for FLIP-27 IcebergSource
  docs/flink-getting-started.md
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/AvroGenericRecordFileScanTaskReader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/RowDataToAvroGenericRecordConverter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/ListBatchRecords.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/ListDataIteratorBatcher.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestRowDataToAvroGenericRecordConverter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
Labels: flink, docs

#6627 Docs: Update spark SQL examples for time travel to branches and tags
  docs/spark-queries.md
Labels: docs

#6586 AWS: make warehouse path optional for read only catalog use cases
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#6631 Flink: backport PR #6584 to 1.14 and 1.15 for Avro GenericRecord in FLIP-27 source
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/AvroGenericRecordFileScanTaskReader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/RowDataToAvroGenericRecordConverter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ListBatchRecords.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/reader/ListDataIteratorBatcher.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestRowDataToAvroGenericRecordConverter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/AvroGenericRecordFileScanTaskReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataToAvroGenericRecordConverter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/ListBatchRecords.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/ListDataIteratorBatcher.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestRowDataToAvroGenericRecordConverter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestRowDataToAvroGenericRecordConverter.java
Labels: flink

#6617 Spark: Spark SQL Extensions for create branch
  spark/v3.3/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateBranch.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateBranchExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateBranch.java
Labels: spark

#6607 Python: Fix `test_missing_uri` unit test
  python/tests/cli/test_console.py
Labels: python

#6635 Flink: add table setter to FLIP-27 IcebergSource#Builder.
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
Labels: flink

#6629 Build: Fix minor error-prone warnings
  baseline.gradle
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveVersion.java
Labels: core, INFRA, build, hive

#5234 Core, API: BaseRowDelta, BaseOverwrite,BaseReplacePartitions, BaseRewrite to branch Impl
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: core, data

#6074 API,Core: SnapshotManager to be created through Transaction
  api/src/main/java/org/apache/iceberg/Transaction.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/CommitCallbackTransaction.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
Labels: API, core

#6634 Core: Fix for deleting files when commiting transactions with multiple branches
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
Labels: core

#6633 Spark 3.3: Fix predicate pushdown for copy-on-write MERGE commands
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RowLevelCommandScanRelationPushDown.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#6358 AWS: Print logs whether Glue optimistic locking is used or not
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
Labels: AWS

#6623 AWS, Docs: Add AWS Glue in Run Iceberg on AWS section
  docs/aws.md
Labels: docs

#6654 Python: Check if optional Parquet kv metadata is None before reading Iceberg Schema
  python/pyiceberg/io/pyarrow.py
Labels: python

#6643 Python: Bump s3fs
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6562 Core: Improvements around Token Refresh time expiration
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
Labels: core

#6645 Python: Parallelize IO
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/table/__init__.py
Labels: python

#6591 Core: Avoid creating new metadata file when `registerTable` API is used
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsTableOperations.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: core, hive, AWS, NESSIE, DELL

#6671 Spark 3.2: Automatically set Arrow properties for read performance
  spark/v3.2/build.gradle
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadDictionaryEncodedFlatParquetDataBenchmark.java
  spark/v3.2/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadFlatParquetDataBenchmark.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
Labels: spark, build

#6664 Core: Fix API breakages around scanMetrics()
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/SnapshotScan.java
Labels: core

#6566 Python: Add visitor to DNF expr into Dask/PyArrow format
  python/pyiceberg/expressions/visitors.py
  python/tests/expressions/test_visitors.py
Labels: python

#6678 Nessie: Update the outdated javadoc
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: NESSIE

#6656 Nessie: Avoid usage of deprecated APIs in test
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#6680 Core: DeleteWithFilter fails on HashCode Collision
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
Labels: core

#6705 Python: Update pyproject.toml to include dev folder.
  python/pyproject.toml
Labels: python

#6704 Python: Update pyproject.toml to include dev folder.
  python/pyproject.toml
Labels: python

#6702 Python: Let pytest know that it shouldn't collect TestType
  python/tests/test_transforms.py
Labels: python

#6683 Doc: Add update and merge distribution mode table props
  docs/configuration.md
Labels: docs

#6673 Python: Optimize PyArrow reads
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/schema.py
Labels: python

#6707 Mark updated auth fields volatile for refresh
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
Labels: core
