Repository apache/iceberg, pull requests merged in 2023-02, with the labels that each got.

#6722 Pin openapi-spec-validator version
  .github/workflows/open-api.yml
Labels: INFRA

#6653 API: Fix Transform backward compatibility in PartitionSpec
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
Labels: core

#6720 Python: Publish the docs by hand
  .github/workflows/python-ci-docs.yml
  python/mkdocs/docs/how-to-release.md
Labels: python, INFRA

#6638 Spark: REPLACE BRANCH SQL implementation
  spark/v3.3/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/BranchOptions.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateOrReplaceBranch.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateBranchExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateBranch.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestReplaceBranch.java
Labels: spark

#6695 Spark-3.3: Handle no-op for rewrite manifests procedure/action
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6169 AWS,Core: Add S3 REST Signer client + REST Spec
  .github/workflows/open-api.yml
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3ObjectMapper.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3SignRequest.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3SignRequestParser.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3SignResponse.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3SignResponseParser.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  aws/src/main/resources/s3-signer-open-api.yaml
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/MinioContainer.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/S3SignerServlet.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignRequestParser.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignResponseParser.java
  build.gradle
  versions.props
Labels: core, INFRA, build, AWS

#6728 Spark: Fix isIcebergCommand check and style issues from #6638
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateBranch.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestReplaceBranch.java
Labels: spark

#6730 Spark-3.2: Handle no-op for rewrite manifests procedure/action
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6731 Spark-3.1: Handle no-op for rewrite manifests procedure/action
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6733 Spark-2.4: Handle no-op for rewrite manifests action
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#6655 Spark: Handle ResolvingFileIO while determining LocalityPreference
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/SourceUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
Labels: spark, core, flink

#6674 Add support for special characters in snowflake identifiers for Snowflake Catalog
  snowflake/src/main/java/org/apache/iceberg/snowflake/JdbcSnowflakeClient.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/JdbcSnowflakeClientTest.java
Labels: SNOWFLAKE

#6743 Flink: Backport handling ResolvingFileIO in determining locality - PR 6655
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/SourceUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/SourceUtil.java
Labels: flink

#6749 Prevent RESTCatalog AuthSession from expiring
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#6738 Python: Bump pre-commit plugins to the latest version
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/reader.py
  python/pyiceberg/utils/bin_packing.py
  python/tests/catalog/test_base.py
  python/tests/cli/test_console.py
  python/tests/expressions/test_visitors.py
Labels: python

#6737 Python: Avoid local imports in test
  python/tests/catalog/integration_test_glue.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_glue.py
  python/tests/cli/test_console.py
  python/tests/conftest.py
Labels: python

#6719 Python: Publish the docs by hand
  .github/workflows/python-ci-docs.yml
  python/mkdocs/docs/how-to-release.md
Labels: python, INFRA

#6657 Python: Allow to pass in a string as filter
  python/mkdocs/docs/api.md
  python/pyiceberg/table/__init__.py
Labels: python

#6721 Python: Remove the DNF conversion
  python/pyiceberg/io/pyarrow.py
Labels: python

#6449 Delta: Support Snapshot Delta Lake Table to Iceberg Table
  .github/workflows/delta-conversion-ci.yml
  build.gradle
  delta-lake/src/integration/java/org/apache/iceberg/delta/DeltaLakeToIcebergMigrationSparkIntegration.java
  delta-lake/src/integration/java/org/apache/iceberg/delta/SparkDeltaLakeSnapshotTestBase.java
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableAction.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableActionResult.java
  delta-lake/src/main/java/org/apache/iceberg/delta/DeltaLakeDataTypeVisitor.java
  delta-lake/src/main/java/org/apache/iceberg/delta/DeltaLakeToIcebergMigrationActionsProvider.java
  delta-lake/src/main/java/org/apache/iceberg/delta/DeltaLakeTypeToType.java
  delta-lake/src/main/java/org/apache/iceberg/delta/SnapshotDeltaLakeTable.java
  delta-lake/src/test/java/org/apache/iceberg/delta/TestBaseSnapshotDeltaLakeTableAction.java
  delta-lake/src/test/java/org/apache/iceberg/delta/TestDeltaLakeTypeToType.java
  settings.gradle
  versions.props
Labels: spark, core, data, INFRA, build

#6554 Parquet: Improve Test Coverage of RowGroupFilter Code with Nans #6518
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
Labels: data

#6787 Spark: Update register table procedure test case for all the catalogs
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
Labels: spark

#6782 Core: Update httpclient5 for thread interrupt fix
  versions.props
Labels: build

#6745 Python: Use Version Ranges for Various Dependencies
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6764 Flink: improve metrics (elapsedSecondsSinceLastSuccessfulCommit) and …
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitterMetrics.java
Labels: flink

#6746 AWS: Load HttpClientBuilder dynamically to avoid runtime deps of both urlconnection and apache client
  aws/src/main/java/org/apache/iceberg/aws/ApacheHttpClientConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/UrlConnectionHttpClientConfigurations.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestHttpClientConfigurations.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
Labels: core, AWS

#6776 Spark 3.3: Improve log messages in scans
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#6744 Spark: Backport handling ResolvingFileIO in determining locality - PR-6655
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
Labels: spark

#6777 Core: TableMetadata Always Strips Trailing Slash From Location
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/SnowflakeCatalogTest.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark, core, SNOWFLAKE

#6790 Nessie 0.48.2
  build.gradle
  versions.props
Labels: build

#6410 Configurable metrics reporter by catalog properties
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core, hive

#6795 AWS: Remove unused validateTableIdentifier method in IcebergToGlueConverter
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
Labels: AWS

#6792 Spark 3.3: Remove redundant vars in ChangelogRowReader
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
Labels: spark

#6793 Spark 3.3: Fix comment formatting
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkFileWriterFactory.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
Labels: spark

#6637 Spark: Spark SQL Extensions for create tag
  spark/v3.3/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateOrReplaceTag.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/TagOptions.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceTagExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#6765 Doc: update Flink doc for sink metrics
  docs/flink-getting-started.md
Labels: docs

#6811 Allow lazy loading of snapshots in TableMetadata
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotLoading.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#6660 Flink: Support writes to branches in FlinkSink
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink

#6819 Properly use TypeVar for bounding TableScan return
  python/pyiceberg/table/__init__.py
Labels: python

#6815 API: Revert to using stephenc findbugs dependency for Nullable
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
  build.gradle
  versions.props
Labels: API, build

#6644 Python: Add support for static table
  python/mkdocs/docs/api.md
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/table/__init__.py
  python/tests/catalog/test_hive.py
  python/tests/conftest.py
  python/tests/table/test_init.py
Labels: python

#6791 Core: Refactor validation in TableScanUtil
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
Labels: core

#5029 Flink: Use Tag or Branch to scan data.
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
Labels: data, flink

#6735 Parquet: deprecate Decimal Metadata usage in favor of DecimalLogicalTypeAnnotation
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvroValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvroWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  pig/src/main/java/org/apache/iceberg/pig/PigParquetReader.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
Labels: spark, parquet, pig

#6807 Spark 3.3: SQL Extensions for DROP TAG
  spark/v3.3/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DropTag.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropTagExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#6797 Spark 3.3: Return partition stats for AddFiles procedure
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#6827 Python: Inline the PyArrow import
  python/pyiceberg/table/__init__.py
Labels: python

#6822 Python: Set PyArrow as the default FileIO
  python/mkdocs/docs/configuration.md
  python/pyiceberg/io/__init__.py
  python/tests/catalog/test_glue.py
  python/tests/io/test_io.py
Labels: python

#6842 Python: Fix the CI
  python/tests/catalog/test_dynamodb.py
Labels: python

#6740 Add application identifier for Snowflake JDBC driver
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeCatalog.java
Labels: SNOWFLAKE

#6818 Spark 3.3: add_files data loss when SNAPSHOT_ID_INHERITANCE_ENABLED
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#6845 Spark 3.2 : Backport PR #6818
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#6828 Spark 3.3: Change default distribution modes
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: spark

#6834 Data: Add a select interface with collections for IcebergGenerics
  data/src/main/java/org/apache/iceberg/data/IcebergGenerics.java
Labels: data

#6851 Python: Convert string to boolean if the binding variable is Boolean
  python/pyiceberg/expressions/literals.py
  python/tests/expressions/test_literals.py
Labels: python

#6696 Build: Bump Arrow from 10.0.1 to 11.0.0
  versions.props
Labels: build

#6843 [Python Legacy] Convert string to boolean if the binding variable is Boolean
  python_legacy/iceberg/api/expressions/literals.py
  python_legacy/tests/api/expressions/test_string_literal_conversions.py
Labels: python

#6856 Spark 3.1: Add rewritten bytes to rewrite data files procedure results
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark

#6855 Spark 3.2: Add rewritten bytes to rewrite data files procedure results
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark

#6823 AWS: set lastEvaluatedKey for listTables in DynamoDb Catalog
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
Labels: AWS

#6808 Flink: backport PR #6764 to 1.14 and 1.15 for elapsedSecondsSinceLast…
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitterMetrics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitterMetrics.java
Labels: flink

#6864 Python: Add `default-catalog` option to the config
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/utils/config.py
Labels: python

#6771 Docs: Document that partitions metadata table might show 'old' partitions
  docs/spark-queries.md
Labels: core, docs

#6859 AWS: Fix warning in S3V4RestSignerClient
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
Labels: AWS

#6838 Spark 3.3: Add a new Spark SQLConf to influence the write distribution mode
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#6846 Spark 3.1: add_files data loss when SNAPSHOT_ID_INHERITANCE_ENABLED
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#6716 Spark 3.3: Implement Position Deletes Table
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/PositionDeletesRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkRowReaderFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesTable.java
Labels: API, spark, parquet, core, data

#5615 Delete orphan files jmh benchmark
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/action/DeleteOrphanFilesBenchmark.java
Labels: spark

#6848 Python: Bump DuckDB to 0.7.0
  python/poetry.lock
  python/pyproject.toml
Labels: python

#6874 Add more pyiceberg doc
  python/mkdocs/docs/api.md
Labels: python

#6850 Add REST Support for lazy snapshot loading
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  open-api/rest-catalog-open-api.yaml
Labels: core

#6835 AWS: OSS S3 Signer Updates
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3ObjectMapper.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
Labels: AWS

#6869 Build: Fix compile warning with Immutables subtype
  api/src/main/java/org/apache/iceberg/view/ViewRepresentation.java
Labels: API

#6877 Spark 3.2: Change default distribution modes
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: spark

#6878 Spark 3.2: Add a new Spark SQLConf to influence the write distribution mode
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#6826 Bump Gradle to 8.0
  build.gradle
  deploy.gradle
  flink/v1.14/build.gradle
  flink/v1.15/build.gradle
  flink/v1.16/build.gradle
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  hive-runtime/build.gradle
  hive3-orc-bundle/build.gradle
  spark/v2.4/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
Labels: spark, flink, INFRA, build, hive

#6831 Core: Make Iceberg version in EnvironmentContext by default
  core/src/main/java/org/apache/iceberg/EnvironmentContext.java
  core/src/test/java/org/apache/iceberg/TestEnvironmentContext.java
Labels: core

#6090 Core: Handle statistics file clean up from expireSnapshots
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
  core/src/main/java/org/apache/iceberg/ReachableFileCleanup.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#6898 Spark 3.3: Handle Spark Row more generically
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: spark

#6899 Spark 3.3: Optimize metadata-only DELETEs
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: API, spark

#6909 Spark 3.2: Minor updates to ChangelogIterator
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: spark

#6717 spark 3.3 read by snapshot ref schema
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCachedTableCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#6912 Spark 3.2: Optimize DELETEs handled using metadata
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: spark

#6779 Spark 3.2, 3.3: use table partition schema in add_files for getPartitions to avoid data corruption
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#6916 AWS: Change GlueCatalog skip archive default to true
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  docs/aws.md
Labels: docs, AWS

#6622 push down min/max/count to iceberg
  api/src/main/java/org/apache/iceberg/TableScan.java
  api/src/main/java/org/apache/iceberg/expressions/AggregateEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/BoundAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/CountAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/CountNonNull.java
  api/src/main/java/org/apache/iceberg/expressions/CountStar.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/MaxAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MinAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/ValueAggregate.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkAggregates.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkLocalScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
Labels: API, spark, core

#6876 Spark 3.3: Improve task and job abort handling
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkCleanupUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#6917 Fix Types from string, allow spaces
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestTypes.java
Labels: API

#6921 [Rest Catalog Spec] Correct snapshot id and time ms int format
  open-api/rest-catalog-open-api.yaml
Labels: spark

#6926 Spark 3.2: Improve task and job abort handling
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkCleanupUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#6923 Aggregate Push Down Followup
  api/src/main/java/org/apache/iceberg/TableScan.java
  core/src/main/java/org/apache/iceberg/BaseTableScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkAggregates.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkAggregates.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkLocalScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
Labels: API, spark, core

#6895 Core: use random port for rest catalog unit tests
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#6714 Python: Filter on Datafile metrics
  python/pyiceberg/conversions.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/table/__init__.py
  python/tests/expressions/test_evaluator.py
Labels: python

#6950 Flink: Add branch to successful commit logs
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
Labels: flink

#6753 Flink: use projection when delete records in upsert mode
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#6953 Flink: fix compiling error from PR #6753
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#6947 Core: Use server URI from REST server instead of manually constructing it
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#6946 Python: Fix timezone concat issue
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
Labels: python

#6889 Spark 3.3: Skip duplicate check on deleted file path when import files
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#6852 Build: Bump Apache Spark to 3.3.2
  spark/v3.3/build.gradle
Labels: spark, build

#6954 Flink 1.14/1.15: backport projection fix from #6753
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#6958 Flink: fixed IcebergSource$Builder missing generics
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
Labels: flink

#6949 Flink: Backport #6660 to Flink 1.14 and 1.15
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBase.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
Labels: flink
