Repository apache/iceberg, pull requests merged in 2023-10, with the labels that each got.

#8677 AWS: avoid static global credentials provider which doesn't play well with lifecycle management
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
Labels: AWS

#8569 open-api: Add namespaceExist API
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8700 Labeler: Add Specification label
  .github/labeler.yml
Labels: INFRA

#8648 API, Core: Allow setting a View's location
  api/src/main/java/org/apache/iceberg/UpdateLocation.java
  api/src/main/java/org/apache/iceberg/view/View.java
  api/src/main/java/org/apache/iceberg/view/ViewBuilder.java
  core/src/main/java/org/apache/iceberg/view/BaseMetastoreViewCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseView.java
  core/src/main/java/org/apache/iceberg/view/SetViewLocation.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: API, core

#8706 Docs: Document publish_changes procedure
  docs/spark-procedures.md
Labels: docs

#8716 OpenAPI: Add AssignUUID update to metadata updates
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#5338 Spec: Inconsistency around files_count
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
Labels: API, core, Specification

#8726 Revert "Spec: Mark added_snapshot_id as optional (#8600)"
  format/spec.md
Labels: Specification

#8727 Build: Let revapi compare against 1.4.0
  build.gradle
Labels: build

#8728 Build: Add 1.4.0 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#8685 Spark: Clean up FileIO instances on executors
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
Labels: spark

#8750 Nessie: Remove dead code in NessieCatalog
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: NESSIE

#8751 API: Fix REST Catalog schema error: uniqueItems is not valid on type object
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8752 Core: Use visibility string instead of enum for Immutable visibility
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteOrphanFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteReachableFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseExpireSnapshots.java
  core/src/main/java/org/apache/iceberg/actions/BaseMigrateTable.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewritePositionalDeleteFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseSnapshotTable.java
  core/src/main/java/org/apache/iceberg/view/BaseViewHistoryEntry.java
  core/src/main/java/org/apache/iceberg/view/BaseViewVersion.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
Labels: core

#8707 Dell : Migrate Files using TestRule to Junit5.
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsAppendOutputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsCatalog.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsInputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsOutputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsSeekableInputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsTableOperations.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/EcsS3MockRule.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/TestExceptionCode.java
Labels: build, DELL

#8758 Build: Fix minor compilation warnings
  core/src/jmh/java/org/apache/iceberg/metrics/CountersBenchmark.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
Labels: core, flink

#8759 Core: Use more permissive check when registering existing table
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#8709 Docs: Document all metadata tables.
  docs/spark-queries.md
Labels: core, docs

#8768 Build: increase open-pull-requests-limit to 50
  .github/dependabot.yml
Labels: INFRA

#8753 OpenAPI: Add description for AssignUUID
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8552 Core: Support view metadata compression
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  core/src/main/java/org/apache/iceberg/view/ViewProperties.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
Labels: core

#8796 Nessie: Remove deprecated usage of Operation.Put.of()
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: NESSIE

#8722 Rename master branch to main
  .github/workflows/api-binary-compatibility.yml
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/open-api.yml
  .github/workflows/spark-ci.yml
  README.md
  build.gradle
  docs/flink-writes.md
  docs/metrics-reporting.md
Labels: python, INFRA, docs, build

#8763 Build: Fix compiler warnings
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/JdbcSnowflakeClientTest.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
Labels: spark, hive, AWS, GCP, SNOWFLAKE, AZURE

#8819 Flink, Aliyun, MR, Delta-lake, Hive3, Parquet, Data: replaced .size() > 0 with isEmpty()
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalStore.java
  api/src/main/java/org/apache/iceberg/expressions/ResidualEvaluator.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableAction.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  hive3/src/main/java/org/apache/hadoop/hive/ql/io/orc/OrcSplit.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergOutputCommitter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
Labels: API, parquet, data, flink, MR, hive, AWS, ALIYUN

#8814 Spark: spark/*: replaced .size() > 0 with isEmpty()
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/FileScanTaskSetManager.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ScanTaskSetManager.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackPositionDeletesRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewriteBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/ScanTaskSetManager.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackPositionDeletesRewriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewriteBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/ScanTaskSetManager.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackPositionDeletesRewriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewriteBuilder.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#8813 Core: Replace `.size() > 0` with `!.isEmpty()`
  core/src/main/java/org/apache/iceberg/BaseDistributedDataScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalChangelogScan.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/actions/BaseCommitService.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
  core/src/main/java/org/apache/iceberg/io/DeleteWriteResult.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
Labels: core

#8842 Docs: Remove AWS Version
  docs/aws.md
Labels: docs

#8826 Build: add gradle configuration to enforce reproducible build
  build.gradle
Labels: build

#8834 Core: fix reading of split offsets in manifests
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
Labels: core

#8766 Build: Add note about running tests/itests on MacOS
  README.md
Labels: docs

#8853 Spark 3.5: Use Awaitility instead of Thread.sleep()
  spark/v3.5/build.gradle
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
Labels: spark, build

#8848 Flink: Reverting the default custom partitioner for bucket column
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
Labels: flink

#8858 [1.4.x] Flink: Reverting the default custom partitioner for bucket column (#8848)
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
Labels: flink

#8860 Core: Ignore split offsets when the last split offset is past the file length
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
Labels: core

#8852 Flink 1.17: Use awaitility instead of Thread.sleep()
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
Labels: flink

#8861 [1.4.x] Core: Ignore split offsets when the last split offset is past the file length
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
Labels: core

#8843 [1.4.x] AWS: avoid static global credentials provider which doesn't play well with lifecycle management (#8677)
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
Labels: AWS

#8765 Open-API: Make error required
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8875 Add missing license headers
  .baseline/checkstyle/checkstyle-suppressions.xml
  .baseline/checkstyle/checkstyle.xml
  .baseline/idea/intellij-java-palantir-style.xml
  gradle/libs.versions.toml
Labels: INFRA

#8798 Nessie: Adapt to Nessie 0.71.1 release
  nessie/src/test/java/org/apache/iceberg/nessie/TestCustomNessieClient.java
Labels: NESSIE

#8870 AWS: Glue catalog strip trailing slash on DB URI
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#8877 Flink 1.15: Use awaitility instead of Thread.sleep()
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
Labels: flink

#8666 Build: Replace deprecated command with environment file
  .github/workflows/jmh-benchmarks.yml
Labels: INFRA

#8885 Doc: fix iceberg-javadoc link
  README.md
Labels: docs

#8884 Spark 3.4: Use Awaitility instead of Thread.sleep()
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
Labels: spark, build

#8883 Spark 3.3: Use Awaitility instead of Thread.sleep()
  spark/v3.3/build.gradle
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
Labels: spark, build

#8882 Spark 3.2: Use Awaitility instead of Thread.sleep()
  spark/v3.2/build.gradle
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
Labels: spark, build

#8873 Add sort_order_id to SCAN_COLUMNS to address null sort order ID in p…
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
Labels: core

#8889 Infra: Update slack invite link
  .github/ISSUE_TEMPLATE/iceberg_question.yml
Labels: INFRA

#8678 Core: Derive 'operation' from view version
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/BaseMetastoreViewCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseViewVersion.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionReplace.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  core/src/test/resources/org/apache/iceberg/view/ValidViewMetadata.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentSchema.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentVersion.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingCurrentVersion.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingLocation.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMultipleSQLsForDialect.json
  format/view-spec.md
Labels: API, core, Specification

#8723 Core: Make view metadata properties optional in JSON parser
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
Labels: core

#8865 Core: Improvements around View catalog tests
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: core

#8890 INFRA: Avoid Running engine and core CI on template update
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#8886 Infra: Add 1.4.1 to Bug template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#8879 Update release template
  dev/source-release.sh
Labels: INFRA

#8878 INFRA: Disable merging explicitly
  .asf.yaml
Labels: INFRA

#8914 Open-API: Error response in the spec don’t align with the expected model.
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8868 Core: Reduce unnecessary add operations in deletedPaths set
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
Labels: core

#8924 Spark: Clean up FileIO instances on executors for metadata tables
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
Labels: spark

#8925 Core: Ignore split offsets array when split offset is past file length
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
Labels: core

#8938 [1.4.x] Core: Ignore split offsets array when split offset is past file length
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
Labels: core

#8804 AWS, Core: Use Awaitility instead of Thread.sleep
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  build.gradle
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcTableConcurrency.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveTableConcurrency.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/SparkSQLExecutionHelper.java
Labels: spark, core, build, hive, AWS

#8937 AWS: Remove AssertHelpers usage
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbLockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationDataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationMetadataOperations.java
Labels: AWS

#8494 Core: fix `NullPointerException` when calling `InMemoryLockManager#release` using Hadoop catalog
  core/src/main/java/org/apache/iceberg/util/LockManagers.java
Labels: core

#8800 API, Core: Add UUID API to Table
  api/src/main/java/org/apache/iceberg/Table.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: API, core

#8892 Docs: Fix some typos in docs
  docs/java-custom-catalog.md
  docs/spark-procedures.md
Labels: docs

#7710 Open-API: Refactor TableRequirements
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8935 Spark 3.5: Don't cache or reuse manifest entries while rewriting metadata by default
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#8956 Spark 3.2: Don't cache or reuse manifest entries while rewriting metadata by default
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#8955 Spark 3.3: Don't cache or reuse manifest entries while rewriting metadata by default
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#8954 Spark 3.4: Don't cache or reuse manifest entries while rewriting metadata by default
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#8851 API, Core: Add uuid() to View
  api/src/main/java/org/apache/iceberg/view/View.java
  core/src/main/java/org/apache/iceberg/view/BaseView.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: API, core

#8948 Spark 3.5: Remove AssertHelpers usage
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#8945 Flink v1.15 : Remove usage of AssertHelpers
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink

#8946 FlinkV1.16 : Remove usage of AssertHelpers
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink

#8958 Docs: Document UNORDERED for spark write
  docs/spark-ddl.md
Labels: docs

#8928 Spark: Avoid extra copies of manifests while optimizing V2 tables
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  docs/configuration.md
  docs/spark-procedures.md
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark, core, docs
