Repository apache/iceberg, pull requests merged in 2023-12, with the labels that each got.

#9183 Core: Expired Snapshot files in a transaction should be deleted.
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
Labels: core

#9131 Core: Schema for a branch should return table schema
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/util/TestSnapshotUtil.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
Labels: spark, core

#9216 Flink: fix flaky test that might fail due to classloader check
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink

#9122 Aliyun: Switch iceberg-aliyun's tests to Junit5
  aliyun/src/test/java/org/apache/iceberg/aliyun/TestAliyunClientFactories.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/TestUtility.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/AliyunOSSExtension.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/AliyunOSSTestBase.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/OSSIntegrationExtension.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSFileIO.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSURI.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockExtension.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/TestLocalAliyunOSS.java
  build.gradle
Labels: build, ALIYUN

#9219 Spark: Don't allow branch_ usage with VERSION AS OF
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark, core

#9179 Flink: Document watermark generation feature
  docs/flink-queries.md
Labels: docs

#9226 Flink: backport PR #9216 for disabling classloader check
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink

#9225 Core: Handle IAE in default error handler
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: core

#9221 Core: Fix logic in BaseTransaction for determining set of committed files when there are no new snapshots
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
Labels: core

#9213 Style: Replace Arrays.asList with Collections.singletonList
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignRequestParser.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignResponseParser.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveSchemaUtil.java
Labels: spark, parquet, core, data, flink, hive, AWS

#9181 Core: Add comment property to ViewProperties
  core/src/main/java/org/apache/iceberg/view/ViewProperties.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/resources/org/apache/iceberg/view/ValidViewMetadata.json
Labels: core

#9162 Spec: Clarify how column IDs are required for parquet files
  format/spec.md
Labels: Specification

#8831 Core: Introduce AssertViewUUID
  core/src/main/java/org/apache/iceberg/UpdateRequirement.java
  core/src/main/java/org/apache/iceberg/UpdateRequirementParser.java
  core/src/main/java/org/apache/iceberg/UpdateRequirements.java
  core/src/main/java/org/apache/iceberg/rest/RESTViewOperations.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirementParser.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#9236 Core: Fix equality in StructLikeMap
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/util/StructLikeMap.java
  core/src/test/java/org/apache/iceberg/util/TestStructLikeMap.java
Labels: API, core

#9194 Core: Add PartitionMap
  core/src/main/java/org/apache/iceberg/util/PartitionMap.java
  core/src/main/java/org/apache/iceberg/util/PartitionSet.java
  core/src/test/java/org/apache/iceberg/util/TestPartitionMap.java
Labels: core

#9238 Docs: Document reading in Spark using branch and tag identifiers
  docs/spark-queries.md
Labels: docs

#8857 Nessie: reimplement namespace operations
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestMultipleClients.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieIcebergClient.java
Labels: NESSIE

#8398 Delta: Fix integration tests and Create DataFile by partition values instead of path
  .github/workflows/delta-conversion-ci.yml
  build.gradle
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableAction.java
  gradle/libs.versions.toml
Labels: INFRA, build

#9242 [spark 3.5] Support specifying spec_id in RewriteManifestProcedure
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
Labels: spark

#9165 Spark 3.5: Rework DeleteFileIndexBenchmark
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
  spark/v3.5/build.gradle
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/DeleteFileIndexBenchmark.java
Labels: spark, core, build

#9250 Spark 3.5: Fix testReplacePartitionField for Rewrite Manifests
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
Labels: spark

#9248 Core: Fix null partitions in PartitionSet
  core/src/main/java/org/apache/iceberg/util/PartitionSet.java
  core/src/test/java/org/apache/iceberg/util/TestPartitionMap.java
  core/src/test/java/org/apache/iceberg/util/TestPartitionSet.java
Labels: core

#9212 Flink: switch to use SortKey for data statistics
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsSerializer.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatistics.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatisticsTracker.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinatorProvider.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapDataStatistics.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerNestedStruct.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerPrimitives.java
Labels: flink

#9173 Flink: Fix IcebergSource tableloader lifecycle management in batch mode
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
Labels: flink

#9012 Core: Improve view/table detection when replacing a table/view
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseMetastoreViewCatalog.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: core

#8920 Core: Add table session cache
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#9240 Open-API: Refactor updates with discriminator
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9241 Switch to junit5 for mr
  mr/build.gradle
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestDeserializer.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergOutputCommitter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergBinaryObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergDateObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergDecimalObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergFixedObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergRecordObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimeObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampWithZoneObjectInspector.java
  mr/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergUUIDObjectInspector.java
Labels: MR, build

#9267 Data: Add GenericFileWriterFactory
  data/src/main/java/org/apache/iceberg/data/GenericFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/data/TestGenericFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
Labels: data, flink

#9282 Hive: Introduce HiveMetastoreExtension for Hive tests
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreExtension.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableBaseTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestCachedClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
Labels: hive

#9277 Core: Add StandardEncryptionManager
  api/src/main/java/org/apache/iceberg/encryption/EncryptedOutputFile.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/TableOperations.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/encryption/EncryptionUtil.java
  core/src/main/java/org/apache/iceberg/encryption/KeyMetadataDecoder.java
  core/src/main/java/org/apache/iceberg/encryption/KeyMetadataEncoder.java
  core/src/main/java/org/apache/iceberg/encryption/PlaintextEncryptionManager.java
  core/src/main/java/org/apache/iceberg/encryption/StandardEncryptionManager.java
  core/src/main/java/org/apache/iceberg/encryption/StandardKeyMetadata.java
  core/src/test/java/org/apache/iceberg/encryption/TestStandardKeyMetadataParser.java
Labels: API, core

#8962 Core, Spark: Avoid manifest copies when importing data to V2 tables
  api/src/main/java/org/apache/iceberg/AppendFiles.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  docs/spark-procedures.md
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: API, spark, core, docs

#9288 Hive: Make HiveMetastoreExtension configurable
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreExtension.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableBaseTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestCachedClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
Labels: hive

#9253 Add doc for rewriting manifest with spec id
  docs/spark-procedures.md
Labels: docs

#5640 Restore RuntimeIOException for use
  api/src/main/java/org/apache/iceberg/exceptions/RuntimeIOException.java
Labels: API

#9294 Test: Fix flaky tests which concurrently modify HashSet
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark, core

#9272 Modernize the readme's Status paragraph
  README.md
Labels: docs

#9296 Core: Remove deprecated classes related to rewrite data files
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/SortStrategy.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackStrategy.java
  core/src/test/java/org/apache/iceberg/actions/TestSortStrategy.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, core

#8918 Hive: Refactor TestHiveCatalog tests to use the core CatalogTests
  build.gradle
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: core, build, hive

#9302 API, Core: Move SQLViewRepresentation to API
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
  core/src/main/java/org/apache/iceberg/view/BaseSQLViewRepresentation.java
Labels: API, core

#9247 API, Core: Add sqlFor API to views to handle basic resolution of dialect
  api/src/main/java/org/apache/iceberg/view/View.java
  core/src/main/java/org/apache/iceberg/view/BaseView.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: API, core

#9245 API: Fix equals and hashCode in CharSequenceSet
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  api/src/test/java/org/apache/iceberg/util/TestCharSequenceSet.java
Labels: API

#9311 Core: Make sqlFor case insensitive for dialect check
  core/src/main/java/org/apache/iceberg/view/BaseView.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: core

#9310 Core: Fix Metadata table's UUID
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#9309 Flink: Fix TestIcebergSourceWithWatermarkExtractor flakiness
  flink/v1.16/build.gradle
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/build.gradle
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.18/build.gradle
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink, build

#9251 Core: Look up targeted position deletes by path
  api/src/main/java/org/apache/iceberg/util/CharSequenceMap.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/util/ArrayUtil.java
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/util/TestArrayUtil.java
  core/src/test/java/org/apache/iceberg/util/TestPartitionMap.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/DeleteFileIndexBenchmark.java
Labels: API, spark, core, data

#8502 Api: Track partition statistics via TableMetadata
  api/src/main/java/org/apache/iceberg/PartitionStatisticsFile.java
  api/src/main/java/org/apache/iceberg/Table.java
  api/src/main/java/org/apache/iceberg/Transaction.java
  api/src/main/java/org/apache/iceberg/UpdatePartitionStatistics.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseReadOnlyTable.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/CommitCallbackTransaction.java
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
  core/src/main/java/org/apache/iceberg/GenericPartitionStatisticsFile.java
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/PartitionStatisticsFileParser.java
  core/src/main/java/org/apache/iceberg/ReachableFileCleanup.java
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/SetPartitionStatistics.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestSetPartitionStatistics.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/resources/TableMetadataPartitionStatisticsFiles.json
Labels: API, core

#9230 Core: Fixed certain operations failing to add new data files during retries
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: core

#9334 Flink: port #9173 to v1.16 and v1.18
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
Labels: flink

#9286 Spark: Add tests for select using tag and branch identifier
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#9197 Core: Scan only live entries in partitions table (#8969)
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: spark, core

#9150 shutdown scheduler
  core/src/main/java/org/apache/iceberg/util/LockManagers.java
  core/src/test/java/org/apache/iceberg/util/TestInMemoryLockManager.java
Labels: core

#9161 Support parameterized tests at class-level with JUnit5
  LICENSE
  api/src/test/java/org/apache/iceberg/Parameter.java
  api/src/test/java/org/apache/iceberg/ParameterizedTestExtension.java
  api/src/test/java/org/apache/iceberg/Parameters.java
  build.gradle
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
Labels: API, parquet, data, flink, build

#9283 Core: Use properties while initializing default HadoopFileIO for Hadoop catalog.
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#9291 [1.4.x] JDBC Catalog: Fix namespaceExists check with special characters (#8340)
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#9223 [1.4.x] Core: Expired Snapshot files in a transaction should be deleted
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
Labels: core

#9338 Spark 3.5: Remove UnresolvedIcebergTable
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
Labels: spark

#9136 File length in AES GCM Stream Spec
  format/gcm-stream-spec.md
Labels: Specification

#9354 Core: Fix missing delete files from transaction
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#9308 Flink: Empty implementation for pauseOrResumeSplits to prevent UnsupportedOperationException
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink, build

#9356 [1.4.x] Core: Fix missing delete files from transaction (#9354)
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#8998 Add Description on Using a Separate Authorization Server
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9360 Docs: Nit-fix the parameter of set_current_snapshot procedure in the example
  docs/spark-procedures.md
Labels: docs

#9342 Spark 3:5 Migrate tests to JUnit5 in source directory
  data/src/test/java/org/apache/iceberg/RecordWrapperTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestBaseReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestChangelogReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHiveTables.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPathIdentifier.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestReadProjection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAggregates.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogCacheExpiration.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadMetrics.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkStagedScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStreamingOffset.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: spark, data

#9347 Core: Add ApplyNameMapping for Avro
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/avro/ApplyNameMapping.java
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/main/java/org/apache/iceberg/avro/ProjectionDatumReader.java
  core/src/main/java/org/apache/iceberg/mapping/NameMapping.java
Labels: core

#7392 Avro: Add Avro-assisted name mapping
  core/src/main/java/org/apache/iceberg/avro/AvroWithPartnerByStructureVisitor.java
  core/src/main/java/org/apache/iceberg/avro/AvroWithTypeByStructureVisitor.java
  core/src/main/java/org/apache/iceberg/avro/NameMappingWithAvroSchema.java
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  core/src/test/java/org/apache/iceberg/avro/TestNameMappingWithAvroSchema.java
Labels: spark, core, flink

#9368 Spark 3.5: Remove constructor from parameterized base class
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogCacheExpiration.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadMetrics.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkStagedScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
Labels: spark

#9365 Core: Use CharSequenceMap for writing unordered deletes
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
Labels: core

#9147 Core: Optimize manifest evaluation for super wide tables
  api/src/main/java/org/apache/iceberg/expressions/NamedReference.java
  api/src/main/java/org/apache/iceberg/types/Types.java
Labels: API

#9379 Core: Remove unused sourceTransform parameter in helper method
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
Labels: core

#9364 Flink: Create CatalogTestBase for migration to JUnit5
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/CatalogTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
Labels: flink

#9274 Spark 3.5: Parallelize reading files in add_files procedure
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  docs/spark-procedures.md
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
Labels: spark, core, data, docs

#9367 Spark 3.5: Migrate tests to JUnit5 in actions directory
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark
