Repository apache/iceberg, pull requests merged in 2023-04, with the labels that each got.

#7128 Core: Optimize S3 layout of Datafiles by expanding first character set of the hash
  core/src/main/java/org/apache/iceberg/LocationProviders.java
Labels: core

#7270 AWS: Prevent token refresh scheduling on every sign request
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/S3SignerServlet.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
Labels: AWS

#7230 Disable local credentials if remote signing is enabled
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
Labels: AWS

#7273 Spark: Revert "Spark: Add "Iceberg" prefix to SparkTable name string for SparkUI (#5629)
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
Labels: spark

#7263 Spark: broadcast table instead of file IO in rewrite manifests
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
Labels: spark

#7262 AWS: abort S3 input stream on close if not EOS
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
Labels: AWS

#7284 REST: fix previous locations for refs-only load
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7253 Core: Fix flakiness in HadoopFileIOTest
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
Labels: core

#7269 Flink: Data statistics operator sends local data statistics to coordinator and receive aggregated data statistics from coordinator for smart shuffling
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
Labels: flink

#7289 AWS: Make AuthSession cache static
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
Labels: AWS

#7252 Core: Require namespace when creating table using InMemoryCatalog
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryCatalog.java
Labels: core

#7190 Refactor PartitionsTable planning
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
Labels: core

#7248 Python: Use Prettier to format TOML and more files
  python/.pre-commit-config.yaml
  python/dev/docker-compose-azurite.yml
  python/dev/docker-compose-integration.yml
  python/dev/docker-compose.yml
  python/mkdocs/docs/api.md
  python/mkdocs/docs/configuration.md
  python/mkdocs/docs/contributing.md
  python/mkdocs/docs/feature-support.md
  python/mkdocs/docs/index.md
  python/mkdocs/docs/verify-release.md
  python/mkdocs/mkdocs.yml
  python/pyproject.toml
Labels: python

#7198 AWS: Check commit status after failed commit if AWS client performed retries
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/util/RetryDetector.java
  aws/src/test/java/org/apache/iceberg/aws/util/TestRetryDetector.java
Labels: AWS

#7286 Core: Fix errorprone warning
  baseline.gradle
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryInputFile.java
Labels: core, INFRA, build

#7296 Spark: apply rewrite manifest action fix to 3.1,3.2
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
Labels: spark

#7199 Build: Spark version of `iceberg-delta-lake` to 3.3.2
  build.gradle
Labels: build

#6789 Nessie: Use latest hash for catalog APIs
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/main/java/org/apache/iceberg/nessie/UpdateableReference.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestMultipleClients.java
Labels: NESSIE

#7039 Flink: Expose write-parallelism in SQL Hints
  docs/flink-configuration.md
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
Labels: flink, docs

#7320 Nessie: Fix testcase failures
  nessie/src/test/java/org/apache/iceberg/nessie/TestMultipleClients.java
Labels: NESSIE

#7322 Flink: move the classes from flink.sink.shuffle.statistics pkg to one level up as flink.sink.shuffle pkg
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsFactory.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
Labels: flink

#7147 Spark 3.3: Add doc for the changelog view procedure.
  docs/spark-procedures.md
Labels: docs

#7323 Bump Nessie from 0.56.0 to 0.57.0
  versions.props
Labels: build

#7331 Update issue template for 1.2.1 release
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#7315 Core: Fix SnapshotProducer#targetBranch's exception message
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
Labels: core

#7321 Build: Fix flaky checkstyle issue
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  baseline.gradle
  build.gradle
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/DataGenerators.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderWithBloomFilter.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderWithBloomFilter.java
Labels: API, spark, parquet, core, flink, INFRA, build

#7341 Core: Add missing metrics reporters when creating BaseTable
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7175 Core, Spark 3.3: Add FileRewriter API
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/main/java/org/apache/iceberg/actions/FileRewriter.java
  core/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedDataRewriter.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedFileRewriter.java
  core/src/main/java/org/apache/iceberg/actions/SortStrategy.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSizeBasedDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
Labels: spark, core

#7120 Spark - Accept an `output-spec-id` that allows writing to a desired partition spec
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWrites.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWrites.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/PartitionedWritesTestBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToWapBranch.java
Labels: spark

#7197 [ORC][Spark] - Support selected vector with ORC reader on the row and batch reader
  orc/src/main/java/org/apache/iceberg/orc/OrcIterable.java
  orc/src/test/java/org/apache/iceberg/orc/TestOrcDataReader.java
  spark/v3.3/build.gradle
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestVectorizedOrcDataReader.java
Labels: spark, ORC, build

#7338 Flink: use correct scan mode when in TABLE_SCAN_THEN_INCREMENTAL mode
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
Labels: flink

#7277 Throw NoSuchIcebergTableException instead of ValidationException in G…
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueToIcebergConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueToIcebergConverter.java
Labels: python, spark, parquet, arrow, core, flink, docs, build, hive, AWS

#7347 Build: Bump Airlift from 0.21 to 0.24
  versions.props
Labels: build

#7282 Docs: clarify Hive on Tez configuration
  docs/hive.md
Labels: docs

#7348 Spark -Simplify checks of output-spec-id in SparkWriteConf
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
Labels: spark

#7350 Fix SetDefaultPartitionSpec to use specId instead of schemaId
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
Labels: core

#7353 Core, Spark: Make ObjectStoreLocationProvider serializable
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
Labels: spark, core

#7343 Core: Parameterize RewriteDataFile's CommitService
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/actions/BaseCommitService.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
Labels: core

#7372 Core: Fix flaky TestParallelIterable test
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#7109 Flink: Apply row level filtering
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkSourceFilter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
Labels: data, flink, docs

#6480 Spark: Surface better error message during streaming planning when checkpoint snapshot not found
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#7373 Flink: backport #7338 to 1.16 and 1.15
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
Labels: flink

#7324 Honor spark case sensitivity in ALTER TABLE.. ORDERED BY
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/SortOrderBuilder.java
  core/src/main/java/org/apache/iceberg/BaseReplaceSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetWriteDistributionAndOrderingExec.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
Labels: API, spark, core

#7381 Spark 3.3: Surface better error message during streaming planning when checkpoint snapshot not found
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#7374 Build: Bump Hive to 2.3.9
  versions.props
Labels: build

#7337 Core: Introduce CompositeMetricsReporter
  api/src/main/java/org/apache/iceberg/metrics/LoggingMetricsReporter.java
  core/src/main/java/org/apache/iceberg/SnapshotScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/main/java/org/apache/iceberg/metrics/MetricsReporters.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
  core/src/test/java/org/apache/iceberg/metrics/TestMetricsReporters.java
Labels: API, core

#7218 Flink: Use starting sequence number by default when rewriting data files
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
Labels: core, flink

#7400 Flink: Backport #6382 and #7269 to 1.15 for shuffle operator
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatistics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsEvent.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatistics.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapDataStatisticsFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
Labels: flink

#7397 Flink: Backport row filter into 1.15 and 1.16
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkSourceFilter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkSourceFilter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
Labels: flink

#4479 Spark 3.3: support rate limit in Spark Streaming
  core/src/main/java/org/apache/iceberg/MicroBatches.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark, core

#6600 Doc: Add a page explaining migration from other table formats to iceberg
  docs/delta-lake-migration.md
  docs/hive-migration.md
  docs/table-migration.md
Labels: docs

#7407 Doc: Fix typo in hive_migration.md
  docs/hive-migration.md
Labels: docs

#7414 Spark: Fix failing SS UT
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
Labels: spark

#7404 Flink: Backport #7218 to 1.15 and 1.17
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
Labels: flink

#7123 MR: Fix IndexOutOfBounds by skip filter translation if there are no leaves
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergFilterFactory.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergFilterFactory.java
Labels: MR

#7108 Add mkdocstrings
  python/.pre-commit-config.yaml
  python/mkdocs/docs/SUMMARY.md
  python/mkdocs/docs/api.md
  python/mkdocs/docs/assets/images/iceberg-logo-icon.png
  python/mkdocs/docs/cli.md
  python/mkdocs/docs/configuration.md
  python/mkdocs/docs/contributing.md
  python/mkdocs/docs/feature-support.md
  python/mkdocs/docs/index.md
  python/mkdocs/gen_doc_stubs.py
  python/mkdocs/mkdocs.yml
  python/mkdocs/requirements.txt
Labels: python

#7358 AWS: Fix default warehouse path in Dynamodb catalog
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
Labels: AWS

#7403 Flink: sync 1.16 with 1.17 for backports missed or not ported identically
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
Labels: flink

#7402 Flink: sync 1.15 with 1.17 for backports missed or not ported identically
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkEnvironmentContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataFileScanTaskReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
Labels: flink

#6723 Docs: Separate page for Branching and Tagging
  docs/branching-and-tagging.md
  docs/flink-configuration.md
  docs/flink-getting-started.md
  docs/flink-queries.md
  docs/flink-writes.md
  docs/java-api-quickstart.md
  docs/spark-ddl.md
  docs/spark-writes.md
Labels: docs

#7417 Views: Fix SQL view representation field name
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/SQLViewRepresentationParser.java
  core/src/main/java/org/apache/iceberg/view/ViewRepresentationParser.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewRepresentationParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: API, core

#7376 Python: Provide version ranges for each dependency
  python/poetry.lock
  python/pyproject.toml
Labels: python

#7425 Spark: Backport #6480 to Spark 3.2 and Spark 3.1
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#7421 API, Core: Move schemaID from ViewRepresentation to ViewVersion and make it required
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/SQLViewRepresentationParser.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/TestSQLViewRepresentationParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: API, core

#7423 Spark 3.4: Relax constraints in SparkPartitioningAwareScan
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
Labels: spark

#7339 Core: Extract REST metrics reporter into its own class
  core/src/main/java/org/apache/iceberg/rest/RESTMetricsReporter.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7424 Spark 3.4: Add tests for SPJ when partition keys mismatch
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestStoragePartitionedJoinsInRowLevelOperations.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
Labels: spark

#7380 Cherry pick Order case sensitivity changes to 3.4
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetWriteDistributionAndOrderingExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
Labels: spark

#7391 Build: Run Iceberg with JDK 17
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  build.gradle
  jmh.gradle
  spark/v3.3/build.gradle
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
Labels: API, spark, INFRA, build

#7432 Use fsspec implementation of LocalFileSystem
  python/pyiceberg/io/fsspec.py
Labels: python

#7428 Views: Move 'operation' check to ViewVersion
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: API, core

#7434 Updated README.md to support Java 17
  README.md
Labels: docs

#7310 Hive: Clean up expired metastore clients
  core/src/main/java/org/apache/iceberg/ClientPoolImpl.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestCachedClientPool.java
Labels: core, hive

#5985 Core: Make TableScanContext immutable
  core/src/main/java/org/apache/iceberg/BaseIncrementalChangelogScan.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTableScan.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
Labels: core

#7349 Core: Move table-creation-without-namespace-test to CatalogTests
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryCatalog.java
Labels: core

#7429 Spark: Refactor SparkReadConf use primitive type for confs with default values
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
Labels: spark

#7448 Spark 3.4: Remove deprecated classes
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/FileScanTaskSetManager.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSizeBasedDataRewriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
Labels: spark

#3024 Arrow: Convert dict encoded vectors to their expected Arrow vector types
  arrow/src/main/java/org/apache/iceberg/arrow/DictEncodedArrowConverter.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowVectorAccessors.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnVector.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnarBatch.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
Labels: arrow

#7454 Delta Migration: Correct `snapshotDataFilesCount` in SnapshotDeltaLakeTable.Result and use Immutable to implement it
  build.gradle
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableAction.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableActionResult.java
  delta-lake/src/main/java/org/apache/iceberg/delta/SnapshotDeltaLakeTable.java
Labels: build

#7462 Python: fix `mkdocs` warnings from `conversions.py`
  python/pyiceberg/conversions.py
Labels: python

#7464 Python: fix `mkdocs` warnings from `visitors.py`
  python/pyiceberg/expressions/visitors.py
Labels: python

#7467 Python: fix `mkdocs` warnings from `sorting.py`
  python/pyiceberg/table/sorting.py
Labels: python

#7470 Spark: Fix Failing SS ratelimit UT
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#7472 Python: Fix warnings in documentation
  .github/workflows/python-ci-docs.yml
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/schema.py
  python/pyiceberg/transforms.py
  python/pyiceberg/types.py
Labels: python, INFRA
