Repository apache/iceberg, pull requests merged in 2023-03, with the labels that each got.

#6963 Flink: fix compiling error from PR #6954
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#6929 Spark 3.2&3.1: Port Branch DDL to Spark 3.2&3.1
  spark/v3.1/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/BranchOptions.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateOrReplaceBranch.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DropBranch.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropBranchExec.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.2/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/BranchOptions.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateOrReplaceBranch.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DropBranch.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropBranchExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
Labels: spark

#6650 Core, API: BaseReplacePartitions to branch test Refactoring
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseReplacePartitions.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: core

#6959 AWS: Use random port for HTTP server
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
Labels: AWS

#6920 API:add try catch on ExpressionUtils.sanitizeString
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
Labels: API

#6976 API, Core: Use Google findbugs dependency but as compileonly
  api/src/main/java/org/apache/iceberg/view/SQLViewRepresentation.java
  build.gradle
  core/src/main/java/org/apache/iceberg/metrics/CommitMetricsResult.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResult.java
  versions.props
Labels: API, core, build

#6983 Build: Fix minor errorprone warnings during compile
  api/src/main/java/org/apache/iceberg/expressions/AggregateEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/ValueAggregate.java
  baseline.gradle
Labels: API, INFRA, build

#6931 Build: Update sqlite-jdbc from 3.34.0 to 3.41.0.0
  versions.props
Labels: build

#6892 Python: `starts_with` and `not_starts_with` expressions
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/parser.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/transforms.py
  python/tests/expressions/test_evaluator.py
  python/tests/expressions/test_parser.py
  python/tests/expressions/test_visitors.py
  python/tests/io/test_pyarrow.py
  python/tests/test_transforms.py
Labels: python

#6985 Build: Upgrade java test dependencies
  versions.props
Labels: build

#6682 Bulk delete
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  api/src/main/java/org/apache/iceberg/actions/DeleteReachableFiles.java
  api/src/main/java/org/apache/iceberg/actions/ExpireSnapshots.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: API, spark, core

#6272 Build: upgrade workflows to ubuntu-22.04
  .github/workflows/api-binary-compatibility.yml
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/jmh-benchmarks.yml
  .github/workflows/labeler.yml
  .github/workflows/license_check.yml
  .github/workflows/open-api.yml
  .github/workflows/publish-snapshot.yml
  .github/workflows/python-ci-docs.yml
  .github/workflows/python-ci.yml
  .github/workflows/recurring-jmh-benchmarks.yml
  .github/workflows/spark-ci.yml
  .github/workflows/stale.yml
Labels: INFRA

#6990 Core: Use Awaitility instead of Thread.sleep() for async testing
  build.gradle
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  versions.props
Labels: core, build

#6849 Docs: Update documentation for Spark AddFiles procedure
  docs/spark-procedures.md
Labels: docs

#7002 Python: fix config loading on windows
  python/mkdocs/docs/api.md
  python/pyiceberg/utils/config.py
Labels: python

#6999 Build: Show API Deprecation rules on RevAPI failure
  build.gradle
Labels: build

#6936 Flink: Set up EnvironmentContext for Flink(Both JM and TM)
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/FlinkEnvironmentContext.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkEnvironmentContext.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkEnvironmentContext.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
Labels: flink

#6012 Spark 3.3: Add a procedure to generate table changes
  spark/v3.3/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#6972 Python: Wrap FsspecFileIO in PyArrowFileIO
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/tests/conftest.py
  python/tests/io/test_pyarrow.py
Labels: python

#6971 Python: Pass location when recreating the FileIO
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
Labels: python

#6970 Python: Fix ADLS configuration
  python/mkdocs/docs/configuration.md
  python/pyiceberg/io/fsspec.py
  python/tests/conftest.py
Labels: python

#7006 Build: Bump Gradle to 8.0.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#6980 Spark-3.3: Bug Fix for Reading Metadata tables with Snapshot ID
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: spark

#6994 Spark-3.2: Bug Fix for Reading Metadata tables with Snapshot ID
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
Labels: spark

#6993 Spark-3.1: Bug Fix for Reading Metadata tables with Snapshot ID
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark

#6844 Python: Don't warn on an identifier
  python/pyiceberg/io/__init__.py
  python/tests/io/test_io.py
Labels: python

#7024 Build: Fix flaky checkstyle issue
  build.gradle
Labels: build

#7028 Document new expire_snapshots parameter: snapshot_ids
  docs/spark-procedures.md
Labels: docs

#6875 Nessie: Upgrade nessie dependencies to 0.50.0
  versions.props
Labels: build

#6951 Add support for SigV4 request signing to REST Catalog requests
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4Signer.java
  aws/src/test/java/org/apache/iceberg/aws/TestRESTSigV4Signer.java
  build.gradle
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core, build, AWS

#7031 Bump Nessie to 0.51.1
  build.gradle
  versions.props
Labels: build

#6955 Use UGI shortUserName as the default owner of Hive objects
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveHadoopUtil.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#6847 Python: Allow setting the AWS Region
  python/mkdocs/docs/configuration.md
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
Labels: python

#6984 Core: Allow dropping columns referenced in old sort orders
  core/src/main/java/org/apache/iceberg/SortOrderParser.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
Labels: spark, core

#7035 Use token after config route for initial auth session
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7014 Core: Add initialize method for MetricsReporter
  api/src/main/java/org/apache/iceberg/metrics/MetricsReporter.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
Labels: API, core

#7036 Spark 3.2: Add a procedure to create changelog view
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#7042 Update slack invite link
  .github/ISSUE_TEMPLATE/iceberg_question.yml
Labels: INFRA

#7003 AWS: bump aws sdk version to 2.20.18
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignRequestParser.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignResponseParser.java
  build.gradle
  docs/aws.md
  versions.props
Labels: docs, build, AWS

#6927 Core: Add InMemoryCatalog
  core/src/test/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryCatalog.java
Labels: core

#6913 Core: ReachableFileUtil.versionHintLocation() should not fail for table location with just bucket name
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  core/src/test/java/org/apache/iceberg/util/TestReachableFileUtil.java
Labels: core

#7051 REST: Set metadata location for lazy load snapshot
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7049 Remove compile-time Hadoop dependency for JDBC and REST catalogs
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7048 Spark 3.2: Backport Bulk Delete for Actions - #6682
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: spark

#7038 Spark 3.3: Add ProcedureInput to simplify procedures
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
Labels: spark

#6091 Spark-3.3: Handle statistics file clean up from expireSnapshots action/procedure
  api/src/main/java/org/apache/iceberg/actions/ExpireSnapshots.java
  core/src/main/java/org/apache/iceberg/ReachableFileUtil.java
  core/src/main/java/org/apache/iceberg/actions/BaseExpireSnapshotsActionResult.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
Labels: API, spark, core

#7064 Core: Allow customizing FileIO in REST catalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#7069 Spark 3.3: Remove deprecated methods in ExpireSnapshotsSparkAction
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#7068 Spark 3.3: Use ProcedureInput in AddFilesProcedure
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
Labels: spark

#7072 Spark: Minor fix for changelog view procedure
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
Labels: spark

#7074 Spark-3.2: Handle statistics file clean up from expireSnapshots action/procedure
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
Labels: spark

#7078 Spark 3.2: Remove deprecated methods in ExpireSnapshotsSparkAction
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#7076 Spark 3.2: Add ProcedureInput to simplify procedures
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
Labels: spark

#7080 AWS: Simplify enabling S3 remote signing
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
Labels: AWS

#7070 Flink: Update the docs
  docs/flink-getting-started.md
Labels: docs

#7060 Docs: Update nessie docs
  docs/nessie.md
Labels: docs

#7087 Core: Allow injecting client pool in JDBC catalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
Labels: core

#6977 API: Deprecate AssertHelpers
  api/src/test/java/org/apache/iceberg/AssertHelpers.java
Labels: API

#7046 AWS: Prevent creating refresh executor when token refresh is disabled
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
Labels: AWS

#7050 Spark 3.3: support write to WAP branch
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToWapBranch.java
Labels: spark, core

#7088 Core: Allow passing identity object through RESTSessionCatalog
  api/src/main/java/org/apache/iceberg/catalog/SessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: API, core

#7054 Nessie: Remove compile-time Hadoop dependency
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: NESSIE

#6398 Python: Integration tests
  .github/workflows/python-integration.yml
  python/Makefile
  python/dev/Dockerfile
  python/dev/docker-compose-integration.yml
  python/dev/entrypoint.sh
  python/dev/provision.py
  python/dev/spark-defaults.conf
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/table/__init__.py
  python/pyproject.toml
  python/tests/test_integration.py
Labels: python, INFRA

#7124 Build: Update ORC to 1.8.3
  versions.props
Labels: build

#7119 AWS: Use Apache HTTP client as default AWS HTTP client
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  docs/aws.md
Labels: python, docs, AWS

#7059 Flink: Bump to Flink 1.15.3
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
Labels: flink, build

#7057 Flink: Bump to Flink 1.16.1
  flink/v1.16/build.gradle
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
Labels: flink, build

#7116 Aliyun: Remove AssertHelpers
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSInputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputFile.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSURI.java
Labels: ALIYUN

#7143 dell: remove usage of AssertHelpers
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsCatalog.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsOutputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsTableOperations.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsURI.java
Labels: DELL

#6975 Core: Minor refactoring of PartitionsTable
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v2.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#7159 MR: Remove deprecate AssertHelpers
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
Labels: MR

#7150 Core: Remove deprecated validation APIs in MergingSnapshotProducer
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#7134 data: Remove AssertHelpers Usage
  data/src/test/java/org/apache/iceberg/data/TestGenericRecord.java
  data/src/test/java/org/apache/iceberg/data/TestLocalScan.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
Labels: data

#6614 Flink:fix flink streaming query problem [ Cannot get a client from a closed pool]
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
Labels: python, spark, parquet, core, data, flink, pig, docs, build, hive

#7106 Spark 3.3: Remove use of deprecated SparkFilesScan
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkFilesScanBuilder.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#7126 Docs: Add `rest` to the catalog configuration
  docs/spark-configuration.md
Labels: docs

#7131 Contributing Docs: Add section for testing code
  CONTRIBUTING.md
Labels: docs

#6861 Core, API: View Version implementation
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: API, core

#6907 Update defaults of max-concurrent-file-group-rewrites to 5
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark

#7168 Flink: fixed Cloneable not implemented on CatalogLoader
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
Labels: flink

#7089 Core: Refactor actions results
  api/src/main/java/org/apache/iceberg/actions/DeleteOrphanFiles.java
  api/src/main/java/org/apache/iceberg/actions/DeleteReachableFiles.java
  api/src/main/java/org/apache/iceberg/actions/MigrateTable.java
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  api/src/main/java/org/apache/iceberg/actions/RewriteManifests.java
  api/src/main/java/org/apache/iceberg/actions/SnapshotTable.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteOrphanFilesActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteReachableFilesActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseExpireSnapshotsActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseFileGroupRewriteResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseMigrateTableActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesFileGroupInfo.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteManifestsActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseSnapshotTableActionResult.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SnapshotTableSparkAction.java
Labels: API, spark, core

#7167 Docs: update doc to read easier
  docs/aws.md
Labels: docs

#7164 Python: Update docker file
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  python/dev/Dockerfile
  python/dev/docker-compose-integration.yml
  python/dev/docker-compose.yml
  python/mkdocs/docs/verify-release.md
Labels: python, INFRA

#7133 API: Fix retainAll and removeAll in CharSequenceSet
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  api/src/test/java/org/apache/iceberg/util/TestCharSequenceSet.java
Labels: API

#7152 Spark 3.3: Support metadata column in the changelog table
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogTable.java
Labels: spark

#7178 Spark 3.2: Support metadata column in the changelog table
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogTable.java
Labels: spark

#7165 Flink: Backport #6614 to Flink 1.15
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
Labels: flink

#7156 Core: Remove deprecated code from 1.2.0
  .palantir/revapi.yml
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/actions/BaseExpireSnapshotsActionResult.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  spark/v2.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseExpireSnapshotsSparkAction.java
Labels: spark, core, build, AWS

#7066 S3 Credentials provider support in DefaultAwsClientFactory #7063
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
Labels: AWS

#7185 Core: Move InMemoryCatalog from test to core
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryFileIO.java
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryInputFile.java
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryOutputFile.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestScansAndSchemaEvolution.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDeleteWriters.java
  core/src/test/java/org/apache/iceberg/avro/TestGenericAvro.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryFileIO.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryInputFile.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryOutputFile.java
  core/src/test/java/org/apache/iceberg/io/TestIOUtil.java
  core/src/test/java/org/apache/iceberg/puffin/TestPuffinReader.java
  core/src/test/java/org/apache/iceberg/puffin/TestPuffinWriter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  snowflake/src/test/java/org/apache/iceberg/snowflake/SnowflakeCatalogTest.java
Labels: core, SNOWFLAKE

#7099 Doc: Retypeset the Flink document
  docs/flink-actions.md
  docs/flink-configuration.md
  docs/flink-ddl.md
  docs/flink-getting-started.md
  docs/flink-queries.md
  docs/flink-writes.md
Labels: docs

#7011 Core: Store split offset for delete files
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/deletes/EqualityDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesTable.java
Labels: spark, core

#7166 Flink: Backport #6614 to Flink 1.14
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/CatalogLoader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.14/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/v1.14/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
Labels: python, spark, core, flink, docs

#6698 Core, Hive: Support pluggable ClientPool
  build.gradle
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/CachedClientPool.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestCachedClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestLoadHiveCatalog.java
Labels: core, build, hive

#7195 AWS: Remove deprecated AssertHelpers
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueToIcebergConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3URI.java
Labels: AWS

#7153 Spark: Support loading function as FunctionCatalog in SparkSessionCatalog
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
Labels: spark

#6382 Flink: Implement data statistics operator to collect traffic distribution for guiding smart shuffling
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOrRecord.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/statistics/DataStatistics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/statistics/DataStatisticsFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/statistics/MapDataStatistics.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/statistics/MapDataStatisticsFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
Labels: flink

#6919 Ability to add multiple metrics reporters to scan
  api/src/main/java/org/apache/iceberg/BatchScanAdapter.java
  api/src/main/java/org/apache/iceberg/Scan.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/SnapshotScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
Labels: API, spark, core

#7235 Core: Parse snapshot-id as long in remove-statistics update
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
Labels: core

#7146 Bump Nessie to 0.54.0
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNamespace.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  versions.props
Labels: core, build, NESSIE

#3249 Optimized spark vectorized read parquet decimal
  arrow/src/main/java/org/apache/iceberg/arrow/ArrowSchemaUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/test/java/org/apache/iceberg/arrow/ArrowSchemaUtilTest.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/parquet/vectorized/VectorizedReadParquetDecimalBenchmark.java
Labels: spark, arrow, docs

#7242 Python: Relax the pin for `fsspec` implementations
  python/poetry.lock
  python/pyproject.toml
Labels: python
