Repository apache/iceberg, pull requests merged in 2023-06, with the labels that each got.

#7747 Python: Loosen dependency on typing-extensions
  python/poetry.lock
  python/pyproject.toml
Labels: python

#7745 Flink: Bump version to 1.16.2 and 1.17.1
  docs/flink-getting-started.md
  flink/v1.16/build.gradle
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.17/build.gradle
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
Labels: flink, docs, build

#7655 Core: Switch tests to Junit5 in avro package
  core/src/test/java/org/apache/iceberg/avro/AvroDataTest.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDataWriter.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroDeleteWriters.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroEncoderUtil.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroEnums.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroFileSplit.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroOptionsWithNonNullDefaults.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroSchemaProjection.java
  core/src/test/java/org/apache/iceberg/avro/TestHasIds.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: core

#7755 Core: Switch tests to Junit5 in deletes,expressions,auth packages
  core/src/test/java/org/apache/iceberg/deletes/TestEqualityFilter.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
  core/src/test/java/org/apache/iceberg/expressions/TestExpressionParser.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestOAuth2Util.java
Labels: core

#7699 Python: Add support for initial default
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/manifest.py
  python/pyiceberg/types.py
  python/tests/avro/test_resolver.py
  python/tests/conftest.py
  python/tests/utils/test_manifest.py
  python/tests/utils/test_schema_conversion.py
Labels: python

#7730 API: Switch tests to JUnit5
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  api/src/test/java/org/apache/iceberg/catalog/TestNamespace.java
  api/src/test/java/org/apache/iceberg/catalog/TestTableIdentifier.java
  api/src/test/java/org/apache/iceberg/events/TestListeners.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionSerialization.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveManifestEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestLiteralSerialization.java
  api/src/test/java/org/apache/iceberg/expressions/TestMetricsEvaluatorsNaNHandling.java
  api/src/test/java/org/apache/iceberg/expressions/TestMiscLiteralConversions.java
  api/src/test/java/org/apache/iceberg/expressions/TestNumericLiteralConversions.java
  api/src/test/java/org/apache/iceberg/expressions/TestPredicateBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestStrictMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestStringLiteralConversions.java
  build.gradle
Labels: API, build

#7757 API: Switch tests to JUnit5 (io,metrics,transforms packages)
  api/src/test/java/org/apache/iceberg/io/TestCloseableGroup.java
  api/src/test/java/org/apache/iceberg/io/TestCloseableIterable.java
  api/src/test/java/org/apache/iceberg/io/TestClosingIterator.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultCounter.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultMetricsContext.java
  api/src/test/java/org/apache/iceberg/metrics/TestDefaultTimer.java
  api/src/test/java/org/apache/iceberg/metrics/TestFixedReservoirHistogram.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketingProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestDates.java
  api/src/test/java/org/apache/iceberg/transforms/TestDatesProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestIdentity.java
  api/src/test/java/org/apache/iceberg/transforms/TestNotStartsWith.java
  api/src/test/java/org/apache/iceberg/transforms/TestProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestResiduals.java
  api/src/test/java/org/apache/iceberg/transforms/TestStartsWith.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestamps.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestampsProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestTransformSerialization.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncate.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncatesProjection.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncatesResiduals.java
Labels: API

#7704 Python: Remove integration-test caching
  .github/workflows/python-integration.yml
Labels: INFRA

#7768 Python: Refactor integration tests (#7698)
  python/Makefile
  python/dev/Dockerfile
  python/dev/entrypoint.sh
  python/dev/provision.py
  python/mkdocs/docs/contributing.md
Labels: python

#7445 Spec: Add missing `last-column-id`
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#7758 API: Switch tests to Junit5 (parent, types, util packages)
  api/src/test/java/org/apache/iceberg/TestAccessors.java
  api/src/test/java/org/apache/iceberg/TestIcebergBuild.java
  api/src/test/java/org/apache/iceberg/TestMetricsSerialization.java
  api/src/test/java/org/apache/iceberg/TestPartitionPaths.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/TestSnapshotRef.java
  api/src/test/java/org/apache/iceberg/TestTransformSerialization.java
  api/src/test/java/org/apache/iceberg/types/TestBinaryComparator.java
  api/src/test/java/org/apache/iceberg/types/TestCharSeqComparator.java
  api/src/test/java/org/apache/iceberg/types/TestComparableComparator.java
  api/src/test/java/org/apache/iceberg/types/TestComparators.java
  api/src/test/java/org/apache/iceberg/types/TestConversions.java
  api/src/test/java/org/apache/iceberg/types/TestReadabilityChecks.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  api/src/test/java/org/apache/iceberg/types/TestTypes.java
  api/src/test/java/org/apache/iceberg/util/TestCharSequenceSet.java
  api/src/test/java/org/apache/iceberg/util/TestDateTimeUtil.java
  api/src/test/java/org/apache/iceberg/util/TestExceptionUtil.java
Labels: API

#7722 Core: Remove deprecated AssertHelpers in Hadoop
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestStaticTable.java
Labels: core

#7751 Open-API: Add Python code as an example
  .github/workflows/open-api.yml
  open-api/Makefile
  open-api/README.md
  open-api/header.txt
  open-api/requirements.txt
  open-api/rest-catalog-open-api.py
Labels: INFRA, docs, OPENAPI

#7784 Tests: More permissive error message assertion in catalog tests
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#7685 Spark: Positional deletes creates partitioned path on unpartitioned tables
  core/src/main/java/org/apache/iceberg/io/ClusteredWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingFileWriter.java
Labels: spark, core

#7789 Tests: Update catalog test assertion to be more permissive
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#7788 Core: Deprecate `newOutputFile` from `{ClusteredWriter,FanoutWriter}`
  core/src/main/java/org/apache/iceberg/io/ClusteredWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutWriter.java
Labels: core

#7796 Python: Fix optionality of Manifest fields
  python/pyiceberg/manifest.py
Labels: python

#7801 Fix D403 pydocstyle issues
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/transforms.py
  python/pyiceberg/utils/config.py
Labels: python

#6450 Core: Key metadata in Avro format
  core/src/main/java/org/apache/iceberg/avro/GenericAvroReader.java
  core/src/main/java/org/apache/iceberg/avro/GenericAvroWriter.java
  core/src/main/java/org/apache/iceberg/data/avro/IcebergDecoder.java
  core/src/main/java/org/apache/iceberg/data/avro/RawDecoder.java
  core/src/main/java/org/apache/iceberg/encryption/KeyMetadata.java
  core/src/main/java/org/apache/iceberg/encryption/KeyMetadataDecoder.java
  core/src/main/java/org/apache/iceberg/encryption/KeyMetadataEncoder.java
  core/src/test/java/org/apache/iceberg/encryption/TestKeyMetadataParser.java
  data/src/test/java/org/apache/iceberg/data/avro/TestSingleMessageEncoding.java
Labels: core, data

#7741 Core: Add REST spec and request for committing changes against multiple tables
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/main/java/org/apache/iceberg/rest/requests/CommitTransactionRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/CommitTransactionRequestParser.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCommitTransactionRequestParser.java
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#7806 Python: Fix D414 and D200 docstring issues
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/utils/datetime.py
  python/pyiceberg/utils/decimal.py
  python/pyiceberg/utils/schema_conversion.py
  python/tests/conftest.py
Labels: python

#7805 Fix D202 pydocstring issues in pyiceberg
  python/.pre-commit-config.yaml
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/schema.py
  python/pyiceberg/utils/deprecated.py
Labels: python

#7807 Open-API: Update code
  open-api/rest-catalog-open-api.py
Labels: OPENAPI

#7818 Build: skip scheduled workflows on forks
  .github/workflows/recurring-jmh-benchmarks.yml
  .github/workflows/stale.yml
Labels: INFRA

#7718 Core: Fixed NPE in SnapshotUtil.ancestorsOf
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  core/src/test/java/org/apache/iceberg/util/TestSnapshotUtil.java
Labels: core

#7824 Spark: Update ANTLR to match Spark 3.4
  spark/v3.4/build.gradle
Labels: spark, build

#7825 Spark: Catalog reference constant string
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
Labels: spark

#7781 Python: Make Glue catalog configurable
  python/mkdocs/docs/configuration.md
  python/pyiceberg/catalog/glue.py
  python/tests/catalog/test_glue.py
Labels: python, docs

#7761 Docs: Fix SQL formatting in Flink docs
  docs/flink-ddl.md
Labels: docs

#7834 Parquet: Revert workaround for resource usage with zstd
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetCodecFactory.java
Labels: parquet

#7829 Fix D400 Issue #7776
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/codecs/snappy_codec.py
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/conversions.py
  python/pyiceberg/exceptions.py
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/parser.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/files.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/memory.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/manifest.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/schema.py
  python/pyiceberg/serializers.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/typedef.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/config.py
  python/pyiceberg/utils/datetime.py
  python/pyiceberg/utils/decimal.py
  python/pyiceberg/utils/deprecated.py
  python/pyiceberg/utils/parsing.py
  python/pyiceberg/utils/schema_conversion.py
  python/pyiceberg/utils/singleton.py
  python/tests/catalog/integration_test_dynamodb.py
  python/tests/catalog/integration_test_glue.py
  python/tests/conftest.py
Labels: python

#7645 Python: Add pickle support
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/types.py
  python/tests/expressions/test_expressions.py
  python/tests/test_types.py
Labels: python

#7823 Python: Fixes for D205 issues
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/conversions.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/transforms.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/config.py
  python/pyiceberg/utils/decimal.py
  python/pyiceberg/utils/deprecated.py
  python/pyiceberg/utils/schema_conversion.py
  python/tests/conftest.py
Labels: python

#7743 add doc about commitmetadata
  docs/spark-configuration.md
Labels: docs

#7767 Core: Switch tests to Junit5 in catalog,encryption,inmemory,io,view
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/catalog/TestTableIdentifierParser.java
  core/src/test/java/org/apache/iceberg/encryption/TestCiphers.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryFileIO.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryInputFile.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryOutputFile.java
  core/src/test/java/org/apache/iceberg/io/TestByteBufferInputStreams.java
  core/src/test/java/org/apache/iceberg/io/TestIOUtil.java
  core/src/test/java/org/apache/iceberg/io/TestMultiBufferInputStream.java
  core/src/test/java/org/apache/iceberg/io/TestResolvingIO.java
  core/src/test/java/org/apache/iceberg/io/TestSingleBufferInputStream.java
  core/src/test/java/org/apache/iceberg/view/TestSQLViewRepresentationParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewHistoryEntryParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewRepresentationParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: core

#6712 Nessie: Support ApiV2 for Nessie client
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestCustomNessieClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieIcebergClient.java
Labels: build, NESSIE

#7845 Add 1.3.0 to Bug Template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#7848 Build: Let Rev API compare against 1.3.0
  build.gradle
Labels: build

#7759 Core: View metadata implementation
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  core/src/main/java/org/apache/iceberg/view/ViewProperties.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/resources/org/apache/iceberg/view/ValidViewMetadata.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentSchema.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentVersion.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataLimitedVersions.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingCurrentSchema.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingCurrentVersion.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingLocation.json
Labels: core

#7862 Core: Remove deprecated AssertHelpers
  core/src/main/java/org/apache/iceberg/ScanSummary.java
  core/src/test/java/org/apache/iceberg/TestMetricsTruncation.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
  core/src/test/java/org/apache/iceberg/TestScanSummary.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroNameMapping.java
  core/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
  core/src/test/java/org/apache/iceberg/encryption/TestKeyMetadataParser.java
Labels: core

#7621 Core: Include all reachable snapshots with v1 format and REF snapshot mode
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestSnapshotLoading.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#7569 Core: Add REST API for committing changes against multiple tables
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/main/java/org/apache/iceberg/catalog/TableCommit.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#6775 Python: Add positional deletes
  python/poetry.lock
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/manifest.py
  python/pyiceberg/table/__init__.py
  python/pyproject.toml
  python/tests/io/test_pyarrow.py
  python/tests/table/test_init.py
  python/tests/test_integration.py
Labels: python, spark, core

#7868 Core: Remove deprecated AssertHelpers
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalAppendScan.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalChangelogScan.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestFormatVersions.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
Labels: core

#6323 Python: Alter table plumbing and REST support
  python/mkdocs/docs/api.md
  python/poetry.lock
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/noop.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/exceptions.py
  python/pyiceberg/table/__init__.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_rest.py
  python/tests/cli/test_console.py
  python/tests/io/test_pyarrow.py
  python/tests/table/test_init.py
  python/tests/test_integration.py
Labels: python, build

#7852 Python: Fixes for D105 issues
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/memory.py
  python/pyiceberg/manifest.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/schema.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/refs.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/typedef.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/bin_packing.py
  python/tests/conftest.py
Labels: python

#7877 Python: Fix docstrings
  python/pyiceberg/manifest.py
  python/pyiceberg/table/__init__.py
Labels: python

#7861 Core: Switch tests to Junit5 in rest, hadoop pakages
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopTableTestBase.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopTables.java
  core/src/test/java/org/apache/iceberg/hadoop/TestStaticTable.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
  core/src/test/java/org/apache/iceberg/rest/RequestResponseTestBase.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestResourcePaths.java
Labels: core

#7878 Python: Remove future annotations
  python/pyiceberg/utils/schema_conversion.py
Labels: python

#7876 Python: Log to logging instead of warn
  python/pyiceberg/io/__init__.py
Labels: python

#7891 Core: Register JSON Parser for UpdateTableRequest
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
Labels: core

#7581 Add last updated timestamp and snapshotId for partition table
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#7894 ORC: Fix to avoid test failure on Hadoop 2.7.3
  orc/src/test/java/org/apache/iceberg/orc/TestOrcDataWriter.java
Labels: ORC

#7908 Docs: Add missing ';' in Flink examples
  docs/flink-queries.md
Labels: docs

#7874 Core: Migrate jdbc package to JUnit5
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcTableConcurrency.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
Labels: core

#7867 Core: Add create(..) method to UpdateTableRequest
  core/src/main/java/org/apache/iceberg/catalog/TableCommit.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequestParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCommitTransactionRequestParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestUpdateTableRequestParser.java
Labels: core

#7899 Spark: Remove deprecated AssertHelpers
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTableSchema.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAncestorsOfProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestConflictValidation.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestReplaceBranch.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
Labels: spark

#7866 Flink: fix TableSink anonymous object
  flink/v1.15/build.gradle
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkAnonymousTable.java
  flink/v1.16/build.gradle
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkAnonymousTable.java
  flink/v1.17/build.gradle
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkAnonymousTable.java
Labels: flink, build

#7912 Python: Bump version to 0.4.0
  python/pyiceberg/__init__.py
  python/pyproject.toml
Labels: python

#7791 Core: Fixes OOM caused by Avro decoder caching
  core/src/jmh/java/org/apache/iceberg/ManifestReadBenchmark.java
  core/src/main/java/org/apache/iceberg/data/avro/DecoderResolver.java
  core/src/test/java/org/apache/iceberg/data/avro/TestDecoderResolver.java
Labels: core

#6934 core: add JSON parser for ContentFile and FileScanTask
  api/src/main/java/org/apache/iceberg/FileScanTask.java
  core/src/main/java/org/apache/iceberg/BaseContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/FileScanTaskParser.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestFileScanTaskParser.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/catalog/TestTableIdentifierParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListTablesResponse.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
  format/spec.md
Labels: API, core

#7836 Flink: Key projection should be based on the requested Flink table schema
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
Labels: data, flink, build

#7795 Flink: Ignore the Forbidden when creating a database
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
Labels: flink

#7897 Spark 3.4: Multiple shuffle partitions per file in compaction
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewriter.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/OrderAwareCoalesce.scala
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/execution/OrderAwareCoalesceExec.scala
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
Labels: spark

#7916 Add docs for rewritten_bytes_count
  docs/spark-procedures.md
Labels: docs

#7872 Dell,Arrow : Migrating test cases in dell,arrow packages to junit5
  arrow/src/test/java/org/apache/iceberg/arrow/ArrowSchemaUtilTest.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/parquet/DecimalVectorUtilTest.java
  build.gradle
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsAppendOutputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsCatalog.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsInputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsOutputFile.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsSeekableInputStream.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsURI.java
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestPropertiesSerDesUtil.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/EcsS3MockRule.java
  dell/src/test/java/org/apache/iceberg/dell/mock/ecs/MockS3Client.java
Labels: arrow, build, DELL

#7917 Docs: add support for spark TimestampNtz type to docs
  docs/spark-writes.md
Labels: docs

#7881 Spark: Bump to 3.4.1
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: spark, build

#7893 Nessie: Minor Refactoring of NessieTableOperations
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
Labels: NESSIE

#7702 Nessie: exercise tests against Nessie's new storage model
  build.gradle
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: build, NESSIE

#7927 Python: Update pyparsing tests
  python/poetry.lock
  python/pyproject.toml
  python/tests/expressions/test_parser.py
Labels: python

#7923 Flink 1.15/1.16: Key projection should be based on the requested Flink table schema
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
Labels: flink

#7940 Docs: Update Python Release verification steps
  python/mkdocs/docs/verify-release.md
Labels: python

#7828 Bump Nessie to 0.63.0
  build.gradle
  versions.props
Labels: build

#7093 [doc](aws.md)Enhancement in some hyperlinks
  docs/aws.md
Labels: docs

#7032 Make `TableMetadataParser.fromJson` taking `JsonNode` public
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
Labels: core

#7945 Build: Update ORC to 1.9.0
  versions.props
Labels: build

#7719 Spark 3.1: Fixes bucket on binary column
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
Labels: spark

#7717 Spark 3.2: Fixes bucket on binary column
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestIcebergExpressions.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/catalyst/expressions/TransformExpressions.scala
Labels: spark

#7326 Spark 3.3: Output the net changes across snapshots in CDC
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ChangelogIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/ComputeUpdateIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/RemoveCarryoverIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/RemoveNetCarryoverIterator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
Labels: spark, build

#7744 Core, Spark: Fix migrate table in case of partitioned table with partition containing a special character
  core/src/main/java/org/apache/iceberg/DataFiles.java
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
Labels: spark, core, data
