Repository apache/iceberg, pull requests merged in 2023-11, with the labels that each got.

#8963 Spark 3.4: Remove usage of AssertHelpers
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
Labels: spark

#7105 Spec: Add partition stats spec
  format/spec.md
Labels: Specification

#8969 Core: Scan only live entries for partitions table
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: spark, core

#8805 Core: Use ParallelIterable in Deletes::toPositionIndex (6387)
  core/src/main/java/org/apache/iceberg/SystemConfigs.java
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
Labels: core

#8098 Parquet: Remove duplicate test code
  parquet/src/test/java/org/apache/iceberg/avro/TestParquetReadProjection.java
  parquet/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
Labels: parquet

#8936 Spark 3.5: Use DataFile constants in SparkDataFile
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkDataFile.java
Labels: spark

#8717 Add Spark UI metrics from Iceberg scan metrics
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/EqualityDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/IndexedDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/PositionalDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/ResultDataFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/ResultDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/ScannedDeleteManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/SkippedDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/SkippedDeleteManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskEqualityDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskIndexedDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskPositionalDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskResultDataFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskResultDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskScannedDeleteManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskSkippedDeleteFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskSkippedDeleteManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDataFileSize.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDataManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDeleteFileSize.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDeleteManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDataFileSize.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDataManifests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDeleteFileSize.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDeleteManifests.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadMetrics.java
Labels: spark

#8959 Spark: Fix usage of staging location when optimizing metadata
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#8972 Spark 3.5: Use rolling manifest writers when optimizing metadata
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#8992 De-dup props in JdbcUtil
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: core

#8467 Test: Add a test utility method to programmatically create expected partition specs
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: API, spark

#9001 Infra: Add 1.4.2 as latest release to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#8996 Core: Add a constructor to StaticTableOperations
  core/src/main/java/org/apache/iceberg/StaticTableOperations.java
  core/src/test/java/org/apache/iceberg/util/TestReachableFileUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
Labels: spark, core

#9002 Docs: Add note that snapshot expiration and cleanup orphan files could corrupt Flink job state
  docs/flink-writes.md
Labels: docs

#9007 Spec: clarify ns timestamps for ORC deserialization
  format/spec.md
Labels: Specification

#9009 Spark 3.4: Display more read metrics on Spark SQL UI
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/EqualityDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/IndexedDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/PositionalDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/ResultDataFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/ResultDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/ScannedDeleteManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/SkippedDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/SkippedDeleteManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskEqualityDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskIndexedDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskPositionalDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskResultDataFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskResultDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskScannedDeleteManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskSkippedDeleteFiles.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskSkippedDeleteManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDataFileSize.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDataManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDeleteFileSize.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TaskTotalDeleteManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDataFileSize.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDataManifests.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDeleteFileSize.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/TotalDeleteManifests.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadMetrics.java
Labels: spark

#9014 Core: Use InMemoryCatalog as backend catalog
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#9015 Spark 3.5: Fix rewriting manifests for evolved unpartitioned V1 tables
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#9000 Core: Support replacing delete manifests
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
Labels: core

#9019 Spark 3.4: Use rolling manifest writers when optimizing metadata
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#9016 Docs: Fix Javadoc for ManifestFile
  api/src/main/java/org/apache/iceberg/ManifestFile.java
Labels: API

#8966 Spec: Fix view example
  format/view-spec.md
Labels: Specification

#9021 Docs: Update spark-queries.md
  docs/spark-queries.md
Labels: docs

#9017 Override useCommitCoordinator to false
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#9027 Override useCommitCoordinator to false in BaseStreamingWriter
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#9028 Override useCommitCoordinator to false in Spark3.4
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark, build

#9035 API: Optimize equals in CharSequenceWrapper
  api/src/main/java/org/apache/iceberg/util/CharSequenceWrapper.java
Labels: API

#9004 Add dependabot to automatically update the site
  .github/dependabot.yml
Labels: INFRA

#9067 GCP: Use correct Guava imports
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputStream.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputStream.java
Labels: GCP

#8803 Core: Enable column statistics filtering after planning
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/BatchScanAdapter.java
  api/src/main/java/org/apache/iceberg/ContentFile.java
  api/src/main/java/org/apache/iceberg/Scan.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/main/java/org/apache/iceberg/BaseDistributedDataScan.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalAppendScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalChangelogScan.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/DataScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/IncrementalDataTableScan.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  core/src/main/java/org/apache/iceberg/util/SerializableMap.java
  core/src/test/java/org/apache/iceberg/TestScanDataFileColumns.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
Labels: API, spark, core, flink, docs

#8872 support read meta columns in staged scan
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetaColumnProjectionWithStageScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScanBuilder.java
Labels: spark

#9068 Azure: Allow shared-key auth for testing purposes
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/test/java/org/apache/iceberg/azure/AzurePropertiesTest.java
Labels: AZURE

#8970 Core: Disallow setting equality field IDs for data
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
Labels: core

#9069 Core: Fix split size calculations in file rewriters
  core/src/main/java/org/apache/iceberg/actions/SizeBasedFileRewriter.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
Labels: core

#9047 API: Add CharSequenceMap
  api/src/main/java/org/apache/iceberg/util/CharSequenceMap.java
  api/src/test/java/org/apache/iceberg/util/TestCharSequenceMap.java
Labels: API

#9010 Add log entry for bloom filter
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
Labels: parquet

#9061 GCS: Allow no-auth for testing purposes
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/test/java/org/apache/iceberg/gcp/GCPPropertiesTest.java
Labels: GCP

#9098 Spark 3.4 3.3: Support metadata columns in staged scan (#8872)
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetaColumnProjectionWithStageScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScanBuilder.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetaColumnProjectionWithStageScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScanBuilder.java
Labels: spark

#9110 Open-API: Remove pydantic pin
  open-api/requirements.txt
Labels: OPENAPI

#9102 Spark: Fix metadata delete condition check when there are branches
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark

#9115 Spark 3.3, 3.4: Backport fix for metadata delete condition check for branches
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark

#9101 Spark: Add spark.sql.iceberg.locality.enabled to control whether fetch locali…
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
Labels: spark

#9119 Core: Remove synchronization from BitmapPositionDeleteIndex
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
Labels: core

#9117 Data: Always use delete index for position deletes
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
Labels: data

#9029 Core: lazily create locationProvider in SerializableTable
  core/src/main/java/org/apache/iceberg/SerializableTable.java
Labels: core

#8553 Flink: Emit watermarks from the IcebergSource
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/ColumnStatsWatermarkExtractor.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/SerializableRecordEmitter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/SplitWatermarkExtractor.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/WatermarkExtractorRecordEmitter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/split/SplitComparators.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/SplitAssignerTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestColumnStatsWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
Labels: data, flink

#9046 Docs: Remove UNIQUE keyword as it is not supported in Flink
  docs/flink-writes.md
Labels: docs

#8854 Spark: Fix Fast forward procedure output for non-main branches
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
Labels: spark

#9011 Hive: Refactor HiveTableOperations with common code for View.
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: hive

#9120 Create JUnit5 version of FlinkTestBase
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/MiniFlinkClusterExtension.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestCatalogTableLoader.java
Labels: flink

#9129 Create SparkCatalogTestBase class for the migration to JUnit5
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
Labels: spark

#9146 Flink: Proper backport for #8852
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
Labels: flink

#9144 Flink missing backports
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSplitPlanner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
Labels: flink

#9151 Flink: Backport #9078 to v1.16 and v1.15
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/MiniFlinkClusterExtension.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestCatalogTableLoader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/MiniFlinkClusterExtension.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestCatalogTableLoader.java
Labels: flink

#9134 API, Core: Fix naming in fastForwardBranch/replaceBranch APIs
  api/src/main/java/org/apache/iceberg/ManageSnapshots.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/main/java/org/apache/iceberg/UpdateSnapshotReferencesOperation.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
Labels: API, core

#9090 Use Strings to verify null and empty string
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/util/LocationUtil.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsCatalog.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
Labels: spark, core, AWS, DELL

#7798 API: add StructTransform base class for PartitionKey and SortKey. add SortOrderComparators
  api/src/main/java/org/apache/iceberg/PartitionKey.java
  api/src/main/java/org/apache/iceberg/SortKey.java
  api/src/main/java/org/apache/iceberg/SortOrderComparators.java
  api/src/main/java/org/apache/iceberg/StructTransform.java
  api/src/test/java/org/apache/iceberg/TestSortOrderComparators.java
Labels: API

#9145 Flink: Backport #8553 to v1.15, v1.16
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/ColumnStatsWatermarkExtractor.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/SerializableRecordEmitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/SplitWatermarkExtractor.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/reader/WatermarkExtractorRecordEmitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/split/SplitComparators.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/assigner/SplitAssignerTestBase.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestColumnStatsWatermarkExtractor.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/ColumnStatsWatermarkExtractor.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceReader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/SerializableRecordEmitter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/SplitWatermarkExtractor.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/WatermarkExtractorRecordEmitter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/split/SplitComparators.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/assigner/SplitAssignerTestBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestColumnStatsWatermarkExtractor.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
Labels: flink

#9166 Core: Remove deprecated code in DeleteFileIndex
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
Labels: core
