Repository apache/iceberg, pull requests merged in 2023-08, with the labels that each got.

#8072 Spark: Supports creating a branch on an empty table
  api/src/main/java/org/apache/iceberg/ManageSnapshots.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
Labels: API, spark, core

#8182 Parquet: Cache codecs by name and level
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetCodecFactory.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
Labels: parquet

#8193 Open-API: Add last-sequence-number to TableMetadata
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#8197 Core: Fails the branch creation on an empty table when the branch exists
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
Labels: core

#7780 Open-API: Use literals instead
  open-api/Makefile
  open-api/rest-catalog-open-api.py
Labels: OPENAPI

#8156 Core: Make defaultNamespace() non-optional
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/BaseViewVersion.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: API, core

#7886 Spark 3.4: Support pushing down system functions by V2 filters
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkV2Filters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SystemFunctionPushDownHelper.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkV2Filters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark

#8205 Python: Update Iceberg and Spark versions in integration test
  python/dev/Dockerfile
Labels: python

#7694 Build: Replace usage of Nebula dependency recommender plugin with Gradle's versionCatalog
  .github/labeler.yml
  build.gradle
  flink/v1.15/build.gradle
  flink/v1.16/build.gradle
  flink/v1.17/build.gradle
  gradle/libs.versions.toml
  hive3/build.gradle
  mr/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
  versions.props
Labels: spark, flink, MR, INFRA, build, hive

#8209 Python: fix glue catalog when using aws credentials
  python/pyiceberg/catalog/glue.py
  python/tests/catalog/test_glue.py
Labels: python

#8216 Docs: Update creating branch and tag clause
  docs/spark-ddl.md
Labels: docs

#8217 Spark 3.1: Backport Tag DDL
  spark/v3.1/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/CreateOrReplaceTag.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/DropTag.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/TagOptions.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceTagExec.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropTagExec.scala
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#8215 Python: Restore Inferring Iceberg UUIDType from parquet files
  python/pyiceberg/schema.py
Labels: python

#8219 Python: Add retry for downloading spark package
  python/dev/Dockerfile
Labels: python

#8068 Remove unused GlueCatalog.fileIO field
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#8225 Python: Add version command
  python/pyiceberg/cli/console.py
  python/pyiceberg/cli/output.py
Labels: python

#8226 Python: Prepare for 0.5.0
  python/pyiceberg/__init__.py
  python/pyproject.toml
Labels: python

#8214 Python: Add support `date`, `time` and `datetime` in to_bytes
  python/pyiceberg/conversions.py
  python/tests/test_conversions.py
Labels: python

#8170 Doc: update Flink get started instruction for 1.16+ due to regression of loading external jar
  docs/flink-getting-started.md
Labels: docs

#8168 GCP: Add prefix and bulk operations to GCSFileIO
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSLocation.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSLocationTest.java
Labels: GCP

#8204 Python: add support for returning empty files in scans if requested.
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/table/__init__.py
Labels: python

#8081 Spark-3.4: Implement `fast_forward` procedure
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#8246 Parquet: Fix decimal data reading from ParquetAvroValueReaders
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvroValueReaders.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroReader.java
Labels: spark, parquet

#8132 Core: Fix leak of DeleteFile streams
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
Labels: core, data

#8067 Python: Add more tests for the Avro writer
  python/dev/provision.py
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/encoder.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/writer.py
  python/pyiceberg/conversions.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/utils/datetime.py
  python/pyiceberg/utils/decimal.py
  python/pyiceberg/utils/schema_conversion.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_encoder.py
  python/tests/avro/test_file.py
  python/tests/avro/test_writer.py
  python/tests/test_integration.py
  python/tests/test_schema.py
  python/tests/test_transforms.py
  python/tests/utils/test_decimal.py
Labels: python

#7582 Core, Spark 3.4: Add filter to Rewrite position deletes
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark, core

#8249 Spark 3.4: Correct push down log of RowLevelCommandScanRelationPushDown
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RowLevelCommandScanRelationPushDown.scala
Labels: spark

#8231 GCP: Add bundle jar for GCP-related dependencies
  build.gradle
  flink/v1.15/build.gradle
  flink/v1.16/build.gradle
  flink/v1.17/build.gradle
  gcp-bundle/LICENSE
  gcp-bundle/NOTICE
  gcp-bundle/build.gradle
  hive-runtime/build.gradle
  settings.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
Labels: spark, flink, build, hive

#8206 Api: Update deprecated calls to Transforms APIs
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
Labels: API

#8271 Docs: Add `fast_forward` procedure
  docs/branching-and-tagging.md
  docs/spark-procedures.md
Labels: docs

#8262 Spark 3.4: Revise PlanningBenchmark
  spark/v3.4/spark-extensions/src/jmh/java/org/apache/iceberg/spark/PlanningBenchmark.java
Labels: spark

#7161 Flink: Custom partitioner for bucket partitions
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitionKeySelector.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitioner.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitionerUtil.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogExtension.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionKeySelector.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitioner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerUtil.java
Labels: flink

#8267 Python: Change UUID representation to bytes and add integration tests
  python/dev/Dockerfile
  python/dev/provision.py
  python/pyiceberg/conversions.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/transforms.py
  python/tests/expressions/test_literals.py
  python/tests/test_conversions.py
  python/tests/test_integration.py
  python/tests/test_schema.py
  python/tests/test_transforms.py
Labels: python

#8244 ORC: ExpressionToSearchArgument should only convert reference term
  orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java
  orc/src/test/java/org/apache/iceberg/orc/TestExpressionToSearchArgument.java
Labels: ORC

#8243 Parquet: Should not throw exception for filter contains non-reference term
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetBloomRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
Labels: parquet, data

#8283 Docs: Update AWS integration docs to use iceberg-aws-bundle
  docs/aws.md
Labels: docs

#8270 Core: Re-apply Hadoop conf if it's null after Kryo ser/de in ResolvingFileIO
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/test/java/org/apache/iceberg/io/TestResolvingIO.java
Labels: core

#8280 Spark 3.3: Add filter to Rewrite position deletes
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#8228 Flink: backport PR #7978. switch to FileScanTaskParser for JSON serialization of IcebergSourceSplit
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/IcebergEnumeratorStateSerializer.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: flink

#8291 Python: Simplify `Readers` using inheritance
  python/pyiceberg/avro/reader.py
Labels: python

#8292 Core: Replace HashMap with ConcurrentHashMap in ResolvingFileIO
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core

#8263 Core: Use lazy iterable in DeleteFileIndex
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsUtil.java
Labels: core

#8264 Core: Use regular map for partition wrappers in DeleteFileIndex
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
Labels: core

#8208 AWS, GCP: Allow access to underlying storage client in FileIO
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
Labels: AWS, GCP

#7976 Core: Extend ResolvingFileIO to support BulkOperations
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/test/java/org/apache/iceberg/io/TestResolvingIO.java
Labels: core

#8288 Spark-3.3 : Backport `fast_forward` procedure
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#8293 Docs: Mention how to add new functionality without breaking APIs
  CONTRIBUTING.md
Labels: docs

#8134 Python: Implement Cython based decoding for Avro
  python/build-module.py
  python/poetry.lock
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/decoder_basic.c
  python/pyiceberg/avro/decoder_fast.pyi
  python/pyiceberg/avro/decoder_fast.pyx
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/utils/lazydict.py
  python/pyproject.toml
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
  python/tests/utils/test_lazydict.py
Labels: python

#8287 Python: Publish Wheels
  .github/workflows/python-release.yml
  python/mkdocs/docs/how-to-release.md
Labels: python, INFRA

#8207 Python: GCS Support
  python/Makefile
  python/dev/docker-compose-gcs-server.yml
  python/dev/run-gcs-server.sh
  python/mkdocs/docs/configuration.md
  python/mkdocs/docs/index.md
  python/poetry.lock
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/utils/datetime.py
  python/pyproject.toml
  python/tests/conftest.py
  python/tests/io/test_fsspec.py
  python/tests/io/test_pyarrow.py
  python/tests/utils/test_datetime.py
Labels: python

#8257 Spark 3.4: Fix Iceberg expression description
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
Labels: spark

#8319 Python: Update .gitignore and remove unused imports
  .gitignore
  python/pyiceberg/avro/decoder_fast.pyx
Labels: python, INFRA

#8286 Python: Delegate serialization to pydantic
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/serializers.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/tests/catalog/test_hive.py
  python/tests/table/test_metadata.py
  python/tests/table/test_sorting.py
Labels: python

#8326 API: Remove Immutables dependency
  build.gradle
Labels: build

#8210 Core: Don't allow setting schema id / derive current schema id from ViewVersion
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentSchema.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingCurrentSchema.json
  format/view-spec.md
Labels: core

#8301 GCP: Add range reads to GCSInputStream
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputStream.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSInputStreamTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSLocationTest.java
Labels: GCP

#8320 Spark 3.4: disallow update identifier fields through alter table set tblproperties
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
Labels: spark

#8317 Spark 3.1, 3.2, 3.3: Supports create branch on empty table
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateOrReplaceBranchExec.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
Labels: spark

#7987 Arrow,Core,Spark: Remove functionality marked for removal in 1.4.0
  .palantir/revapi.yml
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteOrphanFilesActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseDeleteReachableFilesActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseFileGroupRewriteResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseMigrateTableActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesFileGroupInfo.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteManifestsActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BaseSnapshotTableActionResult.java
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeleteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/SortStrategy.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteOrphanFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseDeleteReachableFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseMigrateTableSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteDataFilesSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseRewriteManifestsSparkAction.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteReachableFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/actions/SnapshotTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/FileRewriteCoordinator.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSizeBasedDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortStrategy.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderStrategy.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, arrow, core

#8290 Spark: Add cause to rewrite_data_files exception when parsing 'where'
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: spark

#8256 Spark 3.3: Correct push down log of RowLevelCommandScanRelationPushDown
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RowLevelCommandScanRelationPushDown.scala
Labels: spark

#8327 Spark 3.4: Take into account number of shuffle partitions in parallelism
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
Labels: spark

#8163 Spark 3.4: Support setting current snapshot with ref
  docs/spark-procedures.md
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
Labels: spark, docs

#8133 Spark 3.4: Return empty changed rows when there are no snapshots between start time and end time
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark, core

#8329 Python: Close the file handler
  python/pyiceberg/avro/file.py
Labels: python

#7782 Python: Bump to Pydantic v2
  python/poetry.lock
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/cli/output.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/serializers.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/typedef.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/parsing.py
  python/pyproject.toml
  python/tests/avro/test_reader.py
  python/tests/avro/test_writer.py
  python/tests/catalog/test_hive.py
  python/tests/catalog/test_rest.py
  python/tests/cli/test_console.py
  python/tests/conftest.py
  python/tests/io/test_pyarrow.py
  python/tests/table/test_init.py
  python/tests/table/test_metadata.py
  python/tests/table/test_partitioning.py
  python/tests/table/test_snapshots.py
  python/tests/table/test_sorting.py
  python/tests/test_integration.py
  python/tests/test_schema.py
  python/tests/test_transforms.py
  python/tests/test_types.py
Labels: python

#8289 Spark 3.3, 3.4: Add where filter to rewrite_position_delete_files procedure
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RewritePositionDeleteFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewritePositionDeleteFilesProcedure.java
Labels: spark

#8330 Python: Fix positional argument issue for load_catalog API
  python/pyiceberg/catalog/__init__.py
Labels: python

#8341 Add docs for failed_data_files_count
  docs/spark-procedures.md
Labels: docs

#8328 Flink: Backporting PR 7161 of custom partitioner for bucket partitions
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitionKeySelector.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitioner.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitionerUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogExtension.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionKeySelector.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitioner.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitionKeySelector.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitioner.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/BucketPartitionerUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogExtension.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionKeySelector.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitioner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerUtil.java
Labels: flink

#8154 AWS: support config storage class for S3FileIO
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

#8345 Docs: Add docs for Metrics Reporting
  docs/configuration.md
  docs/metrics-reporting.md
Labels: docs

#8349 Fix shading of Apache HTTP and Google libraries in runtimes
  flink/v1.15/build.gradle
  flink/v1.16/build.gradle
  flink/v1.17/build.gradle
  hive-runtime/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
Labels: spark, flink, build, hive

#8359 FileIO: Skip stack trace log for missing Hadoop
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
Labels: AWS, GCP, DELL

#8363 Python: Pin poetry to 1.5.1
  .github/workflows/python-ci.yml
  python/Makefile
Labels: python, INFRA

#8315 AWS: Add FileIO tracker/closer to Glue catalog
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
Labels: AWS

#8336 Core: Optimize offset splits handling
  core/src/main/java/org/apache/iceberg/BaseContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/OffsetsAwareSplitScanTaskIterator.java
  core/src/main/java/org/apache/iceberg/util/ArrayUtil.java
  core/src/test/java/org/apache/iceberg/util/TestArrayUtil.java
  spark/v3.4/spark-extensions/src/jmh/java/org/apache/iceberg/spark/TaskGroupPlanningBenchmark.java
Labels: spark, core

#8361 AWS: Update S3 signer spec to allow an optional string body in S3SignRequest.
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3SignRequest.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3SignRequestParser.java
  aws/src/main/resources/s3-signer-open-api.yaml
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3SignRequestParser.java
Labels: AWS

#8227 Spark 3.4: Add backup table name support for Migrate procedure
  api/src/main/java/org/apache/iceberg/actions/MigrateTable.java
  docs/spark-procedures.md
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
Labels: API, spark, docs

#8362 Docs: Add notes on Spark writes support
  docs/spark-writes.md
Labels: docs

#8177 Java: Fix issue where the genericreader does not propagate case sensitivity
  data/src/main/java/org/apache/iceberg/data/GenericReader.java
  data/src/test/java/org/apache/iceberg/data/TestLocalScan.java
Labels: data

#8174 Python: Support for adding columns
  python/mkdocs/docs/api.md
  python/pyiceberg/schema.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/tests/catalog/test_base.py
  python/tests/cli/test_console.py
  python/tests/conftest.py
  python/tests/table/test_init.py
  python/tests/test_integration.py
  python/tests/test_schema.py
Labels: python

#8371 Python: Fix Windows wheel build
  .github/workflows/python-release.yml
  python/mkdocs/docs/how-to-release.md
Labels: python, INFRA

#5984 Core, API: Support incremental scanning with branch
  api/src/main/java/org/apache/iceberg/IncrementalScan.java
  core/src/main/java/org/apache/iceberg/BaseIncrementalScan.java
  core/src/main/java/org/apache/iceberg/TableScanContext.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalAppendScan.java
Labels: API, core

#8372 Nessie: avoid creating branches without explicit hashes
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieIcebergClient.java
Labels: NESSIE

#8278 Core: Optimize lookup in DeleteFileIndex without useful bounds
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  spark/v3.4/spark-extensions/src/jmh/java/org/apache/iceberg/DeleteFileIndexBenchmark.java
Labels: spark, core, docs

#8346 Core: Optimize computing user-facing state in data task
  api/src/main/java/org/apache/iceberg/BaseScanTaskGroup.java
  core/src/main/java/org/apache/iceberg/BaseCombinedScanTask.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
Labels: API, core

#8388 Core: Plan concurrently if there are multiple delete manifests
  core/src/main/java/org/apache/iceberg/DataTableScan.java
Labels: core

#8391 Spark3.2, Spark3.3: Return empty changed rows when there are no snapshots between start time and end time
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#8365 AWS: Update S3V4RestSignerClient to send body for DeleteObjects requests
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/S3SignerServlet.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
Labels: AWS

#8401 Fix D401 pydocstyle issues
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/encoder.py
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/pyiceberg/avro/writer.py
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/catalog/sql.py
  python/pyiceberg/cli/console.py
  python/pyiceberg/conversions.py
  python/pyiceberg/expressions/__init__.py
  python/pyiceberg/expressions/literals.py
  python/pyiceberg/expressions/parser.py
  python/pyiceberg/expressions/visitors.py
  python/pyiceberg/io/__init__.py
  python/pyiceberg/io/fsspec.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/manifest.py
  python/pyiceberg/partitioning.py
  python/pyiceberg/schema.py
  python/pyiceberg/serializers.py
  python/pyiceberg/table/__init__.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/table/refs.py
  python/pyiceberg/table/snapshots.py
  python/pyiceberg/table/sorting.py
  python/pyiceberg/transforms.py
  python/pyiceberg/typedef.py
  python/pyiceberg/types.py
  python/pyiceberg/utils/bin_packing.py
  python/pyiceberg/utils/concurrent.py
  python/pyiceberg/utils/config.py
  python/pyiceberg/utils/datetime.py
  python/pyiceberg/utils/decimal.py
  python/pyiceberg/utils/deprecated.py
  python/pyiceberg/utils/lazydict.py
  python/pyiceberg/utils/schema_conversion.py
  python/tests/catalog/integration_test_dynamodb.py
  python/tests/catalog/integration_test_glue.py
  python/tests/conftest.py
Labels: python

#8393 Python: Check if identifier fields are valid
  python/pyiceberg/schema.py
  python/tests/conftest.py
  python/tests/io/test_pyarrow.py
  python/tests/test_schema.py
Labels: python

#8411 Python: Remove files file
  python/pyiceberg/files.py
Labels: python

#8413 Nessie: Fix possible table-metadata loss
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
Labels: NESSIE

#8313 Spark 3.4: Add write options to override the compression properties of the table
  docs/spark-configuration.md
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkFileWriterFactory.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark, docs

#8396 Doc: Reflect Apache HttpClient as Default in AWS Integration Page
  docs/aws.md
Labels: docs

#8421 Spark3.4: Fix minor code style issue
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
Labels: spark

#8381 Core: Use V2 format in new tables by default
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveCreateReplaceTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.1/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHiveTables.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/source/TestTables.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.2/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHiveTables.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/source/TestTables.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHiveTables.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestTables.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHiveTables.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestTables.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
Labels: spark, core, hive

#8383 Spark 3.4: Clarify concurrent table modification error in copy-on-write operations
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
Labels: spark

#8416 Core: FixupTypes copied doc info.
  core/src/main/java/org/apache/iceberg/types/FixupTypes.java
Labels: core

#8439 Infra: Add `ajantha-bhat` as project collaborator
  .asf.yaml
Labels: INFRA

#8316 Docs: Add all types of files metadata tables in Spark queries
  docs/spark-queries.md
Labels: docs
