Repository apache/iceberg, pull requests merged in 2023-09, with the labels that each got.

#8443 Python: Add `py.typed` in the package
  python/pyiceberg/py.typed
Labels: python

#8435 Python: Bump Poetry to 1.6.1
  python/Makefile
Labels: python

#8436 Python: Bump `boto3` lower bound to 1.26.79
  python/poetry.lock
  python/pyproject.toml
Labels: python

#8464 Docs: Small touchups on the Hive docs
  docs/hive.md
Labels: docs

#8432 Core: Fix skipped file counts in ManifestReader with deleted entries
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/test/java/org/apache/iceberg/TestScanPlanningAndReporting.java
Labels: core

#8469 Core: Fix REST catalog tests with default v2 tables
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#8484 Python: Add note on pip
  python/mkdocs/docs/index.md
Labels: python

#8203 Docs: Improve the Spark Structured Streaming jobs
  docs/spark-structured-streaming.md
Labels: docs

#8483 Core: Fix typo in startingSequenceNumber argument name
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#8374 Python: Add updates, moves and deletes
  python/Makefile
  python/mkdocs/docs/api.md
  python/mkdocs/docs/contributing.md
  python/pyiceberg/schema.py
  python/pyiceberg/table/__init__.py
  python/tests/catalog/test_base.py
  python/tests/table/test_init.py
  python/tests/test_integration.py
  python/tests/test_integration_schema.py
Labels: python

#8465 Python: Add register table
  python/pyiceberg/catalog/__init__.py
  python/pyiceberg/catalog/dynamodb.py
  python/pyiceberg/catalog/glue.py
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/catalog/noop.py
  python/pyiceberg/catalog/rest.py
  python/pyiceberg/catalog/sql.py
  python/tests/catalog/test_base.py
  python/tests/catalog/test_rest.py
Labels: python

#8470 Core: Fix lazy snapshot loading history
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#8433 Python: Bump fsspec dependencies `>=2023.1.0`
  python/poetry.lock
  python/pyproject.toml
Labels: python

#8490 Python: Set version prior `sdist` release
  .github/workflows/python-release.yml
Labels: INFRA

#8496 Core: Remove unused field from BaseSnapshot
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
Labels: core

#8495 Nessie: Update NessieCatalog Javadoc about namespaces
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
Labels: NESSIE

#8438 Spark 3.4: Fix write and SQL options to override delete file compression config
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark

#8513 Spark3.4: Fix the minor code style issue
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#8491 Python: Improved Readability and Alignment of Regex Patterns
  python/pyiceberg/utils/datetime.py
Labels: python

#8535 Python: Avro change to standardized integer types rather than relying on C compiler defined types
  python/pyiceberg/avro/decoder_basic.c
  python/pyiceberg/avro/decoder_fast.pyx
Labels: python

#8524 Python: Fix pyarrow hdfs support
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
Labels: python

#8534 Python: Add integration tests for use_ref
  python/dev/provision.py
  python/tests/test_integration.py
Labels: python

#8536 Python: Point to the Python docs
  python/pyproject.toml
Labels: python

#8532 Python: Add checks after building the wheels
  .github/workflows/python-release.yml
  python/build-module.py
  python/pyproject.toml
  python/tests/conftest.py
Labels: python, INFRA

#8521 Python: Non-Cython fallback Avro parser
  python/build-module.py
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/file.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
Labels: python

#3231 GCM encryption stream
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/encryption/AesGcmInputFile.java
  core/src/main/java/org/apache/iceberg/encryption/AesGcmInputStream.java
  core/src/main/java/org/apache/iceberg/encryption/AesGcmOutputFile.java
  core/src/main/java/org/apache/iceberg/encryption/AesGcmOutputStream.java
  core/src/main/java/org/apache/iceberg/encryption/Ciphers.java
  core/src/test/java/org/apache/iceberg/encryption/TestCiphers.java
  core/src/test/java/org/apache/iceberg/encryption/TestGcmStreams.java
Labels: core

#8545 Python: Non-Cython fallback Avro parser
  python/pyiceberg/avro/decoder.py
  python/pyiceberg/avro/decoder_fast.pyi
  python/pyiceberg/avro/file.py
  python/pyiceberg/avro/reader.py
  python/pyiceberg/avro/resolver.py
  python/tests/avro/test_decoder.py
  python/tests/avro/test_reader.py
Labels: python

#8546 Python: Add `unmarked` pytest marker
  .github/workflows/python-release.yml
  python/pyproject.toml
Labels: python, INFRA

#8385 Nessie: Provide better commit message on table registation #8331
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
Labels: NESSIE

#8548 Python: Inline the Filesystem imports
  python/pyiceberg/io/pyarrow.py
Labels: python

#8489 Core: Add test for lazy snapshot history loading
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#8123 Spark 3.4: Support distributed planning
  .baseline/checkstyle/checkstyle.xml
  core/src/main/java/org/apache/iceberg/BaseDistributedDataScan.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/DataScan.java
  core/src/main/java/org/apache/iceberg/DataTableScan.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/main/java/org/apache/iceberg/PlanningMode.java
  core/src/main/java/org/apache/iceberg/SnapshotScan.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsUtil.java
  core/src/test/java/org/apache/iceberg/DataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/FilterFilesTestBase.java
  core/src/test/java/org/apache/iceberg/TestLocalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestLocalDeleteFileIndex.java
  core/src/test/java/org/apache/iceberg/TestLocalFilterFiles.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/SparkDistributedDataScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/SparkDistributedDataScanTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanFilterFiles.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanJavaSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanKryoSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
Labels: spark, core, INFRA

#8549 Python: Fix caching of FileSystem
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
Labels: python

#8088 Spark: Rule for converting StaticInvoke to ApplyFunctionExpression for V2 filter push down
  spark/v3.4/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceStaticInvoke.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownDQL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/source/PlanUtils.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/SparkFunctions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SystemFunctionPushDownHelper.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/functions/TestSparkFunctions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark, parquet

#8556 Python: Change logic to use `startsWith`
  .github/workflows/python-release.yml
Labels: INFRA

#8334 Core: Extend ResolvingFileIO to support prefix-based operations
  api/src/main/java/org/apache/iceberg/io/DelegateFileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
  core/src/test/java/org/apache/iceberg/io/TestResolvingIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
Labels: API, core, AWS, GCP

#8466 Arrow, Spark 3.4: Support vectorized reads with struct constants
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkPlanUtil.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnVectorBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ConstantColumnVector.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Labels: spark, arrow, core

#8563 Azure: Make ADLSFileIO implement DelegateFileIO
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSFileIO.java
Labels: AZURE

#8445 Spark 3.4: Set metricsReporter for CopyOnWriteScan/MergeOnReadScan/IncrementalAppendScan/ChangelogScan
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#8528 Schema Merge docs
  docs/spark-writes.md
Labels: docs

#8366 Core: Default to exponential retry strategy in REST client
  LICENSE
  core/src/main/java/org/apache/iceberg/rest/ExponentialHttpRequestRetryStrategy.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestExponentialHttpRequestRetryStrategy.java
  flink/v1.15/flink-runtime/LICENSE
  flink/v1.16/flink-runtime/LICENSE
  flink/v1.17/flink-runtime/LICENSE
  hive-runtime/LICENSE
  spark/v3.1/spark-runtime/LICENSE
  spark/v3.2/spark-runtime/LICENSE
  spark/v3.3/spark-runtime/LICENSE
  spark/v3.4/spark-runtime/LICENSE
Labels: spark, core, flink, hive

#8547 HIVE: Fix the Hive version checking in MetastoreLock logical error
  hive-metastore/src/main/java/org/apache/iceberg/hive/MetastoreLock.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
Labels: hive

#8562 Docs: Fix CREATE BRANCH syntax and broken link in Writing to Branches section
  docs/branching-and-tagging.md
  docs/spark-ddl.md
Labels: docs

#8564 Docs: Fix Flink configuration example doc.
  docs/flink-configuration.md
Labels: docs

#8561 Docs: Fix links from Flink DDL to upsert mode
  docs/flink-ddl.md
Labels: docs

#8578 Spark: Fix spacing in warn log in ExpireSnapshotsProcedure
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
Labels: spark

#8560 Spark 3.4: Push down system functions by V2 filters for rewriting DataFiles and PositionDeleteFiles
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#8568 Arrow: Propagate correct field info while reading metadata columns
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
Labels: arrow

#8428 Core, Spark 3.4: Write properties of `PositionDeletesTable` should respect ones of `BaseTable`
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark, core

#8584 Spark 3.5: Fix the test case of `TestCompresssionSettings`
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark

#8559 Fix incorrect metrics in ParquetUtil
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquet.java
Labels: parquet

#8382 Nessie: Permit Iceberg GC via explicit property overrides
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieTableOperations.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieUtil.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
Labels: NESSIE

#8585 Spark 3.5: Remove date logic with `anyToMicros`
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkValueConverter.java
Labels: spark

#8592 Spark 3.5: Add tests for WHEN NOT MATCHED BY SOURCE clauses
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#8588 Build: Fix Gradle issue for consuming projects with Maven classifier
  build.gradle
  flink/v1.15/build.gradle
  flink/v1.16/build.gradle
  flink/v1.17/build.gradle
  hive3/build.gradle
  mr/build.gradle
  spark/v3.1/build.gradle
  spark/v3.2/build.gradle
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
  spark/v3.5/build.gradle
Labels: spark, flink, MR, build, hive

#8394 Spark 3.4: Rewrite procedure throw better exception when filter expression cannot translate
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#8380 Core: Switch tests to JUnit5 in avro, data.avro pakages
  core/src/test/java/org/apache/iceberg/avro/TestAvroNameMapping.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroReadProjection.java
  core/src/test/java/org/apache/iceberg/avro/TestBuildAvroProjection.java
  core/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
  core/src/test/java/org/apache/iceberg/data/avro/TestDecoderResolver.java
Labels: core

#8599 Core: Enable strict metadata cleanup by default
  core/src/main/java/org/apache/iceberg/TableOperations.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
Labels: core

#8589 Python: Register table functionality for SQL Catalog
  python/pyiceberg/catalog/sql.py
  python/tests/catalog/test_sql.py
Labels: python

#8591 Core: Add uuid to ViewMetadata
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/resources/org/apache/iceberg/view/ValidViewMetadata.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentSchema.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataInvalidCurrentVersion.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingCurrentVersion.json
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMissingLocation.json
  format/view-spec.md
Labels: core

#8595 Core: Default to local planning if column stats must be serialized
  core/src/main/java/org/apache/iceberg/BaseDistributedDataScan.java
Labels: core

#8590 Core: Don't persist counts for paths and positions in position delete files
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
Labels: core, data

#8594 Spark 3.5: Add distibuted planning benchmarks
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/spark/PlanningBenchmark.java
Labels: spark

#8605 Spark 3.1, 3.2, 3.3, 3.5: Throw better exception when filter expression cannot be translated in Rewrite procedure
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.1/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.2/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.3/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.5/spark/src/main/scala/org/apache/spark/sql/execution/datasources/SparkExpressionConverter.scala
Labels: spark

#8602 Spark 3.5: Fix metrics reporting in distributed planning
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/test/java/org/apache/iceberg/ScanPlanningAndReportingTestBase.java
  core/src/test/java/org/apache/iceberg/TestCommitReporting.java
  core/src/test/java/org/apache/iceberg/TestLocalScanPlanningAndReporting.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/SparkDistributedDataScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanReporting.java
Labels: spark, core

#8604 Spark 3.5: Add tests for distributed planning with deletes
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#8607 Bump Nessie to 0.71.0, adjust to Nessie client-builder updates
  gradle/libs.versions.toml
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestCustomNessieClient.java
  nessie/src/test/resources/META-INF/services/org.projectnessie.client.NessieClientBuilder
Labels: NESSIE

#8593 Core: Default to zstd compression for Parquet in new tables
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  mr/src/test/java/org/apache/iceberg/mr/TestCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
Labels: spark, core, flink, MR, hive

#8555 Flink: table supplier in writer operator for optional table refresh
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  flink/v1.17/build.gradle
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/CachingTableSupplier.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkConfParser.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestCachingTableSupplier.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: core, flink, build

#8608 Core: Track metadata file location in ViewMetadata
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
Labels: core

#8525 Core: Add a validation API to DeleteFiles which validates files exist prior to attempting to deletion.
  api/src/main/java/org/apache/iceberg/DeleteFiles.java
  core/src/main/java/org/apache/iceberg/StreamingDelete.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
Labels: API, core

#8613 Spark 3.4: Fix metrics reporting in distributed planning
  spark/v3.4/spark/src/main/java/org/apache/iceberg/SparkDistributedDataScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanReporting.java
Labels: spark

#8615 Spark 3.4: Add tests for distributed planning with deletes
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#8616 Flink: port table refresh (#8555) to v1.15 and v1.16
  flink/v1.15/build.gradle
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/CachingTableSupplier.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.15/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestFlinkConfParser.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestCachingTableSupplier.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.15/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.16/build.gradle
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/TableLoader.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/CachingTableSupplier.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkConfParser.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestTableLoader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestCachingTableSupplier.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
Labels: flink, build

#8447 Python: Add __repr__ method to Table class
  python/pyiceberg/table/__init__.py
  python/tests/table/test_init.py
Labels: python

#8596 Python: Create HadoopFileSystem from netloc
  python/pyiceberg/io/pyarrow.py
  python/tests/io/test_pyarrow.py
Labels: python

#8304 Python: improve Glue catalog using Boto3 types
  python/poetry.lock
  python/pyiceberg/catalog/glue.py
  python/pyproject.toml
  python/tests/catalog/test_glue.py
Labels: python

#8612 AWS: remove deprecated API for 1.4.0 in iceberg-aws
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/ApacheHttpClientConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/main/java/org/apache/iceberg/aws/UrlConnectionHttpClientConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsClientFactories.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestHttpClientConfigurations.java
  aws/src/test/java/org/apache/iceberg/aws/TestHttpClientProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestGlueCatalog.java
Labels: AWS

#8325 Core: Move a column with the same name as a deleted column
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: core

#8558 Draft: Python: Add `__repr__` for `Catalog`
  python/pyiceberg/catalog/__init__.py
  python/tests/catalog/test_base.py
Labels: python

#8408 Python: Replace `isort`, `pylint`, `prettier`, `pyupgrade` & `flake8` with `ruff`
  python/.pre-commit-config.yaml
  python/pyiceberg/avro/decoder_fast.pyi
  python/pyiceberg/avro/decoder_fast.pyx
  python/pyiceberg/catalog/hive.py
  python/pyiceberg/io/pyarrow.py
  python/pyiceberg/table/metadata.py
  python/pyiceberg/transforms.py
  python/pyproject.toml
  python/tests/catalog/test_hive.py
Labels: python

#8634 Core: Move ViewVersion#check() to Immutable class
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/view/ViewVersion.java
  core/src/main/java/org/apache/iceberg/view/BaseViewVersion.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: API, core

#8192 Spark: Correct partition transform functions to match spec.md
  spark/v3.1/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.1/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.2/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.2/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
Labels: spark

#8626 AWS: Replace FileOutputStream/InputStream constructor with NIO Files APIs in S3OutputStream
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
Labels: AWS

#8647 Open-API: Make the CI happy
  open-api/requirements.txt
Labels: OPENAPI

#8654 Spark 3.5: Remove legacy configs for timestamps without zone
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadOptions.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
Labels: spark

#8656 Spark 3.5: Drop the `remove_carryovers` flag for CDC view creation
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
Labels: spark

#8621 Spark 3.5: Use fanout writers for unsorted tables by default
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
Labels: spark

#7628 Flink 1.17: Support alter table column
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkTypeToType.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/util/FlinkAlterTableUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/util/FlinkCompatibilityUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#8660 Spark 3.5: Increase default advisory partition size for writes
  core/src/main/java/org/apache/iceberg/TableProperties.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCompressionUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteRequirements.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCompressionUtil.java
Labels: spark, core

#8668 Core: Drop unused MERGE cardinality check table properties
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/TableProperties.java
Labels: core

#8667 Spark 3.5: Requested advisory partition size must respect Spark config
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#8669 Build: Fix staging script to include Spark 3.5
  dev/stage-binaries.sh
Labels: INFRA

#8671 Docs: Remove spark-3.1 mention
  core/src/main/java/org/apache/iceberg/actions/BinPackStrategy.java
  core/src/main/java/org/apache/iceberg/actions/RewriteStrategy.java
  core/src/main/java/org/apache/iceberg/actions/SortStrategy.java
  docs/nessie.md
  docs/spark-writes.md
Labels: core, docs

#8664 Core: Fix view version ID re-assigment & de-duplication / start schema ID at 0
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/resources/org/apache/iceberg/view/ValidViewMetadata.json
Labels: core

#7880 Core: Add remaining View APIs and support for InMemoryCatalog
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseMetastoreViewCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseView.java
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  core/src/main/java/org/apache/iceberg/view/PropertiesUpdate.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewOperations.java
  core/src/main/java/org/apache/iceberg/view/ViewUtil.java
  core/src/main/java/org/apache/iceberg/view/ViewVersionReplace.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryViewCatalog.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  core/src/test/resources/org/apache/iceberg/view/ViewMetadataMultipleSQLsForDialect.json
Labels: core

#8652 Python: Add more Ruff rules
  python/pyproject.toml
Labels: python

#8622 Python: ManifestWriter and ManifestListWriter
  python/pyiceberg/avro/writer.py
  python/pyiceberg/manifest.py
  python/pyiceberg/typedef.py
  python/tests/avro/test_file.py
  python/tests/test_integration_manifest.py
  python/tests/utils/test_manifest.py
Labels: python

#8682 Spark: Fix Decimal value conversion in V2 filters
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkV2Filters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkV2Filters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkV2Filters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
Labels: spark
