Repository apache/iceberg, pull requests merged in 2024-01, with the labels that each got.

#9389 Core, Spark: Correct the delete record count for PartitionTable
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core

#9255 Spark Streaming: Fix clobbering of files across streaming epochs
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#9399 Spark 3.3, 3.4: Backport #9255 - Fix clobbering of files across epochs
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#9384 Core, Data, Spark 3.5: Support file and partition delete granularity
  api/src/main/java/org/apache/iceberg/util/CharSequenceUtil.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/deletes/DeleteGranularity.java
  core/src/main/java/org/apache/iceberg/deletes/FileScopedPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/ClusteredPositionDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutPositionOnlyDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: API, spark, core, data, docs

#9398 Bump Nessie to 0.76.0
  build.gradle
  gradle/libs.versions.toml
Labels: build

#9403 Flink: Backport #9308 to v1.17 and the relevant parts to v1.16
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink

#9405 API: Fix Javadoc on UpdateSchema#updateColumnDoc
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
Labels: API

#9305 Core: remove statistic files in CatalogUtil:dropTableData
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
Labels: core

#9390 JMH: Improvements to `jmh.gradle`
  jmh.gradle
Labels: build

#9358 Docs: Note CREATE TABLE LIKE is not supported in Spark DDL
  docs/spark-ddl.md
Labels: docs

#9331 Build: Bump actions/labeler from 4 to 5
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: INFRA

#9408 Flink: Disable classloader check in TestIcebergSourceWithWatermarkExtractor to fix flakiness
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink

#9340 Spark: Add support for reading Iceberg views
  spark/v3.5/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
Labels: spark

#9385 AWS: Add S3 Access Grants Integration
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3AccessGrantsPluginConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOProperties.java
  build.gradle
  gradle/libs.versions.toml
Labels: build, AWS

#9409 Core: Remove partition statistics files during purge table
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
Labels: core

#9185 Flink 1.17: Create JUnit5 version of TestFlinkScan
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedSql.java
Labels: data, flink

#9415 Nessie: Strip trailing slash for warehouse location
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
Labels: NESSIE

#9417 Spark 3.5: Remaining tests migrated to Junit5
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TaskCheckHelper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestDataFileSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestManifestFileSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCachedTableCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCompressionUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkDistributionAndOrderingUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkSchemaUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkV2Filters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#9422 Spark 3.4: Add support for reading Iceberg views
  spark/v3.4/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalog.java
Labels: spark, build

#8988 Parquet: Support reading INT96 column in row group filter
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetDictionaryRowGroupFilter.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, parquet

#9063 Parquet: Move to ValueReader generation to a visitor
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
Labels: parquet

#9424 Core: Add JUnit5 version of TableTestBase
  build.gradle
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestCreateSnapshotEvent.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
Labels: core, data, build

#9346 Flink: Watermark read options
  docs/flink-configuration.md
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
Labels: flink, docs

#9419 API, Core: Fix errorprone warnings
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  api/src/main/java/org/apache/iceberg/util/CharSequenceWrapper.java
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/avro/AvroWithPartnerByStructureVisitor.java
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
Labels: API, core

#8701 Kafka Connect: Initial project setup and event data structures
  .github/labeler.yml
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/main/java/org/apache/iceberg/avro/TypeToSchema.java
  core/src/main/java/org/apache/iceberg/data/avro/DecoderResolver.java
  kafka-connect/build.gradle
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/AvroUtil.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/CommitComplete.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/CommitToTable.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/DataComplete.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/DataWritten.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/Event.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/Payload.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/PayloadType.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/StartCommit.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/TableReference.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/TopicPartitionOffset.java
  kafka-connect/kafka-connect-events/src/test/java/org/apache/iceberg/connect/events/EventSerializationTest.java
  kafka-connect/kafka-connect-events/src/test/java/org/apache/iceberg/connect/events/EventTestUtil.java
  settings.gradle
Labels: core, INFRA, build

#9401 Spark 3.5: Migrate tests in SQL directory to JUnit5
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/PartitionedWritesTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestNamespaceSQL.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWrites.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToWapBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWrites.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWritesToBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/UnpartitionedWritesTestBase.java
Labels: spark

#9435 Encrypted output file in Spark 3.5
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
Labels: spark

#9456 Backporting Flink: Watermark Read Options to 1.17 and 1.16
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkReadOptions.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
Labels: flink

#9381 Flink: Migrate subclasses of FlinkCatalogTestBase to JUnit5
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/FlinkCatalogTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMetaDataTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#9380 Spark 3.5: Migrate remaining tests in source directory to JUnit5
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestReadProjection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderWithBloomFilter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
Labels: spark, data

#9453 AES GCM Stream changes
  core/src/main/java/org/apache/iceberg/encryption/AesGcmInputStream.java
  core/src/main/java/org/apache/iceberg/encryption/AesGcmOutputStream.java
  core/src/test/java/org/apache/iceberg/encryption/TestGcmStreams.java
Labels: core

#9477 Nessie: Add table() and view() API to NessieIcebergClient
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
Labels: NESSIE

#9382 Spark, Flink: Migrate DeleteReadTests and its subclasses to JUnit5
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormatReaderDeletes.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceReaderDeletes.java
  mr/src/test/java/org/apache/iceberg/mr/TestHelper.java
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark, data, flink, MR

#9416 Core, Spark: Migrate tests that depend on ScanTestBase to JUnit5
  core/src/test/java/org/apache/iceberg/DataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/FilterFilesTestBase.java
  core/src/test/java/org/apache/iceberg/ScanPlanningAndReportingTestBase.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalAppendScan.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalChangelogScan.java
  core/src/test/java/org/apache/iceberg/TestLocalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestLocalFilterFiles.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/SparkDistributedDataScanTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanFilterFiles.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanJavaSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanKryoSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanReporting.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/SparkDistributedDataScanTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanFilterFiles.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanJavaSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanKryoSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanReporting.java
Labels: spark, core, data

#8065 Build: Add `iceberg-bom` artifact
  baseline.gradle
  build.gradle
  deploy.gradle
  settings.gradle
  tasks.gradle
Labels: INFRA, build

#9343 Spark: Support renaming views
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/ResolvedV2View.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RenameV2ViewExec.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9480 Flink 1.18: Create JUnit5 version of TestFlinkScan
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedSql.java
Labels: flink

#9421 Spark: Support dropping views
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/DropIcebergView.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropV2ViewExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9482 Flink 1.16: Create JUnit5 version of TestFlinkScan
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScanSql.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedSql.java
Labels: flink

#9325 Parquet: Deprecate readSupport and callInit in the read builder
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: parquet

#9451 Flink: Remove reading of the data files to fix flakiness
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
Labels: flink

#9436 Avro data encryption
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/test/java/org/apache/iceberg/avro/TestEncryptedAvroFileSplit.java
  core/src/test/java/org/apache/iceberg/encryption/EncryptionTestHelpers.java
  core/src/test/java/org/apache/iceberg/encryption/UnitestKMS.java
Labels: core

#9478 Docs: Enhance documentation on identifier fields
  docs/spark-ddl.md
Labels: docs

#9486 Flink: Upgrade Flink version from 1.18 to 1.18.1
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  gradle/libs.versions.toml
Labels: flink

#9432 Hive: Unwrap RuntimeException for Hive TException with rename table
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/MetastoreUtil.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#9491 Update iceberg_bug_report.yml to 1.4.3
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#9489 Check stale issues in ascending order
  .github/workflows/stale.yml
Labels: INFRA

#9496 Docs: Fix typo in tag reading example
  docs/java-api-quickstart.md
Labels: docs

#9493 Set `ghp_path` to `/`
  .asf.yaml
Labels: INFRA

#9498 Core: Fix lock acquisition logic in HadoopTableOperations rename
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
Labels: core

#9353 Core: Close the MetricsReporter when the Catalog is closed.
  api/src/main/java/org/apache/iceberg/metrics/MetricsReporter.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopCatalog.java
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  dell/src/main/java/org/apache/iceberg/dell/ecs/EcsCatalog.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieCatalog.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/SnowflakeCatalog.java
Labels: API, core, AWS, NESSIE, DELL, SNOWFLAKE

#9495 Build: Upgrade to Apache RAT 0.16, scanning hidden directories and adding missing ASF header
  .baseline/eclipse/dynamic/dotfile.checkstyle
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  .github/ISSUE_TEMPLATE/iceberg_improvement.yml
  .github/ISSUE_TEMPLATE/iceberg_question.yml
  dev/.rat-excludes
  dev/check-license
Labels: INFRA

#9508 Spark 3.4: Support dropping views
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/DropIcebergView.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/ResolvedV2View.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropV2ViewExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/RenameV2ViewExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9439 Spark: Add distribution mode not respected for CTAS/RTAS before 3.5.0
  docs/spark-writes.md
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
Labels: spark, docs

#9449 Spark: propagate snapshot properties for RewriteDataFiles and RewritePositionDeleteFiles
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesCommitManager.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSnapshotUpdateSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark, core

#9512 Spark: backport #8656 and update docs
  docs/spark-procedures.md
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
Labels: spark, docs

#9445 Spark: Fix flaky TestSparkReaderDeletes tests due to metric not found
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark

#9519 Update deploy script to use remote branch and add 1.4.3 updates
  site/README.md
  site/dev/deploy.sh
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#9516 Core: Mark NoSuchViewException as CleanableFailure
  api/src/main/java/org/apache/iceberg/exceptions/NoSuchViewException.java
Labels: API

#9525 Update site-ci with github action credentials
  .github/workflows/site-ci.yml
  site/dev/deploy.sh
Labels: INFRA

#9543 Docs: Correct the spelling of "gauge"
  docs/flink-writes.md
  site/docs/docs/nightly/docs/flink-writes.md
Labels: docs

#9529 Infra: Increase operations-per-run in stale action to 100
  .github/workflows/stale.yml
Labels: INFRA

#9505 Arrow, AWS, Core: Remove deprecated code for 1.5.0 release
  .palantir/revapi.yml
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorHolder.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestAwsProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestHttpClientConfigurations.java
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  core/src/main/java/org/apache/iceberg/io/ClusteredWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutWriter.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateRequirementParser.java
  core/src/main/java/org/apache/iceberg/rest/requests/UpdateTableRequest.java
Labels: arrow, core, AWS

#9324 Parquet: Add system config for unsafe Parquet ID fallback.
  core/src/main/java/org/apache/iceberg/SystemConfigs.java
  core/src/main/java/org/apache/iceberg/mapping/NameMapping.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: parquet, core

#9196 API, Core, Spark: Change behavior of fastForward/replace to create the from branch if it does not exist
  api/src/main/java/org/apache/iceberg/ManageSnapshots.java
  core/src/main/java/org/apache/iceberg/UpdateSnapshotReferencesOperation.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
Labels: API, spark, core

#9531 Build: Fix errorprone warning
  baseline.gradle
  data/src/main/java/org/apache/iceberg/data/BaseDeleteLoader.java
Labels: data, INFRA, build

#9548 Spark 3.4, 3.5: Enable drop table with purge in tests
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
Labels: spark

#9526 Build: Don't run CI's on unrelated changes
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/license-check.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#8579 Spec: add multi-arg transform support
  format/spec.md
Labels: Specification

#9541 AWS: Update S3FileIO test to run when CLIENT_FACTORY is not set
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
Labels: AWS

#9530 AWS: Support setting description for Glue table
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
Labels: AWS

#9423 Spark: Support creating views via SQL
  spark/v3.5/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/CreateIcebergView.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
Labels: spark

#8980 Core: Iceberg streaming streaming-skip-overwrite-snapshots SparkMicroBatchStream only skips over one file per trigger
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark, core

#9579 Build/Release: Upgrade to RAT 0.16.1
  dev/check-license
Labels: INFRA

#9580 Spark 3.4: Support creating views via SQL
  spark/v3.4/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/CreateIcebergView.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
Labels: spark

#9547 Flink: Adds the ability to read from a branch on the Flink Iceberg Source
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#9524 Flink: Implement enumerator metrics for pending splits, pending recor…
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitterMetrics.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/assigner/DefaultSplitAssigner.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/assigner/SplitAssigner.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/AbstractIcebergEnumerator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/util/ElapsedTimeGauge.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/MiniClusterResource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
Labels: flink

#9556 Spark 3.4: Fix writing of default values in CoW for rows with NULL columns which are unmatched
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTable.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#9587 Spark: Rewrite identifier when using Subquery expressions in View
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9520 New docs switch
  .asf.yaml
  site/dev/deploy.sh
Labels: INFRA, docs

#9583 Spark 3.5: Fix flaky TestSparkExecutorCache
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkExecutorCache.java
Labels: spark

#9513 Spark: Add support for describing/showing views
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/ShowIcebergViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeV2ViewExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowCreateV2ViewExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowV2ViewPropertiesExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowV2ViewsExec.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9594 Spark 3.4: Rewrite identifier when using Subquery expressions in View
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9595 Spark 3.4: Add support for describing/showing views
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/views/ShowIcebergViews.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeV2ViewExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowCreateV2ViewExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowV2ViewPropertiesExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ShowV2ViewsExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9452 Flink: Added error handling and default logic for Flink version detection
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/util/FlinkPackage.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
Labels: flink

#9176 API, Spark: Fix aggregation pushdown on struct fields
  api/src/main/java/org/apache/iceberg/expressions/ValueAggregate.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
Labels: API, spark
