Repository apache/iceberg, pull requests merged in 2024-10, with the labels that each got.

#11222 Core: Support combining position deletes during writes
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDelete.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/FanoutPositionOnlyDeleteWriter.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  data/src/main/java/org/apache/iceberg/data/BaseDeleteLoader.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
Labels: core, data

#11195 Core: Add DataFileSet / DeleteFileSet
  api/src/main/java/org/apache/iceberg/util/DataFileSet.java
  api/src/main/java/org/apache/iceberg/util/DeleteFileSet.java
  api/src/main/java/org/apache/iceberg/util/WrapperSet.java
  core/src/test/java/org/apache/iceberg/util/TestDataFileSet.java
  core/src/test/java/org/apache/iceberg/util/TestDeleteFileSet.java
Labels: API, core

#11073 ThreadPools introduce newExitingWorkerPool and newFixedThreadPool for clearer semantics
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  core/src/jmh/java/org/apache/iceberg/metrics/CountersBenchmark.java
  core/src/main/java/org/apache/iceberg/BaseDistributedDataScan.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergCommitter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/FlinkInputFormat.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/Coordinator.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark, core, data, flink, MR, AWS, KAFKACONNECT

#11242 Core: Deprecate legacy ways for loading position deletes
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
Labels: core

#11052 AWS: Set better defaults for S3 retry behaviour
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
  docs/docs/aws.md
Labels: docs, AWS

#10793 Puffin: Document stats `ndv` value representation
  format/puffin-spec.md
Labels: Specification

#11252 Build: Update baseline-java 5.69.0
  api/src/main/java/org/apache/iceberg/expressions/BoundReference.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/io/BulkDeletionFailureException.java
  api/src/main/java/org/apache/iceberg/transforms/TransformUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/DecimalVectorUtil.java
  build.gradle
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/MetricsModes.java
  core/src/main/java/org/apache/iceberg/ScanSummary.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/data/avro/IcebergDecoder.java
  core/src/main/java/org/apache/iceberg/io/ContentCache.java
  core/src/main/java/org/apache/iceberg/io/OutputFileFactory.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/AbstractIcebergEnumerator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordAndPosition.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/AbstractIcebergEnumerator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordAndPosition.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/ManifestOutputFileFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/DataIterator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/AbstractIcebergEnumerator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordAndPosition.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/KafkaConnectUtils.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/IcebergWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/RecordConverter.java
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/PageIterator.java
  pig/src/main/java/org/apache/iceberg/pig/PigParquetReader.java
  snowflake/src/main/java/org/apache/iceberg/snowflake/NamespaceHelpers.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/action/DeleteOrphanFilesBenchmark.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/action/DeleteOrphanFilesBenchmark.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/action/DeleteOrphanFilesBenchmark.java
Labels: API, spark, parquet, arrow, core, flink, pig, ORC, build, NESSIE, SNOWFLAKE, KAFKACONNECT

#11251 Build: Forbid implicit case fall-through without a comment and enable couple more recommendable error-prone checks
  baseline.gradle
Labels: INFRA, build

#9502 API, Core: Add default value APIs and Avro implementation
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  core/src/main/java/org/apache/iceberg/avro/GenericAvroReader.java
  core/src/test/java/org/apache/iceberg/avro/TestReadDefaultValues.java
Labels: API, core

#11274 AWS: Make sure overridden configurations are applied
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOProperties.java
Labels: AWS

#11161 Core: Fix UnicodeUtil#truncateStringMax returns malformed string.
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  api/src/main/java/org/apache/iceberg/util/UnicodeUtil.java
  core/src/test/java/org/apache/iceberg/TestMetricsTruncation.java
Labels: API, core

#11276 Arrow: Remove dead code
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
Labels: arrow

#10955 Spec: Add v3 types and type promotion
  format/spec.md
Labels: Specification

#11292 Arrow: Deprecate unused fixed width binary reader classes
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
Labels: arrow

#11261 Api, Spark: Make StrictMetricsEvaluator not fail on nested column predicates
  api/src/main/java/org/apache/iceberg/expressions/StrictMetricsEvaluator.java
  api/src/test/java/org/apache/iceberg/expressions/TestStrictMetricsEvaluator.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
Labels: API, spark

#11315 Build: Use the active shadow plugin
  aws-bundle/build.gradle
  azure-bundle/build.gradle
  build.gradle
  flink/v1.18/build.gradle
  flink/v1.19/build.gradle
  flink/v1.20/build.gradle
  gcp-bundle/build.gradle
  hive-runtime/build.gradle
  hive3-orc-bundle/build.gradle
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
  spark/v3.5/build.gradle
Labels: spark, flink, build, hive, AWS, GCP, AZURE

#11158 Core: Switch usage to DataFileSet / DeleteFileSet
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/BaseRewriteFiles.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesTable.java
Labels: spark, core, hive, NESSIE

#11259 [AWS] S3FileIO - Add Cross-Region Bucket Access
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
  docs/docs/aws.md
Labels: docs, AWS

#10494 Core: Deprecate ContentCache.invalidateAll
  core/src/main/java/org/apache/iceberg/io/ContentCache.java
Labels: core

#11319 Remove unnecessary copying of FileScanTask
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#11254 Core: Rename DeleteFileHolder to PendingDeleteFile / Optimize duplicate data/delete file detection
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
Labels: spark, core, hive

#11262 Bump junit from 5.10.1 to 5.11.1
  api/src/test/java/org/apache/iceberg/ParameterizedTestExtension.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkV2Branch.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceSql.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkV2Branch.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceSql.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  gradle/libs.versions.toml
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWritesToBranch.java
Labels: API, spark, core, data, flink, MR, build

#11294 Support wasb[s] paths in ADLSFileIO
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSFileIO.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AZURE

#10536 Make connect compatable with kafka plugin.discovery
  kafka-connect/kafka-connect/src/main/resources/META-INF/services/org.apache.kafka.connect.sink.SinkConnector
Labels: KAFKACONNECT

#11035 Updating SparkScan to only read Apache DataSketches
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark, core

#11303 add checkClassName regex func
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/IcebergSinkConfigTest.java
Labels: KAFKACONNECT

#11338 Remove repeated 'for'
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#11335 AWS: Fix S3InputStream retry policy
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestFlakyS3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
Labels: AWS

#11342 Small fix to TestSerializableTypes.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
Labels: API

#10926 Core: fix NPE with HadoopFileIO because FileIOParser doesn't serialize Hadoop configuration
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
Labels: core

#11344 Revert "Support wasb[s] paths in ADLSFileIO"
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSFileIO.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AZURE

#11345 Flink: make FLIP-27 default in SQL and mark the old FlinkSource as deprecated
  docs/docs/flink-queries.md
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
Labels: flink, docs

#11347 Flink: disable the flaky range distribution bucketing tests for now
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
Labels: flink

#10722 OpenAPI: Standardize credentials in loadTable/loadView responses
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10920 Spark: Add RewriteTablePath action interface
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  api/src/main/java/org/apache/iceberg/actions/RewriteTablePath.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteTablePath.java
Labels: API, core

#11112 AWS: Update ObjectStorageLocationProvider hash to optimize for S3 performance
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  docs/docs/aws.md
  docs/docs/configuration.md
Labels: core, docs

#11305 Flink: Add IcebergSinkBuilder interface allowed unification of most of operations on FlinkSink and IcebergSink Builders
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSinkBuilder.java
Labels: flink

#11352 Core: code clean up for deleteRemovedMetadataFiles
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
Labels: core

#11247 Arrow: Fix indexing in Parquet dictionary encoded values readers
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryEncodedVectorizedReads.java
  spark/v3.5/spark/src/test/resources/decimal_dict_and_plain_encoding.parquet
Labels: spark, arrow

#9724 Core, Spark: Remove dangling deletes as part of RewriteDataFilesAction
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  api/src/main/java/org/apache/iceberg/actions/RemoveDanglingDeleteFiles.java
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseRemoveDanglingDeleteFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFiles.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkContentFile.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RemoveDanglingDeletesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveDanglingDeleteAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: API, spark, core, flink

#11381 Spark: Randomize view/function names in testing
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#11382 Spark 3.4: Randomize view/function names in testing
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#11377 Spark 3.4: Action to remove dangling deletes
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkContentFile.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RemoveDanglingDeletesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveDanglingDeleteAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#11333 Reset Spark Conf for each test in TestCompressionSettings
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark

#11130 Spec: Adds Row Lineage
  format/spec.md
Labels: Specification

#11021 AWS: Support S3 directory bucket listing
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3URI.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3URI.java
Labels: AWS

#11339 Core: Add LoadCredentialsResponse class/parser
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadCredentialsResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadCredentialsResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadViewResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadCredentialsResponseParser.java
Labels: core

#11349 AWS: Use testcontainers-minio instead of S3Mock
  aws/src/test/java/org/apache/iceberg/aws/s3/MinioContainer.java
  aws/src/test/java/org/apache/iceberg/aws/s3/MinioUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestMinioUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/S3SignerServlet.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  build.gradle
  gradle/libs.versions.toml
Labels: build, AWS

#10829 Kafka Connect: Include third party licenses and notices in distribution
  kafka-connect/build.gradle
  kafka-connect/kafka-connect-runtime/LICENSE
  kafka-connect/kafka-connect-runtime/NOTICE
Labels: build, KAFKACONNECT

#11379 Deprecate iceberg-pig
  pig/src/main/java/org/apache/iceberg/pig/IcebergPigInputFormat.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergStorage.java
  pig/src/main/java/org/apache/iceberg/pig/PigParquetReader.java
  pig/src/main/java/org/apache/iceberg/pig/SchemaUtil.java
Labels: pig

#11323 Core: Track data files by spec id instead of full PartitionSpec
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#10774 Spark 3.5: Don't change table distribution when only altering local order
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetWriteDistributionAndOrderingExec.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
  spark/v3.5/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
Labels: spark

#11067 Spec: Fix table of content generation
  format/spec.md
Labels: Specification

#11346 [KafkaConnect] Fix RecordConverter for UUID and Fixed Types
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/RecordConverter.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/RecordConverterTest.java
Labels: build, KAFKACONNECT

#11354 Core: Snapshot `summary` map must have `operation` key
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
Labels: core

#11220 Core: Update TableMetadataParser to ensure all streams closed
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
Labels: core

#11366 Build: Bump Spark 3.4 to 3.4.4
  gradle/libs.versions.toml
Labels: build

#10995 Core: Remove one comment from FastAppend
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergeAppend.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/StreamingDelete.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
Labels: core

#11410 Flink: Fix disabling flaky range distribution bucketing tests
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
Labels: flink

#11411 Bump Azurite to the latest version
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/AzuriteContainer.java
Labels: AZURE

#11409 Revert "Core: Snapshot `summary` map must have `operation` key"
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
Labels: core

#11291 Aliyun: Remove spring-boot dependency
  aliyun/src/test/java/org/apache/iceberg/aliyun/TestUtility.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputStream.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMock.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockApp.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockExtension.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalController.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalStore.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/Range.java
  build.gradle
  gradle/libs.versions.toml
Labels: build, ALIYUN

#10811 Spark 3.5: Fix flaky test due to deleting temp directory failure
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
Labels: spark

#11372 Core: Add portable Roaring bitmap for row positions
  LICENSE
  core/src/jmh/java/org/apache/iceberg/deletes/RoaringPositionBitmapBenchmark.java
  core/src/main/java/org/apache/iceberg/deletes/RoaringPositionBitmap.java
  core/src/test/java/org/apache/iceberg/deletes/TestRoaringPositionBitmap.java
  core/src/test/resources/org/apache/iceberg/deletes/64map32bitvals.bin
  core/src/test/resources/org/apache/iceberg/deletes/64mapempty.bin
  core/src/test/resources/org/apache/iceberg/deletes/64maphighvals.bin
  core/src/test/resources/org/apache/iceberg/deletes/64mapspreadvals.bin
Labels: core

#11422 open-api: Fix testFixtures dependencies
  build.gradle
Labels: build

#11414 Core: use ManifestFiles.open when possible
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
Labels: core

#11282 GCS: Refresh vended credentials
  build.gradle
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandler.java
  gcp/src/test/java/org/apache/iceberg/gcp/GCPPropertiesTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandlerTest.java
Labels: core, build, GCP

#11424 New iceberg blogs nov 2024
  site/docs/blogs.md
Labels: docs

#11389 AWS: Refresh vended credentials
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestVendedCredentialsProvider.java
Labels: AWS

#11432 Core: Remove credentials from LoadViewResponse
  core/src/main/java/org/apache/iceberg/rest/responses/LoadViewResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadViewResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadViewResponseParser.java
Labels: core

#11433 OpenAPI: Remove credentials from LoadViewResult
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#11396 Doc: Update rewrite data files spark procedure
  docs/docs/spark-procedures.md
Labels: docs

#11417 Docs: warn `parallelism > 1` doesn't work for migration procedures
  docs/docs/spark-procedures.md
Labels: docs

#11413 Core: log retry sleep time
  core/src/main/java/org/apache/iceberg/util/Tasks.java
Labels: core
