Repository apache/iceberg, pull requests merged in 2024-08, with the labels that each got.

#10825 Infra: Improve feature request template
  .github/ISSUE_TEMPLATE/iceberg_improvement.yml
Labels: INFRA

#10836 Core: (unit test) Replace the duplicated ALL_DATA_FILES with ALL_DELETE_FILES
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
Labels: core

#10760 Core: Adds Basic Classes for Iceberg Table Version 3
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/ManifestListWriter.java
  core/src/main/java/org/apache/iceberg/ManifestLists.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/ScanPlanningAndReportingTestBase.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
  core/src/test/java/org/apache/iceberg/TestCommitReporting.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestFindFiles.java
  core/src/test/java/org/apache/iceberg/TestFormatVersions.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestLocalFilterFiles.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  core/src/test/java/org/apache/iceberg/TestManifestCleanup.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestScanSummary.java
  core/src/test/java/org/apache/iceberg/TestScansAndSchemaEvolution.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaID.java
  core/src/test/java/org/apache/iceberg/TestSetPartitionStatistics.java
  core/src/test/java/org/apache/iceberg/TestSetStatistics.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotLoading.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSelection.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestTableMetadataSerialization.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestTimestampPartitions.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  core/src/test/java/org/apache/iceberg/mapping/TestMappingUpdates.java
  core/src/test/resources/TableMetadataUnsupportedVersion.json
Labels: core

#10823 Flink: a few small fixes or tuning for range partitioner
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/AggregatedStatisticsTracker.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatistics.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/RangePartitioner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchRangePartitioner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeyUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestRangePartitioner.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchRangePartitioner.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeyUtil.java
Labels: flink

#10518 Core: Drop support for Java 8
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/publish-snapshot.yml
  .github/workflows/spark-ci.yml
  README.md
  build.gradle
  deploy.gradle
  hive-runtime/build.gradle
  jmh.gradle
  site/docs/contribute.md
  tasks.gradle
Labels: parquet, arrow, core, data, flink, INFRA, docs, build, hive

#10851 Build: Bump com.adobe.testing:s3mock-junit5 from 2.11.0 to 2.17.0
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  gradle/libs.versions.toml
Labels: AWS

#10850 Core: Upgrade Jetty and Servlet API
  build.gradle
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogServlet.java
  gradle/libs.versions.toml
Labels: core, build

#10849 Build for Java 11
  baseline.gradle
  build.gradle
Labels: INFRA, build

#10788 Build: Update baseline gradle plugin to 5.58.0
  baseline.gradle
  build.gradle
  core/src/main/java/org/apache/iceberg/StaticDataTask.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/KeyAssignment.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapAssignment.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/KeyAssignment.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapAssignment.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/KeyAssignment.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapAssignment.java
Labels: core, flink, INFRA, docs, build, hive

#10847 Flink: backport PR #10823 for range partitioner fixup
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/AggregatedStatisticsTracker.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatistics.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/RangePartitioner.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchRangePartitioner.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeyUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestRangePartitioner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchRangePartitioner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeyUtil.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/AggregatedStatisticsTracker.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatistics.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/RangePartitioner.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchRangePartitioner.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchUtil.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeyUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestRangePartitioner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchRangePartitioner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeyUtil.java
Labels: flink

#10857 Core: Remove reflection from TestParallelIterable
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#10833 Spec: Deprecate the file system table scheme.
  format/spec.md
Labels: Specification

#10736 Core, API: Add addNonDefaultSpec to UpdatePartitionSpec to not set the new partition spec as default
  api/src/main/java/org/apache/iceberg/UpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/BaseUpdatePartitionSpec.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
Labels: API, core

#10860 Build: Fix Scala compilation
  build.gradle
Labels: build

#10856 Build: Enable FormatStringAnnotation error-prone check
  baseline.gradle
Labels: core, flink, INFRA, build

#10858 Core: Use encoding/decoding methods for namespaces and deprecate Splitter/Joiner
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
Labels: core

#10880 Aliyun: Replace assert usage with assertThat
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalStore.java
Labels: ALIYUN

#10664 Core: Extract filePath comparator into it's own class
  api/src/main/java/org/apache/iceberg/types/Comparators.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
Labels: API, core

#10876 Docs: Fix SQL in branching docs
  docs/docs/branching.md
Labels: docs

#10711 API: Add SupportsRecoveryOperations mixin for FileIO
  api/src/main/java/org/apache/iceberg/io/SupportsRecoveryOperations.java
Labels: API

#10835 Spec: Clarify identity partition edge cases.
  format/spec.md
Labels: Specification

#10886 Build: Add checkstyle rule to ban assert usage
  .baseline/checkstyle/checkstyle.xml
Labels: INFRA

#10896 Spec: Fix rendering of unified partition struct
  format/spec.md
Labels: Specification

#10897 Docs: Nit Fix catalog name for S3 MRAP
  docs/docs/aws.md
Labels: docs

#10888 Fix stage-binaries.sh and docs after #10881
  dev/stage-binaries.sh
  site/docs/multi-engine-support.md
  site/docs/releases.md
Labels: INFRA, docs

#10902 Flink: Remove deprecated RowDataUtil.clone method
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
Labels: flink

#10898 AWS: Fix flaky TestS3RestSigner
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/S3SignerServlet.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
Labels: AWS

#10721 AWS: Implement SupportsRecoveryOperations for S3FileIO
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
Labels: AWS

#10818 Remove deprecated APIs up to 1.7.0
  .palantir/revapi.yml
  common/src/main/java/org/apache/iceberg/common/DynConstructors.java
  common/src/main/java/org/apache/iceberg/common/DynFields.java
  common/src/main/java/org/apache/iceberg/common/DynMethods.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/FileScanTaskParser.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/io/ContentCache.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/TestFileScanTaskParser.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
Labels: core, common, hive

#10899 Core, Flink: Fix build warnings
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedFileRewriter.java
  core/src/main/java/org/apache/iceberg/rest/ExponentialHttpRequestRetryStrategy.java
  core/src/main/java/org/apache/iceberg/util/Pair.java
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/main/java/org/apache/iceberg/util/Tasks.java
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  flink/v1.20/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
Labels: core, flink

#10921 Docs: Add Trademark symbol where appropriate
  site/docs/hive-quickstart.md
  site/docs/spark-quickstart.md
  site/mkdocs.yml
  site/overrides/home.html
  site/overrides/partials/header.html
Labels: docs

#10838 [Docs, Infra] Mount local versioned doc branch for testing
  site/README.md
  site/dev/common.sh
Labels: docs

#10931 API: Fix JavaDoc typos in `Transaction` API
  api/src/main/java/org/apache/iceberg/Transaction.java
Labels: API

#10925 Core: (unit test) Set partition to the right PartitionKey
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#10893 AWS, Core, Hive: Extract FileIO tracker/closer into separate class
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueCatalog.java
  core/src/main/java/org/apache/iceberg/io/FileIOTracker.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/io/TestFileIOTracker.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: core, hive, AWS

#10735 Core: add JSON serialization for BaseFilesTable.ManifestReadTask, AllManifestsTable.ManifestListReadTask, and BaseEntriesTable.ManifestReadTask
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/AllManifestsTableTaskParser.java
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/main/java/org/apache/iceberg/FilesTableTaskParser.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/ManifestEntriesTableTaskParser.java
  core/src/main/java/org/apache/iceberg/ManifestFileParser.java
  core/src/main/java/org/apache/iceberg/ScanTaskParser.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/io/FileIOParser.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/test/java/org/apache/iceberg/TestAllManifestsTableTaskParser.java
  core/src/test/java/org/apache/iceberg/TestFilesTableTaskParser.java
  core/src/test/java/org/apache/iceberg/TestManifestFileParser.java
Labels: core

#10945 AWS, Core: Slim down Jetty config for tests
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
Labels: core, AWS

#10947 1 Cloudera blog in February 2023
  site/docs/blogs.md
Labels: docs

#10861 Core: V3 Metadata Upgrade Validation and Testing
  core/src/test/java/org/apache/iceberg/TestFormatVersions.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
Labels: core

#10848 OpenAPI: Clarify in REST spec that server implementations of commit endpoints must fail with 400 for unknown requirements/updates
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10859 Flink: put everything together for range distribution in Flink sink
  docs/docs/flink-configuration.md
  docs/docs/flink-writes.md
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperatorFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkExtended.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink, docs

#10957 Flink: FLIP-27 IcebergSource builder missed a couple of configs compared to old FlinkSource: expose locality and plan parallelism
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
Labels: flink

#10969 Build: Prevent implicit default locale/charset usage
  baseline.gradle
  flink/v1.19/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/SinkWriter.java
Labels: flink, INFRA, build, KAFKACONNECT

#10874 AWS: Don't complete multipart upload on finalize for S3OutputStream
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
Labels: AWS

#10968 Build: Enable UnusedMethod error-prone check
  baseline.gradle
Labels: INFRA, build

#10678 #10668 - Support case-insensitivity for column names in PartitionSpec
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/test/java/org/apache/iceberg/TestSchemaCaseSensitivity.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecBuilderCaseSensitivity.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
Labels: API, core

#10974 Core: Remove unused throws declarations
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#10956 Flink: deprecate ReaderFunction with a new Converter interface to simplify user experience
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordConverter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/ConverterReaderFunction.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataConverter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
Labels: flink

#10978 Core: Drop ParallelIterable's queue low water mark
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
Labels: core

#10979 [1.6] Core: Drop ParallelIterable's queue low water mark
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
Labels: core

#10977 Check for minimal queue size in ParallelIterable
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#10288 Spark Action to Analyze table
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  api/src/main/java/org/apache/iceberg/actions/ComputeTableStats.java
  core/src/main/java/org/apache/iceberg/GenericBlobMetadata.java
  core/src/main/java/org/apache/iceberg/actions/BaseComputeTableStats.java
  spark/v3.5/build.gradle
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/ComputeTableStatsSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/NDVSketchUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.5/spark/src/main/scala/org/apache/spark/sql/stats/ThetaSketchAgg.scala
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
Labels: API, spark, core, build

#10872 Core,AWS: Fix NPE in ResolvingFileIO when HadoopConf is not set
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AWS

#10952 Spark 3.5: Fix incorrect catalog loaded in TestCreateActions
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#10484 Flink: Maintenance - TriggerManager
  flink/v1.19/build.gradle
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/JdbcLockFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/MonitorSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableMaintenanceMetrics.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/Trigger.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerEvaluator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerLockFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerManager.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/ConstantsForTests.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/MetricsReporterFactoryForTests.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestJdbcLockFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockFactoryBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestMonitorSource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
  flink/v1.19/flink/src/test/resources/META-INF/services/org.apache.flink.metrics.reporter.MetricReporterFactory
Labels: core, flink, build

#10985 Flink: backport PR #10956 for converter interface that deprecates ReaderFunction
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordConverter.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/ConverterReaderFunction.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataConverter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordConverter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/AvroGenericRecordReaderFunction.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/ConverterReaderFunction.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/IcebergSourceSplitReader.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataConverter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
Labels: flink

#10990 Flink: backport PR #10859 for range distribution
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperatorFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperatorFactory.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkExtended.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#10989 Flink: Port #10484 to v1.20
  flink/v1.20/build.gradle
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/JdbcLockFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/MonitorSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableMaintenanceMetrics.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/Trigger.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerEvaluator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerLockFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerManager.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/ConstantsForTests.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/MetricsReporterFactoryForTests.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestJdbcLockFactory.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockFactoryBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestMonitorSource.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
  flink/v1.20/flink/src/test/resources/META-INF/services/org.apache.flink.metrics.reporter.MetricReporterFactory
Labels: flink, build

#10992 Flink: Maintenance - TableChange refactor
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/JdbcLockFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerEvaluator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestMonitorSource.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#10994 Flink: Port #10992 to v1.19
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/JdbcLockFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerEvaluator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestMonitorSource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#10928 OpenAPI: Add endpoint field to CatalogConfig
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10984 Spark 3.5: Add utility to load table state reliably
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/NDVSketchUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
Labels: spark

#10972 AWS: Include http-auth-aws-crt module into iceberg-aws-bundle
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  aws-bundle/build.gradle
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  build.gradle
  kafka-connect/build.gradle
Labels: build, AWS, KAFKACONNECT

#11000 Docs: Fix wrong field name in CDC
  docs/docs/spark-procedures.md
Labels: docs

#10998 Docs: Rename Clickhouse to ClickHouse
  docs/mkdocs.yml
Labels: docs

#10832 Flink: infer source parallelism for FLIP-27 source in batch execution mode
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedSql.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceInferParallelism.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSpeculativeExecutionSupport.java
Labels: flink

#10526 Flink: Fix duplicate data with upsert writer in case of aborted checkpoints
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkWriteResult.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: core, flink

#11013 Core: Project data file stats only if there are equality deletes
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
Labels: core

#10997 Docs: Add Druid docs url to sidebar
  docs/mkdocs.yml
Labels: docs

#11009 Flink: backport PR #10832 of inferring parallelism in FLIP-27 source
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceInferParallelism.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSpeculativeExecutionSupport.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedSql.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceInferParallelism.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSpeculativeExecutionSupport.java
Labels: flink

#10908 Add REST Compatibility Kit
  build.gradle
  deploy.gradle
  gradle/libs.versions.toml
  open-api/README.md
  open-api/src/test/java/org/apache/iceberg/rest/RESTCompatibilityKitCatalogTests.java
  open-api/src/test/java/org/apache/iceberg/rest/RESTCompatibilityKitSuite.java
  open-api/src/test/java/org/apache/iceberg/rest/RESTCompatibilityKitViewCatalogTests.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RCKUtils.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTCatalogServer.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTServerCatalogAdapter.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTServerExtension.java
Labels: INFRA, docs, build, OPENAPI

#11022 Core: Generate realistic bounds in benchmarks
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
  core/src/test/java/org/apache/iceberg/TestFileGenerationUtil.java
Labels: core

#11024 OpenAPI, Build: Apply spotless to testFixtures source code
  baseline.gradle
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTCatalogServer.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTServerExtension.java
Labels: INFRA, build, OPENAPI

#11036 Docs: bump latest version to 1.6.1
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  doap.rdf
  site/mkdocs.yml
  site/nav.yml
Labels: INFRA, docs

#10846 OpenAPI: Add RemovePartitionSpecsUpdate REST update type
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#11030 Build: Ignore benchmark output folders across all modules
  .gitignore
Labels: INFRA

#11029 Core: Add benchmark for adding files
  core/src/jmh/java/org/apache/iceberg/AppendBenchmark.java
Labels: core

#11027 Spark 3.5: Use FileGenerationUtil in PlanningBenchmark
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/spark/PlanningBenchmark.java
Labels: spark

#11033 Flink: add unit tests for range distribution on bucket partition column
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
Labels: flink

#11032 Kafka Connect: Disable publish tasks in runtime project
  kafka-connect/build.gradle
Labels: build, KAFKACONNECT

#11018 Flink: Backport PR #10526 to v1.18 and v1.20
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkWriteResult.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkWriteResult.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergFilesCommitter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
Labels: flink
