Repository apache/iceberg, pull requests merged in 2024-09, with the labels that each got.

#10624 Core: Refactor ZOrderByteUtils
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
Labels: core

#10780 Initial committer guidelines and requirements for merging
  site/docs/contribute.md
Labels: docs

#11072 Flink: Fix compile warning
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
Labels: flink

#11065 Docs: Fix Flink 1.20 support versions
  site/docs/multi-engine-support.md
Labels: docs

#11078 Build: Enable more error-prone checks
  baseline.gradle
Labels: INFRA, build

#11071 open-api: Fix compile warnings for testFixtures
  build.gradle
  gradle/libs.versions.toml
Labels: build

#11043 Spark 3.3, 3.4: Parallelize reading files in migrate procedures
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SnapshotTableSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestMigrateTableAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestSnapshotTableAction.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/MigrateTableSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SnapshotTableSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestMigrateTableAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSnapshotTableAction.java
Labels: spark

#11045 Spark 3.5: Mandate identifier fields when create_changelog_view for table contain unsortable columns
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
Labels: spark, docs

#11088 Core: Fix setting hasNewDataFile flag in MergingSnapshotProducer
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
Labels: core

#11087 Docs: Document accessing instance variables
  site/docs/contribute.md
Labels: docs

#11068 Spec: Fix rendering of partition stats file spec
  format/spec.md
Labels: Specification

#11049 Spark 3.3, 3.4: Fix incorrect catalog loaded in TestCreateActions
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#11102 Core, Kafka, Spark: Use AssertJ instead of JUnit assertions
  .baseline/checkstyle/checkstyle.xml
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/channel/CoordinatorTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
Labels: spark, core, INFRA, KAFKACONNECT

#11069 Add rmoff blogs
  site/docs/blogs.md
Labels: docs

#11104 Upgrade to Gradle 8.10.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#11101 Build: Remove unused variables, fields and parameters
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  baseline.gradle
  core/src/jmh/java/org/apache/iceberg/ManifestReadBenchmark.java
  core/src/main/java/org/apache/iceberg/UpdateRequirements.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/StructRowData.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/StructRowData.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/StructRowData.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/RowDataRewriter.java
  mr/src/main/java/org/apache/iceberg/mr/Catalogs.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergMetaHook.java
  orc/src/main/java/org/apache/iceberg/orc/OrcFileAppender.java
  spark/v3.3/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.4/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.5/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Labels: API, spark, core, flink, MR, ORC, INFRA, build, AWS

#9695 Add Scan Planning Endpoints to open api spec
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10746 Kafka Connect: Docs on configuring the sink
  docs/docs/kafka-connect.md
  docs/mkdocs.yml
Labels: docs

#10814 Kafka Connect: Stop commits on terminated coordinator
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/Coordinator.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/CoordinatorThread.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/RecordConverter.java
Labels: KAFKACONNECT

#11010 Flink: Maintenance - Lock remover
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/JdbcLockFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockRemover.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableMaintenanceMetrics.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TaskResult.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerManager.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/ManualSource.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockRemover.java
Labels: flink

#11114 Docs: Update Project links to include contributing and REST spec
  site/nav.yml
Labels: docs

#11119 OpenAPI: Fix YAML example and value json formatting
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#11086 Core: Parallelize manifest writing for many new files
  core/src/jmh/java/org/apache/iceberg/AppendBenchmark.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestSnapshotProducer.java
Labels: core

#10929 Core: Allow servers to express supported endpoints via endpoint field in ConfigResponse
  core/src/main/java/org/apache/iceberg/rest/Endpoint.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTTableOperations.java
  core/src/main/java/org/apache/iceberg/rest/RESTViewOperations.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
  core/src/main/java/org/apache/iceberg/rest/responses/ConfigResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ConfigResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestEndpoint.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalogWithAssumedViewSupport.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestConfigResponseParser.java
Labels: core

#9852 Hive: Add View support for HIVE catalog
  api/src/main/java/org/apache/iceberg/exceptions/NoSuchIcebergViewException.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCommits.java
Labels: API, core, hive

#11106 Spark 3.4: Action to compute table stats
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/ComputeTableStatsSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/NDVSketchUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/stats/ThetaSketchAgg.scala
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
Labels: spark, build

#11080 Docs: Fix missing options for remove_orphan_files procedure
  docs/docs/spark-procedures.md
Labels: docs

#11121 Flink: Increase the number of checkpoints from 4 to 6 to fix flakiness.
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkRangeDistributionBucketing.java
Labels: flink

#11115 Spark 3.4: Add utility to load table state reliably
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/NDVSketchUtil.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
Labels: spark

#11001 Build: switch to slf4j-simple 2.x for test implementation dependency
  gradle/libs.versions.toml
Labels: build

#11151 Core: Update metadata location without updating lastUpdatedMillis
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#11132 Core: Move internal struct projection to SupportsIndexProjection
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/avro/SupportsIndexProjection.java
  core/src/test/java/org/apache/iceberg/TestBase.java
Labels: core

#11148 Core: Add explicit JSON parser for LoadTableResponse
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/LoadTableResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponseParser.java
Labels: core

#11167 Build: Add .java-version to gitignore.
  .gitignore
Labels: INFRA

#8337 Docs: Clarified Partition Transform
  docs/docs/partitioning.md
Labels: docs

#11166 API, Core: Enable dropping rewritten delete files in RowDelta
  api/src/main/java/org/apache/iceberg/RowDelta.java
  core/src/jmh/java/org/apache/iceberg/ReplaceDeleteFilesBenchmark.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: API, core

#11135 Docs: `field_id` in name serialisation spec should read `field-id`
  format/spec.md
Labels: Specification

#11170 AWS: Bump AWS SDK to version 2.28.5
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  gradle/libs.versions.toml
Labels: AWS

#11172 Docs: Uppercase keyword in branching
  docs/docs/branching.md
Labels: docs

#11092 API: Deprecate ContentFile#path API and add location API which returns String
  api/src/main/java/org/apache/iceberg/ContentFile.java
Labels: API

#11192 [Docs] Update AWS docs to add more AWS engines that supports iceberg
  docs/docs/aws.md
  docs/mkdocs.yml
Labels: docs

#10433 API, AWS: Retry S3InputStream reads
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestFlakyS3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
  build.gradle
  gradle/libs.versions.toml
Labels: core, build, AWS

#11198 AWS: Fix AWS doc URL
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
Labels: AWS

#11203 Core: Add rewritten delete files to write results
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/io/BasePositionDeltaWriter.java
  core/src/main/java/org/apache/iceberg/io/DeleteWriteResult.java
  core/src/main/java/org/apache/iceberg/io/WriteResult.java
Labels: core

#11202 Core: Support iterating over positions in PositionDeleteIndex
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
  core/src/test/java/org/apache/iceberg/deletes/TestBitmapPositionDeleteIndex.java
Labels: core

#9640 Spark: Added merge schema as spark configuration
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
Labels: spark

#11208 Core: Support merging in PositionDeleteIndex
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndexUtil.java
  core/src/test/java/org/apache/iceberg/deletes/TestBitmapPositionDeleteIndex.java
Labels: core

#11175 Core: Remove unused code for streaming position deletes
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
Labels: core

#11212 Upgrade to Gradle 8.10.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#11146 Core: Add a util to compute partition stats
  core/src/jmh/java/org/apache/iceberg/PartitionStatsUtilBenchmark.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/PartitionStats.java
  core/src/main/java/org/apache/iceberg/PartitionStatsUtil.java
  core/src/main/java/org/apache/iceberg/Partitioning.java
  core/src/main/java/org/apache/iceberg/PartitionsTable.java
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
  core/src/test/java/org/apache/iceberg/TestPartitionStatsUtil.java
Labels: core

#11179 Parquet: update PruneColumns to inherit from TypeWithSchemaVisitor to have Iceberg type
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
Labels: parquet

#11218 [Minor][Test] Fix TestFastAppend.testAddManyFiles()
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
Labels: core

#11076 Spark: Deprecate SparkAppenderFactory
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
Labels: spark

#11236 Core: Improve error handling when parsing view representations
  core/src/main/java/org/apache/iceberg/view/ViewVersionParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewVersionParser.java
Labels: core

#11143 REST: Handle Requests with Page Sizes Exceeding Available Number of Namespaces /Tables/Views
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
Labels: core
