Repository apache/iceberg, pull requests merged in 2024-12, with the labels that each got.

#11676 REST: Refactor docker image files
  .github/workflows/publish-iceberg-rest-fixture-docker.yml
  docker/iceberg-rest-fixture/Dockerfile
  docker/iceberg-rest-fixture/README.md
Labels: INFRA, docs

#10999 REST: Use HEAD request to check table existence
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#11439 Spark-3.5: make `where` sql case sensitive setting alterable in rewrite data files procedure
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
Labels: spark

#11551 Spark: Remove extra columns for ColumnBatch
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark, data

#11388 Spark: Add view support to SparkSessionCatalog
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
Labels: spark, build

#11694 REST: Fix warning message for deprecated OAuth2 server URI
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#11656 Build: Bump Parquet to 1.15.0
  gradle/libs.versions.toml
Labels: build

#11053 Core: Generalize Util::blockLocations
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
Labels: core

#11606 Document procedure for stats collection
  docs/docs/spark-procedures.md
Labels: docs

#11700 Spark 3.5: Align RewritePositionDeleteFilesSparkAction filter case sensitivity with Spark case sensitivity
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#11561 Spark: Write DVs for V3 MoR tables
  core/src/main/java/org/apache/iceberg/io/PartitioningDVWriter.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark, core, data

#11711 Infra: Add 1.7.1 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#11710 Spark 3.3/3.4: Align RewritePositionDeleteFilesSparkAction filter case sensitivity with Spark case sensitivity
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#11670 Docs: Add guidelines for contributors to become committers
  site/docs/community.md
Labels: docs

#11721 Core, Flink, Spark: Drop deprecated APIs scheduled for removal in 1.8.0
  .palantir/revapi.yml
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedColumnIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDictionaryEncodedParquetValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  core/src/main/java/org/apache/iceberg/deletes/Deletes.java
  core/src/test/java/org/apache/iceberg/deletes/TestPositionFilter.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroReader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroDeprecatedReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroReader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroDeprecatedReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroReader.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroDeprecatedReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroReader.java
Labels: spark, arrow, core, flink

#11662 Flink: Fix range distribution npe when value is null
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatistics.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatisticsSerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/StatisticsUtil.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestCompletedStatisticsSerializer.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerPrimitives.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerSnapshot.java
Labels: flink

#11420 AWS: Enable RetryMode for AWS KMS client
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  aws/src/test/java/org/apache/iceberg/aws/kms/TestKmsClientProperties.java
Labels: AWS

#11753 docker: Build for `arm64` architecture
  .github/workflows/publish-iceberg-rest-fixture-docker.yml
Labels: INFRA

#11759 Docs: fix typo in spec
  format/spec.md
Labels: Specification

#11729 Spark3.4,3.5: Fix the BUG of iceberg views when resolved "group by ordinals"
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#11727 Spark: Remove deprecated SparkAppenderFactory
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkAppenderFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
Labels: spark

#11643 Hadoop: Log where the missing metadata file is located
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
Labels: core

#11760 Core: Use HEAD request to check if view exists
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
Labels: core

#11761 Core: Use HEAD request to check if namespace exists
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#11597 Hive: Optimize tableExists API in hive catalog
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: core, hive

#11773 GCS: Suppress JavaUtilDate in OAuth2RefreshCredentialsHandler
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandler.java
Labels: GCP

#11301 Flink: Add RowConverter for Iceberg Source
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedConverterBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedRow.java
Labels: flink

#11748 Spark 3.5: Fix comment and assertion mismatch in PartitionedWritesTestBase/TestRewritePositionDeleteFilesAction
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/PartitionedWritesTestBase.java
Labels: spark

#11756 Core: Add missing REST endpoint definitions
  core/src/main/java/org/apache/iceberg/rest/Endpoint.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/ResourcePaths.java
Labels: core

#11657 Spark: Read DVs when reading from .position_deletes table
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/DVIterator.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/PositionDeletesRowReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesReader.java
Labels: spark

#11620 Core: Add TableUtil to provide access to a table's format version
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/TableUtil.java
  core/src/test/java/org/apache/iceberg/TestTableUtil.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
Labels: core

#11698 Spark 3.4: Add REST catalog to Spark integration tests
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/rest/RESTServerRule.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestNamespaceSQL.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark, build

#11785 Parquet: Implement defaults for generic data
  data/src/test/java/org/apache/iceberg/data/DataTestHelpers.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
Labels: parquet, data

#11673 REST: Use apache/iceberg-rest-fixture docker image
  kafka-connect/kafka-connect-runtime/docker/docker-compose.yml
  site/docs/spark-quickstart.md
Labels: docs, KAFKACONNECT

#11663 Docs: Default value of table level distribution-mode should be not set
  docs/docs/configuration.md
Labels: docs

#11684 Docs: Fix Spark catalog `table-override` description
  docs/docs/spark-configuration.md
Labels: docs

#11734 API: Add missing deprecations
  api/src/main/java/org/apache/iceberg/transforms/Bucket.java
  api/src/main/java/org/apache/iceberg/transforms/Dates.java
  api/src/main/java/org/apache/iceberg/transforms/Identity.java
  api/src/main/java/org/apache/iceberg/transforms/Timestamps.java
  api/src/main/java/org/apache/iceberg/transforms/UnknownTransform.java
  api/src/main/java/org/apache/iceberg/transforms/VoidTransform.java
Labels: API

#11654 Core, Spark3.5: Fix tests failure due to timeout
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark, core

#11769 Auth Manager API part 1: HTTPRequest, HTTPHeader
  core/src/main/java/org/apache/iceberg/rest/HTTPHeaders.java
  core/src/main/java/org/apache/iceberg/rest/HTTPRequest.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPHeaders.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPRequest.java
Labels: core

#11557 Flink: make `StatisticsOrRecord` to be correctly serialized and deser…
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/StatisticsOrRecordTypeInformation.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestStatisticsOrRecordTypeInformation.java
Labels: flink

#11751 Spark3.4,3.5: In describe extended view command: fix wrong view catal…
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeV2ViewExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DescribeV2ViewExec.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark, build

#11810 Use try-with-resources in TestParallelIterable
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#11811 Data: Fix Parquet and Avro defaults date/time representation
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
  core/src/main/java/org/apache/iceberg/data/GenericDataUtil.java
  core/src/main/java/org/apache/iceberg/data/avro/PlannedDataReader.java
  data/src/test/java/org/apache/iceberg/data/DataTest.java
  data/src/test/java/org/apache/iceberg/data/DataTestHelpers.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkPlannedAvroReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
Labels: spark, parquet, core, data

#11812 Revert "Support WASB scheme in ADLSFileIO"
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/AzurePropertiesTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AZURE

#11817 [1.7] Revert "Support WASB scheme in ADLSFileIO"
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/AzurePropertiesTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AZURE

#11816 Core, Spark, Flink, Hive: Remove unused failsafe dependency from core and add Failsafe to runtime LICENSE(s)
  build.gradle
  flink/v1.18/flink-runtime/LICENSE
  flink/v1.19/flink-runtime/LICENSE
  flink/v1.20/flink-runtime/LICENSE
  hive-runtime/LICENSE
  kafka-connect/kafka-connect-runtime/LICENSE
  spark/v3.3/spark-runtime/LICENSE
  spark/v3.4/spark-runtime/LICENSE
  spark/v3.5/spark-runtime/LICENSE
Labels: spark, flink, build, hive, KAFKACONNECT

#11031 Docs: Change to Flink directory for instructions
  docs/docs/flink.md
Labels: docs

#11828 Core, Spark, Flink, Hive: Remove unused failsafe dependency from core and add Failsafe to runtime LICENSE(s)
  build.gradle
  flink/v1.18/flink-runtime/LICENSE
  flink/v1.19/flink-runtime/LICENSE
  flink/v1.20/flink-runtime/LICENSE
  hive-runtime/LICENSE
  kafka-connect/kafka-connect-runtime/LICENSE
  spark/v3.3/spark-runtime/LICENSE
  spark/v3.4/spark-runtime/LICENSE
  spark/v3.5/spark-runtime/LICENSE
Labels: spark, flink, build, hive, KAFKACONNECT

#11815 Spark 3.5: Support default values in vectorized reads
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedReaderBuilder.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkParquetReaders.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
Labels: spark, arrow

#11827 Remove number from assert description
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#11809 Auth Manager API part 2: AuthManager
  core/src/main/java/org/apache/iceberg/rest/HTTPHeaders.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthManager.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthManagers.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthProperties.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthSession.java
  core/src/main/java/org/apache/iceberg/rest/auth/BasicAuthManager.java
  core/src/main/java/org/apache/iceberg/rest/auth/DefaultAuthSession.java
  core/src/main/java/org/apache/iceberg/rest/auth/NoopAuthManager.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPHeaders.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestAuthManagers.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestBasicAuthManager.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestDefaultAuthSession.java
Labels: core

#11415 Core: Add Variant implementation to read serialized objects
  api/src/main/java/org/apache/iceberg/io/CloseableIterable.java
  api/src/test/java/org/apache/iceberg/util/RandomUtil.java
  core/src/main/java/org/apache/iceberg/util/SortedMerge.java
  core/src/main/java/org/apache/iceberg/variants/PrimitiveWrapper.java
  core/src/main/java/org/apache/iceberg/variants/SerializedArray.java
  core/src/main/java/org/apache/iceberg/variants/SerializedMetadata.java
  core/src/main/java/org/apache/iceberg/variants/SerializedObject.java
  core/src/main/java/org/apache/iceberg/variants/SerializedPrimitive.java
  core/src/main/java/org/apache/iceberg/variants/SerializedShortString.java
  core/src/main/java/org/apache/iceberg/variants/ShreddedObject.java
  core/src/main/java/org/apache/iceberg/variants/Variant.java
  core/src/main/java/org/apache/iceberg/variants/VariantArray.java
  core/src/main/java/org/apache/iceberg/variants/VariantMetadata.java
  core/src/main/java/org/apache/iceberg/variants/VariantObject.java
  core/src/main/java/org/apache/iceberg/variants/VariantPrimitive.java
  core/src/main/java/org/apache/iceberg/variants/VariantUtil.java
  core/src/main/java/org/apache/iceberg/variants/VariantValue.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/variants/TestPrimitiveWrapper.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedArray.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedMetadata.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedObject.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedPrimitives.java
  core/src/test/java/org/apache/iceberg/variants/TestShreddedObject.java
  core/src/test/java/org/apache/iceberg/variants/TestVariantUtil.java
  core/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
Labels: API, core

#11832 Spark: Test reading default values in Spark
  api/src/main/java/org/apache/iceberg/types/ReassignIds.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/test/java/org/apache/iceberg/TestSchemaParser.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseRowReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/ParameterizedAvroDataTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/DataFrameWriteTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestAvroDataFrameWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestAvroScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestORCDataFrameWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetDataFrameWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetVectorizedScan.java
Labels: API, spark, core

#11861 Build: Upgrade to Gradle 8.12
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#11860 Build: Fix ignoring `.asf.yaml` in PR
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/kafka-connect-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#11869 Gradle 8.12 updated the gradlew with better APP_HOME definition
  gradlew
Labels: build

#11865 Core, Spark: Avoid deprecated methods in Guava Files
  core/src/jmh/java/org/apache/iceberg/ManifestWriteBenchmark.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopTableTestBase.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/action/DeleteOrphanFilesBenchmark.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
Labels: spark, core

#11779 Core: Don't reset snapshotLog in `TableMetadata.removeRef` method
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#11867 Core: Replace deprecated Schema.toString with SchemaFormatter
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: core

#11873 Build: Fix ignoring `license-check.yml` in PR
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/kafka-connect-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#11875 API: Replace deprecated asList with asInstanceOf in TestExceptionUtil
  api/src/test/java/org/apache/iceberg/util/TestExceptionUtil.java
Labels: API

#11702 Flink: Avoid RANGE mode broken chain when write parallelism changes
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
Labels: flink

#11882 Update README.md to add link to iceberg-cpp
  README.md
Labels: docs

#11880 Core: Fix typo in HadoopTableOperations
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
Labels: core

#11858 Revert "Hive: close the fileIO client when closing the hive catalog"
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive
