Repository apache/iceberg, pull requests merged in 2024-07, with the labels that each got.

#9402 Core: Fix ParallelIterable memory leak where queue continues to be populated even after iterator close
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#10607 Core: Handles potential NPE in `RESTSessionCatalog#newSessionCache`
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#10620 Backport HadoopCatalog related classes in Flink
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/HadoopTableExtension.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceSql.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestColumnStatsWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/HadoopTableExtension.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestColumnStatsWatermarkExtractor.java
Labels: flink, build

#10602 Enable the Gradle build cache
  gradle.properties
Labels: build

#10580 Fix some `long` casting issues
  api/src/test/java/org/apache/iceberg/metrics/TestFixedReservoirHistogram.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  orc/src/main/java/org/apache/iceberg/orc/ExpressionToSearchArgument.java
Labels: API, flink, ORC

#10345 REST: disallow overriding "credential" in table sessions
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#10314 Core: Assume issued_token_type is access_token to fully comply with RFC 6749
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
Labels: core

#10629 Flink: Fix `long` casting issues
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
Labels: flink

#10615 Core: Handles possible heap data corruption of `OAuth2Util.AuthSession#headers`
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
Labels: core

#10276 AWS: Retain Glue Catalog column comment after updating Iceberg table
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
  aws/src/main/java/org/apache/iceberg/aws/glue/IcebergToGlueConverter.java
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
Labels: AWS

#10631 Build: Use official revapi Gradle plugin
  build.gradle
Labels: build

#10369 Core: Fix create v1 table on REST Catalog
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#10632 Migrate source package in Flink
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/assigner/SplitAssignerTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestDefaultSplitAssigner.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestEnumerationHistory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayBatchRecords.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayPoolDataIteratorBatcherRowData.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: flink

#10547 Spark: support read of partition metadata column when table is over 1k
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark

#10657 Data: Switch tests to JUnit5 + AssertJ-style assertions
  data/src/test/java/org/apache/iceberg/RecordWrapperTest.java
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  data/src/test/java/org/apache/iceberg/TestSplitScan.java
  data/src/test/java/org/apache/iceberg/data/DataTestHelpers.java
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
  data/src/test/java/org/apache/iceberg/data/TestGenericRecord.java
  data/src/test/java/org/apache/iceberg/data/TestLocalScan.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  data/src/test/java/org/apache/iceberg/data/TestReadProjection.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericReadProjection.java
  data/src/test/java/org/apache/iceberg/data/avro/TestSingleMessageEncoding.java
  data/src/test/java/org/apache/iceberg/data/orc/TestGenericReadProjection.java
  data/src/test/java/org/apache/iceberg/data/orc/TestOrcDataWriter.java
  data/src/test/java/org/apache/iceberg/data/orc/TestOrcRowIterator.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericReadProjection.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestGenericMergingMetrics.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkMergingMetrics.java
  mr/src/test/java/org/apache/iceberg/mr/TestHelper.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMergingMetrics.java
Labels: spark, data, flink, MR, build

#10663 Backport source package changes in Flink to other versions
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/SplitAssignerTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestDefaultSplitAssigner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestEnumerationHistory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayBatchRecords.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayPoolDataIteratorBatcherRowData.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/assigner/SplitAssignerTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestDefaultSplitAssigner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestWatermarkBasedSplitAssigner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestEnumerationHistory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestIcebergEnumeratorStateSerializer.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayBatchRecords.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayPoolDataIteratorBatcherRowData.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestIcebergSourceReader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestRowDataReaderFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousIcebergEnumerator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/ReaderFunctionTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestArrayPoolDataIteratorBatcherRowData.java
Labels: flink

#10565 Flink: Pre-create fieldGetters to avoid constructing them for each row
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
Labels: flink

#10670 Dell, Hive3: Convert remaining tests to JUnit5
  dell/src/test/java/org/apache/iceberg/dell/ecs/TestEcsCatalog.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergDateObjectInspectorHive3.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampObjectInspectorHive3.java
  hive3/src/test/java/org/apache/iceberg/mr/hive/serde/objectinspector/TestIcebergTimestampWithZoneObjectInspectorHive3.java
Labels: hive, DELL

#10672 Build: Define JUnit4 dependency only where necessary
  api/src/test/java/org/apache/iceberg/Parameter.java
  build.gradle
  flink/v1.17/build.gradle
  flink/v1.18/build.gradle
  flink/v1.19/build.gradle
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
Labels: API, spark, flink, build, hive

#10676 Flink: Backport #10565 to v1.18 and v1.19
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
Labels: flink

#10673 Add checkstyle rule for uppercase constant fields
  .baseline/checkstyle/checkstyle.xml
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSOutputStream.java
  api/src/main/java/org/apache/iceberg/events/Listeners.java
  api/src/main/java/org/apache/iceberg/util/CharSequenceSet.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowVectorAccessors.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
  core/src/main/java/org/apache/iceberg/avro/AvroIO.java
  core/src/main/java/org/apache/iceberg/encryption/StandardKeyMetadata.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestParquetEncryptionWithWriteSupport.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  delta-lake/src/main/java/org/apache/iceberg/delta/DeltaLakeToIcebergMigrationActionsProvider.java
  delta-lake/src/test/java/org/apache/iceberg/delta/TestDeltaLakeTypeToType.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveVersion.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableBaseTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  mr/src/main/java/org/apache/hadoop/hive/ql/exec/vector/VectorizedSupport.java
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergRecordWriter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergSerDe.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerTimezone.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestMultipleClients.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieTable.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestDictionaryRowGroupFilter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetEncryption.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergStorage.java
Labels: API, spark, parquet, arrow, core, data, flink, MR, pig, INFRA, hive, AWS, NESSIE, ALIYUN

#10665 Build: don't include slf4j-api in bundled JARs
  aws-bundle/build.gradle
  azure-bundle/build.gradle
  gcp-bundle/build.gradle
  hive3-orc-bundle/build.gradle
Labels: build, hive, AWS, GCP, AZURE

#10686 Upgrade to Gradle 8.9
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#10679 Core: use bulk delete when removing old metadata.json files
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
Labels: core

#10682 Core: Expose table incremental scan for appends API in SerializableTable
  core/src/main/java/org/apache/iceberg/SerializableTable.java
Labels: core

#10603 OpenAPI: Deprecate `oauth/tokens` endpoint
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: core, build, OPENAPI

#10498 Core: Exclude unexpected namespaces JdbcCatalog.listNamespaces
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#10680 Core: Fix NPE during conflict handling of NULL partitions
  core/src/main/java/org/apache/iceberg/util/PartitionSet.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
Labels: core

#10641 Spark 3.3/3.4: support read of partition metadata column when table is over 1k
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark

#10662 OpenAPI: Fix property names for stats/partition stats
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10690 Nit: fix/suppress false-positivie errorprone warning
  hive3/src/main/java/org/apache/iceberg/mr/hive/serde/objectinspector/IcebergTimestampObjectInspectorHive3.java
Labels: hive

#9771 Spec: remove the JSON spec for content file and file scan task sections
  format/spec.md
Labels: Specification

#10705 Update references to main branch
  site/docs/benchmarks.md
  site/docs/concepts/catalog.md
  site/docs/how-to-release.md
Labels: docs

#10575 Docs: Update defaults for distribution mode
  docs/docs/configuration.md
  docs/docs/spark-configuration.md
Labels: docs

#10708 Infra: Improve Bug report template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#10704 Spark 3.3: Ignore flaky test taking up all device space
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
Labels: spark

#10712 Infra: Increase operation per limit for stale bot workflow
  .github/workflows/stale.yml
Labels: INFRA

#10644 [Docs] Add examples for DataFrame branch writes
  docs/docs/spark-writes.md
Labels: docs

#10714 Core: Make new TableMetadata.Builder constructor private
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#10715 Update the version in deprecation messages
  common/src/main/java/org/apache/iceberg/common/DynFields.java
  common/src/main/java/org/apache/iceberg/common/DynMethods.java
Labels: common

#10718 [DOCS] Fix link on Concepts page
  site/docs/concepts/catalog.md
Labels: docs

#9860 Core: Support appending files with different specs
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
Labels: core

#10544 Remove unnecessary class-level synchronized in ManifestFiles
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
Labels: core

#8981 Spec: Clarify which columns can be used for equality delete files.
  format/spec.md
Labels: Specification

#10684 Flink: Migrate remaining classes to JUnit5
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogResource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/MiniFlinkClusterExtension.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFixtures.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatisticsTracker.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestSourceUtil.java
Labels: flink

#10744 Api, Build: Fix typo in comments in `Table` and `gradlew`
  api/src/main/java/org/apache/iceberg/Table.java
  gradlew
Labels: API, build

#10741 Flink: parameterize Flink table source tests to test both old and FLIP-27 source implementations
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TableSourceTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TableSourceTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TableSourceTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
Labels: flink

#10691 Core: Limit memory used by ParallelIterable
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#10457 Flink: handle rescale properly and refactor statistics
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/AggregatedStatisticsTracker.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatistics.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/CompletedStatisticsSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinatorProvider.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsOperator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/GlobalStatistics.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/GlobalStatisticsSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/KeyAssignment.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapAssignment.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/RangePartitioner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/RequestGlobalStatisticsEvent.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchRangePartitioner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/StatisticsEvent.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/StatisticsOrRecord.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/StatisticsOrRecordSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/StatisticsUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/Fixtures.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatisticsTracker.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestCompletedStatisticsSerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinatorProvider.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestGlobalStatisticsSerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchUtil.java
Labels: flink

#10749 Flink: Backport other remaining classes
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogResource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/MiniFlinkClusterExtension.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFixtures.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestStructRowData.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatistics.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatisticsTracker.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinatorProvider.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestSourceUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/HadoopCatalogResource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/HadoopTableResource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/MiniFlinkClusterExtension.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFixtures.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkManifest.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestRowDataPartitionKey.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatistics.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestAggregatedStatisticsTracker.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinatorProvider.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsOperator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestSourceUtil.java
Labels: flink

#8982 Spec: Clarify time travel implementation in Iceberg
  format/spec.md
Labels: Specification

#10754 Build: Let revapi compare against 1.6.0
  build.gradle
Labels: build

#10548 Support for Flink's SpeculativeExecution in batch execution mode
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/AbstractIcebergEnumerator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSpeculativeExecutionSupport.java
Labels: arrow, core, flink, docs, build

#10769 API: Update StatisticsFile javadoc
  api/src/main/java/org/apache/iceberg/StatisticsFile.java
Labels: API

#10770 Flink: Remove JUnit4 dependency
  flink/v1.17/build.gradle
  flink/v1.18/build.gradle
  flink/v1.19/build.gradle
Labels: flink, build

#10756 Docs: Add bodo to iceberg vendors
  site/docs/vendors.md
Labels: docs

#10759 Core: Add estimateRowCount for Files and Entries Metadata Tables
  core/src/main/java/org/apache/iceberg/BaseEntriesTable.java
  core/src/main/java/org/apache/iceberg/BaseFilesTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
Labels: core

#10681 Update checkstyle definition
  .baseline/checkstyle/checkstyle.xml
Labels: INFRA

#10778 API: Fix typo in RewriteManifestFiles java doc
  api/src/main/java/org/apache/iceberg/RewriteManifests.java
Labels: API

#10767 Update .asf.yaml
  .asf.yaml
Labels: INFRA

#10474 Support building with Java 21
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/spark-ci.yml
  README.md
  baseline.gradle
  build.gradle
  jmh.gradle
  site/docs/contribute.md
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
  spark/v3.5/build.gradle
Labels: spark, parquet, core, flink, INFRA, docs, build, hive

#10752 Infra, Docs: Publish Apache Iceberg 1.6.0 release
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  doap.rdf
  site/docs/releases.md
Labels: INFRA, docs

#10783 Update iceberg version on site to 1.6.0
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#10771 Hive: close the fileIO client when closing the hive catalog
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: hive

#10782 Add jbonofre as collaborator on the project
  .asf.yaml
Labels: INFRA

#10781 Docs: Make compatibility example consistent.
  site/docs/contribute.md
Labels: docs

#10661 mr：Fix issues 10639
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
Labels: MR

#10787 Core: Limit ParallelIterable memory consumption by yielding in tasks
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#10739 Kafka Connect: Runtime distribution with integration tests
  gradle/libs.versions.toml
  kafka-connect/build.gradle
  kafka-connect/kafka-connect-runtime/docker/docker-compose.yml
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationDynamicTableTest.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationMultiTableTest.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationTest.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationTestBase.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/KafkaConnectUtils.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/TestContext.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/TestEvent.java
  kafka-connect/kafka-connect-runtime/src/main/resources/iceberg.png
  kafka-connect/kafka-connect-runtime/src/main/resources/manifest.json
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkTask.java
  settings.gradle
Labels: build, KAFKACONNECT

#10794 Flink: improve snapshot compatibility check by comparing projected sort schema in SortKeySerializer
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerSnapshot.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerSnapshot.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSortKeySerializerSnapshot.java
Labels: flink

#10748 Flink: support limit pushdown in FLIP-27 source
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/LimitableDataIterator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordLimiter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestLimitableDataIterator.java
Labels: flink

#10817 Flink: Remove MiniClusterResource in Flink
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/MiniClusterResource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/MiniClusterResource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/MiniClusterResource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkScan.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceWithWatermarkExtractor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSpeculativeExecutionSupport.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#10815 Docs: Use link addresses instead of descriptions in releases.md
  site/docs/releases.md
Labels: docs

#10573 Build: Declare avro as an api dependency of iceberg-core
  build.gradle
Labels: build

#10813 Flink: backport PR #10748 for limit pushdown
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/LimitableDataIterator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordLimiter.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestLimitableDataIterator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/LimitableDataIterator.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RecordLimiter.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataReaderFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/reader/TestLimitableDataIterator.java
Labels: flink

#10826 [DOCS] Fix header for entries metadata table
  docs/docs/spark-queries.md
Labels: docs

#10659 Support Spark Column Stats
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkColumnStatistics.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/Stats.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark
