Repository apache/iceberg, pull requests merged in 2024-05, with the labels that each got.

#10257 Hive: Remove deprecated method
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: hive

#10259 Flink: Backport #10200 to v1.19 and v1.17
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: flink

#9782 Add Pagination To List Apis
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/responses/ListNamespacesResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/ListTablesResponse.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListNamespacesResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestListTablesResponse.java
Labels: core

#10162 Docs: Update features for Hive 4.0
  docs/docs/hive.md
Labels: docs

#10160 Docs: Remove link to Flink unit test
  .gitignore
  docs/docs/flink-writes.md
Labels: INFRA, docs

#10210 mr: Fix using Date type as partition field
  mr/src/main/java/org/apache/iceberg/mr/hive/HiveIcebergRecordWriter.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
Labels: MR

#10291 Update site to 1.5.2 docs
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#10296 Infra: Add Iceberg 1.5.2 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#10290 Fix struct evolution default value rule list
  format/spec.md
Labels: Specification

#10140 Core: Retry connections in JDBC catalog with user configured error code list
  core/src/main/java/org/apache/iceberg/ClientPoolImpl.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcClientPool.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/TestClientPoolImpl.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#10309 Spark 3.5: Remove obsolete conf parsing logic
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#10325 Described as Hive 4.0.0
  site/docs/hive-quickstart.md
Labels: docs

#10149 Add bloom filter fpp config
  core/src/main/java/org/apache/iceberg/TableProperties.java
  docs/docs/configuration.md
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
Labels: spark, parquet, core, docs

#10311 Add EnumConfParser to SparkConfParser
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
Labels: spark

#10333 Spark: Backport tests for struct aggregation pushdown to 3.3/3.4
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
Labels: spark

#10278 Docs: Update vendor information for Cloudera
  site/docs/vendors.md
Labels: docs

#10332 Make proxy endpoint configurable for s3 Http clients
  aws/src/main/java/org/apache/iceberg/aws/ApacheHttpClientConfigurations.java
  aws/src/main/java/org/apache/iceberg/aws/HttpClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/UrlConnectionHttpClientConfigurations.java
  aws/src/test/java/org/apache/iceberg/aws/TestHttpClientConfigurations.java
  docs/docs/aws.md
Labels: docs, AWS

#10330 Spark3.4: Add support for enums in SparkConfParser
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
Labels: spark

#10199 AWS: Retain Glue Catalog table description after updating Iceberg table
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/main/java/org/apache/iceberg/aws/glue/GlueTableOperations.java
Labels: AWS

#10186 Kafka-connect: Handle namespace creation for auto table creation
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/IcebergWriterFactory.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/IcebergWriterFactoryTest.java
Labels: KAFKACONNECT

#10337 Avoid adding a closed client to the pool
  core/src/main/java/org/apache/iceberg/ClientPoolImpl.java
  core/src/test/java/org/apache/iceberg/TestClientPoolImpl.java
Labels: core

#10334 Spark 3.5: Fix the setting of equalAuthorities in RemoveOrphanFilesProcedure
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: spark

#10263 Update mkdocs.yml - Fixes Apache Doris documentation link
  docs/mkdocs.yml
Labels: docs

#10339 Core: Remove unused ManifestGroup#filterManifests(Predicate)
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
Labels: core

#8250 Spark: Fix issue when partitioning by UUID
  data/src/test/java/org/apache/iceberg/RecordWrapperTest.java
  spark/v3.3/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedFanoutWriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedWriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedFanoutWriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedWriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/InternalRowWrapper.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedFanoutWriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitionedWriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
Labels: spark, data

#10342 Spark 3.4, 3.3: Fix the setting of equalAuthorities in RemoveOrphanFilesProcedure
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
Labels: spark

#10347 Use a unique field-id for delete files elements
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/DataWritten.java
Labels: KAFKACONNECT

#10348 Core, Spark 3.4: Remove redundant output in tests
  core/src/test/java/org/apache/iceberg/metrics/TestCommitMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownInRowLevelOperations.java
Labels: spark, core

#10350 Core: Replace deprecated Roaring64Bitmap#add call with addRange
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
Labels: core

#10349 Spark: Coerce shorts and bytes into ints in Parquet Writer
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2Coercion.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2Coercion.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2Coercion.java
Labels: spark

#10016 Hive: Use base table metadata to create HiveLock
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: hive

#10273 Fix aggregate pushdown when optional DataFile stats are null
  api/src/main/java/org/apache/iceberg/expressions/BoundAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/CountNonNull.java
  api/src/main/java/org/apache/iceberg/expressions/MaxAggregate.java
  api/src/main/java/org/apache/iceberg/expressions/MinAggregate.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
Labels: API

#10310 Spark 3.5: Support camel case session configs and options
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#8370 AWS: Support S3 DSSE-KMS encryption
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3RequestUtil.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3RequestUtil.java
  docs/docs/aws.md
Labels: docs, AWS

#10377 Docs: add metrics-reporting back
  docs/mkdocs.yml
Labels: docs

#10329 Url encode field names for partition paths
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/test/java/org/apache/iceberg/TestPartitionPaths.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
Labels: API, core

#10374 Docs: Add archive for documentations older than 1.4.0
  site/docs/archive.md
  site/nav.yml
Labels: docs

#10393 Flink 1.19: Fix flaky TestIcebergSourceFailover > testBoundedWithSavepoint
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
Labels: flink

#10394 docs: deploy on changes in `docs/`
  .github/workflows/site-ci.yml
Labels: INFRA
