Repository apache/iceberg, pull requests merged in 2024-03, with the labels that each got.

#9843 Fix the main image on the spec.
  format/spec.md
Labels: Specification

#9853 Core: Fix REST catalog handling when the service has no view support
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#9854 Remove calendar embed in favor calendar links
  site/docs/community.md
Labels: docs

#9729 [SITE] Fix ASF links on homepage to comply with trademark
  site/docs/assets/images/asf-estd-1999-logo.png
  site/docs/assets/javascript/lottie-player.js
  site/docs/assets/javascript/termynal.js
  site/docs/assets/stylesheets/extra.css
  site/docs/assets/stylesheets/fonts.css
  site/docs/assets/stylesheets/termynal.css
  site/mkdocs.yml
  site/nav.yml
  site/overrides/home.html
  site/overrides/partials/cto.html
  site/overrides/partials/footer.html
Labels: docs, website

#9606 Flink: Supports specifying comment for iceberg fields in create table and addcolumn syntax using flinksql
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/util/FlinkAlterTableUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: flink

#9871 Build: Don't publish iceberg-open-api module
  deploy.gradle
Labels: INFRA, build

#9861 Update specs from hugo to mkdocs format
  format/gcm-stream-spec.md
  format/puffin-spec.md
  format/spec.md
  format/view-spec.md
Labels: Specification

#9803 Add support for providing output-spec-id during rewrite - spark 3.5
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedFileRewriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackDataRewriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewriter.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core

#9819 Docs: Fix links to internal files
  docs/docs/configuration.md
  docs/docs/flink-writes.md
  docs/docs/flink.md
  docs/docs/spark-configuration.md
  docs/docs/spark-writes.md
Labels: docs, Specification

#9849 Migrate Read in Core to JUnit5
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestFindFiles.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
Labels: core

#9878 Docs: Add DDL docs for Views
  docs/docs/spark-ddl.md
Labels: docs

#9894 Core: Make constants in `CatalogTests` protected
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#9786 Build: Free disk space before running action in Spark CI
  .github/workflows/spark-ci.yml
Labels: INFRA

#9895 Core: Add test for renaming table to a non-existing namespace
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
Labels: core, hive

#9899 Core: add missing `@Test` annotation in TestRESTCatalog
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#9901 Spark 3.4, 3.3 : support output-spec-id in rewrite (back port #9803)
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortDataRewriter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackDataRewriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewriter.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderDataRewriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#9919 Docs: Enhance Flink pages
  docs/docs/flink-actions.md
  docs/docs/flink-connector.md
  docs/docs/flink-ddl.md
  docs/docs/flink-queries.md
  docs/docs/flink-writes.md
  docs/docs/flink.md
Labels: docs

#9892 Migrate Snapshot files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/LocalTableOperations.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestSnapshotLoading.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotRefParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSelection.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#9862 Data, Spark, Flink: Migrate TestAppenderFactory and subclasses to JUnit5
  data/src/test/java/org/apache/iceberg/TestGenericAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestBaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkAppenderFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAppenderFactory.java
Labels: spark, core, data, flink

#9778 Infra: Add 1.5.0 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#9777 Build: Let revapi compare against 1.5.0
  build.gradle
Labels: build

#9931 Update site to 1.5.0 docs
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#9839 Feature make oauth `audience` configurable
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core, AWS

#9873 Spark 3.5: Fix system function pushdown in CoW row-level commands
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceStaticInvoke.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkPlanUtil.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownInRowLevelOperations.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/BaseScalarFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/IcebergVersionFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/MonthsFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/YearsFunction.java
Labels: spark

#9933 Docs: Fix release notes indentation
  site/docs/releases.md
Labels: docs

#9875 Flink: Bump minor versions
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  gradle/libs.versions.toml
Labels: flink

#9920 Docs: Enhance Spark pages
  docs/docs/spark-configuration.md
  docs/docs/spark-ddl.md
  docs/docs/spark-getting-started.md
  docs/docs/spark-procedures.md
  docs/docs/spark-queries.md
  docs/docs/spark-structured-streaming.md
  docs/docs/spark-writes.md
Labels: docs

#9925 Build: Align Jackson versions
  build.gradle
  gradle/libs.versions.toml
  hive3/build.gradle
  mr/build.gradle
Labels: MR, build, hive

#9946 Docs: Update site docs
  site/docs/how-to-release.md
  site/mkdocs.yml
Labels: docs

#9889 Docs: Enhance create_changelog_view usage
  docs/docs/spark-procedures.md
Labels: docs

#8252 Basic manifest encryption
  api/src/main/java/org/apache/iceberg/io/PositionOutputStream.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/avro/AvroFileAppender.java
  core/src/main/java/org/apache/iceberg/encryption/AesGcmOutputStream.java
  core/src/main/java/org/apache/iceberg/encryption/EncryptedFiles.java
  core/src/test/java/org/apache/iceberg/TestManifestEncryption.java
Labels: API, spark, core

#9865 Doc: Clarify table properties on metadata metrics inferred column defaults
  docs/docs/configuration.md
Labels: docs

#9927 Migrate Metadata files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TableMetadataParserCodecTest.java
  core/src/test/java/org/apache/iceberg/TableMetadataParserTest.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadataSerialization.java
Labels: spark, core, docs

#9941 docs: Remove roadmap
  site/docs/roadmap.md
  site/nav.yml
Labels: docs

#9961 Docs: document view properties
  docs/docs/view-configuration.md
  docs/mkdocs.yml
Labels: docs

#9751 Parquet: Refactor BasePageIterator to add initRepetitionLevelsReader
  parquet/src/main/java/org/apache/iceberg/parquet/BasePageIterator.java
Labels: parquet

#9967 Add 13 Dremio Blogs + Fix a few incorrect dates
  site/docs/blogs.md
Labels: docs

#9964 Migrate Manifest, FormatVersion and LocationProvider files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TestFormatVersions.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  core/src/test/java/org/apache/iceberg/TestManifestCaching.java
  core/src/test/java/org/apache/iceberg/TestManifestCleanup.java
  core/src/test/java/org/apache/iceberg/TestManifestEncryption.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
Labels: core

#9992 Fix `TestStrictMetricsEvaluator` assertion message
  api/src/test/java/org/apache/iceberg/expressions/TestStrictMetricsEvaluator.java
Labels: API

#10000 AWS, Core: Replace .withFailMessage() usage with .as()
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
  aws/src/test/java/org/apache/iceberg/aws/HttpClientPropertiesTest.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOAwsClientFactories.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core, AWS

#9999 Migrate Transactions, Partitions and Statistics files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TestCommitReporting.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecParser.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestSetPartitionStatistics.java
  core/src/test/java/org/apache/iceberg/TestSetStatistics.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: core

#9836 Docs: Add Daft into Iceberg documentation
  docs/docs/daft.md
  docs/mkdocs.yml
Labels: docs

#9994 Migrate Files, Append and Overwrite files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
Labels: core

#9932 Add issue template and docs for iceberg proposals
  .github/ISSUE_TEMPLATE/iceberg_proposal.yml
  site/docs/contribute.md
Labels: INFRA, docs

#10014 Migrate Scan, Schema and remaining Partition files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestScanDataFileColumns.java
  core/src/test/java/org/apache/iceberg/TestScanSummary.java
  core/src/test/java/org/apache/iceberg/TestScansAndSchemaEvolution.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaID.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestTimestampPartitions.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
Labels: core

#9641 Kafka Connect: Record converters
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/TableReference.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConnector.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/IcebergWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/NoOpWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/PartitionedAppendWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/RecordConverter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/SchemaUpdate.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/SchemaUtils.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/Utilities.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/IcebergSinkConnectorTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/RecordConverterTest.java
Labels: core, KAFKACONNECT

#10015 Core: Use <?> as type parameter instead of raw type for SnapshotUpdate
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: core

#9943 Add local nightly build to test current docs changes
  site/README.md
  site/dev/common.sh
  site/nav.yml
Labels: docs

#9917 Fix pagination description based on new feedback
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9965 docs: Add links checker
  .github/workflows/docs-check-links.yml
  README.md
  docs/docs/configuration.md
  docs/docs/daft.md
  docs/docs/flink-actions.md
  docs/docs/flink-connector.md
  docs/docs/flink-ddl.md
  docs/docs/flink-queries.md
  docs/docs/flink-writes.md
  docs/docs/flink.md
  docs/docs/spark-configuration.md
  docs/docs/spark-ddl.md
  docs/docs/spark-getting-started.md
  docs/docs/spark-procedures.md
  docs/docs/spark-queries.md
  docs/docs/spark-structured-streaming.md
  docs/docs/spark-writes.md
  format/spec.md
  site/README.md
  site/docs/blogs.md
  site/docs/how-to-release.md
  site/docs/multi-engine-support.md
  site/docs/releases.md
  site/docs/spark-quickstart.md
  site/docs/vendors.md
  site/link-checker-config.json
Labels: INFRA, docs, Specification

#10028 Fix/add dremio blogs
  site/docs/blogs.md
Labels: docs

#10027 Migrate other files in Core to JUnit5
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestSingleValueParser.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSortOrderParser.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
  core/src/test/java/org/apache/iceberg/V2TableTestBase.java
Labels: core

#9963 Aws: Add Iceberg version to UserAgent in S3 requests
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

#10026 Core, Spark: Fix handling of null binary values when sorting with zorder
  core/src/main/java/org/apache/iceberg/util/ZOrderByteUtils.java
  core/src/test/java/org/apache/iceberg/util/TestZOrderByteUtil.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
Labels: spark, core

#10001 Hive: Arrange common part of the code for Iceberg View.
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreOperations.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: core, hive

#9980 Hive: Tests to do validation hive content and iceberg table with the same name
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveTableTest.java
Labels: hive

#9834 Spark: Fail on recursive cycle in view
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#10042 Build: disable link-check for existing medium blog posts
  site/docs/blogs.md
Labels: docs

#10048 Spark 3.4: Fail on recursive cycle in view
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9321 Flink: implement range partitioner for map data statistics
  flink/v1.17/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  jmh.gradle
Labels: flink, build

#10049 CI: Run Markdown links checker only when `{docs,site}/**` changes
  .github/workflows/docs-check-links.yml
Labels: INFRA

#10039 Migrate WAP, Metrics and FilterFiles in Core to JUnit5
  core/src/test/java/org/apache/iceberg/FilterFilesTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/actions/TestCommitService.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
  core/src/test/java/org/apache/iceberg/avro/AvroTestHelpers.java
  core/src/test/java/org/apache/iceberg/avro/TestNameMappingWithAvroSchema.java
  core/src/test/java/org/apache/iceberg/encryption/TestGcmStreams.java
  core/src/test/java/org/apache/iceberg/encryption/TestStandardKeyMetadataParser.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  core/src/test/java/org/apache/iceberg/mapping/TestMappingUpdates.java
  core/src/test/java/org/apache/iceberg/mapping/TestNameMapping.java
  data/src/test/java/org/apache/iceberg/orc/TestOrcMetrics.java
  data/src/test/java/org/apache/iceberg/parquet/TestParquetMetrics.java
Labels: core, data

#10057 Build: disable link-check for all medium blog posts
  site/docs/blogs.md
Labels: docs

#9998 [core] fix #9997 - Handle s3a file upload interrupt which results in table metadata pointing to files that doesn't exist
  core/src/main/java/org/apache/iceberg/hadoop/HadoopStreams.java
  core/src/test/java/org/apache/hadoop/fs/s3a/S3ABlockOutputStream.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopStreams.java
Labels: core

#10055 Spark: Clarify schema behavior when working with branches
  docs/docs/branching.md
  docs/docs/spark-queries.md
  docs/docs/spark-writes.md
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark, docs

#10061 Flink: backport PR #9321 for range partitioner on map statistics
  flink/v1.16/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  flink/v1.18/flink/src/jmh/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitionerBenchmark.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/MapRangePartitioner.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  jmh.gradle
Labels: flink, build

#10059 Spark: Don't allow branch_ usage with TIMESTAMP AS OF
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark
