Repository apache/iceberg, pull requests merged in 2024-02, with the labels that each got.

#9564 Open-API: Add table updates for statistics
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9601 Flink: Backport #9364 to 1.16 and 1.17 for Create CatalogTestBase for migration to JUnit5
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/CatalogTestBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/CatalogTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogDatabase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTablePartitions.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
Labels: flink

#9582 Spark: Support altering view properties
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ViewUtil.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AlterV2ViewSetPropertiesExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AlterV2ViewUnsetPropertiesExec.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
Labels: spark

#9607 Core: Add missing @Test to TestRESTCatalog
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#9510 Spark: Throw exception on `ALTER VIEW <viewName> AS <query>`
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9610 Spark 3.4: Support altering view properties
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveViews.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ViewUtil.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AlterV2ViewSetPropertiesExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/AlterV2ViewUnsetPropertiesExec.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
Labels: spark

#9612 Spark 3.4: Throw exception on `ALTER VIEW <viewName> AS <query>`
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9600 Spark 3.4: Rework DeleteFileIndexBenchmark
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/jmh/java/org/apache/iceberg/DeleteFileIndexBenchmark.java
Labels: spark, build

#9599 Spark 3.4: Fix rewriting manifests for evolved unpartitioned V1 tables
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#9602 Spark 3.4: Support file and partition delete granularity
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/source/WritersBenchmark.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteOptions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#9596 Spark: Bypass Spark's ViewCatalog API when replacing a view
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SupportsReplaceView.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
Labels: spark

#9614 Spark 3.4: Bypass Spark's ViewCatalog API when replacing a view
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SupportsReplaceView.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkView.java
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
Labels: spark

#9613 Create ExtensionTestBase for migration to JUnit5
  spark/v3.5/build.gradle
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
Labels: spark, build

#9621 Spark: Fix CREATE OR REPLACE VIEW when view doesn't exist
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9625 Flink: change defaultFlinkVersion back to 1.18
  gradle.properties
Labels: build

#8583 Spark 3.4, 3.5: Use ProcedureInput for RewriteDataFiles
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
Labels: spark

#9622 Remove nightly and add .asf.yaml
  .gitignore
  docs/mkdocs.yml
  site/README.md
  site/dev/common.sh
  site/dev/deploy.sh
  site/dev/setup_env.sh
  site/docs/docs/nightly/docs/api.md
  site/docs/docs/nightly/docs/assets/images/audit-branch.png
  site/docs/docs/nightly/docs/assets/images/historical-snapshot-tag.png
  site/docs/docs/nightly/docs/assets/images/iceberg-in-place-metadata-migration.png
  site/docs/docs/nightly/docs/assets/images/iceberg-migrateaction-step1.png
  site/docs/docs/nightly/docs/assets/images/iceberg-migrateaction-step2.png
  site/docs/docs/nightly/docs/assets/images/iceberg-migrateaction-step3.png
  site/docs/docs/nightly/docs/assets/images/iceberg-snapshotaction-step1.png
  site/docs/docs/nightly/docs/assets/images/iceberg-snapshotaction-step2.png
  site/docs/docs/nightly/docs/assets/images/partition-spec-evolution.png
  site/docs/docs/nightly/docs/aws.md
  site/docs/docs/nightly/docs/branching.md
  site/docs/docs/nightly/docs/configuration.md
  site/docs/docs/nightly/docs/custom-catalog.md
  site/docs/docs/nightly/docs/dell.md
  site/docs/docs/nightly/docs/delta-lake-migration.md
  site/docs/docs/nightly/docs/evolution.md
  site/docs/docs/nightly/docs/flink-actions.md
  site/docs/docs/nightly/docs/flink-configuration.md
  site/docs/docs/nightly/docs/flink-connector.md
  site/docs/docs/nightly/docs/flink-ddl.md
  site/docs/docs/nightly/docs/flink-queries.md
  site/docs/docs/nightly/docs/flink-writes.md
  site/docs/docs/nightly/docs/flink.md
  site/docs/docs/nightly/docs/hive-migration.md
  site/docs/docs/nightly/docs/hive.md
  site/docs/docs/nightly/docs/index.md
  site/docs/docs/nightly/docs/java-api-quickstart.md
  site/docs/docs/nightly/docs/jdbc.md
  site/docs/docs/nightly/docs/maintenance.md
  site/docs/docs/nightly/docs/metrics-reporting.md
  site/docs/docs/nightly/docs/nessie.md
  site/docs/docs/nightly/docs/partitioning.md
  site/docs/docs/nightly/docs/performance.md
  site/docs/docs/nightly/docs/reliability.md
  site/docs/docs/nightly/docs/schemas.md
  site/docs/docs/nightly/docs/spark-configuration.md
  site/docs/docs/nightly/docs/spark-ddl.md
  site/docs/docs/nightly/docs/spark-getting-started.md
  site/docs/docs/nightly/docs/spark-procedures.md
  site/docs/docs/nightly/docs/spark-queries.md
  site/docs/docs/nightly/docs/spark-structured-streaming.md
  site/docs/docs/nightly/docs/spark-writes.md
  site/docs/docs/nightly/docs/table-migration.md
  site/docs/docs/nightly/mkdocs.yml
  site/mkdocs.yml
Labels: INFRA, docs

#9603 Spark 3.4: Read deletes in parallel and cache them on executors
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSparkExecutorCache.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/JavaUtils.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkConfParser.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkExecutorCache.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SerializableTableWithSize.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/Employee.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkExecutorCache.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark, build

#9630 Parquet, Arrow: Rename BagePageReader to BasePageReader in VectorizedPageIterator
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
Labels: arrow

#9628 Add REST spec for data access mechanisms
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9466 Kafka Connect: Sink connector with data writers and converters
  gradle/libs.versions.toml
  kafka-connect/build.gradle
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/AvroUtil.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/CommitComplete.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/CommitToTable.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/DataComplete.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/DataWritten.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/Event.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/StartCommit.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/TableReference.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/TopicPartitionOffset.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConnector.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/TableSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/IcebergWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/IcebergWriterFactory.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/NoOpWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/PartitionedAppendWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/RecordWriter.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/SchemaUpdate.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/SchemaUtils.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/Utilities.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/WriterResult.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/IcebergSinkConfigTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/IcebergSinkConnectorTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/BaseWriterTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/IcebergWriterFactoryTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/PartitionedAppendWriterTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/SchemaUtilsTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/UnpartitionedWriterTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/UtilitiesTest.java
  kafka-connect/kafka-connect/src/test/resources/core-site.xml
  settings.gradle
Labels: build, KAFKACONNECT

#9629 Core: Fix performance issue when combining tasks by partition
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/PartitionData.java
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/spark/TaskGroupPlanningBenchmark.java
Labels: spark, core

#9585 Docs: Enhance Java quickstart example
  docs/docs/java-api-quickstart.md
Labels: docs

#9648 Docs: Update Nessie URI to API v2
  docs/docs/nessie.md
Labels: docs

#9646 Spark 3.4: Fix CREATE OR REPLACE VIEW when view doesn't exist
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9647 Core: Add catalog type for glue,jdbc,nessie
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  docs/docs/aws.md
  docs/docs/flink-configuration.md
  docs/docs/flink.md
  docs/docs/hive.md
  docs/docs/jdbc.md
  docs/docs/nessie.md
  docs/docs/spark-configuration.md
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
Labels: core, docs, NESSIE

#9627 Flink: backport #9547 to 1.17 and 1.16 for Adds the ability to read from a branch on the Flink Iceberg Source
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/StreamingMonitorFunction.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#9642 Iceberg site fixes
  site/dev/common.sh
  site/docs/concepts/catalog.md
  site/nav.yml
Labels: docs

#9563 Spark 3.5: Support executor cache locality
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkInputPartition.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPlanningUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPlanningUtil.java
Labels: spark, core

#9658 Spark 3.4: Support executor cache locality
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkInputPartition.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPlanningUtil.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPlanningUtil.java
Labels: spark

#9656 Docs: Add newline so that subsection is correctly rendered
  docs/docs/spark-queries.md
Labels: docs

#9624 Migrate DDL sub-classes in spark-extensions to JUnit5 and AssertJ style
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTableSchema.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestReplaceBranch.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#9619 Core: only trim slash when warehouse location is not root path
  core/src/main/java/org/apache/iceberg/util/LocationUtil.java
  core/src/test/java/org/apache/iceberg/util/TestLocationUtil.java
Labels: core

#9440 Spark: Move the Writer to a visitor
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
Labels: spark

#9668 Bump Azurite container
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/AzuriteContainer.java
Labels: AZURE

#9623 Spark: Handle concurrently dropped view during CREATE OR REPLACE
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9672 Spark 3.3: Move the Writer to a visitor
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
Labels: spark

#9673 Spark 3.4: Move the Writer to a visitor
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
Labels: spark

#9676 Spark: Avoid NPE when catalog config doesn't have "type" set
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
Labels: spark

#9677 Spark 3.4: Handle concurrently dropped view during CREATE OR REPLACE
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CreateV2ViewExec.scala
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
Labels: spark

#9669 Docs: Add/update Snowflake
  docs/mkdocs.yml
  site/docs/vendors.md
Labels: docs

#9344 open-api: Use openapi-generator-gradle-plugin for validating specification
  build.gradle
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
  settings.gradle
Labels: build, OPENAPI

#9686 Docs: Fix hidden-partition-animation not showing
  site/docs/assets/lottie/hidden-partitioning-animation.json
  site/overrides/home.html
Labels: docs

#9690 OpenAPI: Spec updates for statistics
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9696 Docs: Fix broken strike-through markup
  site/mkdocs.yml
Labels: docs

#9711 MR: Migrate parameterized tests to JUni5
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  mr/src/test/java/org/apache/iceberg/mr/hive/HiveIcebergStorageHandlerTestUtils.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerLocalScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerTimezone.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithEngine.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerWithMultipleCatalogs.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestTables.java
Labels: MR

#9726 Upgrade Nessie to 0.77.1
  build.gradle
  gradle/libs.versions.toml
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieViewCatalog.java
Labels: build, NESSIE

#9725 Core: Only write view history when currentVersionId changes
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadViewResponseParser.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
Labels: core

#9620 Core: Add property to prevent loss of view representation when replacing a view
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/main/java/org/apache/iceberg/view/ViewProperties.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  nessie/src/test/java/org/apache/iceberg/nessie/BaseTestIceberg.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark, core, NESSIE

#9722 Make InMemoryFileIO map shared access across instances
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryFileIO.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryFileIO.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#9234 Core: Properly suppress historical snapshots when building TableMetadata with suppressHistoricalSnapshots()
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#9487 Core: Add view support for JDBC catalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcViewOperations.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
Labels: core

#8976 Support usage of Separate OIDC Authorization Server URI
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Properties.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core, AWS

#9732 Core: Don't reset snapshotLog when replacing Table
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
Labels: spark, core

#9671 Aliyun: Add security token to OSS client properties
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunClientFactories.java
  aliyun/src/main/java/org/apache/iceberg/aliyun/AliyunProperties.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/TestAliyunClientFactories.java
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/TestOSSFileIO.java
Labels: ALIYUN

#9592 API: Extend FileIO and add EncryptingFileIO.
  api/src/main/java/org/apache/iceberg/encryption/EncryptingFileIO.java
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/encryption/NativeEncryptionOutputFile.java
  core/src/main/java/org/apache/iceberg/encryption/StandardEncryptionManager.java
  core/src/main/java/org/apache/iceberg/io/ContentCache.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
Labels: API, spark, core

#9754 Core: Don't fail if catalog doesn't support views
  api/src/main/java/org/apache/iceberg/exceptions/BadRequestException.java
  api/src/main/java/org/apache/iceberg/exceptions/ForbiddenException.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: API, core

#9762 Flink 1.18: Fix continuous enumerator lost enumeration history state when restore from checkpoint.
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
Labels: flink

#9761 Flink 1.18: Fix iceberg source plan parallelism not effective.
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
Labels: flink

#9757 Core: Fix EncryptingFileIO factory method.
  api/src/main/java/org/apache/iceberg/encryption/EncryptingFileIO.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
Labels: API, spark

#9765 Core: Fix JDBC schema version when initialization is disabled
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
Labels: core

#9769 Add Kafka Connect as a label
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  .github/ISSUE_TEMPLATE/iceberg_improvement.yml
Labels: INFRA

#9770 Core: only test if view exists when using SchemaVersion.V1 during table rename
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalogWithV1Schema.java
Labels: core

#9775 Docs: Fix listings on Release page / Update Multi-engine support
  site/docs/multi-engine-support.md
  site/docs/releases.md
Labels: docs

#9780 Infra: Don't run Delta Conversion CI on changes to site folder
  .github/workflows/delta-conversion-ci.yml
Labels: INFRA

#9779 Docs: Sync specs to site via symlinks
  format/spec.md
  site/docs/gcm-stream-spec.md
  site/docs/puffin-spec.md
  site/docs/spec.md
  site/docs/view-spec.md
  site/nav.yml
Labels: docs, Specification

#9783 Deprecate DynamoDB Catalog to Reduce Catalog Scope
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbCatalog.java
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbTableOperations.java
Labels: AWS

#9760 Migrate Procedure sub-classes in spark-extensions to JUnit5 and AssertJ style
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAncestorsOfProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestPublishChangesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFiles.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
Labels: spark

#9675 Spark: Detect temp functions in views
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9809 Spark 3.4: Fail if temp functions are used in views
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9807 Spark: Include catalog name in view errors
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark

#9806 Build: Ignore major version update in dependabot
  .github/dependabot.yml
Labels: INFRA

#9776 Docs: Sync contributing page / refer to website for contributing
  CONTRIBUTING.md
  site/docs/contribute.md
Labels: docs

#9812 Flink: backport #9762 to Flink 1.16 and 1.17 for fix continuous enumerator lost enumeration history state when restore from checkpoint.
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousIcebergEnumerator.java
Labels: flink

#9811 Flink: backport #9761 to Flink 1.16 and 1.17 for fix iceberg source plan parallelism not effective.
  flink/v1.16/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/FlinkReadConf.java
Labels: flink

#9810 Spark 3.4: Include catalog name in view errors
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/CheckViews.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
Labels: spark

#9661 Spec: Clarify multi-arg transform behavior for different versions
  format/spec.md
Labels: Specification

#9787 Spark 3.4, 3.5: Use current namespace for SHOW VIEWS cmd
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteViewCommands.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark, core, hive

#9790 Migrate Read and other sub-classes in spark-extensions to JUnit5 and AssertJ style
  spark/v3.5/build.gradle
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTableSchema.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetaColumnProjectionWithStageScan.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestStoragePartitionedJoinsInRowLevelOperations.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownDQL.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Labels: spark, build

#9816 API: Fix typo in method comment of SortOrder and SortOrderBuilder
  api/src/main/java/org/apache/iceberg/SortOrder.java
  api/src/main/java/org/apache/iceberg/SortOrderBuilder.java
Labels: API

#9814 Spark: Improve error msg when function can't be loaded
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SupportsFunctions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
Labels: spark

#9817 Migrate other spark classes to JUnit 5
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkTestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/functions/TestSparkFunctions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark

#9821 Spark 3.4: Improve error msg when function can't be loaded
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SupportsFunctions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestFunctionCatalog.java
Labels: spark

#9823 Build: Fix minor build warning related to link tag.
  core/src/main/java/org/apache/iceberg/actions/BaseCommitService.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
Labels: spark, core

#9825 OpenAPI: Point to latest doc in rest catalog
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9660 Add pagination to open api spec for listing of namespaces, tables, views
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#9840 Core: FileIO Reflection Error Message is Misleading
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
Labels: core
