Repository apache/iceberg, pull requests merged in 2024-04, with the labels that each got.

#10063 Migrate TableTestBase related classes to JUnit5 and delete TableTestBase
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestFileScanTaskParser.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  data/src/test/java/org/apache/iceberg/data/TestGenericFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  data/src/test/java/org/apache/iceberg/io/WriterTestBase.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPartitioningWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPartitioningWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkFileWriterFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPartitioningWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkPositionDeltaWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkRollingFileWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkFileWriterFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPartitioningWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkPositionDeltaWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkRollingFileWriters.java
Labels: spark, core, data, flink

#10081 Build: Ignore link-checking for Blogs / https://search.maven.org/
  site/docs/blogs.md
  site/link-checker-config.json
Labels: docs

#10080 Migrate TableTestBase related classes to JUnit5
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
Labels: core, data, flink

#10069 Hive: Fix metadata file not found
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
Labels: hive

#10087 REST: fix spurious warning when shutting down refresh executor
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#9953 API: Fix default FileIO#newInputFile ManifestFile, DataFile and DeleteFile implementation to pass lengths
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: API, AWS

#9838 OpenAPI: Fix additionalProperties for SnapshotSummary
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10082 Hive, JDBC: Add null check before matching the error message
  core/src/main/java/org/apache/iceberg/jdbc/JdbcTableOperations.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcViewOperations.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveClientPool.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveClientPool.java
Labels: core, hive

#9952 Core: Add explicit JSON parser for ConfigResponse
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/responses/ConfigResponseParser.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestConfigResponse.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestConfigResponseParser.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
Labels: core

#10086 Migrate AWS tests to JUnit5
  .baseline/checkstyle/checkstyle.xml
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbLockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/GlueTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/LakeFormationTestBase.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationDataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationMetadataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  build.gradle
Labels: INFRA, build, AWS

#10079 Docs: Document support for binary in truncate transform
  format/spec.md
Labels: Specification

#10096 Docs: Added Upsolver to vendor list
  site/docs/vendors.md
Labels: docs

#10104 Docs: Update releases.md for Spark scala versions
  site/docs/releases.md
Labels: docs

#10091 Docs: Fix On-screen display issues and minor expressions on Branching and Tagging DDL
  docs/docs/spark-ddl.md
Labels: docs

#10114 [1.5.x] API: Fix default FileIO#newInputFile ManifestFile, DataFile and DeleteFile implementations
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: API, AWS

#10113 [1.5.x] Core: Mark 502 and 504 failures as retryable to the exponential retry strategy
  core/src/main/java/org/apache/iceberg/rest/ExponentialHttpRequestRetryStrategy.java
  core/src/test/java/org/apache/iceberg/rest/TestExponentialHttpRequestRetryStrategy.java
Labels: core

#10098 Docs: Fix links of `Get Started` and `Community` sections in footer
  site/overrides/partials/footer.html
Labels: docs

#10053 Introduce two properties for reading the connection timeout and socke…
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#10052 Extend HTTPClient Builder to allow setting a proxy server
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#10119 Spark 3.4: Fix system function pushdown in CoW row-level commands
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceStaticInvoke.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkPlanUtil.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownInRowLevelOperations.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/BaseScalarFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/IcebergVersionFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/MonthsFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/YearsFunction.java
Labels: spark

#10126 reduce enum array allocation
  api/src/main/java/org/apache/iceberg/FileFormat.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  kafka-connect/kafka-connect-events/src/main/java/org/apache/iceberg/connect/events/Event.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkContentFile.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkContentFile.java
Labels: API, spark, core, KAFKACONNECT

#10131 Spark: Improvements around test initialization
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkExecutorCache.java
Labels: spark

#10125 Spec: required request bodies
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10074 Spark-3.5: Support CTAS and RTAS to preserve schema nullability.
  docs/docs/spark-configuration.md
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
Labels: spark, docs

#10136 Flink, Spark: Replace Boolean.getBoolean() with Boolean.parseBoolean()
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSource.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark, flink

#10137 Spark: Simplify SparkSchemaUtil#schemaForTable
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkSchemaUtil.java
Labels: spark

#10130 Migrate non TestBase related and Data classes in Flink
  data/src/test/java/org/apache/iceberg/data/DataTest.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/orc/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestParquetEncryptionWithWriteSupport.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.16/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/AvroGenericRecordConverterBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestDataFileSerialization.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkFilters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestManifestFileSerialization.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestTableSerialization.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestStructRowData.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestAvroGenericRecordToRowDataMapper.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestRowDataToAvroGenericRecordConverter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
Labels: data, flink

#10141 Core: Fix logging table name in scanning metadata table
  core/src/main/java/org/apache/iceberg/BaseAllMetadataTableScan.java
Labels: core

#10132 AWS: close underlying executor for DynamoDb LockManager
  aws/src/main/java/org/apache/iceberg/aws/dynamodb/DynamoDbLockManager.java
Labels: AWS

#9611 Spark 3.5: Add max allowed failed commits to RewriteDataFiles when partial progress is enabled
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseCommitService.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core

#10111 Core: Fix JDBC Catalog table commit when migrating from schema V0 to V1
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
Labels: core

#10152 Core: Fix JDBC Catalog table commit when migrating from schema V0 to V1 (#101111)
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
Labels: core

#10155 Updates flink versioning information in our docs
  docs/docs/flink-writes.md
  site/docs/multi-engine-support.md
Labels: docs

#10163 Backport Flink 1.18 JUnit5 migration to Flink 1.17
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/AvroGenericRecordConverterBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestDataFileSerialization.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkFilters.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestManifestFileSerialization.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestTableSerialization.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/sink/TestAvroGenericRecordToRowDataMapper.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestRowDataToAvroGenericRecordConverter.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
Labels: flink

#10166 Fix open-api /rename/views success return code
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#10169 Core: Fix namespace SQL statement using ESCAPE character that works with MySQL/PostgreSQL (#10167)
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
Labels: core

#10170 (1.5.x cherry-pick) Spark 3.5: Fix system function pushdown in CoW row-level commands
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceStaticInvoke.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkPlanUtil.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownInRowLevelOperations.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/BaseScalarFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/IcebergVersionFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/MonthsFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/YearsFunction.java
Labels: spark

#10171 (1.5.x Cherry-pick) Spark 3.4: Fix system function pushdown in CoW row-level commands (#10119)
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/ReplaceStaticInvoke.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkPlanUtil.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownInRowLevelOperations.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/BaseScalarFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/IcebergVersionFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/MonthsFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/YearsFunction.java
Labels: spark

#9464 Flink: Don't fail to serialize IcebergSourceSplit when there is too many delete files
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/split/SerializerHelper.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: flink

#10177 Flink: port #9464 to v1.17 and v1.19
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/split/SerializerHelper.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplit.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/split/IcebergSourceSplitSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/split/SerializerHelper.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/SplitHelpers.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/split/TestIcebergSourceSplitSerializer.java
Labels: flink

#10182 Core: Improve size check in CatalogTests
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#10184 Kafka-connect: Update iceberg.hadoop-conf-dir config description
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
Labels: KAFKACONNECT

#10198 AWS: Make sure Signer + User Agent config are both applied
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

#10148 Hive: turn off the stats gathering when iceberg.hive.keep.stats is false
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergStorageHandlerNoScan.java
  mr/src/test/java/org/apache/iceberg/mr/hive/TestHiveIcebergWithHiveAutogatherEnable.java
Labels: MR, hive

#10212 Docs: Don't check links on Release page
  site/docs/releases.md
Labels: docs

#9926 Use `svn mv` when releasing the binaries
  site/docs/how-to-release.md
Labels: docs

#10218 Update site to 1.5.1 docs
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#10150 Core: Use 'delete' / 'append' if OverwriteFiles only deletes/appends data files
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark, core

#10221 AWS: Fix TestGlueCatalogTable#testCreateTable
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
Labels: AWS

#10224 Update 1.5.1 release notes
  site/docs/releases.md
Labels: docs

#8672 Spec: Clarify missing fields when writing
  format/spec.md
Labels: Specification

#9719 Flink: Move ParquetReader to LogicalTypeAnnotationVisitor
  data/src/test/java/org/apache/iceberg/data/DataTest.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
Labels: data, flink, build

#10208 Flink: Fix bounded source state restore record duplication
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
Labels: flink

#10223 REST: fix incorrect token refresh thread name
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#10230 Flink: Backport #10208 to v1.18 and v1.17
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailoverWithWatermarkExtractor.java
Labels: flink

#10207 Flink: Prevent setting endTag/endSnapshotId for streaming source
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestScanContext.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#10235 Clean backport with:Flink: Backport #10207 to v1.18 and v1.17
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.17/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestScanContext.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkInputFormat.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceContinuous.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestScanContext.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamScanSql.java
Labels: flink

#10124 Core: Add property to disable table initialization for JdbcCatalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
Labels: core

#10232 Migrate FlinkTestBase related tests
  flink/v1.17/flink-runtime/src/integration/java/org/apache/iceberg/flink/IcebergConnectorSmokeTest.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestCatalogLoader.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkAnonymousTable.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestBoundedTableFactory.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.17/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.18/flink-runtime/src/integration/java/org/apache/iceberg/flink/IcebergConnectorSmokeTest.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestCatalogLoader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkAnonymousTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestBoundedTableFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
  flink/v1.19/flink-runtime/src/integration/java/org/apache/iceberg/flink/IcebergConnectorSmokeTest.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/FlinkTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestCatalogLoader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestChangeLogTable.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkAnonymousTable.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkHiveCatalog.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestIcebergConnector.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/ChangeLogTableTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestBoundedTableFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkSourceConfig.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkTableSource.java
Labels: flink

#9655 Release: add instruction to update doap.rdf file as part of release process
  site/docs/how-to-release.md
Labels: docs

#10134 Add stale PRs management
  .github/workflows/stale.yml
Labels: INFRA

#10200 Flink: Apply DeleteGranularity for writes
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
Labels: core, data, flink, docs
