Repository apache/iceberg, pull requests merged in 2024-11, with the labels that each got.

#11441 Core: Use RoaringPositionBitmap in position index
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
Labels: core

#11437 Core: Add validation for table commit properties
  core/src/main/java/org/apache/iceberg/PropertiesUpdate.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/util/PropertyUtil.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
Labels: spark, core

#11442 Core: Add cardinality to PositionDeleteIndex
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
Labels: core

#11238 Puffin: Add delete-vector-v1 blob type
  format/puffin-spec.md
Labels: Specification

#11240 Spec v3: Add deletion vectors to the table spec
  format/spec.md
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: Specification, OPENAPI

#11443 API, Core: Add data file reference to DeleteFile
  api/src/main/java/org/apache/iceberg/DataFile.java
  api/src/main/java/org/apache/iceberg/DeleteFile.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestManifestEncryption.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
Labels: API, core

#11458 Core: Fix generated position delete file spec
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
Labels: core

#11446 API, Core: Add content offset and size to DeleteFile
  api/src/main/java/org/apache/iceberg/AddedRowsScanTask.java
  api/src/main/java/org/apache/iceberg/DataFile.java
  api/src/main/java/org/apache/iceberg/DeleteFile.java
  api/src/main/java/org/apache/iceberg/DeletedDataFileScanTask.java
  api/src/main/java/org/apache/iceberg/DeletedRowsScanTask.java
  api/src/main/java/org/apache/iceberg/FileFormat.java
  api/src/main/java/org/apache/iceberg/FileScanTask.java
  api/src/main/java/org/apache/iceberg/util/DeleteFileSet.java
  api/src/main/java/org/apache/iceberg/util/ScanTaskUtil.java
  api/src/test/java/org/apache/iceberg/util/TestScanTaskUtil.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/main/java/org/apache/iceberg/BaseScan.java
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/ScanSummary.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsUtil.java
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestManifestEncryption.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/CommitSummary.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriterMetrics.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/CommitSummary.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriterMetrics.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/CommitSummary.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergStreamWriterMetrics.java
Labels: API, core, flink

#11462 Build: Revert Parquet to 1.13.1
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  gradle/libs.versions.toml
Labels: flink

#11463 Core: Make PositionDeleteIndex serializable
  core/src/main/java/org/apache/iceberg/deletes/BitmapPositionDeleteIndex.java
  core/src/main/java/org/apache/iceberg/deletes/PositionDeleteIndex.java
  core/src/test/java/org/apache/iceberg/deletes/TestBitmapPositionDeleteIndex.java
  core/src/test/resources/org/apache/iceberg/deletes/all-container-types-position-index.bin
  core/src/test/resources/org/apache/iceberg/deletes/empty-position-index.bin
  core/src/test/resources/org/apache/iceberg/deletes/small-alternating-values-position-index.bin
  core/src/test/resources/org/apache/iceberg/deletes/small-and-large-values-position-index.bin
Labels: core

#11469 Spark 3.5: Preserve content offset and size during manifest rewrites
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkContentFile.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#11470 Spark 3.5: Fix flaky test due to temp directory not empty during delete
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
Labels: spark

#11460 Core, Data, Flink, Spark: Improve tableDir initialization for tests
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/FilterFilesTestBase.java
  core/src/test/java/org/apache/iceberg/ScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  core/src/test/java/org/apache/iceberg/TestMetricsModes.java
  core/src/test/java/org/apache/iceberg/TestOverwrite.java
  core/src/test/java/org/apache/iceberg/TestOverwriteWithValidation.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecBuilderCaseSensitivity.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestPartitioning.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestTimestampPartitions.java
  core/src/test/java/org/apache/iceberg/util/TestSnapshotUtil.java
  data/src/test/java/org/apache/iceberg/TestSplitScan.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestBaseTaskWriter.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  data/src/test/java/org/apache/iceberg/io/TestRollingFileWriters.java
  data/src/test/java/org/apache/iceberg/io/TestTaskEqualityDeltaWriter.java
  data/src/test/java/org/apache/iceberg/io/TestWriterMetrics.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingMonitorFunction.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestStreamingReaderOperator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveDanglingDeleteAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
Labels: spark, core, data, flink

#11467 Core: Support DVs in DeleteFileIndex
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
Labels: core

#11464 Core: Adapt commit, scan, and snapshot stats for DVs
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/main/java/org/apache/iceberg/metrics/CommitMetricsResult.java
  core/src/main/java/org/apache/iceberg/metrics/CommitMetricsResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetrics.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResult.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsResultParser.java
  core/src/main/java/org/apache/iceberg/metrics/ScanMetricsUtil.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  core/src/test/java/org/apache/iceberg/metrics/TestCommitMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/metrics/TestScanReportParser.java
Labels: core

#11273 Spark: Merge new position deletes with old deletes during writing
  core/src/main/java/org/apache/iceberg/deletes/SortingPositionOnlyDeleteWriter.java
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
Labels: spark, core

#11395 Fix ADLSLocation file parsing
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
Labels: AZURE

#11279 open-api: Build runtime jar for test fixture
  build.gradle
  deploy.gradle
  open-api/LICENSE
  open-api/NOTICE
Labels: INFRA, build, OPENAPI

#11482 Flink: Fix config key typo in error message of SplitComparators
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/split/SplitComparators.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/split/SplitComparators.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/split/SplitComparators.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/assigner/TestFileSequenceNumberBasedSplitAssigner.java
Labels: flink

#11444 API: Removes Explicit Parameterization of Schema Tests
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  api/src/test/java/org/apache/iceberg/TestSchema.java
Labels: API

#11461 Docs: Fix verifying release candidate with Spark and Flink
  site/docs/how-to-release.md
Labels: docs

#11487 Docs: Fix format of verifying release candidate with Flink
  site/docs/how-to-release.md
Labels: docs

#11481 Core: Support DVs in DeleteLoader
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  data/src/main/java/org/apache/iceberg/data/BaseDeleteLoader.java
  data/src/main/java/org/apache/iceberg/data/DeleteLoader.java
  data/src/test/java/org/apache/iceberg/io/TestDVWriters.java
Labels: core, data

#11494 Docs: Site Update for 1.7.0 Release
  site/docs/releases.md
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#11491 Infra: Add 1.7.0 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#11490 Build: Let revapi compare against 1.7.0
  build.gradle
Labels: build

#11500 Docs: Adds Release notes for 1.6.1
  site/docs/releases.md
Labels: docs

#11499 Docs: Fixes Release Formatting for 1.7.0 Release Notes
  site/docs/releases.md
Labels: docs

#11355 Spec: Explicitly specify `operation` as a required field of Snapshot's `summary` field
  format/spec.md
Labels: Specification

#11390 Exclude reading _pos column if it's not in the scan list
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
Labels: spark, parquet, data

#11517 Spark: Fix typo in spark ddl document
  docs/docs/spark-ddl.md
Labels: docs

#11495 Core: Support commits with DVs
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/ScanPlanningAndReportingTestBase.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
  core/src/test/java/org/apache/iceberg/TestCommitReporting.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  data/src/test/java/org/apache/iceberg/io/TestDVWriters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestSparkDistributedDataScanReporting.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark, core, data

#11516 Kafka Connect: fix Hadoop dependency exclusion
  kafka-connect/build.gradle
Labels: build, KAFKACONNECT

#11521 Upgrade to Gradle 8.11.0
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#11526 use `dist/release` KEYS
  dev/source-release.sh
  site/docs/how-to-release.md
Labels: INFRA, docs

#11380 Remove iceberg-pig
  .github/labeler.yml
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/kafka-connect-ci.yml
  .github/workflows/spark-ci.yml
  README.md
  build.gradle
  docs/docs/api.md
  gradle/libs.versions.toml
  mr/src/main/java/org/apache/iceberg/mr/InputFormatConfig.java
  mr/src/main/java/org/apache/iceberg/mr/mapreduce/IcebergInputFormat.java
  mr/src/test/java/org/apache/iceberg/mr/TestIcebergInputFormats.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergPigInputFormat.java
  pig/src/main/java/org/apache/iceberg/pig/IcebergStorage.java
  pig/src/main/java/org/apache/iceberg/pig/PigParquetReader.java
  pig/src/main/java/org/apache/iceberg/pig/SchemaUtil.java
  pig/src/test/java/org/apache/iceberg/pig/SchemaUtilTest.java
  settings.gradle
  site/docs/contribute.md
Labels: MR, pig, INFRA, docs, build

#11485 Core, Flink, Spark: Verify maintenance actions with DVs
  core/src/main/java/org/apache/iceberg/BaseContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseFileScanTask.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveDanglingDeleteAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark, core, data, flink

#11532 Spark 3.4: Support Spark Column Stats
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkColumnStatistics.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/Stats.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark

#11546 Docs: Fix rendering lists
  format/puffin-spec.md
  format/spec.md
  format/view-spec.md
Labels: Specification

#11504 Support WASB scheme in ADLSFileIO
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/AzurePropertiesTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AZURE

#11549 Docs: 4 Spaces are Required for Sublists
  site/docs/releases.md
Labels: docs

#11419 API, Core, Spark: Ignore schema merge updates from long -> int
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
  core/src/main/java/org/apache/iceberg/schema/UnionByNameVisitor.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWriterV2.java
Labels: API, spark, core

#11550 API, Core: Replace deprecated ContentFile#path usage with location
  api/src/main/java/org/apache/iceberg/DeleteFiles.java
  api/src/main/java/org/apache/iceberg/encryption/EncryptingFileIO.java
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  core/src/main/java/org/apache/iceberg/BaseChangelogContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseContentScanTask.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SplitPositionDeletesScanTask.java
  core/src/main/java/org/apache/iceberg/V1Metadata.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFilesAction.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesCommitManager.java
  core/src/main/java/org/apache/iceberg/encryption/InputFilesDecryptor.java
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/test/java/org/apache/iceberg/DataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/DeleteFileIndexTestBase.java
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/ScanPlanningAndReportingTestBase.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalChangelogScan.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestFindFiles.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestManifestEncryption.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSequenceNumberForV2Table.java
  core/src/test/java/org/apache/iceberg/TestV1ToV2RowDeltaDelete.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
Labels: API, core

#11324 API: Add Variant data type
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/transforms/Identity.java
  api/src/main/java/org/apache/iceberg/types/FindTypeVisitor.java
  api/src/main/java/org/apache/iceberg/types/IndexByName.java
  api/src/main/java/org/apache/iceberg/types/IndexParents.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/TestSchema.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  api/src/test/java/org/apache/iceberg/transforms/TestIdentity.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: API, core

#11529 Spark 3.5: Adapt DeleteFileIndexBenchmark for DVs
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/DeleteFileIndexBenchmark.java
Labels: spark

#11531 Spark 3.5: Adapt PlanningBenchmark for DVs
  spark/v3.5/spark-extensions/src/jmh/java/org/apache/iceberg/spark/PlanningBenchmark.java
Labels: spark

#11537 Spark 3.5: Add DVReaderBenchmark
  spark/v3.5/spark/src/jmh/java/org/apache/iceberg/spark/source/DVReaderBenchmark.java
Labels: spark

#11538 Data, Flink, Spark: Test deletes with format-version=3
  core/src/test/java/org/apache/iceberg/TestMetadataTableFilters.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestFlinkReaderDeletesBase.java
  mr/src/test/java/org/apache/iceberg/mr/TestInputFormatReaderDeletes.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: spark, core, data, flink, MR

#11563 API, Arrow, Core, Data, Spark: Replace usage of deprecated ContentFile#path API with location API
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  core/src/main/java/org/apache/iceberg/encryption/InputFilesDecryptor.java
  core/src/test/java/org/apache/iceberg/ScanPlanningAndReportingTestBase.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  data/src/main/java/org/apache/iceberg/data/BaseDeleteLoader.java
  data/src/main/java/org/apache/iceberg/data/DeleteFilter.java
  data/src/main/java/org/apache/iceberg/data/GenericDeleteFilter.java
  data/src/main/java/org/apache/iceberg/data/GenericReader.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
  data/src/test/java/org/apache/iceberg/io/TestAppenderFactory.java
  data/src/test/java/org/apache/iceberg/io/TestFileWriterFactory.java
  data/src/test/java/org/apache/iceberg/io/TestGenericSortedPosDeleteWriter.java
  data/src/test/java/org/apache/iceberg/io/TestPartitioningWriters.java
  data/src/test/java/org/apache/iceberg/io/TestPositionDeltaWriters.java
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  delta-lake/src/main/java/org/apache/iceberg/delta/BaseSnapshotDeltaLakeTableAction.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFiles.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RemoveDanglingDeletesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BatchDataReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/ChangelogRowReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/EqualityDeleteRowReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/PositionDeletesRowReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/RowDataReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkCleanupUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TaskCheckHelper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/ValidationHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkExecutorCache.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestBaseReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataFrameWrites.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderDeletes.java
Labels: API, spark, arrow, core, data

#11578 Core: Inherited classes from SnapshotProducer has TableOperations red…
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
Labels: core

#11574 Revert "Core: Use encoding/decoding methods for namespaces and deprecate Splitter/Joiner"
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
Labels: core

#11593 1.7.1rc0 cherry picks
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/AzurePropertiesTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  kafka-connect/build.gradle
Labels: core, build, AZURE, KAFKACONNECT

#11350 Core: delete temp metadata file when version already exists
  core/src/main/java/org/apache/iceberg/hadoop/HadoopTableOperations.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
Labels: core

#11502 Build: Bump Apache Parquet 1.14.4
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestMetadataTableReadableMetrics.java
  gradle/libs.versions.toml
Labels: flink, build

#11585 Core: Fix CCE when retrieving TableOps
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
Labels: core

#11601 API, Core: Remove unnecessary casts to Iterable<T>
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  core/src/main/java/org/apache/iceberg/expressions/ExpressionParser.java
Labels: API, core

#11157 Spark 3.5: Fix NotSerializableException when migrating Spark tables
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
Labels: spark, data

#11605 1.7.1rc0 cherry pick PR #11157
  data/src/main/java/org/apache/iceberg/data/TableMigrationUtil.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
Labels: spark, data

#11596 Spark 3.3: Deprecate support
  site/docs/multi-engine-support.md
Labels: docs

#11576 Bugfix for incorrect Deletion of Snapshot Metadata Due to OutOfMemoryError
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommits.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCommits.java
Labels: hive

#11607 Docs: add iceberg-go to doc site
  docs/mkdocs.yml
Labels: docs

#10986 Procedure to compute table stats
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestComputeTableStatsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/ComputeTableStatsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#11520 Parquet: Use native getRowIndexOffset support instead of calculating it
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/BaseBatchReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ReadConf.java
  parquet/src/main/java/org/apache/iceberg/parquet/VectorizedParquetReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/VectorizedReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
Labels: spark, parquet, arrow

#11564 Spark: Fix changelog table bug for start time older than current snapshot
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#11613 1.7.1rc0 cherry pick PR #11564
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#11622 1.7.x apply PR #11220
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
Labels: core

#11093 Add REST Catalog tests to Spark 3.5 integration test
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RCKUtils.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTCatalogServer.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTServerExtension.java
  spark/v3.5/build.gradle
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestBaseWithCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
Labels: spark, build, OPENAPI

#11628 Spark 3.5: Correct the two-stage parsing strategy of antlr parser
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#7734 Spark 3.4: Correct the two-stage parsing strategy of antlr parser
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark, not-stale

#11627 Docs: Add new blog post to Iceberg Blogs
  site/docs/blogs.md
Labels: docs

#11629 1.7.x cherry pick #11526
  dev/source-release.sh
  site/docs/how-to-release.md
Labels: INFRA, docs

#11631 Docs: Mention look-free requires HIVE-28121 for MySQL/MariaDB-based HMS
  docs/docs/configuration.md
Labels: docs

#7732 Spark 3.4: IcebergSource extends SessionConfigSupport
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, docs

#11624 Spark 3.5: IcebergSource extends SessionConfigSupport
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark

#11625 Spark 3.3: IcebergSource extends SessionConfigSupport
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, build

#11630 Spark 3.3: Correct the two-stage parsing strategy of antlr parser
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#11514 Core,Open-API: Don't expose the `last-column-id`
  aws/src/test/java/org/apache/iceberg/aws/glue/TestIcebergToGlueConverter.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
Labels: spark, core, AWS, OPENAPI

#11244 Flink: Add table.exec.iceberg.use-v2-sink option
  docs/docs/flink-writes.md
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkExtended.java
Labels: flink, docs

#11647 Docs: Use DataFrameWriterV2 in Spark's example
  docs/docs/spark-configuration.md
Labels: docs

#11636 Docs: add `WHEN NOT MATCHED BY SOURCE` to Spark `MERGE INTO` doc
  docs/docs/spark-writes.md
Labels: docs

#11635 Build: Delete branch automatically on PR merge
  .asf.yaml
Labels: INFRA

#11430 Flink: Test both "new" Flink Avro planned reader and "deprecated" Avro reader
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroDeprecatedReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroPlannedReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestRowProjection.java
Labels: flink

#11652 Adding ComputeTableStats Procedure to Spark 3.4
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestComputeTableStatsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ComputeTableStatsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#11665 Flink: Backport #11244 to Flink 1.19 (Add table.exec.iceberg.use-v2-sink option)
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkConfigOptions.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkExtended.java
Labels: flink

#11666 Doc: Fix some Javadoc URLs.
  format/spec.md
Labels: Specification

#11667 Docs: Add blog post showing Nussknacker with Iceberg integration
  site/docs/blogs.md
Labels: docs

#11599 Kafka Connect: Add config to prefix the control consumer group
  docs/docs/kafka-connect.md
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/Worker.java
Labels: docs, KAFKACONNECT

#11642 Docs: Add RisingWave
  docs/docs/risingwave.md
  docs/mkdocs.yml
Labels: docs

#11283 REST: Docker file for REST Fixture
  build.gradle
  docker/iceberg-rest-adapter-image/Dockerfile
  docker/iceberg-rest-adapter-image/README.md
  open-api/LICENSE
  open-api/NOTICE
  open-api/src/testFixtures/resources/log4j.properties
Labels: docs, build, OPENAPI

#11671 Core: Propagate custom metrics reporter when table is created/replaced through Transaction
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/Transactions.java
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalogWithV1Schema.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  open-api/src/test/java/org/apache/iceberg/rest/RESTCompatibilityKitCatalogTests.java
Labels: core, hive, NESSIE, OPENAPI

#11610 Spark: remove ROW_POSITION from project schema
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/BaseBatchReader.java
Labels: spark

#11421 Default to `overwrite` when operation is missing
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
Labels: core

#11626 Core,API: Set `503: added_snapshot_id` as required
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/V2Metadata.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/avro/TestReadProjection.java
Labels: API, core

#11677 Replace wrong order of assertion
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, core, GCP
