Repository apache/iceberg, pull requests merged in 2025-01, with the labels that each got.

#11902 Docs: Add history to Hive's metadata tables
  docs/docs/hive.md
Labels: docs

#11892 Doc: Fix format of Hive
  docs/docs/hive.md
Labels: docs

#11478 Spark: Change Delete granularity to file for Spark 3.5
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark, core

#11731 Bump Spark 3.5.4
  gradle/libs.versions.toml
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/IcebergArrowColumnVector.java
Labels: spark, build

#11883 Kafka-connect-runtime: remove code duplications in integration tests
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationDynamicTableTest.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationMultiTableTest.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationTest.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/IntegrationTestBase.java
Labels: KAFKACONNECT

#11838 Use ExternalTypeInfo in Rowconverter code instead of deprecated TableSchema.getFieldTypes
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
Labels: flink

#11916 Update maintenance.md
  docs/docs/maintenance.md
Labels: docs

#11813 Hive: Optimize viewExists API in hive catalog
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
Labels: hive

#11064 Core: Add support for `view-default` property in catalog
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseMetastoreViewCatalog.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryViewCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalogWithAssumedViewSupport.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  docs/docs/spark-configuration.md
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieViewCatalog.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RCKUtils.java
Labels: core, docs, hive, NESSIE, OPENAPI

#11897 Doc: Add missing fields to metadata tables in Spark page
  docs/docs/spark-queries.md
Labels: docs

#10755 API: Support removeUnusedSpecs in ExpireSnapshots
  api/src/main/java/org/apache/iceberg/ExpireSnapshots.java
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/UpdateRequirements.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: API, spark, core

#11555 Spark 3.5: Implement RewriteTablePath
  api/src/main/java/org/apache/iceberg/actions/RewriteTablePath.java
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  core/src/main/java/org/apache/iceberg/io/DeleteSchemaUtil.java
  core/src/main/java/org/apache/iceberg/util/ContentFileUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: API, spark, core

#11927 Infra: Add manuzhang to collaborators
  .asf.yaml
Labels: INFRA

#11942 Put a CFP Banner on the Homepage
  site/overrides/home.html
Labels: docs

#11771 Core: Allow adding files to multiple partition specs in FastAppend
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#11781 Core: Fix possible deadlock in ParallelIterable
  core/src/main/java/org/apache/iceberg/util/ParallelIterable.java
  core/src/test/java/org/apache/iceberg/util/TestParallelIterable.java
Labels: core

#11522 Core, Rest: Read the max connection for rest client from properties
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core, stale

#11552 Docs: Use the correct YAML text block indicator to prevent formatting issues
  site/docs/spark-quickstart.md
Labels: docs

#11941 API: Fix parameter of ScanTask
  api/src/main/java/org/apache/iceberg/ScanTask.java
Labels: API

#9890 Core: Add tests for catalogs supporting empty namespaces
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/main/java/org/apache/iceberg/jdbc/JdbcUtil.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryViewCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcUtil.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark, core, not-stale

#11960 Core: Fix test failure caused by check empty namespace on REST session catalog
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#11956 [docs] Update docs link about Apache Doris and update vendors list
  docs/mkdocs.yml
  site/docs/vendors.md
Labels: docs

#11964 docs: update `README.md` fix brand name `macOS`
  README.md
Labels: docs

#11738 Core: Fix loading a table in CachingCatalog with metadata table name
  core/src/main/java/org/apache/iceberg/CachingCatalog.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
Labels: core

#11955 Open-API: Bump to OpenAPI 3.1
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#11970 Build: Bump openapi-generator plugin from 6.6.0 to 7.10.0
  build.gradle
Labels: build

#11972 Run `java-ci` on changes in `open-api/**`
  .github/workflows/java-ci.yml
Labels: INFRA

#11954 AWS, Core, GCP: Support relative credential endpoint / pass OAuth2 token to credential provider
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
Labels: core, build, AWS, GCP

#11971 [1.7.x] AWS, Core, GCP: Support relative credential endpoint / pass OAuth2 token to credential provider
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTUtil.java
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
Labels: core, AWS, GCP

#11896 Doc: Add DELETE ORPHAN-FILES example to Hive page
  docs/docs/hive.md
Labels: docs

#11797 Spark 3.4: Add view support to SparkSessionCatalog
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.4/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkSessionCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogConfig.java
  spark/v3.5/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Labels: spark

#11975 Spark 3.4: Backport rewriting historical file-scoped deletes (#11273) to 3.4
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
Labels: spark

#11943 Support sanitizing a `Literal<?>`
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
Labels: API

#11844 Auth Manager API part 3: OAuth2 Manager
  core/src/main/java/org/apache/iceberg/rest/auth/AuthConfig.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthManagers.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthProperties.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthSessionCache.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Manager.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/main/java/org/apache/iceberg/rest/auth/RefreshingAuthManager.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestAuthManagers.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestAuthSessionCache.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestOAuth2Manager.java
Labels: core

#11967 Spark: Fix empty scan issue when start timestamp retrieves root snapshot and end timestamp is missing
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#11983 Spark: Fix empty scan issue when start timestamp retrieves root snapshot and end timestamp is missing (#11967)
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
Labels: spark

#11989 Doc: Add missing content value to manifests table
  docs/docs/spark-queries.md
Labels: docs

#11986 Spark: Fix Puffin suffix for DV files
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
Labels: spark

#11976 Spec: Add added-rows field to Snapshot
  format/spec.md
Labels: Specification

#11764 API: add hashcode cache in StructType
  api/src/main/java/org/apache/iceberg/types/Types.java
Labels: API

#12007 Revert "API: add hashcode cache in StructType (#11764)"
  api/src/main/java/org/apache/iceberg/types/Types.java
Labels: API

#11824 Spark: Don't skip tests in TestSelect for SparkSessionCatalog
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark, stale

#11991 Core: List namespaces/tables when testing identifier with a dot
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalogWithV1Schema.java
  open-api/src/test/java/org/apache/iceberg/rest/RESTCompatibilityKitCatalogTests.java
  open-api/src/test/java/org/apache/iceberg/rest/RESTCompatibilityKitSuite.java
Labels: core, OPENAPI

#11830 Support WASB scheme in ADLSFileIO
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSFileIO.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSLocation.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSFileIOTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/ADLSLocationTest.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
Labels: core, AZURE

#12011 Docs: Update Footer Copyright Year
  site/overrides/partials/footer.html
Labels: docs

#12018 Spec: Clarify `next-row-id`
  format/spec.md
Labels: Specification

#12021 Flink: Upgrade Flink version 1.19.0 => 1.19.1 to mitigate NoSuchMethodError on commit
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  gradle/libs.versions.toml
  site/mkdocs.yml
Labels: flink, docs

#12013 Update notice files copyright end year to 2025
  NOTICE
  aws-bundle/NOTICE
  azure-bundle/NOTICE
  bundled-guava/NOTICE
  flink/v1.18/flink-runtime/NOTICE
  flink/v1.19/flink-runtime/NOTICE
  flink/v1.20/flink-runtime/NOTICE
  gcp-bundle/NOTICE
  kafka-connect/kafka-connect-runtime/NOTICE
  open-api/NOTICE
  spark/v3.3/spark-runtime/NOTICE
  spark/v3.4/spark-runtime/NOTICE
  spark/v3.5/spark-runtime/NOTICE
Labels: spark, flink, AWS, GCP, OPENAPI, AZURE, KAFKACONNECT

#12019 Spark 3.4: Backport writing DVs to Spark 3.4
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkWriteConf.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatchQueryScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark

#12045 Doc: Fix expired link in vendor page
  site/docs/vendors.md
Labels: docs

#12043 add RisingWave to the Vendors page
  site/docs/vendors.md
Labels: docs

#12026 ORC: Fail when initial default support is required
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  orc/src/test/java/org/apache/iceberg/orc/TestBuildOrcProjection.java
Labels: ORC

#11980 REST: Add missing default HEAD endpoints and V1_COMMIT_TRANSACTION
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#11933 Spark 3.5: Refactor delete logic in batch reading
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnVectorBuilder.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/DeletedColumnVector.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/IcebergArrowColumnVector.java
Labels: spark

#12052 Remove slf4j-api reference in LICENSE as it's now excluded from the distributed jar files
  aws-bundle/LICENSE
  azure-bundle/LICENSE
  gcp-bundle/LICENSE
Labels: AWS, GCP, AZURE

#12020 Adding Crunchy Data to Iceberg Vendors list
  site/docs/vendors.md
Labels: docs

#11839 Flink 1.20: Support default values in Parquet reader
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
Labels: flink

#12072 Flink: Backport default values support in Parquet reader on Flink v1.18 and v1.19
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
Labels: flink

#12068 Remove `slf4j-api` reference in `LICENSE` (#12052)
  aws-bundle/LICENSE
  azure-bundle/LICENSE
  gcp-bundle/LICENSE
Labels: AWS, GCP, AZURE

#12058 Spark 3.5: Fix Javadoc in ColumnarBatchUtil
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchUtil.java
Labels: spark, build

#11825 Core, Spark: Rewrite data files with high delete ratio
  core/src/main/java/org/apache/iceberg/actions/SizeBasedDataRewriter.java
  core/src/test/java/org/apache/iceberg/MockFileScanTask.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
Labels: spark, core

#11808 Core, Spark: Include content offset/size in PositionDeletesTable
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  core/src/main/java/org/apache/iceberg/PositionDeletesTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/DVIterator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesReader.java
Labels: spark, core

#12067 Core: Retain current view version during expiration
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
Labels: core

#11931 Spark 3.5: Procedure to rewrite table path
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteTablePathProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#12084 [1.7.x] Core: Retain current view version during expiration (#12067)
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
Labels: core

#12048 Spark: Disable rewriting position deletes for V3 tables
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#12012 API: Add `UnknownType`
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/TestSchema.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  api/src/test/java/org/apache/iceberg/transforms/TestDates.java
  api/src/test/java/org/apache/iceberg/transforms/TestIdentity.java
  api/src/test/java/org/apache/iceberg/transforms/TestTimestamps.java
  api/src/test/java/org/apache/iceberg/transforms/TestTruncate.java
  api/src/test/java/org/apache/iceberg/transforms/TestVoid.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  api/src/test/java/org/apache/iceberg/types/TestTypes.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
Labels: API, core

#12091 Spark: Fix typo in NoSuchTableException message
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/actions/BaseTableCreationSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseTableCreationSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/BaseTableCreationSparkAction.java
Labels: spark

#12061 Spark 3.4: Refactor delete logic in batch reading
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnVectorBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/DeletedColumnVector.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/IcebergArrowColumnVector.java
Labels: spark

#12050 Spec, OpenAPI: Adds EnableRowLineage Metadata Update
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#11660 Spec: Document Snapshot Summary Optional Fields for Standardization
  format/spec.md
Labels: Specification

#11904 Parquet: Add readers and writers for the internal object model
  api/src/test/java/org/apache/iceberg/util/RandomUtil.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalReader.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriters.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestInternalParquet.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
Labels: API, spark, parquet, arrow, core, data

#11982 Spark 3.5: Fix broadcasting specs in RewriteTablePath
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark

#12093 Build: Upgrade to Gradle 8.12.1
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#12111 Spark 3.4: Backport Spark actions and procedures for RewriteTablePath
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/BaseSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteTablePathProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark

#12082 Core: Add metadataFileLocation in TableUtil
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/TableUtil.java
  core/src/test/java/org/apache/iceberg/TestTableUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
  spark/v3.3/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
Labels: spark, core

#12010 OpenAPI: Deprecate snapshot-id of SetStatisticsUpdate
  api/src/main/java/org/apache/iceberg/UpdateStatistics.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/SetStatistics.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: API, core, OPENAPI

#12100 Spec: Adds in missing ChangeLog metadata columns - Reassigns Row Line…
  format/spec.md
Labels: Specification

#12088 Core: Check referencedDataFile existence for DV
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
Labels: core

#12101 Add IBM to Iceberg vendors list
  site/docs/vendors.md
Labels: docs

#12105 Core: Update variant class visibility
  core/src/main/java/org/apache/iceberg/variants/PrimitiveWrapper.java
  core/src/main/java/org/apache/iceberg/variants/SerializedArray.java
  core/src/main/java/org/apache/iceberg/variants/SerializedMetadata.java
  core/src/main/java/org/apache/iceberg/variants/SerializedObject.java
  core/src/main/java/org/apache/iceberg/variants/ShreddedObject.java
  core/src/main/java/org/apache/iceberg/variants/VariantArray.java
  core/src/main/java/org/apache/iceberg/variants/VariantMetadata.java
  core/src/main/java/org/apache/iceberg/variants/VariantObject.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/variants/TestPrimitiveWrapper.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedArray.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedMetadata.java
  core/src/test/java/org/apache/iceberg/variants/TestSerializedObject.java
  core/src/test/java/org/apache/iceberg/variants/TestShreddedObject.java
  core/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
Labels: core

#12102 Parquet: Clean up Parquet generic and internal readers
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetAvroValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
Labels: spark, parquet, flink

#12121 Build: Bump scala-collection-compat from 2.12.0 to 2.13.0
  gradle/libs.versions.toml
  spark/v3.3/build.gradle
  spark/v3.4/build.gradle
  spark/v3.5/build.gradle
Labels: spark, build

#12126 Minor: typo in url
  core/src/main/java/org/apache/iceberg/deletes/RoaringPositionBitmap.java
Labels: core

#12123 [docs] add spacing to "how to release"'s voting section
  site/docs/how-to-release.md
Labels: docs

#12128 Spec: Fix minor typo in `_last_updated_sequence_number` docs
  format/spec.md
Labels: Specification

#10831 Spec: add variant type
  format/spec.md
Labels: Specification

#12017 Make view metadata path configurable by `write.metadata.path`
  core/src/main/java/org/apache/iceberg/view/BaseViewOperations.java
  core/src/main/java/org/apache/iceberg/view/ViewProperties.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  docs/docs/view-configuration.md
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
Labels: spark, core, docs

#12103 Core: Support removing keys from EnvironmentContext
  core/src/main/java/org/apache/iceberg/EnvironmentContext.java
  core/src/test/java/org/apache/iceberg/TestEnvironmentContext.java
Labels: core

#12094 OpenAPI: add initial/write defaults to schema
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateTableRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponse.java
  core/src/test/resources/TableMetadataV3ValidMinimal.json
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#12142 Fix NOTICE and LICENSE in the aws-bundle jar
  aws-bundle/LICENSE
  aws-bundle/NOTICE
Labels: AWS
