Repository apache/iceberg, pull requests merged in 2025-02, with the labels that each got.

#12143 Fix NOTICE and LICENSE in the azure-bundle jar
  azure-bundle/LICENSE
  azure-bundle/NOTICE
Labels: AZURE

#11948 Core, API, Spec: Metadata Row Lineage
  api/src/main/java/org/apache/iceberg/Snapshot.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  core/src/main/java/org/apache/iceberg/SnapshotParser.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestDataTaskParser.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestRowLineageMetadata.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/util/TestJsonUtil.java
Labels: API, core, Specification

#12146 Spec: Fix current-version-id in View Spec example
  format/view-spec.md
Labels: Specification

#12151 Data: open file using stats in scan
  data/src/main/java/org/apache/iceberg/data/GenericReader.java
Labels: data

#12148 Spark: make delete file ratio configurable
  core/src/main/java/org/apache/iceberg/actions/SizeBasedDataRewriter.java
  docs/docs/spark-procedures.md
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
Labels: spark, core, docs

#12149 Core: Remove `TableMetadata::Builder::resetMainBranch`
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#12171 Spark: Update benchmark instructions
  site/docs/benchmarks.md
Labels: docs

#12135 Spark: Test metadata tables with format-version=3
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/DVIterator.java
Labels: spark

#12023 Docs: Fix latest and nightly link on javadoc (according to site README.md)
  site/dev/common.sh
Labels: docs

#12138 Variants: Implement toString
  core/src/main/java/org/apache/iceberg/variants/PrimitiveWrapper.java
  core/src/main/java/org/apache/iceberg/variants/SerializedMetadata.java
  core/src/main/java/org/apache/iceberg/variants/SerializedObject.java
  core/src/main/java/org/apache/iceberg/variants/SerializedPrimitive.java
  core/src/main/java/org/apache/iceberg/variants/SerializedShortString.java
  core/src/main/java/org/apache/iceberg/variants/ShreddedObject.java
  core/src/main/java/org/apache/iceberg/variants/VariantMetadata.java
  core/src/main/java/org/apache/iceberg/variants/VariantObject.java
  core/src/main/java/org/apache/iceberg/variants/VariantPrimitive.java
Labels: core

#12049 Flink: Add null check to writers to prevent resurrecting null values
  data/src/test/java/org/apache/iceberg/data/DataTest.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/orc/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestParquetEncryptionWithWriteSupport.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkRowData.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/RowDataWrapper.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkRowData.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/RowDataWrapper.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkRowData.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/RowDataWrapper.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkOrcWriters.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/RowDataProjection.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowDataRecordFactory.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
Labels: data, flink

#12175 Bump the versions of `site/mkdocs.yml`
  site/mkdocs.yml
Labels: docs

#12180 Bump the versions of `site/mkdocs.yml`
  site/mkdocs.yml
Labels: docs

#12165 API: Null check for auto-unboxed field id in builder
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestTypes.java
Labels: API

#12170 Remove `jitpack.yml`
  .gitattributes
  .github/labeler.yml
  jitpack.yml
Labels: INFRA

#12140 Test Hive: Fix TestHiveMetastore
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
Labels: hive

#12160 Fix NOTICE and LICENSE in the spark-runtime jar
  spark/v3.5/spark-runtime/LICENSE
  spark/v3.5/spark-runtime/NOTICE
Labels: spark

#11992 Auth Manager API part 4: RESTClient, HTTPClient
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  aws/src/test/java/org/apache/iceberg/aws/TestRESTSigV4Signer.java
  core/src/main/java/org/apache/iceberg/rest/BaseHTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogServlet.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandler.java
Labels: core, AWS, GCP

#12145 Fix NOTICE and LICENSE in the flink-runtime jar
  flink/v1.20/flink-runtime/LICENSE
  flink/v1.20/flink-runtime/NOTICE
Labels: flink

#12188 Update LICENSE/NOTICE in flink-runtime jar files
  flink/v1.18/flink-runtime/LICENSE
  flink/v1.18/flink-runtime/NOTICE
  flink/v1.19/flink-runtime/LICENSE
  flink/v1.19/flink-runtime/NOTICE
  flink/v1.20/flink-runtime/LICENSE
Labels: flink

#12189 Update LICENSE/NOTICE for spark-runtime 3.3 and 3.4
  spark/v3.3/spark-runtime/LICENSE
  spark/v3.3/spark-runtime/NOTICE
  spark/v3.4/spark-runtime/LICENSE
  spark/v3.4/spark-runtime/NOTICE
Labels: spark

#12190 Docs: Minor improvements to Spark Procedures docs
  docs/docs/spark-procedures.md
Labels: docs

#12006 Core, Spark: Exclude non live content file in RewriteTablePathUtil
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark, core

#12173 Spark 3.4: Remove use of File.Separator in RewriteTablePath
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
Labels: spark

#11995 Auth Manager API part 5: SigV4 Auth Manager
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4AuthManager.java
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4AuthSession.java
  aws/src/test/java/org/apache/iceberg/aws/TestRESTSigV4AuthManager.java
  aws/src/test/java/org/apache/iceberg/aws/TestRESTSigV4AuthSession.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthManagers.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthProperties.java
Labels: core, AWS

#12172 Core: Fix RewriteTablePath Incremental Replication
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark, core

#11929 Spark: support statistics files in RewriteTablePath
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark, core, stale

#12195 Fix LICENSE and NOTICE for the kafka-connect-runtime distributions
  kafka-connect/build.gradle
  kafka-connect/kafka-connect-runtime/NOTICE
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: build, KAFKACONNECT

#12213 Docs: Fix expire_snapshots output
  docs/docs/spark-procedures.md
Labels: docs

#12214 Update LICENSE/NOTICE files with last dependency updates
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: KAFKACONNECT

#11996 Doc: update note about notebook in spark-quickstart
  site/docs/spark-quickstart.md
Labels: docs

#10981 Spec: Support geo type
  format/spec.md
Labels: spark, Specification

#12219 Docs: Add missing types to the spec v3 summary
  format/spec.md
Labels: Specification

#12229 Spec: Typo - missing be
  format/spec.md
Labels: Specification

#12242 Docs: Site update for 1.8.0 release
  site/docs/releases.md
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#12161 spec: Remove `source-ids` for `V{1,2}` tables
  format/spec.md
Labels: Specification

#12248 Infra: Update Iceberg bug report template for 1.8.0
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#12249 Docs: Fix formatting of 1.8.0 release notes
  site/docs/releases.md
Labels: docs

#12224 Core: Adjust Jackson settings to handle large metadata json
  core/src/main/java/org/apache/iceberg/rest/RESTObjectMapper.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  mr/build.gradle
Labels: core, MR, build

#12252 Build: Clean up dependencies
  gradle/libs.versions.toml
Labels: spark

#12211 API, Core: Support default values in UpdateSchema
  api/src/main/java/org/apache/iceberg/UpdateSchema.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/mapping/MappingUtil.java
  core/src/main/java/org/apache/iceberg/schema/UnionByNameVisitor.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
Labels: API, core, flink

#12256 update site to include iceberg summit link
  site/overrides/home.html
Labels: docs

#12201 Core: Fix divide by zero when adjust split size
  core/src/main/java/org/apache/iceberg/util/TableScanUtil.java
  core/src/test/java/org/apache/iceberg/util/TestTableScanUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark, core

#12258 Spark: Remove unused PruneColumnsWithReordering class
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithReordering.java
Labels: spark

#12255 Spark: Fix assertion checks
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#12227 API: Deprecate NestedType.of in favor of builder
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/TestSchema.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestSchemaParser.java
  core/src/test/java/org/apache/iceberg/avro/TestReadDefaultValues.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCreateTableRequest.java
  data/src/test/java/org/apache/iceberg/data/DataTest.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeyUtil.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/data/SchemaUtils.java
  orc/src/main/java/org/apache/iceberg/orc/OrcToIcebergVisitor.java
  orc/src/test/java/org/apache/iceberg/orc/TestBuildOrcProjection.java
  spark/v3.3/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
Labels: API, spark, arrow, core, data, flink, ORC, KAFKACONNECT

#12262 Docker: Pin QEMU version temporarily
  .github/workflows/publish-iceberg-rest-fixture-docker.yml
Labels: INFRA

#12022 OpenAPI: Add RemoveSchemas REST update type
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12272 Minor: update Learn More to point to spark quickstart
  site/docs/about.md
Labels: docs

#12290 Build: Bump datamodel-code-generator from 0.27.2 to 0.28.1
  open-api/Makefile
  open-api/requirements.txt
Labels: OPENAPI

#12282 Spark 3.5: Fix job description of RewriteTablePathSparkAction
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
Labels: spark

#12239 OpenAPI: Add overwrite option when registering an iceberg table
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12302 API: Reject unknown type for required fields and validate defaults
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/TestSchema.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: API, core

#12303 API: Fix TestInclusiveMetricsEvaluator notStartsWith tests
  api/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluator.java
Labels: API

#12316 Fix CI: Update tests with `UnknownType` from `Required` to `Optional`
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
Labels: API, core

#12289 Docs: Refactor site navigation bar
  site/docs/concepts/catalog.md
  site/docs/terms.md
  site/nav.yml
Labels: docs

#12139 Parquet: Implement Variant readers
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetSchemaUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/VariantReaderBuilder.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantReaders.java
Labels: parquet, core

#12115 Docs: Add rewrite-table-path in spark procedure
  docs/docs/spark-procedures.md
Labels: docs

#12324 Parquet: Fix errorprone warning
  baseline.gradle
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: parquet, INFRA, build

#11966 Docs: add apache amoro(incubating) with iceberg (#11965)
  docs/docs/amoro.md
  docs/mkdocs.yml
Labels: docs

#12313 [1.8.x] Revert "Core: Serialize `null` when there is no current snapshot"
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponseParser.java
Labels: core

#12314 Core: Fallback to GET requests for namespace/table/view exists checks
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
Labels: core

#12328 [1.8.x] Core: Fallback to GET requests for namespace/table/view exists checks
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
Labels: core

#12330 [1.8.x] Core: Adjust Jackson settings to handle large metadata json (#12224)
  core/src/main/java/org/apache/iceberg/rest/RESTObjectMapper.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  mr/build.gradle
Labels: core, MR, build

#12333 Checkstyle: Apply the same generic type naming rules to interfaces and classes
  .baseline/checkstyle/checkstyle.xml
Labels: INFRA

#12338 [1.8.x] Parquet: Fix performance regression in reader init (#12305)
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
Labels: parquet

#12340 Kafka: Pin Kafka-Connect version to fix integration tests
  kafka-connect/kafka-connect-runtime/docker/docker-compose.yml
Labels: KAFKACONNECT

#12326 Docs: Fix link of catalog in terms.md
  site/docs/terms.md
Labels: docs

#12217 Docs: Add documentation for Rate limiting in Spark Structured Streaming
  docs/docs/spark-configuration.md
Labels: docs

#12319 Spark 3.5: Fix Incorrect Spec Used With AddFiles Procedure
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#12339 [1.8.x] Build: Revert AWS SDK from 2.30.11 to 2.29.52
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  gradle/libs.versions.toml
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: AWS, KAFKACONNECT

#12321 Parquet: Remove deprecated VectorizedReader.setRowGroupInfo and ParquetValueReader.setPageSource
  .palantir/revapi.yml
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/BaseBatchReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/VectorizedReader.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/CometColumnReader.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/CometColumnarBatchReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ColumnarBatchReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/CometColumnReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/CometColumnarBatchReader.java
Labels: spark, parquet, arrow, flink

#12337 Bump versions in `{LICENSE,NOTICE}`
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  azure-bundle/LICENSE
  azure-bundle/NOTICE
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  open-api/LICENSE
Labels: AWS, OPENAPI, AZURE, KAFKACONNECT

#12320 Core: Remove deprecated Util.blockLocations method and StructCopy class
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/hadoop/Util.java
  core/src/main/java/org/apache/iceberg/io/StructCopy.java
Labels: core

#12137 Core: Handle partition evolution case in PartitionStatsUtil#computeStats
  core/src/main/java/org/apache/iceberg/PartitionStatsUtil.java
  core/src/test/java/org/apache/iceberg/TestPartitionStatsUtil.java
Labels: core

#12336 Core, Spark: Remove deprecated code for 1.9.0
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/UpdateStatistics.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/SetStatistics.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestSetStatistics.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/ComputeTableStatsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/ComputeTableStatsSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: API, spark, core

#12354 [1.7.x] Kafka: Pin Kafka-Connect version to fix integration tests
  kafka-connect/kafka-connect-runtime/docker/docker-compose.yml
Labels: KAFKACONNECT

#12304 API: Move variant to API and add extract expression
  api/src/main/java/org/apache/iceberg/expressions/BoundExtract.java
  api/src/main/java/org/apache/iceberg/expressions/BoundReference.java
  api/src/main/java/org/apache/iceberg/expressions/BoundTerm.java
  api/src/main/java/org/apache/iceberg/expressions/BoundTransform.java
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/PathUtil.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundExtract.java
  api/src/main/java/org/apache/iceberg/expressions/UnboundPredicate.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestPathParsing.java
Labels: API

#12351 Core: Remove namespace/table/view HEAD endpoints from defaults
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#12369 Nit: Remove additional 'Iceberg' in Puffin footer payload
  core/src/main/java/org/apache/iceberg/deletes/BaseDVFileWriter.java
Labels: core

#12353 [1.7.x] Fix `{LICENSE,NOTICE}` for Kafka Connect Runtime
  kafka-connect/build.gradle
  kafka-connect/kafka-connect-runtime/NOTICE
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: build, KAFKACONNECT

#12358 [1.7.x] Fix `{LICENSE,NOTICE}` for Flink Runtime
  flink/v1.18/flink-runtime/LICENSE
  flink/v1.18/flink-runtime/NOTICE
  flink/v1.19/flink-runtime/LICENSE
  flink/v1.19/flink-runtime/NOTICE
  flink/v1.20/flink-runtime/LICENSE
  flink/v1.20/flink-runtime/NOTICE
Labels: flink

#12359 [1.7.x] Fix `{LICENSE,NOTICE}` for GCP Bundle
  gcp-bundle/LICENSE
  gcp-bundle/NOTICE
Labels: GCP

#12361 [1.7.x] Fix `{LICENSE,NOTICE}` for Azure Bundle
  azure-bundle/LICENSE
  azure-bundle/NOTICE
Labels: AZURE

#12355 [1.7.x] Fix `{LICENSE,NOTICE}` for Spark Runtime
  spark/v3.3/spark-runtime/LICENSE
  spark/v3.3/spark-runtime/NOTICE
  spark/v3.4/spark-runtime/LICENSE
  spark/v3.4/spark-runtime/NOTICE
  spark/v3.5/spark-runtime/LICENSE
Labels: spark

#12374 API: Move Variant interfaces and serialized implementations to API
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/variants/BasicType.java
  api/src/main/java/org/apache/iceberg/variants/LogicalType.java
  api/src/main/java/org/apache/iceberg/variants/PhysicalType.java
  api/src/main/java/org/apache/iceberg/variants/Primitives.java
  api/src/main/java/org/apache/iceberg/variants/Serialized.java
  api/src/main/java/org/apache/iceberg/variants/SerializedArray.java
  api/src/main/java/org/apache/iceberg/variants/SerializedMetadata.java
  api/src/main/java/org/apache/iceberg/variants/SerializedObject.java
  api/src/main/java/org/apache/iceberg/variants/SerializedPrimitive.java
  api/src/main/java/org/apache/iceberg/variants/SerializedShortString.java
  api/src/main/java/org/apache/iceberg/variants/SerializedValue.java
  api/src/main/java/org/apache/iceberg/variants/Variant.java
  api/src/main/java/org/apache/iceberg/variants/VariantArray.java
  api/src/main/java/org/apache/iceberg/variants/VariantMetadata.java
  api/src/main/java/org/apache/iceberg/variants/VariantObject.java
  api/src/main/java/org/apache/iceberg/variants/VariantPrimitive.java
  api/src/main/java/org/apache/iceberg/variants/VariantUtil.java
  api/src/main/java/org/apache/iceberg/variants/VariantValue.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedArray.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedMetadata.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedObject.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedPrimitives.java
  api/src/test/java/org/apache/iceberg/variants/TestVariantUtil.java
  api/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
  core/src/main/java/org/apache/iceberg/variants/ShreddedObject.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
Labels: API, core

#12368 [1.8.x] Core: Remove namespace/table/view HEAD endpoints from defaults (#12351)
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#12375 Flink: Fix the comment error in SketchDataStatistics
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchDataStatistics.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchDataStatistics.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchDataStatistics.java
Labels: flink

#12389 Core: Don't remove trailing slash from absolute paths
  core/src/main/java/org/apache/iceberg/rest/HTTPRequest.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPRequest.java
Labels: core

#12365 [1.8.x] Fix versions in LICENSE/NOTICE
  aws-bundle/LICENSE
  azure-bundle/LICENSE
  gcp-bundle/LICENSE
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/main/LICENSE
Labels: AWS, GCP, AZURE, KAFKACONNECT

#12230 Spec: Allow Equality Deletes with Row Lineage and Define Behavior
  format/spec.md
Labels: Specification

#12388 Core: Add "volatile" to HadoopFileIO#hadoopConf
  core/src/main/java/org/apache/iceberg/hadoop/HadoopFileIO.java
Labels: core

#11874 Arrow, Parquet, Spark 3.5, Flink 1.20: Avoid deprecated method
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/VectorizedArrowReader.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/ParquetWithFlinkSchemaVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetTypeVisitor.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark, parquet, arrow, flink

#12344 Docs: Add Stackable to the Vendors page
  site/docs/vendors.md
Labels: docs

#12398 Build: Upgrade to Gradle 8.13
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#12311 API, Core: Update inclusive metrics evaluator for extract and transforms
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/VariantExpressionUtil.java
  core/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluatorWithExtract.java
  core/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluatorWithTransforms.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: API, spark, core

#12348 Build: remove Hadoop 2 dependency
  aliyun/src/test/java/org/apache/iceberg/aliyun/oss/mock/AliyunOSSMockLocalStore.java
  build.gradle
  flink/v1.18/build.gradle
  flink/v1.19/build.gradle
  flink/v1.20/build.gradle
  gradle/libs.versions.toml
  mr/build.gradle
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.5/build.gradle
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
Labels: spark, flink, MR, build, ALIYUN

#12405 View Spec: Fix typo
  format/view-spec.md
Labels: Specification

#12402 Fix grammar issues in descriptions about Hive environment in hive-quickstart.md
  site/docs/hive-quickstart.md
Labels: docs

#12394 [hive]:Fix Hive table creation syntax errors
  docs/docs/hive.md
Labels: docs

#12306 Core: Interface changes for separating rewrite planner and runner
  core/src/main/java/org/apache/iceberg/actions/FileRewritePlan.java
  core/src/main/java/org/apache/iceberg/actions/FileRewritePlanner.java
  core/src/main/java/org/apache/iceberg/actions/FileRewriteRunner.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  core/src/main/java/org/apache/iceberg/actions/RewriteGroupBase.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
Labels: core

#12413 Docs: Describe how to handle versioned docs/javadoc during a release
  site/docs/how-to-release.md
Labels: docs

#12396 Spark: Bump Spark 3.5 to 3.5.5
  gradle/libs.versions.toml
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: spark, build

#12422 Docs: Remove Hive runtime jar link from latest release
  site/docs/releases.md
Labels: docs

#12409 Infra: Update Bug report template for 1.8.1
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#12417 Build: Ignore docker folder in CI
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/kafka-connect-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#12301 Fix IndexOutOfBounds exception in FileFormat#fromFileName
  api/src/main/java/org/apache/iceberg/FileFormat.java
  api/src/test/java/org/apache/iceberg/TestFileFormat.java
Labels: API

#12318 Core: Print un-pretty metadata files without whitespace
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
Labels: core

#12419 Core: Code cleanup around TestTable and TestTableOperations
  core/src/test/java/org/apache/iceberg/TestTables.java
Labels: core

#11216 Data: Add partition stats writer and reader
  api/src/main/java/org/apache/iceberg/UpdatePartitionStatistics.java
  core/src/main/java/org/apache/iceberg/SetPartitionStatistics.java
  core/src/test/java/org/apache/iceberg/TestRowLineageMetadata.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  data/src/main/java/org/apache/iceberg/data/PartitionStatsHandler.java
  data/src/test/java/org/apache/iceberg/data/TestPartitionStatsHandler.java
Labels: API, spark, parquet, core, data

#12274 Azure: Move docker-based tests to integrationTest
  .baseline/checkstyle/checkstyle-suppressions.xml
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/ADLSFileIOTest.java
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/ADLSInputStreamTest.java
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/ADLSOutputStreamTest.java
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/AzuriteContainer.java
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/BaseAzuriteTest.java
  baseline.gradle
  build.gradle
Labels: INFRA, build, AZURE
