Repository apache/iceberg, pull requests merged in 2025-08, with the labels that each got.

#13700 Arrow: test case for fixed type
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ArrowReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/ColumnVector.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/TestArrowReader.java
Labels: arrow

#12563 Core: introduce shared authentication refresh executor
  core/src/main/java/org/apache/iceberg/SystemConfigs.java
  core/src/main/java/org/apache/iceberg/rest/auth/RefreshingAuthManager.java
  core/src/main/java/org/apache/iceberg/util/ThreadPools.java
Labels: core

#13087 fix: coerce UUID to String in readable_metrics to avoid ClassCastException in Spark
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
Labels: core

#13729 Flink 1.19, 1.20: Expose cleanExpiredMetadata for snapshot expiration
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/ExpireSnapshots.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/ExpireSnapshotsProcessor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestExpireSnapshotsProcessor.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/ExpireSnapshots.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/ExpireSnapshotsProcessor.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestExpireSnapshotsProcessor.java
Labels: flink

#13643 Core: make BaseRowDelta public
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
Labels: core

#13734 Add Databricks to vendors.md
  site/docs/vendors.md
Labels: docs

#13695 API, Core: Preserve original Type for upper/lower bounds in Metrics
  api/src/main/java/org/apache/iceberg/Metrics.java
  api/src/test/java/org/apache/iceberg/TestMetricsSerialization.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/DoubleFieldMetrics.java
  core/src/main/java/org/apache/iceberg/FieldMetrics.java
  core/src/main/java/org/apache/iceberg/FileMetadata.java
  core/src/main/java/org/apache/iceberg/FloatFieldMetrics.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/test/java/org/apache/iceberg/FileGenerationUtil.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriters.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantMetrics.java
Labels: API, parquet, core, ORC

#13670 Close resources only if initialised to avoid rare case NPE
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConnector.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/CommitterImpl.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/Coordinator.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/CoordinatorThread.java
Labels: KAFKACONNECT

#13748 Spark: Use ORC batch for orcBatchReadConf()
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
Labels: spark

#13743 Build: Bump com.azure:azure-sdk-bom from 1.2.36 to 1.2.37
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/AzuriteContainer.java
  gradle/libs.versions.toml
Labels: AZURE

#13617 [docs] Flink can now add/drop/modify columns
  docs/docs/flink.md
Labels: docs

#13730 Fix concurrency issues in Azure credential refresh.
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/VendedAdlsCredentialProvider.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/VendedAzureSasCredentialPolicy.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/TestVendedAdlsCredentialProvider.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/TestVendedAzureSasCredentialPolicy.java
Labels: AZURE

#13754 Revert "Coerce UUID to String in `readable-metrics` (#13087)"
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
Labels: core

#13747 API: Add expression factory methods for timestamp literals.
  api/src/main/java/org/apache/iceberg/expressions/Expressions.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionHelpers.java
Labels: API

#13749 AWS, Aliyun: Fix memory leak by removing deleteOnExit() calls
  aliyun/src/main/java/org/apache/iceberg/aliyun/oss/OSSOutputStream.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputStream.java
Labels: AWS, ALIYUN

#13744 Docs: Add V3 types to Spark/Flink type conversion table
  docs/docs/flink.md
  docs/docs/spark-getting-started.md
Labels: docs

#13757 Core: Remove redundant V2TableTestBase
  core/src/test/java/org/apache/iceberg/V2TableTestBase.java
Labels: core

#13759 Core: Use ResourcePaths instead of hard-coded resource paths
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#13487 Core: support timestamp nanos in single value parser
  core/src/main/java/org/apache/iceberg/SingleValueParser.java
  core/src/test/java/org/apache/iceberg/TestSingleValueParser.java
Labels: core

#13484 Docs: Update the Kafka Connect readme
  docs/docs/kafka-connect.md
Labels: docs

#13531 Kafka Connect: Add manifests for the transformations
  kafka-connect/kafka-connect-transforms/src/main/resources/META-INF/services/org.apache.kafka.connect.transforms.Transformation
Labels: KAFKACONNECT

#13429 Spark,Core: Refactor Delete OrphanFiles by moving common code from Spark to core
  core/src/main/java/org/apache/iceberg/actions/FileURI.java
  core/src/main/java/org/apache/iceberg/util/FileSystemWalker.java
  core/src/test/java/org/apache/iceberg/actions/TestFileURI.java
  core/src/test/java/org/apache/iceberg/util/TestFileSystemWalker.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark, core

#13790 Spark: Remove unused code
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTestBase.java
Labels: spark

#13784 Parquet: Fix incorrect JavaDoc parameter descriptions in TripleWriter
  parquet/src/main/java/org/apache/iceberg/parquet/TripleWriter.java
Labels: parquet

#13450 Add golden file tests for vectorized Parquet reads
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/vectorized/parquet/TestParquetVectorizedReads.java
  spark/v4.0/spark/src/test/resources/encodings/DELTA_BINARY_PACKED/int32.parquet
  spark/v4.0/spark/src/test/resources/encodings/DELTA_BINARY_PACKED/int64.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN/binary.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN/boolean.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN/float.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN/int32.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN/int64.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN/string.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN_DICTIONARY/binary.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN_DICTIONARY/float.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN_DICTIONARY/int32.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN_DICTIONARY/int64.parquet
  spark/v4.0/spark/src/test/resources/encodings/PLAIN_DICTIONARY/string.parquet
  spark/v4.0/spark/src/test/resources/encodings/RLE/boolean.parquet
  spark/v4.0/spark/src/test/resources/encodings/RLE_DICTIONARY/binary.parquet
  spark/v4.0/spark/src/test/resources/encodings/RLE_DICTIONARY/float.parquet
  spark/v4.0/spark/src/test/resources/encodings/RLE_DICTIONARY/int32.parquet
  spark/v4.0/spark/src/test/resources/encodings/RLE_DICTIONARY/int64.parquet
  spark/v4.0/spark/src/test/resources/encodings/RLE_DICTIONARY/string.parquet
Labels: spark

#13556 Core: Batch load new files when validating replaced partitions
  core/src/main/java/org/apache/iceberg/CherryPickOperation.java
  core/src/main/java/org/apache/iceberg/util/SnapshotUtil.java
Labels: core

#13794 nit: Make style consistent
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
Labels: core

#13772 Replace `assertThrows` with `assertThatThrownBy` for better readability.
  .baseline/checkstyle/checkstyle.xml
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataConverter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataConverter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataConverter.java
Labels: flink, INFRA

#13796 Docs: Fix community links in footer
  site/overrides/partials/footer.html
Labels: docs

#13806 docs: reorder so "Apache Iceberg Community Calendar" is first
  site/docs/community.md
Labels: docs

#13808 Spark: Prune dead branch
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
Labels: spark

#13828 Docs: Minor improvements to Variant sections
  format/spec.md
Labels: Specification

#13820 Spark 4.0: Disable executor cache for delete files in RewriteDataFilesSparkAction
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#13004 Part 1: Support Scan Planning in Rest Client
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/rest/PlanStatus.java
  core/src/main/java/org/apache/iceberg/rest/RESTFileScanTaskParser.java
  core/src/main/java/org/apache/iceberg/rest/RESTSerializers.java
  core/src/main/java/org/apache/iceberg/rest/TableScanResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/requests/FetchScanTasksRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/FetchScanTasksRequestParser.java
  core/src/main/java/org/apache/iceberg/rest/requests/PlanTableScanRequest.java
  core/src/main/java/org/apache/iceberg/rest/requests/PlanTableScanRequestParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/BaseScanTaskResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/FetchPlanningResultResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/FetchPlanningResultResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/FetchScanTasksResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/FetchScanTasksResponseParser.java
  core/src/main/java/org/apache/iceberg/rest/responses/PlanTableScanResponse.java
  core/src/main/java/org/apache/iceberg/rest/responses/PlanTableScanResponseParser.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestContentFileParser.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestFetchScanTasksRequest.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestPlanTableScanRequest.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestFetchPlanningResultResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestFetchScanTasksResponseParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestPlanTableScanResponseParser.java
Labels: core

#13830 Flink: Backport #13827 to flink 1.20 and 1.19
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestDataStatisticsCoordinator.java
Labels: flink

#13750 feat: make RESTCatalogServer catalog name configurable
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTCatalogServer.java
Labels: OPENAPI

#13871 Core: Deprecate TableMetadataParser.read with unused file io parameter
  core/src/main/java/org/apache/iceberg/BaseMetastoreCatalog.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/TestTableMetadataParser.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopTableTestBase.java
Labels: core

#13868 Spark 3.5, 3.4: Disable executor cache for delete files in RewriteDataFilesSparkAction
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
Labels: spark

#13302 Flink: Supports delete orphan files in TableMaintenance
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/DeleteOrphanFiles.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/FileNameReader.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/FileUriKeySelector.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/ListFileSystemFiles.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/ListMetadataFiles.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/MetadataTablePlanner.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/OrphanFilesDetector.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/SkipOnError.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableReader.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/MaintenanceTaskTestBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestDeleteOrphanFiles.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestListFileSystemFiles.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestListMetadataFiles.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestOrphanFilesDetector.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestSkipOnError.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTablePlanerAndReader.java
Labels: spark, core, flink

#13893 Porting custom spark manifest rewrite order to spark 3.4 and 4.0
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteManifestsSparkAction.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#13619 Spec, Core: mark 503 as non retryable error code for Update Table
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
  core/src/main/java/org/apache/iceberg/rest/ExponentialHttpRequestRetryStrategy.java
  core/src/test/java/org/apache/iceberg/rest/TestExponentialHttpRequestRetryStrategy.java
  open-api/rest-catalog-open-api.yaml
Labels: core, OPENAPI

#13897 Spark 3.4, 3.5: Fix errorprone warnings
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SupportsFunctions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RemoveDanglingDeletesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingFileRewriteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/PublishChangesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkCleanupUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/StreamingOffset.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumDeletes.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumSplits.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SupportsFunctions.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RemoveDanglingDeletesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingFileRewriteRunner.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/IcebergArrowColumnVector.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/TruncateFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/PublishChangesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkCleanupUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPartitioningAwareScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScanBuilder.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkStagedScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/StreamingOffset.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/StructInternalRow.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumDeletes.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/metrics/NumSplits.java
Labels: spark

#13795 Flink: Refactor ZkLockFactory to improve code readability and maintainability.
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/ZkLockFactory.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestJdbcLockFactory.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestLockFactoryBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestZkLockFactory.java
Labels: flink

#13899 Fix S3InputStream.readFully connection leak
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputStream.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
Labels: AWS

#13904 spec: be explict about nullability of `LoadTableResult`'s `metadata-location`
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#13902 update REST spec to clarify `AssertRefSnapshotId`'s `snapshot-id` field as required
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#13853 Docs: Add docs for Table Maintenance in Flink
  docs/docs/flink-actions.md
  docs/docs/flink-maintenance.md
  docs/mkdocs.yml
Labels: docs

#13891 Spark: (unit test) Order query result deterministically
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
Labels: spark

#13773 Docs: Add Memiiso Debezium to third party integrations
  docs/mkdocs.yml
Labels: docs

#13926 Core: Parallelize cleanFiles() in IncrementalFileCleanup
  core/src/main/java/org/apache/iceberg/IncrementalFileCleanup.java
Labels: core

#13832 Flink: Improve ConfigOption Descriptions for Flink Table Maintenance Configs.
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/FlinkMaintenanceConfig.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/LockConfig.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFilesConfig.java
Labels: flink

#13931 Docs: Add OLake to list of vendors
  site/docs/vendors.md
Labels: docs

#13445 Spark: Read/Write `UnknownType`
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/PruneColumnsWithoutReordering.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/SparkTypeToType.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/TypeToSparkType.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/data/ParquetWithSparkSchemaVisitor.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcWriter.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetWriters.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTestBase.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkRecordOrcReaderWriter.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestORCDataFrameWrite.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetDataFrameWrite.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestParquetScan.java
Labels: spark, parquet, arrow, core, data, ORC, build

#13944 Flink: Backport Improve ConfigOption Descriptions for Flink Table Maintenance Configs.
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/FlinkMaintenanceConfig.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/LockConfig.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFilesConfig.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/FlinkMaintenanceConfig.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/LockConfig.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFilesConfig.java
Labels: flink

#13505 OpenAPI: Update the range in format-version (for v3)
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#13946 Build: Release with JDK17
  deploy.gradle
Labels: INFRA, build

#13929 Docs: Add OLake (ELT)
  docs/mkdocs.yml
Labels: docs

#13923 Doc: Flink Maintenance add Delete OrphansFiles part
  docs/docs/flink-maintenance.md
Labels: docs

#13948 Build: add spark 4.0 to stage-binaries.sh
  dev/stage-binaries.sh
Labels: INFRA

#13958 Build: add gradle options --no-parallel and --no-configuration-cache to stage-binaries.sh
  dev/stage-binaries.sh
  site/docs/how-to-release.md
Labels: INFRA, docs
