Repository apache/iceberg, pull requests merged in 2025-04, with the labels that each got.

#12698 Docs: Update link for User-Defined Tag Restrictions in AWS documentation
  docs/docs/aws.md
Labels: docs

#12612 AWS: Fix Catalog URI within VendedCredentialsProvider
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/test/java/org/apache/iceberg/aws/AwsClientPropertiesTest.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestVendedCredentialsProvider.java
Labels: AWS

#12665 Core: Add MetricsReporter for SnapshotManager
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/SnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
Labels: core

#12120 Spark 3.5: Fix RewriteDataFiles with partial progress enabled and max-failed-commits larger than total-file-group
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#12697 Flink: Backport support source watermark for flink sql windows
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
Labels: flink

#12701 Spark 3.4: Fix RewriteDataFiles with partial progress enabled and max-failed-commits larger than total-file-group
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#12591 Core: Pass storage credentials from LoadTableResponse to FileIO
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  core/src/main/java/org/apache/iceberg/io/ResolvingFileIO.java
  core/src/main/java/org/apache/iceberg/io/StorageCredential.java
  core/src/main/java/org/apache/iceberg/io/SupportsStorageCredentials.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/TestCatalogUtil.java
  core/src/test/java/org/apache/iceberg/io/TestResolvingIO.java
  core/src/test/java/org/apache/iceberg/io/TestStorageCredential.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
Labels: core, AWS, GCP

#12553 AWS: Update the aws-bundle with latest dependencies
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  aws-bundle/build.gradle
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: build, AWS, KAFKACONNECT

#12637 Core, Hive: Double check commit status in case of commit conflict for NoLock
  core/src/main/java/org/apache/iceberg/BaseMetastoreOperations.java
  core/src/main/java/org/apache/iceberg/BaseMetastoreTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/HiveMetastoreExtension.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCommitLocks.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveMetastore.java
  hive-metastore/src/test/resources/hive-schema-3.1.0.derby.sql
Labels: core, hive

#12705 Spark 3.4: Fix NotSerializableException when migrating Spark tables
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
Labels: spark

#12694 Doc: Remove Warning for resolved issue #11147.
  docs/docs/spark-procedures.md
Labels: docs

#12080 Backport #11702 to FLink1.19 and 1.18
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
Labels: flink, stale

#12580 Spec: update to reflect lineage is required
  format/spec.md
Labels: Specification

#12670 Core: Enhance remove snapshots efficiency by executing them in bulk
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCommitTransactionRequestParser.java
Labels: core

#12720 Core: Update deprecation msg
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
Labels: core

#12671 AWS: Add AWS integ tests to check task and enable tests based on required environment variables
  aws/src/integration/java/org/apache/iceberg/aws/AwsIntegTestUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/TestAssumeRoleAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/TestDefaultAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbCatalog.java
  aws/src/integration/java/org/apache/iceberg/aws/dynamodb/TestDynamoDbLockManager.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogCommitFailure.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogLock.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogNamespace.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationAwsClientFactory.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationDataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/lakeformation/TestLakeFormationMetadataOperations.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/MinioUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestFlakyS3InputStream.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestMinioUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3InputStream.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/signer/S3SignerServlet.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  build.gradle
Labels: docs, build, AWS

#12596 Core, Spark: Add row lineage metadata columns, and surface them in SparkTable metadata columns
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark, core

#12713 Flink: Backport RowConverter to Flink 1.19 and 1.18
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedConverterBase.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedRow.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedConverterBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedGenericRecord.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedRow.java
Labels: flink

#12703 Flink: Fix npe in SketchUtil when numPartitions bigger than length of samples
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SketchUtil.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestSketchUtil.java
Labels: flink

#12427 Core: Lazy init workerPool in RemoveSnapshots and SnapshotProducer
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#12739 Flink: Backport Typeinfo in RowConverter to Flink 1.19 and 1.18
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
Labels: flink

#12461 HIVE-28801 Iceberg: Refactor HMS table parameter setting to be able to reuse
  hive-metastore/src/main/java/org/apache/iceberg/hive/HMSTablePropertyHelper.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveOperationsBase.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveViewOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
Labels: build, hive

#12593 Core: Enable row lineage for all v3 tables
  api/src/main/java/org/apache/iceberg/Snapshot.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestRowLineageMetadata.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponseParser.java
Labels: API, core

#12700 Doc: Remove Hive 2.x/3.x related docs in hive.md
  docs/docs/hive.md
  site/docs/multi-engine-support.md
Labels: docs

#12747 Core: Return this instead of null in enableRowLineage()
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#12742 Core: Drop invalid function comment for HTTPClient.isSuccessful
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
Labels: core

#12595 CORE: Allow HTTPClient to parse headers from properties.
  core/src/main/java/org/apache/iceberg/rest/RESTCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTUtil.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#12315 Throw on `{write.folder-storage.path,write.object-storage.path}` properties
  core/src/main/java/org/apache/iceberg/LocationProviders.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  docs/docs/aws.md
Labels: core, docs

#12763 API: Deprecate CredentialSupplier
  api/src/main/java/org/apache/iceberg/io/CredentialSupplier.java
Labels: API

#12745 Upgrades Flink Version to 1.19.2 and 1.20.1
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/util/TestFlinkPackage.java
  gradle/libs.versions.toml
Labels: flink, build

#12746 Update hive-quickstart.md
  site/docs/hive-quickstart.md
Labels: docs

#12773 Flink: fix rateLimit argument check in TableMaintenance
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/TableMaintenance.java
Labels: flink

#12776 Flink: backport fix rateLimit argument check in TableMaintenance to Flink 1.19
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/TableMaintenance.java
Labels: flink

#12764 Docs: Add Estuary to docs and vendors
  docs/mkdocs.yml
  site/docs/vendors.md
Labels: docs

#12777 Core: Update RewriteFiles tests to test against V3
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
Labels: core

#12766 Migrate Spark 3.4 ExtensionsTestBase-related tests for Partition, Schema and Branch/Tag
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTableSchema.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestComputeTableStatsProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestPublishChangesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestReplaceBranch.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTableSchema.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestBranchDDL.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestPublishChangesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRegisterTableProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestTagDDL.java
Labels: spark

#12755 Core: Use OutputFile.location(), InputFile.location() in Error Messages
  core/src/main/java/org/apache/iceberg/ManifestListWriter.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/avro/AvroIterable.java
  core/src/main/java/org/apache/iceberg/view/ViewMetadataParser.java
  orc/src/main/java/org/apache/iceberg/orc/OrcIterable.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetIO.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
Labels: parquet, core, ORC

#12793 Flink: Move unlock from MemoryLock open to TestCase Before
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#12795 Flink: backport #12793 to Flink 1.19
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#12391 Build: Bump junit to 5.12.2
  build.gradle
  gradle/libs.versions.toml
  spark/v3.5/build.gradle
Labels: spark, build

#12794 Flink: fix unlock when previous job orphaned lock
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerManager.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#12801 Flink: backport fix TriggerManager to unlock task execution when previous job left an orphaned lock for Flink 1.19
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TriggerManager.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#12800 Flink: fix parameters for test recovery
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTriggerManager.java
Labels: flink

#12796 Spark 3.4: Migrate integration test to JUnit5
  spark/v3.4/build.gradle
  spark/v3.4/spark-runtime/src/integration/java/org/apache/iceberg/spark/SmokeTest.java
Labels: spark, build

#12768 CatalogTests: Fix listNamespaces Check, Avoid Reserved Keyword, Allow Configurable Location
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core

#12726 Update the docs for working with Flink and REST catalog
  docs/docs/flink-connector.md
  docs/docs/flink.md
Labels: docs

#12807 Migrate Spark 3.4 ExtensionsTestBase-related tests for Snapshot manipulation, ChangeLogView and Distribution/Ordering
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v3.4/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/SetWriteDistributionAndOrderingExec.scala
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAncestorsOfProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestConflictValidation.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCreateChangelogViewProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetaColumnProjectionWithStageScan.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRequiredDistributionAndOrdering.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestStoragePartitionedJoinsInRowLevelOperations.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownDQL.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSystemFunctionPushDownInRowLevelOperations.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
  spark/v3.4/spark/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/SetWriteDistributionAndOrdering.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestChangelogTable.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetWriteDistributionAndOrdering.java
Labels: spark

#12805 Core: Fix deprecated FileSystem.isDirectory warning and remove redundant code
  core/src/test/java/org/apache/iceberg/TestBaseIncrementalAppendScan.java
  core/src/test/java/org/apache/iceberg/TestMergeAppend.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecBuilderCaseSensitivity.java
  core/src/test/java/org/apache/iceberg/TestPartitionSpecInfo.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotLoading.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopFileIOTest.java
  core/src/test/java/org/apache/iceberg/hadoop/HadoopTableTestBase.java
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/util/TestSnapshotUtil.java
Labels: core

#12812 Core: Test loading table/view with non-existing namespace
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
Labels: core

#12813 Spark 3.4: Migrate ExtensionsTestBase-related remaining tests
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkExtensionsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSparkExecutorCache.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestViews.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
Labels: spark

#12811 [1.8.x] AWS: Don't fetch credential from endpoint if properties contain a valid credential (#12504)
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestVendedCredentialsProvider.java
Labels: AWS

#12820 Docs: Add the recommended style for ArrayAssertions
  site/docs/contribute.md
Labels: docs

#12783 Spark 3.5: Use ProcedureInput for SnapshotTableProcedure.
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
Labels: spark

#12782 Spark 3.5: Use ProcedureInput for MigrateTableProcedure.
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
Labels: spark

#12831 Fix versions in LICENSE and NOTICE
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  azure-bundle/LICENSE
  azure-bundle/NOTICE
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: AWS, AZURE, KAFKACONNECT

#12834 [1.8.x] Fix versions in LICENSE and NOTICE files
  azure-bundle/LICENSE
  azure-bundle/NOTICE
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/main/LICENSE
Labels: AZURE, KAFKACONNECT

#12837 Spark3.4: Backport ProcedureInput for MigrateTableProcedure And SnapshotTableProcedure (#12782 #12783)
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
Labels: spark

#12672 Core: Support first-row-id for manifests and manifest lists
  api/src/main/java/org/apache/iceberg/ContentFile.java
  api/src/main/java/org/apache/iceberg/DataFile.java
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  core/src/jmh/java/org/apache/iceberg/ManifestReadBenchmark.java
  core/src/jmh/java/org/apache/iceberg/ManifestWriteBenchmark.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/ContentFileParser.java
  core/src/main/java/org/apache/iceberg/DataFiles.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/GenericDataFile.java
  core/src/main/java/org/apache/iceberg/GenericDeleteFile.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/InheritableMetadataFactory.java
  core/src/main/java/org/apache/iceberg/ManifestFileParser.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/ManifestListWriter.java
  core/src/main/java/org/apache/iceberg/ManifestLists.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/main/java/org/apache/iceberg/util/JsonUtil.java
  core/src/test/java/org/apache/iceberg/TestFilesTableTaskParser.java
  core/src/test/java/org/apache/iceberg/TestManifestEncryption.java
  core/src/test/java/org/apache/iceberg/TestManifestFileParser.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestReader.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  core/src/test/java/org/apache/iceberg/TestRowLineageAssignment.java
  core/src/test/java/org/apache/iceberg/TestRowLineageMetadata.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponseParser.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
Labels: API, spark, core

#12842 Site: Remove Iceberg Summit Link from the Homepage
  site/overrides/home.html
Labels: docs

#12748 Core: use ALL_VERSIONS constant in TestBase
  api/src/test/java/org/apache/iceberg/TestHelpers.java
  core/src/test/java/org/apache/iceberg/TestBase.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRowLineageMetadata.java
Labels: API, core

#12781 Spec: Update row lineage requirements for upgrading tables
  format/spec.md
Labels: Specification

#12839 Flink: Add StreamingStartingStrategy.INCREMENTAL_FROM_LATEST_SNAPSHOT_EXCLUSIVE
  docs/docs/flink-configuration.md
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/StreamingStartingStrategy.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink, docs

#12836 Spark: Add _row_id and _last_updated_sequence_number readers
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/util/PartitionUtil.java
  core/src/test/java/org/apache/iceberg/TestRowLineageAssignment.java
  core/src/test/java/org/apache/iceberg/data/DataTest.java
  data/src/test/java/org/apache/iceberg/data/DataTestHelpers.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalReader.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/SparkParquetReaders.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkBatch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTest.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/GenericsHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
Labels: spark, parquet, core, data

#12658 spec: Variant lower/upper bounds
  format/spec.md
Labels: Specification

#12835 API: Use normalized JSON path to identify Variant fields
  api/src/main/java/org/apache/iceberg/expressions/BoundExtract.java
  api/src/main/java/org/apache/iceberg/expressions/InclusiveMetricsEvaluator.java
  api/src/main/java/org/apache/iceberg/expressions/PathUtil.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionBinding.java
  api/src/test/java/org/apache/iceberg/expressions/TestPathUtil.java
  core/src/test/java/org/apache/iceberg/expressions/TestInclusiveMetricsEvaluatorWithExtract.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantUtil.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantMetrics.java
Labels: API, parquet, core

#12843 Core: Add test cases for row lineage metadata
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/Delegates.java
  core/src/main/java/org/apache/iceberg/FastAppend.java
  core/src/main/java/org/apache/iceberg/GenericManifestEntry.java
  core/src/main/java/org/apache/iceberg/ManifestFiles.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/V3Metadata.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestRowLineageAssignment.java
Labels: core

#12784 Spark 3.5: Add Parallelism Parameter Validation to AddFilesProcedure.
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#12644 Spec: Allow the use of `source-id` in V3
  format/spec.md
Labels: Specification

#12822 Core: Use assumeThat instead of assumeTrue
  .baseline/checkstyle/checkstyle.xml
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/util/TestEnvironmentUtil.java
Labels: core, INFRA

#12853 Spark3.4: Migrate tests in spark, extensions and functions
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TaskCheckHelper.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestDataFileSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestHadoopMetricsContextSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestManifestFileSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/TestTableSerialization.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSnapshotTableAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/functions/TestSparkFunctions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TaskCheckHelper.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestFileIOSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/TestScanTaskSerialization.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputeTableStatsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestCreateActions.java
Labels: spark

#12867 API: Don't check underlying error msg on AIOOBE
  api/src/test/java/org/apache/iceberg/variants/TestSerializedMetadata.java
Labels: API

#12869 Add `format/` to site-ci
  .github/workflows/site-ci.yml
Labels: INFRA

#12860 update links to daft docs
  docs/docs/daft.md
Labels: docs

#12872 Spark3.4: BackPort Add Parallelism Parameter Validation to AddFilesProcedure.
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#12882 Core: Fix Kryo ser/de with StorageCredential config
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  core/src/main/java/org/apache/iceberg/io/StorageCredential.java
  core/src/test/java/org/apache/iceberg/io/TestStorageCredential.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
Labels: core, AWS, GCP

#12682 Add timestamp_ns, time and UUID types for Variant
  api/src/main/java/org/apache/iceberg/variants/LogicalType.java
  api/src/main/java/org/apache/iceberg/variants/PhysicalType.java
  api/src/main/java/org/apache/iceberg/variants/Primitives.java
  api/src/main/java/org/apache/iceberg/variants/SerializedPrimitive.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedPrimitives.java
  core/src/main/java/org/apache/iceberg/variants/PrimitiveWrapper.java
  core/src/main/java/org/apache/iceberg/variants/ShreddedObject.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/RandomVariants.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/VariantReaderBuilder.java
  parquet/src/main/java/org/apache/iceberg/parquet/VariantWriterBuilder.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantMetrics.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantReaders.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantWriters.java
Labels: API, parquet, core

#12841 Spec: Avoid struct field conflicts in default values
  format/spec.md
Labels: core, Specification

#12821 Core: Ensure reactivated view version uses correct timestamp
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadataParser.java
Labels: core

#12512 Parquet: Add variant array reader in Parquet
  core/src/main/java/org/apache/iceberg/variants/ValueArray.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/variants/TestShreddedObject.java
  core/src/test/java/org/apache/iceberg/variants/TestValueArray.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantVisitor.java
  parquet/src/main/java/org/apache/iceberg/parquet/VariantReaderBuilder.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantReaders.java
Labels: parquet, core

#12898 Build: upgrade to Gradle 8.14
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#12907 Spark: Use newArrayListWithExpectedSize instead of newArrayList for NDVSketchUtil
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/NDVSketchUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/NDVSketchUtil.java
Labels: spark

#12913 Infra: Add 1.9.0 to issue template
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#12714 Core: Increase wait time of flaky test
  core/src/test/java/org/apache/iceberg/hadoop/TestHadoopCommits.java
Labels: core

#12899 Flink: Backport add StreamingStartingStrategy.INCREMENTAL_FROM_LATEST_SNAPSHOT_EXCLUSIVE to Flink 1.19
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/StreamingStartingStrategy.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImpl.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/enumerator/TestContinuousSplitPlannerImplStartStrategy.java
Labels: flink

#12921 Docs: Site updates for 1.9.0
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#12736 Spark 3.5: Update MERGE and UPDATE for row lineage
  core/src/main/java/org/apache/iceberg/MetadataColumns.java
  core/src/main/java/org/apache/iceberg/TableUtil.java
  spark/v3.5/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteMergeIntoTableForRowLineage.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteOperationForRowLineage.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/RewriteUpdateTableForRowLineage.scala
  spark/v3.5/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/optimizer/RemoveRowLineageOutputFromOriginalTable.scala
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteWithLineage.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadWithLineage.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRowLevelOperationsWithLineage.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteOperation.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteScan.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaOperation.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark, parquet, core

#12900 Flink: Add lockFactory open in LockRemover
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockRemover.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockRemover.java
Labels: flink

#12847 Parquet variant array write
  api/src/main/java/org/apache/iceberg/variants/SerializedArray.java
  api/src/main/java/org/apache/iceberg/variants/VariantArray.java
  api/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
  core/src/main/java/org/apache/iceberg/variants/ValueArray.java
  core/src/test/java/org/apache/iceberg/RandomVariants.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantWriters.java
  parquet/src/main/java/org/apache/iceberg/parquet/VariantWriterBuilder.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantWriters.java
Labels: API, parquet, core

#12934 Spark 3.4: Migrate tests in sql
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestNamespaceSQL.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAggregatePushDown.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestCreateTableAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDeleteFrom.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestDropTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestNamespaceSQL.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestRefreshTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: spark

#12929 Flink: Backport Add lockFactory open in LockRemover for table maintenance to Flink 1.20 and 1.19
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockRemover.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockRemover.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockRemover.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockRemover.java
Labels: flink

#12932 Docs: Add DuckDB
  docs/mkdocs.yml
Labels: docs

#12941 Spark 3.4: Migrate Spark Partition Transform tests
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkDaysFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkHoursFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkMonthsFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkTruncateFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkYearsFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestTimestampWithoutZone.java
Labels: spark

#12939 Flink: Change Preconditions import from flink util to guava
  .baseline/checkstyle/checkstyle.xml
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/CachingTableSupplier.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/SinkUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/assigner/GetSplitResult.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/CachingTableSupplier.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/SinkUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/assigner/GetSplitResult.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/CachingTableSupplier.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/SinkUtil.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/DataStatisticsCoordinator.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/shuffle/SortKeySerializer.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/assigner/GetSplitResult.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/enumerator/ContinuousSplitPlannerImpl.java
Labels: flink, INFRA
