Repository apache/iceberg, pull requests merged in 2025-05, with the labels that each got.

#12376 OpenAPI: Use more clear language in recommending error responses
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12863 Core: Broaden exception handling in writer clean up logic
  core/src/main/java/org/apache/iceberg/io/BaseTaskWriter.java
  core/src/main/java/org/apache/iceberg/io/RollingFileWriter.java
Labels: core

#12948 Spec: Remove misleading statement about source-ids
  format/spec.md
Labels: Specification

#12949 API, Build: Explicitly pass version into Git Properties Plugin
  api/src/test/java/org/apache/iceberg/TestIcebergBuild.java
  build.gradle
Labels: API, build

#12945 Spark 3.4: Migrate other sql tests
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/PartitionedWritesTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWrites.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesAsSelect.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToBranch.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToWapBranch.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWrites.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWritesToBranch.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/UnpartitionedWritesTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/PartitionedWritesTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesAsSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestPartitionedWritesToWapBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestUnpartitionedWritesToBranch.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/UnpartitionedWritesTestBase.java
Labels: spark

#12894 Docs: Incorrect property in CREATE CATALOG for Flink
  docs/docs/aws.md
Labels: docs

#12212 Spark: Add flag to handle missing files for `importSparkTable`
  data/src/test/java/org/apache/iceberg/data/TestTableMigrationUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
Labels: spark, data

#12162 Spec additions for encryption
  format/spec.md
Labels: Specification

#12098 Spec: Update partition stats for V3
  format/spec.md
Labels: Specification

#12972 AWS, GCP: Deprecate passing FileIO properties through constructor
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOIntegration.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3MultipartUpload.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
Labels: AWS, GCP

#12406 Enable HTTP proxy support for the client used by REST Catalog
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#12974 Build: Bump Comet from 0.5.0 to 0.8.1
  gradle/libs.versions.toml
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/CometColumnReader.java
  spark/v3.5/build.gradle
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/CometColumnReader.java
Labels: spark, build

#12887 Core: Disallow creation of invalid PartitionSpec
  api/src/main/java/org/apache/iceberg/PartitionSpec.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
Labels: API

#12986 REST spec: Remove update to enable row lineage
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12982 Spec: Update v3 summary, add row lineage
  format/spec.md
Labels: Specification

#12989 Docs: Mark Spark 3.3 as End-of-Life since 1.9
  site/docs/multi-engine-support.md
  site/docs/releases.md
Labels: docs

#12980 Spark 3.4: Update RewriteDataFilesSparkAction and RewritePositionDeleteFilesSparkAction to use the new APIs
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewritePositionDeleteFiles.java
  spark/v3.4/spark/src/jmh/java/org/apache/iceberg/spark/action/IcebergSortCompactionBenchmark.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkBinPackFileRewriteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkDataFileRewriteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkRewritePositionDeleteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkRewriteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingDataRewritePlanner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkShufflingFileRewriteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkSortFileRewriteRunner.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkZOrderFileRewriteRunner.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriteRunners.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkShufflingDataRewritePlanner.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
Labels: spark

#12930 Build, Core: Let RevAPI compare against 1.9.0 / Fix API breakage around StorageCredential
  build.gradle
  core/src/main/java/org/apache/iceberg/io/ImmutableStorageCredential.java
  core/src/main/java/org/apache/iceberg/io/StorageCredential.java
Labels: core, build

#12881 GCP: Support multiple storage credential prefixes
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/GCPProperties.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSInputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSOutputFile.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/PrefixedStorage.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/TestPrefixedStorage.java
Labels: core, build, AWS, GCP

#12909 AWS, Core, Flink, Parquet: Remove deprecations for 1.10.0
  .palantir/revapi.yml
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4Signer.java
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/PartitionStats.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/main/java/org/apache/iceberg/actions/FileRewriter.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedDataRewriter.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedFileRewriter.java
  core/src/main/java/org/apache/iceberg/actions/SizeBasedPositionDeletesRewriter.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
  core/src/test/java/org/apache/iceberg/rest/requests/TestCommitTransactionRequestParser.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergFilesCommitter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalReader.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriters.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroReader.java
Labels: spark, parquet, core, flink, AWS

#12998 Spark 3.4: Migrate source and spark tests
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkCachedTableCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestMigrateTableAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHiveTables.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTablesWithPartitionEvolution.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestFileRewriteCoordinator.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCachedTableCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkCatalogOperations.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkWriteConf.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestDataSourceOptions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceHadoopTables.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSourceTablesBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestMetadataTableReadableMetrics.java
Labels: spark

#13007 Spark 3.4: Migrate the remaining `SparkCatalogTestBase` related tests and remove `SparkCatalogTestBase`
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkCatalogTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestCompressionSettings.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestRuntimeFiltering.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkStagedScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkStagedScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkStagedScan.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
Labels: spark

#13002 Add databend & iceberg docuement url
  docs/mkdocs.yml
Labels: docs

#13020 Update ADLS implementation status
  site/docs/status.md
Labels: docs

#12956 Spec: Clarify behavior of special geo objects for lower/upper bounds
  format/spec.md
Labels: Specification

#13031 Spark: Migrate Spark 3.4 SparkTestBase related tests including refactoring Spark 3.5 tests
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestChangelogReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestChangelogReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIdentityPartitionData.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestTimestampWithoutZone.java
Labels: spark

#12931 Docs: Add Spark SQL Configurations
  docs/docs/spark-configuration.md
Labels: docs

#13001 Parquet: Fix to ensure that last updated sequence numbers for V2 and earlier tables are null
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkMetadataColumns.java
Labels: spark, parquet

#12987 REST spec: Add encryption keys
  open-api/rest-catalog-open-api.py
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12771 Add table property to disable/enable parquet column statistics #12770
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/main/java/org/apache/iceberg/TableProperties.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  docs/docs/configuration.md
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquet.java
Labels: spark, parquet, core, docs

#12880 Docs: Fix links to javadoc
  docs/docs/api.md
  docs/docs/hive.md
  docs/docs/java-api-quickstart.md
Labels: docs

#13017 OpenAPI: Add retries when finding free port for REST server
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RESTServerExtension.java
Labels: OPENAPI

#13038 Spark 3.4: Migrate tests in spark.data including refactoring Spark 3.5 tests
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/GenericsHelpers.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestOrcWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestParquetAvroWriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroEnums.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkDateTimes.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReadMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReadMetadataColumns.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetDictionaryFallbackToPlainEncodingVectorizedReads.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/GenericsHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestOrcWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkDateTimes.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetWriter.java
Labels: spark

#12808 Catalog: Add BigQuery Metastore Catalog Support
  .github/labeler.yml
  bigquery/src/main/java/org/apache/iceberg/gcp/bigquery/BigQueryMetastoreCatalog.java
  bigquery/src/main/java/org/apache/iceberg/gcp/bigquery/BigQueryMetastoreClient.java
  bigquery/src/main/java/org/apache/iceberg/gcp/bigquery/BigQueryMetastoreClientImpl.java
  bigquery/src/main/java/org/apache/iceberg/gcp/bigquery/BigQueryMetastoreUtils.java
  bigquery/src/main/java/org/apache/iceberg/gcp/bigquery/BigQueryTableOperations.java
  bigquery/src/test/java/org/apache/iceberg/gcp/bigquery/FakeBigQueryMetastoreClient.java
  bigquery/src/test/java/org/apache/iceberg/gcp/bigquery/TestBigQueryCatalog.java
  bigquery/src/test/java/org/apache/iceberg/gcp/bigquery/TestBigQueryTableOperations.java
  build.gradle
  core/src/main/java/org/apache/iceberg/CatalogUtil.java
  settings.gradle
Labels: core, INFRA, build

#13040 Spark 3.4: Migrate tests in spark.source including refactoring Spark 3.5 tests
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestBaseReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAggregates.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReaderWithBloomFilter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStreamingOffset.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkAggregates.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: spark, build

#12983 Spec: Note position delete files are only deprecated in v3
  format/spec.md
Labels: Specification

#12901 Nessie: Throw a NoSuchNamespaceException when listing a non-existing namespace
  nessie/src/main/java/org/apache/iceberg/nessie/NessieIcebergClient.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestBranchVisibility.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestMultipleClients.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieIcebergClient.java
Labels: core, NESSIE

#13046 Docs: Add Delete Granularity option to write configuration
  docs/docs/configuration.md
  docs/docs/spark-configuration.md
Labels: docs

#13044 Spark 3.4: Migrate other JUnit 4 dependant tests to JUnit 5
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestChangelogIterator.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkSchemaUtil.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkV2Filters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkValueConverter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestReadProjection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkFilters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkSchemaUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkTableUtil.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkV2Filters.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestReadProjection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
Labels: spark

#13051 Arrow: Avoid deprecated ArrowType.Decimal constructor
  arrow/src/main/java/org/apache/iceberg/arrow/ArrowSchemaUtil.java
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
Labels: arrow

#12996 Flink: Add DynamicRecord / DynamicRecordInternal / DynamicRecordInternalSerializer
  flink/v2.0/build.gradle
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecord.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternal.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializer.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalType.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableSerializerCache.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializerTestBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicRecordInternalSerializerWriteSchema.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicRecordInternalSerializerWriteSchemaId.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableSerializerCache.java
Labels: flink, build

#13053 Common: Reduce visibility of deprecated method since 1.7.0
  .palantir/revapi.yml
  common/src/main/java/org/apache/iceberg/common/DynConstructors.java
  common/src/main/java/org/apache/iceberg/common/DynMethods.java
Labels: common

#12938 Build: Remove JUnit4 dependency
  .baseline/checkstyle/checkstyle.xml
  build.gradle
  data/src/test/java/org/apache/iceberg/data/GenericAppenderHelper.java
  flink/v1.19/build.gradle
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  flink/v1.20/build.gradle
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  flink/v2.0/build.gradle
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  gradle/libs.versions.toml
  spark/v3.4/build.gradle
  spark/v3.4/spark/src/test/java/org/apache/iceberg/rest/RESTServerRule.java
  spark/v3.5/build.gradle
  spark/v4.0/build.gradle
Labels: spark, data, flink, INFRA, build

#12810 Flink: Support zookeeper lock in TableMaintenance
  .baseline/checkstyle/checkstyle-suppressions.xml
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/ZkLockFactory.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestZkLockFactory.java
Labels: flink, INFRA

#12886 [SPARK] Fix add_files type conversion exception and incorrect partition value when handling null partitions
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
Labels: spark

#13071 CatalogTests: Fixing Table Location with baseTableLocation function
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#13063 Flink: Backport support zookeeper lock in TableMaintenance to Flink 1.19 and 2.0
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/ZkLockFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestZkLockFactory.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/ZkLockFactory.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestZkLockFactory.java
Labels: flink

#13041 Kafka Connect: Add BigQuery Metastore catalog
  docs/docs/kafka-connect.md
  kafka-connect/build.gradle
Labels: docs, build, KAFKACONNECT

#13069 Flink: Fix watermark not passing in TaskResultAggregator
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TaskResultAggregator.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTaskResultAggregator.java
Labels: flink

#12824 [Core] Add max files rewrite option for RewriteAction
  core/src/main/java/org/apache/iceberg/actions/BinPackRewriteFilePlanner.java
  core/src/test/java/org/apache/iceberg/actions/TestBinPackRewriteFilePlanner.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFiles.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkShufflingDataRewritePlanner.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkShufflingDataRewritePlanner.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkShufflingDataRewritePlanner.java
Labels: spark, core, flink

#13042 Spec: Clarify writer requirements to prevent orphan DVs
  format/spec.md
Labels: Specification

#13083 API, Tests: Reorder as calls
  api/src/test/java/org/apache/iceberg/TestIcebergBuild.java
Labels: API

#12855 Core: Deep copy Record values for equality deletes
  core/src/main/java/org/apache/iceberg/data/GenericRecord.java
  data/src/test/java/org/apache/iceberg/data/DeleteReadTests.java
  data/src/test/java/org/apache/iceberg/data/TestGenericReaderDeletes.java
  data/src/test/java/org/apache/iceberg/data/TestGenericRecord.java
Labels: core, data

#13096 Spark 4.0: Reapply changes removed during the Spark 4.0 reversion
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestRequiredDistributionAndOrdering.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkCatalogHadoopOverrides.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkStagedScan.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkTable.java
Labels: spark

#12260 Spark 3.5: Structured Streaming read limit support follow-up
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#13114 Parquet: Fix redundant type conversion in parquet schema
  parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java
Labels: parquet

#13099 Spark 3.4: Structured Streaming read limit support follow-up
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#13100 core: Send single snapshot to remove rather than in bulk
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core, build

#13110 Build: increase gradle jvm heap size from 1 GB to 1.5 GB.
  gradle.properties
Labels: build

#13095 Spark 4.0: Structured Streaming read limit support follow-up
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#13108 CORE: [PARQUET] Log corrupted parquet filenames to trace bad nodes that may have written them.
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetReader.java
Labels: parquet

#12799 AWS: Support multiple storage credential prefixes
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/PrefixedS3Client.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestPrefixedS3Client.java
Labels: AWS

#12598 Spec: Add details on GZIP compressed metadata files
  format/spec.md
Labels: Specification

#13021 Flink 2.0: Remove the JUnit4 dependency
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceFailover.java
Labels: data, flink, build

#13138 Docs: Update spec version for write modes
  docs/docs/configuration.md
Labels: docs

#13086 Flink: Fix npe in TaskResultAggregator when job recovery
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TaskResultAggregator.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTaskResultAggregator.java
Labels: flink

#13121 Spark4.0: RC -> official release
  build.gradle
  gradle.properties
Labels: build

#13140 Flink: Backport fix npe in TaskResultAggregator when job recovery to Flink 1.19 and 1.20
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TaskResultAggregator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTaskResultAggregator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TaskResultAggregator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestTaskResultAggregator.java
Labels: flink

#12891 AWS: Close the S3SeekableInputStreamFactory before removing from cache
  aws/src/main/java/org/apache/iceberg/aws/s3/AnalyticsAcceleratorUtil.java
Labels: AWS

#13128 Docs: add Tinybird to the list of vendors and blog posts
  docs/mkdocs.yml
  site/docs/blogs.md
  site/docs/vendors.md
Labels: docs

#13168 Spark 3.4: streaming-skip-overwrite-snapshots fix
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#13177 Infra: Set 1.9.1 to Latest Release
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  doap.rdf
Labels: INFRA

#13176 Site: Updates for 1.9.1 Release
  site/docs/releases.md
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#13163 Core: Fix incremental compute of partition stats with COW deletes
  core/src/main/java/org/apache/iceberg/PartitionStatsHandler.java
  core/src/test/java/org/apache/iceberg/PartitionStatsHandlerTestBase.java
  orc/src/test/java/org/apache/iceberg/TestOrcPartitionStatsHandler.java
Labels: core, ORC

#13151 Add Variant toString for time/nano-timestamps type
  api/src/main/java/org/apache/iceberg/variants/VariantPrimitive.java
Labels: API

#13142 Spark 3.5: Update to Spark 3.5.6
  gradle/libs.versions.toml
Labels: build
