Repository apache/iceberg, pull requests merged in 2025-03, with the labels that each got.

#12421 spec: fix the wrong example in Geo Types
  format/spec.md
Labels: Specification

#12425 Docs: Fix link of ndv in spark-procedures.md
  docs/docs/spark-procedures.md
Labels: docs

#12429 Build: Ignore README.md/LICENSE/NOTICE in all paths on CI
  .github/workflows/delta-conversion-ci.yml
  .github/workflows/flink-ci.yml
  .github/workflows/hive-ci.yml
  .github/workflows/java-ci.yml
  .github/workflows/kafka-connect-ci.yml
  .github/workflows/spark-ci.yml
Labels: INFRA

#12426 Fix typo in delete statement: change database name from "dbl" to "db" in spark-writes.md
  docs/docs/spark-writes.md
Labels: docs

#12400 [1.7.x] Fix Kafka-connect `LICENSE` and `NOTICE`
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/main/LICENSE
Labels: KAFKACONNECT

#12182 Docs: Deprecate data_file.distinct_counts in v3
  format/spec.md
Labels: Specification

#12089 Core: Change RemoveSnapshots to remove unused schemas
  core/src/main/java/org/apache/iceberg/MetadataUpdate.java
  core/src/main/java/org/apache/iceberg/MetadataUpdateParser.java
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/UpdateRequirements.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/TestUpdateRequirements.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
Labels: core

#12238 Core: Add Variant logical type for Avro
  core/src/main/java/org/apache/iceberg/avro/ApplyNameMapping.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/avro/AvroCustomOrderSchemaVisitor.java
  core/src/main/java/org/apache/iceberg/avro/AvroEncoderUtil.java
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaVisitor.java
  core/src/main/java/org/apache/iceberg/avro/BuildAvroProjection.java
  core/src/main/java/org/apache/iceberg/avro/HasIds.java
  core/src/main/java/org/apache/iceberg/avro/MissingIds.java
  core/src/main/java/org/apache/iceberg/avro/PruneColumns.java
  core/src/main/java/org/apache/iceberg/avro/RemoveIds.java
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  core/src/main/java/org/apache/iceberg/avro/TypeToSchema.java
  core/src/main/java/org/apache/iceberg/avro/VariantLogicalType.java
  core/src/test/java/org/apache/iceberg/avro/AvroTestHelpers.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroNameMapping.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroSchemaProjection.java
  core/src/test/java/org/apache/iceberg/avro/TestHasIds.java
  core/src/test/java/org/apache/iceberg/avro/TestPruneColumns.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: parquet, core

#12327 Spark: Infer partition spec in ADD_FILES procedure for FileTables than taking latest table spec
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAddFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
Labels: spark

#12317 Wrap variant in PrimitiveHoder so serialization can result same instance
  api/src/main/java/org/apache/iceberg/types/PrimitiveLikeHolder.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
Labels: API

#12401 Core: Ensure current and newly added view versions are retained in ViewMetadata build
  core/src/main/java/org/apache/iceberg/view/ViewMetadata.java
  core/src/test/java/org/apache/iceberg/view/TestViewMetadata.java
Labels: core

#12199 support create table like in flink catalog
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkCreateTableOptions.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
Labels: flink

#12335 Core: Write `null` for `current-snapshot-id` for V3+
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/test/java/org/apache/iceberg/rest/responses/TestLoadTableResponseParser.java
Labels: core

#12334 Spec: Add implementation note on `current-snapshot-id`
  format/spec.md
Labels: Specification

#12464 Data: Expose snapshot-id instead of branch for computing partition stats
  data/src/main/java/org/apache/iceberg/data/PartitionStatsHandler.java
  data/src/test/java/org/apache/iceberg/data/TestPartitionStatsHandler.java
Labels: data

#12463 Parquet: Support unknown and timestamp(9) in generics and internal model
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueReaders.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeToMessageType.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestInternalParquet.java
Labels: parquet, data

#12462 Core: Provide access to format-version of metadata table
  core/src/main/java/org/apache/iceberg/SerializableTable.java
  core/src/main/java/org/apache/iceberg/TableUtil.java
  core/src/test/java/org/apache/iceberg/TestTableUtil.java
  core/src/test/java/org/apache/iceberg/hadoop/TestTableSerialization.java
Labels: core

#12480 Docs: fix typo in rest-catalog-open-api.yaml.
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12489 Build: Rename versions.spark.hive3* to versions.spark3*
  build.gradle
  gradle/libs.versions.toml
  spark/v3.4/build.gradle
  spark/v3.5/build.gradle
Labels: spark, build

#12366 Core: Apply correct metric configs in GenericAppenderFactory
  data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java
  data/src/test/java/org/apache/iceberg/TestGenericAppenderFactory.java
Labels: spark, data, flink

#12468 Adds AWS to vendors page
  site/docs/vendors.md
Labels: docs

#12250 Spark: Rewrite V2 deletes to V3 DVs
  core/src/main/java/org/apache/iceberg/actions/RewritePositionDeletesGroup.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/PositionDeletesRowReader.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeletesRewrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPositionDeletesTable.java
Labels: spark, core

#12481 Docs: Update Iceberg talks with recent Iceberg meetup sessions
  site/docs/talks.md
Labels: docs

#12504 AWS: Don't fetch credential from endpoint if properties contain a valid credential
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestVendedCredentialsProvider.java
Labels: AWS

#12515 [1.7.x] AWS: Don't fetch credential from endpoint if properties contain a valid credential (#12504)
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestVendedCredentialsProvider.java
Labels: AWS

#12503 AWS: Update S3 async client configurations and docs for analytics-accelerator-s3
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIOProperties.java
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
  docs/docs/aws.md
Labels: docs, AWS

#12519 Make reporter() method public so that it can be accessed by Trino for BaseTable creation
  core/src/main/java/org/apache/iceberg/BaseTable.java
Labels: core

#12522 Core: Fix support for GenericManifestFile index projection
  core/src/main/java/org/apache/iceberg/GenericManifestFile.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
Labels: core

#11646 Core: Set missing table-default property in RESTSessionCatalog
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcCatalogWithV1Schema.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieCatalog.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RCKUtils.java
Labels: core, docs, hive, NESSIE, OPENAPI

#12520 Core: Fix default and initial value handling on table creation
  api/src/main/java/org/apache/iceberg/types/AssignFreshIds.java
  api/src/main/java/org/apache/iceberg/types/AssignIds.java
  api/src/main/java/org/apache/iceberg/types/ReassignDoc.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
Labels: API, spark, core

#12524 Core: Don't expose InMemoryViewOperations and RESTViewBuilder outside their visibility scope
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/inmemory/InMemoryCatalog.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
Labels: core

#11780 Kafka Connect: Add the configuration option to provide a transactional id prefix to use
  docs/docs/kafka-connect.md
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkConfig.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/Channel.java
Labels: docs, KAFKACONNECT

#12372 Kafka Connect: Handling no coordinator and data loss in ICR mode
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/Committer.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/IcebergSinkTask.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/CommitterImpl.java
  kafka-connect/kafka-connect/src/main/java/org/apache/iceberg/connect/channel/KafkaUtils.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/MockIcebergSinkTask.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/channel/ChannelTestBase.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/channel/CommitterImplTest.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/channel/CoordinatorTest.java
Labels: KAFKACONNECT

#12470 Flink 1.20: Support Avro and Parquet timestamp(9), unknown, and defaults
  api/src/test/java/org/apache/iceberg/util/RandomUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkRowData.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/TypeToFlinkType.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkPlannedAvroReader.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueReaders.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/ParquetWithFlinkSchemaVisitor.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/RowDataConverter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroPlannedReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
Labels: API, flink

#12532 Flink 1.18, 1.19: Implement timestamp(9), unknown, and defaults
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkRowData.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/TypeToFlinkType.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroWriter.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkPlannedAvroReader.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueReaders.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/ParquetWithFlinkSchemaVisitor.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/RowDataConverter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroPlannedReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkRowData.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/TypeToFlinkType.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkAvroWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetReaders.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkPlannedAvroReader.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueReaders.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkValueWriters.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/ParquetWithFlinkSchemaVisitor.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/RowDataUtil.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/RowDataConverter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/AbstractTestFlinkAvroReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroPlannedReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
Labels: flink

#12546 Spark: Call configureTable in ScanTestBase to ensure proper table configuration
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
Labels: spark

#12197 AWS, Core, GCP: Auth Manager API enablement
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4Signer.java
  aws/src/main/java/org/apache/iceberg/aws/s3/VendedCredentialsProvider.java
  aws/src/main/java/org/apache/iceberg/aws/s3/signer/S3V4RestSignerClient.java
  aws/src/test/java/org/apache/iceberg/aws/TestRESTSigV4Signer.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  aws/src/test/java/org/apache/iceberg/aws/s3/signer/TestS3V4RestSignerClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/rest/auth/AuthManager.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Manager.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/auth/TestOAuth2Manager.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandler.java
Labels: core, AWS, GCP

#12540 Core: fix "Unclosed S3FileIO" warning in JdbcCatalog
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
Labels: core

#12552 Migrate Spark 3.4 TestBase related tests in spark and actions
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSpark3Util.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveDanglingDeleteAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/TestSparkSessionCatalog.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
Labels: spark

#12531 API: Implement Variant#toString
  api/src/main/java/org/apache/iceberg/variants/Variant.java
  api/src/main/java/org/apache/iceberg/variants/VariantData.java
Labels: API

#12457 Avro: Add variant readers and writers
  api/src/main/java/org/apache/iceberg/variants/Serialized.java
  api/src/main/java/org/apache/iceberg/variants/VariantMetadata.java
  core/src/main/java/org/apache/iceberg/avro/Avro.java
  core/src/main/java/org/apache/iceberg/avro/AvroWithPartnerVisitor.java
  core/src/main/java/org/apache/iceberg/avro/BaseWriteBuilder.java
  core/src/main/java/org/apache/iceberg/avro/GenericAvroReader.java
  core/src/main/java/org/apache/iceberg/avro/InternalReader.java
  core/src/main/java/org/apache/iceberg/avro/ValueReaders.java
  core/src/main/java/org/apache/iceberg/avro/ValueWriters.java
  core/src/main/java/org/apache/iceberg/avro/VariantConversion.java
  core/src/main/java/org/apache/iceberg/data/avro/DataWriter.java
  core/src/main/java/org/apache/iceberg/data/avro/PlannedDataReader.java
  core/src/main/java/org/apache/iceberg/io/IOUtil.java
  core/src/test/java/org/apache/iceberg/RandomInternalData.java
  core/src/test/java/org/apache/iceberg/RandomVariants.java
  core/src/test/java/org/apache/iceberg/avro/AvroTestHelpers.java
  core/src/test/java/org/apache/iceberg/avro/RandomAvroData.java
  core/src/test/java/org/apache/iceberg/avro/TestGenericAvro.java
  core/src/test/java/org/apache/iceberg/avro/TestInternalAvro.java
  data/src/test/java/org/apache/iceberg/data/DataTestHelpers.java
  data/src/test/java/org/apache/iceberg/data/RandomGenericData.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericData.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantWriters.java
Labels: API, parquet, core, data

#12534 Core: Add `view-override` catalog property
  core/src/main/java/org/apache/iceberg/CatalogProperties.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/main/java/org/apache/iceberg/view/BaseMetastoreViewCatalog.java
  core/src/test/java/org/apache/iceberg/inmemory/TestInMemoryViewCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalog.java
  core/src/test/java/org/apache/iceberg/rest/TestRESTViewCatalogWithAssumedViewSupport.java
  core/src/test/java/org/apache/iceberg/view/ViewCatalogTests.java
  docs/docs/spark-configuration.md
  hive-metastore/src/test/java/org/apache/iceberg/hive/TestHiveViewCatalog.java
  nessie/src/test/java/org/apache/iceberg/nessie/TestNessieViewCatalog.java
  open-api/src/testFixtures/java/org/apache/iceberg/rest/RCKUtils.java
Labels: core, docs, hive, NESSIE, OPENAPI

#12561 Kafka: Suppress warnings around java.util.Date usage / fix var names
  kafka-connect/kafka-connect-transforms/src/main/java/org/apache/iceberg/connect/transforms/DebeziumTransform.java
  kafka-connect/kafka-connect-transforms/src/main/java/org/debezium/connector/mongodb/transforms/MongoDataConverter.java
Labels: KAFKACONNECT

#12556 REST: HTTPRequest.baseUri() should be nullable
  core/src/main/java/org/apache/iceberg/rest/HTTPRequest.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPRequest.java
Labels: core

#12559 Parquet, Core: Enable passing Variant tests
  core/src/test/java/org/apache/iceberg/avro/TestAvroEncoderUtil.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestParquetEncryptionWithWriteSupport.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalWriter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestInternalParquet.java
Labels: parquet, core, data

#12511 Core: JDBCCatalog's dropView() should purge metadata files if GC is enabled
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcViewCatalog.java
Labels: core

#12479 Core, Spark 3.5: Apply Ignore Residuals to Delete Filtering
  core/src/main/java/org/apache/iceberg/DeleteFileIndex.java
  core/src/main/java/org/apache/iceberg/ManifestGroup.java
  data/src/test/java/org/apache/iceberg/data/FileHelpers.java
  data/src/test/java/org/apache/iceberg/data/TestDataFileIndexStatsFilters.java
  spark/v3.5/build.gradle
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
Labels: spark, core, data, build

#12226 Core: Make totalRecordCount optional in PartitionStats
  core/src/main/java/org/apache/iceberg/PartitionStats.java
  core/src/test/java/org/apache/iceberg/TestPartitionStats.java
  core/src/test/java/org/apache/iceberg/TestPartitionStatsUtil.java
  data/src/test/java/org/apache/iceberg/data/TestPartitionStatsHandler.java
Labels: core, data

#12570 Core: Replace withFailMessage() with as()
  core/src/test/java/org/apache/iceberg/TestSnapshotProducer.java
Labels: core

#12569 Spark: Improve assertions for better debuggability
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark

#12430 Docs: Update statements mentioning Hive's alpha/beta versions
  docs/docs/hive.md
Labels: docs

#12574 Infra: Update Bug report template for 1.7.2
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
Labels: INFRA

#12578 docs: update go impl status
  site/docs/status.md
Labels: docs

#12575 Core: Use InternalData when reading manifests in FileCleanupStrategy
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
Labels: core

#12576 Docs: Site updates for 1.7.2
  site/docs/releases.md
  site/nav.yml
Labels: docs

#12567 ORC: Support timestamp(9), variant, and unknown in generics
  data/src/test/java/org/apache/iceberg/data/orc/TestGenericData.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcReader.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcReaders.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriter.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  orc/src/main/java/org/apache/iceberg/orc/ApplyNameMapping.java
  orc/src/main/java/org/apache/iceberg/orc/EstimateOrcAvgWidthVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/HasIds.java
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaWithTypeVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/OrcToIcebergVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/OrcValueReaders.java
  orc/src/main/java/org/apache/iceberg/orc/RemoveIds.java
  orc/src/test/java/org/apache/iceberg/orc/TestORCSchemaUtil.java
Labels: data, ORC

#12191 Flink: Support source watermark for flink sql windows
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestSqlBase.java
Labels: flink

#12270 Spark: Detect dangling DVs properly
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RemoveDanglingDeletesSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveDanglingDeleteAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#12518 OpenAPI: Handle NamespaceNotEmptyException when dropping a namespace
  open-api/rest-catalog-open-api.yaml
Labels: OPENAPI

#12482 Spark: Use correct statistics file in SparkScan::estimateStatistics(Snapshot)
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark

#12585 Flink: fix read config of connector.iceberg.max-allowed-planning-failures
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
Labels: flink

#12589 Flink: backport for fix read config of connector.iceberg.max-allowed-planning-failures to 1.18 and 1.19
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/source/ScanContext.java
Labels: flink

#12476 Core: Use InternalData with avro for readers.
  api/src/main/java/org/apache/iceberg/ManifestFile.java
  core/src/main/java/org/apache/iceberg/AllManifestsTable.java
  core/src/main/java/org/apache/iceberg/ManifestLists.java
  core/src/main/java/org/apache/iceberg/ManifestReader.java
Labels: API, parquet, core

#12581 Core, Parquet, ORC: Fix missing data when writing unknown
  arrow/src/test/java/org/apache/iceberg/arrow/vectorized/ArrowReaderTest.java
  core/src/test/java/org/apache/iceberg/data/DataTest.java
  data/src/jmh/java/org/apache/iceberg/GenericParquetReaderBenchmark.java
  data/src/main/java/org/apache/iceberg/data/GenericAppenderFactory.java
  data/src/main/java/org/apache/iceberg/data/GenericFileWriterFactory.java
  data/src/main/java/org/apache/iceberg/data/PartitionStatsHandler.java
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilterTypes.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericReadProjection.java
  data/src/test/java/org/apache/iceberg/parquet/TestParquetMetrics.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/data/FlinkParquetWriters.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriter.java
  orc/src/main/java/org/apache/iceberg/data/orc/GenericOrcWriters.java
  parquet/src/main/java/org/apache/iceberg/InternalParquet.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/GenericParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/InternalWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/Parquet.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetValueWriters.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestInternalParquet.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDataWriter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestParquetDeleteWriters.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
Labels: spark, parquet, arrow, core, data, flink, ORC

#12505 Core: Handle NamespaceNotEmptyException in NamespaceErrorHandler
  core/src/main/java/org/apache/iceberg/rest/ErrorHandlers.java
  core/src/main/java/org/apache/iceberg/rest/RESTSessionCatalog.java
  core/src/test/java/org/apache/iceberg/catalog/CatalogTests.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
Labels: core

#12579 Migrate Spark 3.4 TestBase-related remaining tests in actions
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction3.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
Labels: spark

#12600 Spark 3.4: Test metadata tables with format-version=v3 / add ExtensionsTestBase
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMetadataTables.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/DVIterator.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
Labels: spark, build

#11837 Core: Bulk deletion in RemoveSnapshots
  core/src/main/java/org/apache/iceberg/FileCleanupStrategy.java
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#12603 Spark: Backport Spark 3.5 DVs related part to Spark 3.4
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkContentFile.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewritePositionDeleteFilesSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestDeleteReachableFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewritePositionDeleteFilesAction.java
Labels: spark

#12496 Parquet: Implement Variant metrics
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/Metrics.java
  api/src/main/java/org/apache/iceberg/util/BinaryUtil.java
  api/src/main/java/org/apache/iceberg/util/UnicodeUtil.java
  api/src/main/java/org/apache/iceberg/variants/SerializedObject.java
  api/src/main/java/org/apache/iceberg/variants/SerializedPrimitive.java
  api/src/main/java/org/apache/iceberg/variants/SerializedShortString.java
  api/src/main/java/org/apache/iceberg/variants/VariantObject.java
  api/src/main/java/org/apache/iceberg/variants/VariantPrimitive.java
  api/src/main/java/org/apache/iceberg/variants/VariantUtil.java
  core/src/main/java/org/apache/iceberg/FieldMetrics.java
  core/src/main/java/org/apache/iceberg/MetricsUtil.java
  core/src/main/java/org/apache/iceberg/variants/PrimitiveWrapper.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/TestMetrics.java
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  orc/src/main/java/org/apache/iceberg/orc/OrcMetrics.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetReaders.java
  parquet/src/main/java/org/apache/iceberg/data/parquet/BaseParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetConversions.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetrics.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetVariantUtil.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriteAdapter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetWriter.java
  parquet/src/main/java/org/apache/iceberg/parquet/PruneColumns.java
  parquet/src/main/java/org/apache/iceberg/parquet/TypeWithSchemaVisitor.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantMetrics.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantWriters.java
Labels: API, parquet, core, data, ORC

#12601 Spark 3.4: Rewrite data files with high delete ratio
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteManifestsAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestSparkFileRewriter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#12533 Spec: Geo spec simplifications
  format/spec.md
Labels: Specification

#12404 Spark 3.5: Adjust repeated INFO logs to DEBUG in SparkWrite and SparkPositionDeltaWrite
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
Labels: spark

#12568 Spark 3.4: Backport Spark actions changes in Spark rewrite_table_path procedure (#12006 #12172 #11929 #12282 #12569)
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark

#12627 Core: Add update event for rewrite manifests
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/BaseTable.java
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TestCommitReporting.java
Labels: core

#12630 Core: Add commit metrics for rewriting manifests
  core/src/main/java/org/apache/iceberg/BaseRewriteManifests.java
  core/src/main/java/org/apache/iceberg/SnapshotSummary.java
  core/src/main/java/org/apache/iceberg/metrics/CommitMetricsResult.java
  core/src/main/java/org/apache/iceberg/metrics/CommitMetricsResultParser.java
  core/src/test/java/org/apache/iceberg/TestCommitReporting.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  core/src/test/java/org/apache/iceberg/metrics/TestCommitMetricsResultParser.java
Labels: core

#12550 Data: Refactor PartitionStatsHandler
  data/src/main/java/org/apache/iceberg/data/PartitionStatsHandler.java
  data/src/test/java/org/apache/iceberg/data/TestPartitionStatsHandler.java
Labels: data

#12587 Added New Blog Post: Loading Data into Apache Iceberg
  site/docs/blogs.md
Labels: docs

#12613 Core: Add option to fallback to thread classloader
  build.gradle
  common/src/main/java/org/apache/iceberg/common/DynConstructors.java
  common/src/test/java/org/apache/iceberg/common/TestDynConstructors.java
Labels: core, common, build

#12566 Core: child HTTPClient should not close shared resources
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#12346 API, Core: Add geometry and geography types support
  api/src/main/java/org/apache/iceberg/Schema.java
  api/src/main/java/org/apache/iceberg/transforms/Identity.java
  api/src/main/java/org/apache/iceberg/types/EdgeAlgorithm.java
  api/src/main/java/org/apache/iceberg/types/Type.java
  api/src/main/java/org/apache/iceberg/types/TypeUtil.java
  api/src/main/java/org/apache/iceberg/types/Types.java
  api/src/test/java/org/apache/iceberg/TestPartitionSpecValidation.java
  api/src/test/java/org/apache/iceberg/TestSchema.java
  api/src/test/java/org/apache/iceberg/transforms/TestBucketing.java
  api/src/test/java/org/apache/iceberg/transforms/TestIdentity.java
  api/src/test/java/org/apache/iceberg/types/TestReadabilityChecks.java
  api/src/test/java/org/apache/iceberg/types/TestSerializableTypes.java
  api/src/test/java/org/apache/iceberg/types/TestTypeUtil.java
  api/src/test/java/org/apache/iceberg/types/TestTypes.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/test/java/org/apache/iceberg/TestGeospatialTable.java
  core/src/test/java/org/apache/iceberg/TestSchemaParser.java
  core/src/test/java/org/apache/iceberg/TestSchemaUnionByFieldName.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSortOrder.java
  core/src/test/java/org/apache/iceberg/data/DataTest.java
Labels: API, core, build, hive

#12582 AWS: fix incorrect parent session when calling delegate auth manager
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4AuthManager.java
  aws/src/main/java/org/apache/iceberg/aws/RESTSigV4AuthSession.java
  aws/src/test/java/org/apache/iceberg/aws/TestRESTSigV4AuthManager.java
Labels: AWS

#12641 Docs: Update block spacing guideline in contribute.md
  site/docs/contribute.md
Labels: docs

#12646 Docs: Fix ASF sponsorship links
  site/nav.yml
Labels: docs

#12656 Spark 3.4: Migrate SparkRowLevelOperationsTestBase related tests to JUnit 5
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/SparkRowLevelOperationsTestBase.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadDelete.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadUpdate.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestUpdate.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteDelete.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteUpdate.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadMerge.java
Labels: spark, build

#12647 Spark 3.4 : Use correct statistics file in SparkScan::estimateStatistics(Snapshot)
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkScan.java
Labels: spark

#12662 Core: Enhance TestRemoveSnapshots
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#12645 update status page for pyiceberg as of 0.9.0
  site/docs/status.md
Labels: docs

#12640 Docs: Fix Latest Iceberg Support version of Hive
  site/docs/multi-engine-support.md
Labels: docs

#11577 Azure: Support vended credentials refresh in ADLSFileIO.
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/ADLSFileIO.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/VendedAdlsCredentialProvider.java
  azure/src/main/java/org/apache/iceberg/azure/adlsv2/VendedAzureSasCredentialPolicy.java
  azure/src/test/java/org/apache/iceberg/azure/AzurePropertiesTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/BaseVendedCredentialsTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/VendedAdlsCredentialProviderTest.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/VendedAzureSasCredentialPolicyTest.java
  build.gradle
Labels: build, AZURE

#12649 Build: Revert AWS SDK from 2.30.31 to 2.29.52
  aws-bundle/LICENSE
  aws-bundle/NOTICE
  gradle/libs.versions.toml
  kafka-connect/kafka-connect-runtime/hive/LICENSE
  kafka-connect/kafka-connect-runtime/hive/NOTICE
  kafka-connect/kafka-connect-runtime/main/LICENSE
  kafka-connect/kafka-connect-runtime/main/NOTICE
Labels: AWS, KAFKACONNECT

#12668 AWS: Use assertThat instead of JUnit4 assertions
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: AWS

#12638 GCP: Use catalog endpoint as base when refreshing OAuth2 token
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandler.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/GCSFileIOTest.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/OAuth2RefreshCredentialsHandlerTest.java
Labels: GCP

#12666 Core: Cleanup unit tests
  core/src/test/java/org/apache/iceberg/MetadataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestBatchScans.java
  core/src/test/java/org/apache/iceberg/TestCreateTransaction.java
  core/src/test/java/org/apache/iceberg/TestEntriesMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestFastAppend.java
  core/src/test/java/org/apache/iceberg/TestFindFiles.java
  core/src/test/java/org/apache/iceberg/TestIncrementalDataTableScan.java
  core/src/test/java/org/apache/iceberg/TestLocationProvider.java
  core/src/test/java/org/apache/iceberg/TestManifestCleanup.java
  core/src/test/java/org/apache/iceberg/TestManifestReaderStats.java
  core/src/test/java/org/apache/iceberg/TestManifestWriter.java
  core/src/test/java/org/apache/iceberg/TestMicroBatchBuilder.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestRewriteManifests.java
  core/src/test/java/org/apache/iceberg/TestScanSummary.java
  core/src/test/java/org/apache/iceberg/TestSchemaAndMappingUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaID.java
  core/src/test/java/org/apache/iceberg/TestSetPartitionStatistics.java
  core/src/test/java/org/apache/iceberg/TestSetStatistics.java
  core/src/test/java/org/apache/iceberg/TestSnapshot.java
  core/src/test/java/org/apache/iceberg/TestSnapshotLoading.java
  core/src/test/java/org/apache/iceberg/TestSnapshotManager.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSelection.java
  core/src/test/java/org/apache/iceberg/TestSnapshotSummary.java
  core/src/test/java/org/apache/iceberg/TestSplitPlanning.java
  core/src/test/java/org/apache/iceberg/TestTableMetadataSerialization.java
  core/src/test/java/org/apache/iceberg/TestTableUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestTimestampPartitions.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
  core/src/test/java/org/apache/iceberg/TestUpdatePartitionSpec.java
  core/src/test/java/org/apache/iceberg/TestWapWorkflow.java
  core/src/test/java/org/apache/iceberg/actions/TestSizeBasedRewriter.java
  core/src/test/java/org/apache/iceberg/io/TestOutputFileFactory.java
  core/src/test/java/org/apache/iceberg/mapping/TestMappingUpdates.java
Labels: core

#12679 Flink: backport support create table like in flink catalog
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkCreateTableOptions.java
  flink/v1.18/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.18/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalogFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkCreateTableOptions.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceSql.java
Labels: flink

#12628 Doc: Update Instructions for rewrite_table_path.
  docs/docs/spark-procedures.md
Labels: docs

#12657 Spark, API: Enhance hashing efficiency by operating on raw UTF-8 bytes
  api/src/main/java/org/apache/iceberg/util/BucketUtil.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/functions/BucketFunction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSparkBucketFunction.java
Labels: API, spark
