Repository apache/iceberg, pull requests merged in 2025-09, with the labels that each got.

#13960 infra: add "how to verify a release" link to the release email template
  dev/source-release.sh
Labels: INFRA

#13969 Docs: Update nessie version
  site/mkdocs.yml
Labels: docs

#13980 Core: Use safeContainsKey to avoid NPE for CountNonNull
  api/src/main/java/org/apache/iceberg/expressions/CountNonNull.java
  api/src/test/java/org/apache/iceberg/expressions/TestAggregateEvaluator.java
Labels: API

#13936 [SPEC] Add implementation note about schema evolution
  format/spec.md
Labels: Specification

#13983 Cleanup TestS3OutputStream integration tests by delegating file clean up to JUnit
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3OutputStream.java
Labels: AWS

#13993 Spark: use lookback address for spark session in tests to work with more restrictive firewall env on dev machines
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: spark

#13994 Spark: backport PR #13993 to use loopback address for spark driver in tests
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/ExtensionsTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestFilteredScan.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestForwardCompatibility.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestIcebergSpark.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionPruning.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestPartitionValues.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSnapshotSelection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataFile.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkDataWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestSparkReadProjection.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreaming.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestWriteMetricsConfig.java
Labels: spark

#14005 Fixing AssertJ assertions in TestS3FileIOProperties
  aws/src/test/java/org/apache/iceberg/aws/s3/TestS3FileIOProperties.java
Labels: AWS

#14015 Site: Bump up mkdocs-monorepo-plugin to 1.1.2
  site/requirements.txt
Labels: docs

#13753 [docs] Move third-party integrations to root level of left-hand nav, add more catalogs
  docs/mkdocs.yml
  site/docs/integrations/amoro.md
  site/docs/integrations/bladepipe.md
  site/docs/integrations/daft.md
  site/docs/integrations/risingwave.md
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#13956 Spark 4.0: Add Support for PartitionStatistics Files in RewriteTablePath.
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark, core

#14024 docs: flink: Fix updated link
  docs/docs/flink.md
Labels: docs

#14026 Spark 4.0, 3.4: Backport #13824 to Support Trigger AvailableNow in SS
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#13137 API: Follow up on adding Variant data type to implement sanitizing for Variant #11479
  api/src/main/java/org/apache/iceberg/expressions/ExpressionUtil.java
  api/src/main/java/org/apache/iceberg/expressions/Literals.java
  api/src/test/java/org/apache/iceberg/expressions/TestExpressionUtil.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedArray.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedObject.java
  api/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
Labels: API

#14066 Infra: update how-to-release doc and site scripts on releasing versioned doc and javadoc based on learnings from 1.10.0 release
  site/Makefile
  site/README.md
  site/dev/common.sh
  site/dev/deploy.sh
  site/docs/how-to-release.md
Labels: docs

#14034 Spark 3.4: Backport: Add procedure and action to compute partition stats.
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestComputePartitionStatsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/ComputePartitionStatsSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ComputePartitionStatsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputePartitionStatsAction.java
Labels: spark

#14088 Update vendors.md adding Fivetran
  site/docs/vendors.md
Labels: docs

#14089 Core: Allow reading metadata table when scanning table with dropped partition source field
  core/src/main/java/org/apache/iceberg/BaseMetadataTable.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScansWithPartitionEvolution.java
Labels: core

#14032 Spark 3.4, 3.5: Backport Add Support for PartitionStatistics Files in RewriteTablePath.
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteTablePathsAction.java
Labels: spark

#14097 Add StreamNative to the vendor list
  site/docs/vendors.md
Labels: docs

#14048 Spec: bring back added-rows in snapshot fields
  api/src/main/java/org/apache/iceberg/Snapshot.java
  format/spec.md
Labels: API, Specification

#14059 AWS, Core, Data, Spark: Remove deprecations for 1.11.0
  .palantir/revapi.yml
  aws/src/main/java/org/apache/iceberg/aws/s3/S3FileIO.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3InputFile.java
  aws/src/main/java/org/apache/iceberg/aws/s3/S3OutputFile.java
  core/src/main/java/org/apache/iceberg/PartitionStatsHandler.java
  core/src/main/java/org/apache/iceberg/PartitionStatsUtil.java
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  core/src/main/java/org/apache/iceberg/TableMetadataParser.java
  core/src/main/java/org/apache/iceberg/encryption/EncryptionUtil.java
  core/src/main/java/org/apache/iceberg/rest/auth/OAuth2Util.java
  core/src/test/java/org/apache/iceberg/PartitionStatsHandlerTestBase.java
  core/src/test/java/org/apache/iceberg/TestPartitionStatsUtil.java
  core/src/test/java/org/apache/iceberg/TestRewriteTablePathUtil.java
  data/src/jmh/java/org/apache/iceberg/PartitionStatsHandlerBenchmark.java
  data/src/main/java/org/apache/iceberg/data/PartitionStatsHandler.java
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/GCSFileIO.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputePartitionStatsAction.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputePartitionStatsAction.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputePartitionStatsAction.java
Labels: spark, core, data, build, AWS, GCP

#13804 API: required nested fields within optional structs can produce null
  api/src/main/java/org/apache/iceberg/Accessor.java
  api/src/main/java/org/apache/iceberg/Accessors.java
  api/src/main/java/org/apache/iceberg/expressions/BoundReference.java
  api/src/test/java/org/apache/iceberg/expressions/TestBoundReference.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestBloomRowGroupFilter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestSelect.java
Labels: API, spark, parquet, core, flink

#14116 Doc: Add Spark v4.0 to lifecycle status
  site/docs/multi-engine-support.md
Labels: docs

#14113 BigQuery: Add table validity check for BigQueryMetastoreCatalog
  bigquery/src/main/java/org/apache/iceberg/gcp/bigquery/BigQueryMetastoreCatalog.java
  bigquery/src/test/java/org/apache/iceberg/gcp/bigquery/TestBigQueryCatalog.java
Labels: GCP

#14081 Fix variant type filtering in ParquetMetricsRowGroupFilter
  data/src/test/java/org/apache/iceberg/data/TestMetricsRowGroupFilter.java
  parquet/src/main/java/org/apache/iceberg/parquet/ParquetMetricsRowGroupFilter.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/SparkTestHelperBase.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestFilterPushDown.java
Labels: spark, parquet, data

#7770 Manifest list encryption
  .palantir/revapi.yml
  api/src/main/java/org/apache/iceberg/ManifestListFile.java
  api/src/main/java/org/apache/iceberg/encryption/EncryptingFileIO.java
  api/src/main/java/org/apache/iceberg/io/FileIO.java
  core/src/jmh/java/org/apache/iceberg/ManifestReadBenchmark.java
  core/src/jmh/java/org/apache/iceberg/ManifestWriteBenchmark.java
  core/src/main/java/org/apache/iceberg/BaseManifestListFile.java
  core/src/main/java/org/apache/iceberg/BaseSnapshot.java
  core/src/main/java/org/apache/iceberg/ManifestListWriter.java
  core/src/main/java/org/apache/iceberg/ManifestLists.java
  core/src/main/java/org/apache/iceberg/ManifestWriter.java
  core/src/main/java/org/apache/iceberg/RewriteTablePathUtil.java
  core/src/main/java/org/apache/iceberg/SnapshotProducer.java
  core/src/main/java/org/apache/iceberg/encryption/AesGcmInputFile.java
  core/src/main/java/org/apache/iceberg/encryption/EncryptionUtil.java
  core/src/main/java/org/apache/iceberg/encryption/NativeEncryptionKeyMetadata.java
  core/src/main/java/org/apache/iceberg/encryption/StandardEncryptionManager.java
  core/src/main/java/org/apache/iceberg/encryption/StandardKeyMetadata.java
  core/src/test/java/org/apache/iceberg/TestManifestListEncryption.java
  core/src/test/java/org/apache/iceberg/TestManifestListVersions.java
  core/src/test/java/org/apache/iceberg/TestManifestWriterVersions.java
  core/src/test/java/org/apache/iceberg/TestMetadataUpdateParser.java
  core/src/test/java/org/apache/iceberg/TestSnapshotJson.java
  core/src/test/java/org/apache/iceberg/TestTableMetadata.java
  core/src/test/java/org/apache/iceberg/encryption/EncryptionTestHelpers.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCatalogUtilDropTable.java
Labels: API, core

#14156 Flink: Add support for Flink 2.1.0 follow-up
  dev/stage-binaries.sh
  jmh.gradle
Labels: INFRA, build

#14181 Doc: Enhance RewriteTablePath procedure documentation with parameter details.
  docs/docs/spark-procedures.md
Labels: docs

#14185 Spark 3.4: Refactor Spark procedures to consistently use ProcedureInput for parameter handling.
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestPublishChangesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/CherrypickSnapshotProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/PublishChangesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RegisterTableProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToSnapshotProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
Labels: spark

#14114 Spark 3.5: Upgrade to Spark 3.5.7
  gradle/libs.versions.toml
Labels: build

#14063 Flink: Adds uid-suffix write option to prevent operator UID hash collisions
  docs/docs/flink-configuration.md
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
Labels: flink, docs

#14188 Add reference to the Starburst connector
  site/nav.yml
Labels: docs

#14182 Flink: Ensure DynamicCommitter idempotence in the presence of failures
  flink/v2.1/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicCommitter.java
  flink/v2.1/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicCommitter.java
  flink/v2.1/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
Labels: flink

#14136 Azure: add support to specify token credential provider
  azure/src/main/java/org/apache/iceberg/azure/AdlsTokenCredentialProvider.java
  azure/src/main/java/org/apache/iceberg/azure/AdlsTokenCredentialProviders.java
  azure/src/main/java/org/apache/iceberg/azure/AzureProperties.java
  azure/src/test/java/org/apache/iceberg/azure/TestAdlsTokenCredentialProviders.java
  azure/src/test/java/org/apache/iceberg/azure/TestAzureProperties.java
Labels: AZURE

#14225 AWS: exclude logging dependencies from bundle
  aws-bundle/build.gradle
Labels: build, AWS
