Repository apache/iceberg, pull requests merged in 2025-07, with the labels that each got.

#13166 spark 4.0 : SPJ : add hour to day reducer
  api/src/main/java/org/apache/iceberg/util/DateTimeUtil.java
  api/src/test/java/org/apache/iceberg/util/TestDateTimeUtil.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/functions/DaysFunction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/functions/HoursFunction.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestStoragePartitionedJoins.java
Labels: API, spark

#13436 Spark 3.4: Backport #13061 fix for row lineage inheritance in distributed planning
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRowLevelOperationsWithLineage.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
Labels: spark

#13428 GCS: Add Iceberg version to UserAgent in GCS requests
  gcp/src/main/java/org/apache/iceberg/gcp/gcs/PrefixedStorage.java
  gcp/src/test/java/org/apache/iceberg/gcp/gcs/TestPrefixedStorage.java
Labels: GCP

#13412 CheeryPick 12988 to all Spark version
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark

#13245 Core, Spark: Propagate orphaned delete files when rewriting data files
  api/src/main/java/org/apache/iceberg/OverwriteFiles.java
  api/src/main/java/org/apache/iceberg/actions/RewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/BaseOverwriteFiles.java
  core/src/main/java/org/apache/iceberg/actions/BaseRewriteDataFiles.java
  core/src/main/java/org/apache/iceberg/actions/RewriteDataFilesCommitManager.java
  core/src/main/java/org/apache/iceberg/actions/RewriteFileGroup.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteDataFilesSparkAction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: API, spark, core

#13454 Docs: Describe testcontainer failure workaround
  README.md
Labels: docs

#12450 Spark-3.5: Add spark action to compute partition stats
  api/src/main/java/org/apache/iceberg/actions/ActionsProvider.java
  api/src/main/java/org/apache/iceberg/actions/ComputePartitionStats.java
  core/src/main/java/org/apache/iceberg/PartitionStatsHandler.java
  core/src/main/java/org/apache/iceberg/actions/BaseComputePartitionStats.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/ComputePartitionStatsSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/SparkActions.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestComputePartitionStatsAction.java
Labels: API, spark, core

#13463 site: update daft docs
  docs/docs/daft.md
Labels: docs

#12264 S3: Add LegacyMd5Plugin to S3 client builder
  aws/src/integration/java/org/apache/iceberg/aws/s3/MinioUtil.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIOWithLegacyMinIO.java
  aws/src/integration/java/org/apache/iceberg/aws/s3/signer/TestS3RestSigner.java
  aws/src/main/java/org/apache/iceberg/aws/AssumeRoleAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientFactories.java
  aws/src/main/java/org/apache/iceberg/aws/AwsClientProperties.java
  aws/src/main/java/org/apache/iceberg/aws/lakeformation/LakeFormationAwsClientFactory.java
  aws/src/main/java/org/apache/iceberg/aws/s3/DefaultS3FileIOAwsClientFactory.java
Labels: AWS, not-stale

#13465 Build: Upgrade to Gradle 8.14.3
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#13425 Core: Support DV for partition stats
  core/src/main/java/org/apache/iceberg/PartitionStats.java
  core/src/main/java/org/apache/iceberg/PartitionStatsHandler.java
  core/src/test/java/org/apache/iceberg/PartitionStatsHandlerTestBase.java
  orc/src/test/java/org/apache/iceberg/TestOrcPartitionStatsHandler.java
Labels: core, ORC

#13464 Spark: Throw unsupported for ADD COLUMN with default value
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/CatalogTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/Spark3Util.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/sql/TestAlterTable.java
Labels: spark

#13106 Spark 4.0: Migrate Iceberg Stored Procedures to Spark built-in implementations
  spark/v4.0/spark-extensions/src/main/antlr/org.apache.spark.sql.catalyst.parser.extensions/IcebergSqlExtensions.g4
  spark/v4.0/spark-extensions/src/main/scala/org/apache/iceberg/spark/extensions/IcebergSparkSessionExtensions.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ProcedureArgumentCoercion.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/analysis/ResolveProcedures.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSparkSqlExtensionsParser.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/parser/extensions/IcebergSqlExtensionsAstBuilder.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/IcebergCall.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/catalyst/plans/logical/statements.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/CallExec.scala
  spark/v4.0/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/ExtendedDataSourceV2Strategy.scala
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAncestorsOfProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCallStatementParser.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCherrypickSnapshotProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestFastForwardBranchProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMigrateTableProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestPublishChangesProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRemoveOrphanFilesProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteManifestsProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteTablePathProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToSnapshotProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRollbackToTimestampProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSetCurrentSnapshotProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestSnapshotTableProcedure.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestWriteAborts.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/BaseCatalog.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/AddFilesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/AncestorsOfProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/BaseProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/CherrypickSnapshotProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ComputeTableStatsProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/CreateChangelogViewProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/FastForwardBranchProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/MigrateTableProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ProcedureInput.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/PublishChangesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RegisterTableProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteDataFilesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteManifestsProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewritePositionDeleteFilesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RewriteTablePathProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToSnapshotProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/RollbackToTimestampProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/SetCurrentSnapshotProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/SnapshotTableProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
  spark/v4.0/spark/src/main/java/org/apache/spark/sql/catalyst/analysis/NoSuchProcedureException.java
  spark/v4.0/spark/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/Procedure.java
  spark/v4.0/spark/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureCatalog.java
  spark/v4.0/spark/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameter.java
  spark/v4.0/spark/src/main/java/org/apache/spark/sql/connector/iceberg/catalog/ProcedureParameterImpl.java
Labels: spark

#13222 Core: Keep track of data files to be removed for orphaned DV detection
  core/src/jmh/java/org/apache/iceberg/RewriteDataFilesBenchmark.java
  core/src/main/java/org/apache/iceberg/ManifestFilterManager.java
  core/src/main/java/org/apache/iceberg/MergingSnapshotProducer.java
  core/src/test/java/org/apache/iceberg/TestDeleteFiles.java
  core/src/test/java/org/apache/iceberg/TestReplacePartitions.java
  core/src/test/java/org/apache/iceberg/TestRewriteFiles.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestRewriteDataFiles.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestRewriteDataFiles.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestRewriteDataFiles.java
Labels: spark, core, flink

#13496 Spark 4.0: Port Avro lineage reader test changes from #13070
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroReader.java
Labels: spark

#13490 Build: Bump nessie to 0.104.2 skipping tests in JDK 11
  build.gradle
  gradle/libs.versions.toml
Labels: build

#13459 Spark: Use native table FileIO instead of Hadoop to save file list in RewriteTablePath
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/RewriteTablePathSparkAction.java
Labels: spark

#13503 API, Flink: fix typos in javadoc
  api/src/main/java/org/apache/iceberg/catalog/Catalog.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/FlinkSource.java
Labels: API, flink

#13324 Spark: Support Parquet dictionary encoded UUIDs
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/GenericArrowVectorAccessorFactory.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ArrowVectorAccessorFactory.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/vectorized/parquet/TestParquetVectorizedReads.java
Labels: spark, arrow

#13504 Docs: Add Ryft to list of vendors and blog posts
  site/docs/blogs.md
  site/docs/vendors.md
Labels: docs

#13480 Spark-3.5: Add procedure to compute partition stats
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestComputePartitionStatsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/ComputePartitionStatsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/SparkProcedures.java
Labels: spark

#13507 Make metrics reporting asynchronous
  core/src/main/java/org/apache/iceberg/rest/RESTMetricsReporter.java
Labels: core

#13509 API, Spark 4.0: Expose cleanExpiredMetadata in expire_snapshots Spark procedure
  api/src/main/java/org/apache/iceberg/actions/ExpireSnapshots.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: API, spark

#13539 Fix Spark DDL Doc bug
  docs/docs/spark-ddl.md
Labels: docs

#13553 Spark 3.4, 3.5: Expose cleanExpiredMetadata in expire_snapshots Spark procedure
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestExpireSnapshotsProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/ExpireSnapshotsSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/ExpireSnapshotsProcedure.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestExpireSnapshotsAction.java
Labels: spark

#13310 Spark 4.0: Row Lineage support
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestCopyOnWriteWithLineage.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMergeOnReadWithLineage.java
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRowLevelOperationsWithLineage.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/ExtractRowLineage.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkChangelogTable.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkCopyOnWriteOperation.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkMetadataColumn.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaOperation.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWrite.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkPositionDeltaWriteBuilder.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWrite.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
Labels: spark

#13466 Enforce that test classes start with "Test" instead of suffix
  .baseline/checkstyle/checkstyle-suppressions.xml
  .baseline/checkstyle/checkstyle.xml
  core/src/test/java/org/apache/iceberg/TestSchemaParser.java
  core/src/test/java/org/apache/iceberg/avro/TestAvroEncoderUtil.java
  core/src/test/java/org/apache/iceberg/avro/TestGenericAvro.java
  core/src/test/java/org/apache/iceberg/avro/TestInternalAvro.java
  core/src/test/java/org/apache/iceberg/data/DataTestBase.java
  data/src/test/java/org/apache/iceberg/RecordWrapperTestBase.java
  data/src/test/java/org/apache/iceberg/data/avro/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/orc/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestParquetEncryptionWithWriteSupport.java
  flink/v1.19/flink-runtime/src/integration/java/org/apache/iceberg/flink/TestIcebergConnectorSmoke.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v1.20/flink-runtime/src/integration/java/org/apache/iceberg/flink/TestIcebergConnectorSmoke.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  flink/v2.0/flink-runtime/src/integration/java/org/apache/iceberg/flink/TestIcebergConnectorSmoke.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestRowDataWrapper.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkAvroReaderWriter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkOrcReaderWriter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetWriter.java
  kafka-connect/kafka-connect-runtime/src/integration/java/org/apache/iceberg/connect/TestIntegration.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestInternalParquet.java
  spark/v3.4/spark-runtime/src/integration/java/org/apache/iceberg/spark/TestRoundTrip.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkRecordOrcReaderWriter.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/parquet/vectorized/TestParquetVectorizedReads.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v3.5/spark-runtime/src/integration/java/org/apache/iceberg/spark/TestRoundTrip.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkRecordOrcReaderWriter.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/vectorized/parquet/TestParquetVectorizedReads.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
  spark/v4.0/spark-runtime/src/integration/java/org/apache/iceberg/spark/TestRoundTrip.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/AvroDataTestBase.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkRecordOrcReaderWriter.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/vectorized/parquet/TestParquetVectorizedReads.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/ScanTestBase.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/TestInternalRowWrapper.java
Labels: spark, parquet, core, data, flink, INFRA, KAFKACONNECT

#13501 Docs: Hardcode BSD sed if running on MacOS (Closes #13499)
  site/dev/common.sh
Labels: docs

#13511 [docs] Remove Tabular from Vendors page
  site/docs/vendors.md
Labels: docs

#13512 [docs] Add Confluent to vendors page
  site/docs/vendors.md
Labels: docs

#13537 Core: Add Schema evolution test with initial defaults
  core/src/test/java/org/apache/iceberg/TestScansAndSchemaEvolution.java
Labels: core

#13578 Site: Updates for 1.9.2 Release
  site/docs/releases.md
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#13577 INFRA: Add 1.9.2 to latest
  .github/ISSUE_TEMPLATE/iceberg_bug_report.yml
  doap.rdf
Labels: INFRA

#13532 Docs: Document compute_partition_stats procedure
  docs/docs/spark-procedures.md
Labels: docs

#13136 AWS: KeyManagementClient implementation that works with AWS KMS
  aws/src/integration/java/org/apache/iceberg/aws/TestKeyManagementClient.java
  aws/src/main/java/org/apache/iceberg/aws/AwsKeyManagementClient.java
  aws/src/main/java/org/apache/iceberg/aws/AwsProperties.java
  core/src/main/java/org/apache/iceberg/encryption/KeyManagementClient.java
Labels: core, AWS

#13284 Use short string in Variant when possible
  api/src/main/java/org/apache/iceberg/variants/VariantUtil.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedArray.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedObject.java
  api/src/test/java/org/apache/iceberg/variants/TestSerializedPrimitives.java
  api/src/test/java/org/apache/iceberg/variants/VariantTestUtil.java
  core/src/main/java/org/apache/iceberg/variants/PrimitiveWrapper.java
  core/src/test/java/org/apache/iceberg/variants/TestPrimitiveWrapper.java
  core/src/test/java/org/apache/iceberg/variants/TestShreddedObject.java
  core/src/test/java/org/apache/iceberg/variants/TestValueArray.java
Labels: API, core

#13610 Spark: Unimplement WithAssertions from test class
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestVectorizedOrcDataReader.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/data/TestVectorizedOrcDataReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestVectorizedOrcDataReader.java
Labels: spark

#13622 Docs: Fix spelling errors in Iceberg v3 spec.md.
  format/spec.md
Labels: Specification

#13238 Spec: Add manifests fields to Snapshot Summary metrics
  format/spec.md
Labels: Specification

#13621 Core: make SnapshotRefType public
  api/src/main/java/org/apache/iceberg/SnapshotRefType.java
Labels: API

#13620 Spark: use Bulk deletion for manifests when import files to an iceberg table
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/SparkTableUtil.java
Labels: spark

#13555 Spark 4.0: Preserve row lineage information on compaction
  spark/v4.0/build.gradle
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/SparkCachedTableCatalog.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v4.0/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, build

#13613 Test: Simplify collection and optional assertions
  api/src/test/java/org/apache/iceberg/expressions/TestEvaluator.java
  aws/src/integration/java/org/apache/iceberg/aws/glue/TestGlueCatalogTable.java
  aws/src/test/java/org/apache/iceberg/aws/TestS3FileIOProperties.java
  azure/src/test/java/org/apache/iceberg/azure/adlsv2/TestADLSLocation.java
  core/src/test/java/org/apache/iceberg/DataTableScanTestBase.java
  core/src/test/java/org/apache/iceberg/TestMetadataTableScans.java
  core/src/test/java/org/apache/iceberg/TestRowLineageAssignment.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
  core/src/test/java/org/apache/iceberg/hadoop/TestCachingCatalog.java
  data/src/test/java/org/apache/iceberg/TestMergingMetrics.java
  data/src/test/java/org/apache/iceberg/data/parquet/TestGenericData.java
  delta-lake/src/integration/java/org/apache/iceberg/delta/TestSnapshotDeltaLakeTable.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/data/TestRowDataProjection.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestLRUCache.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/data/TestRowDataProjection.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestLRUCache.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/data/TestFlinkParquetReader.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/data/TestRowDataProjection.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestLRUCache.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/shuffle/TestMapRangePartitioner.java
  kafka-connect/kafka-connect-transforms/src/test/java/org/apache/iceberg/connect/transforms/TestJsonToMapTransform.java
  kafka-connect/kafka-connect/src/test/java/org/apache/iceberg/connect/data/TestSinkWriter.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantMetrics.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantWriters.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/data/TestSparkParquetReader.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/source/DataFrameWriteTestBase.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/DataFrameWriteTestBase.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/DataFrameWriteTestBase.java
Labels: API, spark, parquet, core, data, flink, AWS, AZURE, KAFKACONNECT

#13627 Build, Flink: Add timeout and print more logs
  build.gradle
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkUpsert.java
Labels: flink, build

#13637 Spark 3.5: Backport #13555 for preserving row lineage on compaction
  spark/v3.5/build.gradle
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCachedTableCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, build

#13641 Spark 3.4: Backport #13555 for preserving row lineage on compaction
  spark/v3.4/build.gradle
  spark/v3.4/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRewriteDataFilesProcedure.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCachedTableCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/SparkCatalog.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/IcebergSource.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkTable.java
  spark/v3.4/spark/src/main/java/org/apache/iceberg/spark/source/SparkWriteBuilder.java
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark, build

#13646 Flink: fail file rewrite for V3 tables as row lineage not supported
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/actions/RewriteDataFilesAction.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/DataFileRewritePlanner.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/actions/TestRewriteDataFilesAction.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/OperatorTestBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestDataFileRewritePlanner.java
Labels: flink

#13649 spark 4: add tests to verify Arrow Support for Row lineage when using the Parquet Vectorized reader
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRowLevelOperationsWithLineage.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/GenericsHelpers.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/TestHelpers.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/vectorized/parquet/TestParquetVectorizedReads.java
Labels: spark

#13648 spark 4: add test to verify ignore partition fields that are dropped from the current-schema
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestAlterTablePartitionFields.java
Labels: spark

#13618 Docs: Move links to other implementations out of Java docs
  docs/mkdocs.yml
  site/mkdocs.yml
  site/nav.yml
Labels: docs

#13647 Core: backport PR #13100 from 1.9 to main branch that partially revert 12670 by sending single snapshot rather than in bulk
  core/src/main/java/org/apache/iceberg/TableMetadata.java
Labels: core

#13640 Flink: Clean up UpdateSchema instantiator method
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
Labels: flink

#13609 Flink: Adjust the configuration precedence for the dynamic sink
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicWriter.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicWriter.java
Labels: flink

#13656 Backport #13639: Flink: Dynamic Sink: Ensure parent for newly added struct is resolved from current schema
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/EvolveSchemaVisitor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/EvolveSchemaVisitor.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
Labels: flink

#13660 Backport: Flink: DynamicSink: Convert existing required fields to optional
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/CompareSchemasVisitor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestCompareSchemasVisitor.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/CompareSchemasVisitor.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestCompareSchemasVisitor.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
Labels: flink

#13599 REST-Fixture: Ensure strict mode on jdbc catalog for rest fixture
  docker/iceberg-rest-fixture/Dockerfile
Labels: release notes

#13521 docs: add subpage for REST Catalog Spec in "Specification"
  site/docs/rest-catalog-spec.md
  site/nav.yml
Labels: docs

#13653 [Core] Use Bulk deletion for cleaning up uncommitted files in BaseTransaction
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: core

#13668 Core: Use zero-copy wrapper for equalityFieldIds
  bundled-guava/src/main/java/org/apache/iceberg/GuavaClasses.java
  core/src/main/java/org/apache/iceberg/BaseFile.java
  core/src/main/java/org/apache/iceberg/util/ArrayUtil.java
Labels: core

#13449 Core: Allow retries for Idempotent Requests with Certain Codes
  core/src/main/java/org/apache/iceberg/rest/ExponentialHttpRequestRetryStrategy.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestExponentialHttpRequestRetryStrategy.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#13662 Flink: Add test for adjust the configuration precedence in the dynamic sink
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
Labels: flink

#13701 Minor: Use hasSameSizeAs to show more debug info
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/source/DataFrameWriteTestBase.java
Labels: spark

#13391 Add support for DELTA_BINARY_PACKED Parquet encoding
  LICENSE
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedDeltaEncodedValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPlainValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedValuesReader.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/data/vectorized/parquet/TestParquetVectorizedReads.java
Labels: spark, parquet, arrow, data

#13608 Flink: Add doc for the dynamic sink
  docs/docs/flink-writes.md
Labels: docs

#13711 Flink: disable flaky testRangeDistributionStatisticsMigration()
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
Labels: flink

#13692 Use decimal precision to determine variant decimal type
  api/src/test/java/org/apache/iceberg/variants/TestSerializedPrimitives.java
  core/src/main/java/org/apache/iceberg/variants/Variants.java
  core/src/test/java/org/apache/iceberg/variants/TestPrimitiveWrapper.java
  parquet/src/test/java/org/apache/iceberg/parquet/TestVariantReaders.java
Labels: API, parquet, core

#13697 Core: Fix case-insensitive validation of fields in schema evolution
  core/src/main/java/org/apache/iceberg/SchemaUpdate.java
  core/src/test/java/org/apache/iceberg/TestSchemaUpdate.java
Labels: core
