Repository apache/iceberg, pull requests merged in 2025-06, with the labels that each got.

#13182 chore: Update status.md
  site/docs/status.md
Labels: docs

#13118 AWS: update test cases to verify credentials for the prefixed S3 client
  aws/src/integration/java/org/apache/iceberg/aws/s3/TestS3FileIO.java
Labels: AWS

#13184 API, Core: Rename RowDelta deleteFile to removeRows
  api/src/main/java/org/apache/iceberg/RowDelta.java
  core/src/main/java/org/apache/iceberg/BaseRowDelta.java
  core/src/test/java/org/apache/iceberg/TestRowDelta.java
Labels: API, core

#13213 Build, Core: Move assertions to AssertJ / Fix checkstyle rules
  .baseline/checkstyle/checkstyle.xml
  core/src/test/java/org/apache/iceberg/rest/TestRESTCatalog.java
Labels: core, INFRA

#12254 SPARK: Remove dependency on hadoop's filesystem class from remove orphan files
  docs/docs/spark-procedures.md
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/DeleteOrphanFilesSparkAction.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/procedures/RemoveOrphanFilesProcedure.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRemoveOrphanFilesAction.java
Labels: spark, docs

#13129 Core: Improve pagination logic to handle null pageToken
  core/src/main/java/org/apache/iceberg/rest/CatalogHandlers.java
Labels: core

#12071 Flink: port range distribution to v2 iceberg sink
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
Labels: flink

#13032 Flink: Dynamic Iceberg Sink: Add table update code for schema comparison and evolution
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/CompareSchemasVisitor.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/EvolveSchemaVisitor.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/PartitionSpecEvolution.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableMetadataCache.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableUpdater.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestCompareSchemasVisitor.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestEvolveSchemaVisitor.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestPartitionSpecEvolution.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableMetadataCache.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableUpdater.java
Labels: core, flink, build

#13208 Spark: Fix flaky testParallelPartialProgressWithMaxFailedCommitsLargerThanTotalFileGroup
  spark/v3.4/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
  spark/v4.0/spark/src/test/java/org/apache/iceberg/spark/actions/TestRewriteDataFilesAction.java
Labels: spark

#13228 Flink: Backport IcerbegSink RANGE distribution to Flink 1.19 and 2.0
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
Labels: flink

#13190 [REST] Add option to configure TLS settings in REST client
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/auth/TLSConfigurer.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#13242 Docs: Add Redpanda to vendor-related documentation
  docs/mkdocs.yml
  site/docs/blogs.md
  site/docs/vendors.md
Labels: docs

#12979 Flink: Support compact in iceberg sink v2
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/FlinkMaintenanceConfig.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/JdbcLockFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/LockConfig.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFiles.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFilesConfig.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/TableMaintenance.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockFactoryBuilder.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/CommittableToTableChangeConverter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergCommitter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkCompaction.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestRewriteDataFilesConfig.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockConfig.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockFactoryBuilder.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestCommittableToTableChangeConverter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkCompact.java
Labels: flink

#13246 Flink: Backport #12996 to Flink 1.19 / 1.20
  flink/v1.19/build.gradle
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecord.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternal.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalType.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableSerializerCache.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializerTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicRecordInternalSerializerWriteSchema.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicRecordInternalSerializerWriteSchemaId.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableSerializerCache.java
  flink/v1.20/build.gradle
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecord.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternal.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalType.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableSerializerCache.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializerTestBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicRecordInternalSerializerWriteSchema.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicRecordInternalSerializerWriteSchemaId.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableSerializerCache.java
Labels: flink, build

#13230 Spark 4.0: Add a test for DataFrame API support for MERGE INTO
  spark/v4.0/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestMerge.java
Labels: spark

#13250 Flink: Backport support compaction in sink v2 to 1.19 and 2.0
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/FlinkMaintenanceConfig.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/JdbcLockFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/LockConfig.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFiles.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFilesConfig.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/TableMaintenance.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockFactoryBuilder.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/CommittableToTableChangeConverter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergCommitter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkCompaction.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestRewriteDataFilesConfig.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockConfig.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockFactoryBuilder.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestCommittableToTableChangeConverter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkCompact.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteOptions.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/FlinkMaintenanceConfig.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/JdbcLockFactory.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/LockConfig.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFiles.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/RewriteDataFilesConfig.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/api/TableMaintenance.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/LockFactoryBuilder.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/maintenance/operator/TableChange.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/CommittableToTableChangeConverter.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkManifestUtil.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergCommitter.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkCompaction.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/api/TestRewriteDataFilesConfig.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockConfig.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/maintenance/operator/TestLockFactoryBuilder.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestCommittableToTableChangeConverter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergCommitter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkCompact.java
Labels: flink

#13221 Docs: use latest minio client command configuration parameters
  site/docs/spark-quickstart.md
Labels: docs

#13259 Build: Upgrade to Gradle 8.14.2
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: build

#13303 Flink: Backport #13277 to Flink 1.19 / 1.20
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/EqualityFieldKeySelector.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/PartitionKeySelector.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/PartitionedDeltaWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/SinkUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/UnpartitionedDeltaWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecord.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternal.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializer.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicSinkUtil.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicTableUpdateOperator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicWriter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/HashKeyGenerator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/RowDataEvolver.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/WriteTarget.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializerTestBase.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicCommittableSerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicCommitter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicTableUpdateOperator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriteResultAggregator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriteResultSerializer.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestHashKeyGenerator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataEvolver.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/BaseDeltaTaskWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/EqualityFieldKeySelector.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/PartitionKeySelector.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/PartitionedDeltaWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/RowDataTaskWriterFactory.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/SinkUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/UnpartitionedDeltaWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecord.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternal.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializer.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicSinkUtil.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicTableUpdateOperator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicWriter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/HashKeyGenerator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/RowDataEvolver.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/WriteTarget.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestDeltaTaskWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordInternalSerializerTestBase.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicCommittableSerializer.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicCommitter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicTableUpdateOperator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriteResultAggregator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriteResultSerializer.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicWriter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestHashKeyGenerator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataEvolver.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/source/TestProjectMetaColumn.java
Labels: flink

#13267 Docs: Fix list rendering and typos (#13075)
  docs/docs/aws.md
  docs/docs/flink-writes.md
  docs/docs/hive.md
  docs/docs/spark-queries.md
  site/README.md
Labels: docs

#13234 REST: Add property for configuring user agent in http client
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/test/java/org/apache/iceberg/rest/TestHTTPClient.java
Labels: core

#13325 docs: Fix typo in `rewrite_manifests` output table in spark-procedures.md
  docs/docs/spark-procedures.md
Labels: docs

#13326 Flink: Backports #13260 to Flink 1.19 and 1.20
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
Labels: flink

#13304 Flink: Dynamic Iceberg Sink: Add sink / core processing logic / benchmarking
  flink/v2.0/flink/src/jmh/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordSerializerDeserializerBenchmark.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkConfParser.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkWriteConf.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/SinkUtil.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicCommitter.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicIcebergSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordGenerator.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordProcessor.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/HashKeyGenerator.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkFilters.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestHelpers.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSinkPerf.java
Labels: flink

#13191 [CORE][REST]: Add context aware response parsing
  .palantir/revapi.yml
  core/src/main/java/org/apache/iceberg/rest/BaseHTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/HTTPClient.java
  core/src/main/java/org/apache/iceberg/rest/ParserContext.java
  core/src/main/java/org/apache/iceberg/rest/RESTClient.java
  core/src/test/java/org/apache/iceberg/rest/RESTCatalogAdapter.java
Labels: core

#13342 Flink: Dynamic Iceberg Sink: Rename method in DynamicRecordGenerator
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordGenerator.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordProcessor.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSinkPerf.java
Labels: flink

#13322 Core: Clean expired metadata even if there is no snapshot to expire
  core/src/main/java/org/apache/iceberg/RemoveSnapshots.java
  core/src/test/java/org/apache/iceberg/TestRemoveSnapshots.java
Labels: core

#13350 Docs: Add Firebolt to list of vendors and blog posts
  docs/mkdocs.yml
  site/docs/blogs.md
  site/docs/vendors.md
Labels: docs

#13212 GCP: Add Google Authentication Support
  build.gradle
  gcp/src/main/java/org/apache/iceberg/gcp/auth/GoogleAuthManager.java
  gcp/src/main/java/org/apache/iceberg/gcp/auth/GoogleAuthSession.java
  gcp/src/test/java/org/apache/iceberg/gcp/auth/TestGoogleAuthManager.java
  gcp/src/test/java/org/apache/iceberg/gcp/auth/TestGoogleAuthSession.java
Labels: build, GCP

#13321 Bump `AzuriteContainer` to 3.34.0
  azure/src/integration/java/org/apache/iceberg/azure/adlsv2/AzuriteContainer.java
Labels: AZURE

#13072 Flink: Migrate Flink `TableSchema` to `Schema`/`ResolvedSchema`
  LICENSE
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkCatalog.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkDynamicTableFactory.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/FlinkSchemaUtil.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/IcebergTableSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/FlinkSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/IcebergSinkBuilder.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/IcebergSource.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/IcebergTableSource.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/source/reader/RowConverter.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/util/FlinkCompatibilityUtil.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/SimpleDataUtil.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkCatalogTable.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkFilters.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkSchemaUtil.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/TestFlinkTableSinkCompaction.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestBucketPartitionerFlinkIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestCompressionSettings.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBase.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkBranch.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkDistributionMode.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkExtended.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Base.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2Branch.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestFlinkIcebergSinkV2DistributionMode.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkBranch.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergSinkV2.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestIcebergStreamWriter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/TestTaskWriters.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicIcebergSink.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/source/BoundedTableFactory.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBounded.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/source/TestIcebergSourceBoundedRow.java
Labels: flink

#13379 Remove JSpecify annotations from bundled-guava
  build.gradle
Labels: build

#13369 Build: Use Java 17 to publish snapshot to Maven
  .github/workflows/publish-snapshot.yml
Labels: INFRA

#13381 Build: Require JDK 17 / 21 for Spark 4.0 support
  spark/v4.0/build.gradle
Labels: spark, build

#13290 Further refactor Parquet readers for v2 support
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPageIterator.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedParquetDefinitionLevelReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedPlainValuesReader.java
  arrow/src/main/java/org/apache/iceberg/arrow/vectorized/parquet/VectorizedValuesReader.java
Labels: spark, arrow, core, flink, docs, Specification

#13340 Optimise RowData evolution
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DataConverter.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicIcebergSink.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordProcessor.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicTableUpdateOperator.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/LRUCache.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/RowDataEvolver.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableMetadataCache.java
  flink/v2.0/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableUpdater.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicTableUpdateOperator.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestLRUCache.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataConverter.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableMetadataCache.java
  flink/v2.0/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableUpdater.java
Labels: flink

#13061 Spark: Fix row lineage inheritance for distributed planning
  spark/v3.5/spark-extensions/src/test/java/org/apache/iceberg/spark/extensions/TestRowLevelOperationsWithLineage.java
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/actions/ManifestFileBean.java
Labels: spark, core

#13401 Flink: Backport optimised RowData evolution to Flink 1.19 / 1.20
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DataConverter.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicIcebergSink.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordProcessor.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicTableUpdateOperator.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/LRUCache.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/RowDataEvolver.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableMetadataCache.java
  flink/v1.19/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableUpdater.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicTableUpdateOperator.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestLRUCache.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataConverter.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableMetadataCache.java
  flink/v1.19/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableUpdater.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DataConverter.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicIcebergSink.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicRecordProcessor.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/DynamicTableUpdateOperator.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/LRUCache.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/RowDataEvolver.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableMetadataCache.java
  flink/v1.20/flink/src/main/java/org/apache/iceberg/flink/sink/dynamic/TableUpdater.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestDynamicTableUpdateOperator.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestLRUCache.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestRowDataConverter.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableMetadataCache.java
  flink/v1.20/flink/src/test/java/org/apache/iceberg/flink/sink/dynamic/TestTableUpdater.java
Labels: flink

#13333 Docs: improve structure for manifest entry fields
  docs/docs/spark-queries.md
  format/spec.md
Labels: docs, Specification

#12988 Spark: Make maxRecordPerMicrobatch a soft limit
  docs/docs/spark-configuration.md
  spark/v3.5/spark/src/main/java/org/apache/iceberg/spark/source/SparkMicroBatchStream.java
  spark/v3.5/spark/src/test/java/org/apache/iceberg/spark/source/TestStructuredStreamingRead3.java
Labels: spark, docs

#13345 ICEBERG-13343: fix race condition in JdbcCatalog
  build.gradle
  core/src/main/java/org/apache/iceberg/jdbc/JdbcCatalog.java
  core/src/test/java/org/apache/iceberg/jdbc/TestJdbcTableConcurrency.java
  gradle/libs.versions.toml
Labels: core, build
